.g-main-nav {

	// Main Level
	.g-toplevel {
		> li {
			> a, >.g-separator {
				font-size: $toplevel-font-size;
				padding: $nav-item-padding;
				color: $nav-link;
			}
			&:hover, &.active {
				a, .g-separator {
					color: $white;
				}
			}
		}
	}

	// First Level Dropdown
	.g-dropdown {
		background: $core-accent;
		box-shadow: 0 3px 0 darken($core-accent, 6%);
	    color: $white;

	    // Additional Level Dropdowns
	    .g-dropdown {
			background: darken($core-accent, 4%);
			box-shadow: 0 3px 0 darken($core-accent, 8%);
	    }
	}

	// Sublevel Items
	.g-sublevel {
    	li {
    		> a, > .g-separator, > .g-nav-header {
    			font-size: $dropdown-font-size;
    			padding: $nav-item-padding;
    		}
    		&:hover, &.active {
				> a, > .g-separator {
					background: darken($core-accent, 8%);
				}
			}
    	}
    }
}