// Font Import
@include import-font($font-family-default);
@include import-font($font-family-title);

body {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-regular;
}

// Headings
h1, h2, h3, h4, h5 {
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-regular;
}

h1 {
    font-weight: $font-weight-bold;
}

h4 {
    font-size: $h4-font-size;
}

// Blockquote
blockquote {
    border-left: 10px solid $rule-color;

    p {
        font-size: $core-font-size + 0.1;
        color: lighten($base-text-color, 20%);
    }

    cite {
        display: block;
        text-align: right;
        color: $base-text-color;
        font-size: $core-font-size + 0.2;
    }
}

// Inline and Code
code,
kbd,
pre,
samp {
    font-family: $font-family-mono;
}

code {
    background: $code-bg;
    color: darken($code-text,10%);
}

pre {
    padding: 1rem;
    margin: 2rem 0;
    background: $pre-bg;
    border: 1px solid $base-border-color;
    border-radius: $core-border-radius;
    line-height: 1.15;
    font-size: $core-font-size - 0.1;

    code {
        color: $pre-text;
        background: inherit;
        font-size: $core-font-size - 0.1;
    }

    &.prettyprint {
        border-color: $border-color-light !important;
    }
}

// Additional
hr {
    margin: 1.5rem 0;
    border-bottom: 1px solid $rule-color;
}
