.noliststyle {
	list-style: none;
}

.g-uppercase {
	text-transform: uppercase;
}

.g-notexttransform {
	text-transform: none;
}

.g-positive-margin-top {
	margin-top: 23rem;
}

.g-negative-margin-bottom {
	margin-bottom: -25rem;
}

.g-img-circle {
    border-radius: 50%;
}
