// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

#g5-container {
	@import "nucleus";
}

// Load Template Configuration
@import "configuration/admin/base";

// Load Admin Mixins
@import "admin/mixins/base";

// Load Template Library
@import "admin/modules/base";

// TEMPLATE COMPONENTS

// Core
@import "admin/core";
@import "admin/fonts";

// Main
@import "admin/main";
@import "admin/overview";

// Settings
@import "admin/settings";

// Styles
@import "admin/styles";

// Assignments
@import "admin/assignments";

// Configurations
@import "admin/configurations";

// Positions
@import "admin/positions";

// Headers
@import "admin/headers";

// Nav Bar
@import "admin/navbar";

// Typography
@import "admin/typography";

// Buttons
@import "admin/buttons";

// Input Grups
@import "admin/input-groups";

// Layout Manager
@import "admin/layout-manager";

// Page Settings
@import "admin/page-settings";

// Menu Editor
@import "admin/menu";

// Modal
@import "admin/modules/modal";
@import "admin/modal";

// Popover
@import "admin/popover";

// Fields
@import "admin/fields";

// Changelog
@import "admin/changelog";

// Tooltips
@import "admin/tooltips";

// RTL
@import "admin/rtl";
