{% set position = gantry.config.getJoined('particles.' ~ segment.type, segment.attributes) %}

{% set html %}
    {% if (segment.attributes.enabled is null or segment.attributes.enabled) and (position.enabled is null or position.enabled) %}
        {% include ['particles/position.html.twig',
        '@particles/position.html.twig'] with { gantry: gantry, site: site, page: gantry.page, position: position } only %}
    {% endif %}
{% endset %}

{% if html|trim %}
    {% do gantry.theme.joomla(true) %}
    <div class="g-content{{ segment.classes ? ' ' ~ segment.classes|join(' ')|e }}">
        {{ html }}
    </div>
{% endif %}
