#gantry-tabs fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}
#gantry-tabs input {
	margin-right: 5px;
}

.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #D1D1D1;
    border-radius: 0;
    border-right: 1px solid #B9B9B9;
    margin: 0;
    padding: 0;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin:0;
    padding-right: 2px;
    border: 1px solid #B9B9B9;
    border-width: 1px 1px 1px 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    z-index: 2;
    background: #D1D1D1;
        margin-top: -1px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
        color: #696969;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    border-right: 1px solid #E9E9E9;
    background: #E9E9E9;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
	color: #1A2B37;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 32.2em;
    border-left: 1px solid #B9B9B9;
    border-radius: 0;
    position: relative;
    left: 1px;
}
#gantry-tabs.ui-state-focus {
	background: #E9E9E9 !important;
	border-color: #B9B9B9 !important;
	outline: none;
}

#gantry-tabs.ui-corner-all {
	border-radius: 0;
}

#gantry-tabs.ui-widget-content {
	background: #D1D1D1;
}
#gantry-tabs .ui-tabs-panel, #gantry-tabs fieldset {
	background: #E9E9E9;
}
