// Mobile Menu 
@include breakpoint(mobile-only) {	
	// Main Nav
	.g-main-nav {
		.g-toplevel {
			position: fixed;
			z-index: 2;
			top: 0;
			height: 100%;
			right: 0;
			width: $mobile-sidemenu-width;
			overflow-x: hidden;
			overflow-y: auto; 
			background: #222;
			text-align: left;
			@include transform(translateX($mobile-sidemenu-width));
			@include transition(transform .3s ease);
			&.g-slide-out {
				> .g-menu-item > .g-menu-item-content,
				> .g-go-back {
					@include transform(translateX(-100%));
				}
			}			
			li {
				display: block;
				margin-right: 0;
				/*
				&:hover {
					> .g-dropdown {
						display: none;
					}
				}
				*/
				.g-menu-item-content {
					padding: ($content-padding + $content-margin)/2 1rem;
					line-height: 1rem;
				}		
		    	// Menu Parent Indicator on Mobile Layout
		    	&.g-parent {
					> .g-menu-item-content {
						position: relative;
						&:after {
							position: absolute;
							width: auto;
							line-height: normal;
							opacity: 0.5;
							font-family: FontAwesome;
							content: "\f054";		
							right: 1rem;		
						}
					}
		    	}						
			}
			.g-dropdown {
				top: 0;
				@include transform(translateX(100%));
				&.g-active {
					@include transform(translateX(0));
				}
				.g-block {
					width: 100%;
				}		
				.g-go-back {
					display: block;
				}		
			}		
			.g-dropdown-column {
		    	width: $mobile-sidemenu-width;
		    	float: none;
		    }							
		}
	}
	// Mobile Nav Toggle
	.g-mobile-nav-toggle {
	    color: $accent-color-1;
	    background: $white;
	    display: block;
	    position: absolute;
	    top: 0;	    
	    right: 0;
	    z-index: 2;
	    cursor: pointer;
	    &:before {
	    	display: block;
	    	font-family: FontAwesome;
	    	content: "\f0c9";
		    font-size: 1.5rem;
		    margin: 0;
		    padding: 0.2rem 0.75rem;
	    }
	}	
	// Mobile Nav Active State	
	.g-mobile-nav-active {
		#g-page-surround {
			@include transform(translateX(-$mobile-sidemenu-width));
		}
		.g-main-nav {
			display: none;
			&.g-mobile-nav {
				display: block;
				.g-toplevel {
					@include transform(translateX(0));
				}				
			}			
		}
		.g-nav-overlay {	
			opacity: 1;
			position: fixed;
		}	
		.g-mobile-nav-toggle {	
		    &:before {
		    	content: "\f00d";
		    }			
		}			
	}
}