// Basics
$white:							#ffffff;
$black:							#000000;

// Base
$base-background:				#ffffff !default;
$base-text-color:				#333333 !default;

// Header
$header-background:				#ffffff !default;
$header-text-color:				#333333 !default;

// Showcase
$showcase-background:			#3AA3D4 !default;
$showcase-text-color:			#ffffff !default;

// Footer
$footer-background:				#333333 !default;
$footer-text-color:				#ffffff !default;
