// Basics
$white:							#ffffff;
$black:							#000000;

// Base
$base-background:				#ffffff;
$base-text-color:				#333333;

// Header
$header-background:				#ffffff;
$header-text-color:				#333333;

// Showcase
$showcase-background:			#3AA3D4;
$showcase-text-color:			#ffffff;

// Footer
$footer-background:				#333333;
$footer-text-color:				#ffffff;
