// Font Family
$font-family-default:           "roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				"Menlo", "Monaco", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

// Font Weights
$font-weight-regular:			400;
$font-weight-medium:			500;
$font-weight-bold:				700;