// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

//-------------------------------------------

// JOOMLA COMPONENTS
@import "joomla/typography";
@import "joomla/buttons";
@import "joomla/forms";
@import "joomla/tabs";
@import "joomla/utilities";
@import "joomla/offline";
