{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="g-date">
        <span>{{ "now"|date(particle.date.formats|default('l, F d, Y')) }}</span>
    </div>
{% endblock %}
