{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div id="g-mobilemenu-container" data-g-menu-breakpoint="{{ gantry.config.get('styles.breakpoints.large-mobile-container')|default('30rem') }}"></div>
{% endblock %}
