{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div id="g-mobilemenu-container" data-g-menu-breakpoint="{{ gantry.config.get('styles.breakpoints.mobile-menu-breakpoint')|default('48rem') }}"></div>
{% endblock %}
