{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="{{ particle.css.class|e }} g-particle">
    <div class="g-totop">
        <a href="#" id="g-totop" rel="nofollow">To Top</a>
    </div>
</div>
{% endblock %}
