// Core
$core-text:				#555;
$core-link:				#63A6D7;
$secondary-link:		#F06766;
$white:					#fff;
$black:					#000;

// Background
$page-bg:				#282828;

// Header
$header-text:			#aaa;

// Showcase
$showcase-text:			#fff;

// Feature
$feature-bg:			#fff;

// Main Body
$main-bg:				#f9f9f9;

// Sidebar
$sidebar-text:			#aaa;

// Footer
$footer-bg:				#3d3d3d;
$footer-text:			#ccc;