// Core
$core-text:				#666;
$core-link:				#4184B6;
$secondary-link:		#F8B450;
$white:					#fff;
$black:					#000;

// Background
$page-bg:				#333;

// Header
$header-text:			#aaa;

// Nav
$nav-link:				#aaa;

// Showcase
$showcase-bg:			lighten($core-link, 6%);
$showcase-text:			#fff;

// Feature
$feature-bg:			#fff;

// Main Body
$main-bg:				#f7f7f7;
$body-border:			darken($main-bg, 5%);

// Sidebar
$sidebar-text:			#aaa;

// Bottom
$bottom-bg:				#f7f7f7;
$bottom-text:			$core-text;

// Footer
$footer-bg:				#404040;
$footer-text:			#ccc;