// Container Breakpoints
$large-desktop-container:		75.000rem;
$desktop-container:				60.000rem;
$tablet-container:				48.000rem;
$large-mobile-container:		30.000rem;
$mobile-container:				100%;

// Block Variables
$content-margin:				0.625rem;
$content-padding:				0.938rem;

// Fixed Block Variables
$fixed-block-full:				percentage(1/4);
$fixed-block-desktop:			percentage(1/3);
$fixed-block-tablet:			percentage(1/2);

// Font Family
$font-family-default:  "opensanslight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-bold:  "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

// Font Sizes
$core-font-size:				1rem;
$core-line-height:				1.875rem;
$core-h1:						2.25rem;
$core-h2:						1.9rem;
$core-h3:						1.5rem;
$core-h4:						1.15rem;
$core-h5:						1rem;
$core-h6:						0.85rem;