// Font Family
$font-family-default:  			"opensanslight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-bold:  			"opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

// Font Sizes
$core-font-size:				1rem;
$core-line-height:				1.875rem;
$core-h1:						2.25rem;
$core-h2:						1.9rem;
$core-h3:						1.5rem;
$core-h4:						1.15rem;
$core-h5:						1rem;
$core-h6:						0.85rem;