// Content Block Spacing Variables
$content-margin:				0.625rem;
$content-padding:				0.938rem;

// Fixed Block Variables
$fixed-block-full:				percentage(1/4);
$fixed-block-desktop:			percentage(1/3);
$fixed-block-tablet:			percentage(1/2);