{% extends "@nucleus/partials/module.html.twig" %}

{% block module %}
	<h2>Features</h2>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula.
{% endblock %}
