{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <h1>{{ title }}</h1>

    <p>{{ 'GANTRY5_PLATFORM_OOPS'|trans }}, {{ error.getMessage }}.</p>
{% endblock %}
