{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="menu-header">
        <h2>Menu Editor</h2>
        <select>
            <option selected>Main Menu</option>
            <option>Alternate Menu</option>
        </select>
    </div>
    <ul class="g-grid menu-selector">
        <li class="g-block">
            Home<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
        <li class="g-block active">
            Features<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
        <li class="g-block">
            Pages<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
        <li class="g-block">
            Styles<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
        <li class="g-block">
            Download<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
        <li class="g-block">
            Contact<i class="fa fa-cog"></i>
            <span class="fa fa-chevron-down"></span>
        </li>
    </ul>

    <ul class="g-grid submenu-selector">
        <li class="g-block">
            <ul class="submenu-items">
                <li>Features Overview</li>
                <li>Particle Positions</li>
                <li>Module Variations</li>
                <li>Typography</li>
                <li>Menu Options</li>
                <li>Documentation</li>
            </ul>
        </li>
        <li class="g-block">
            <ul class="submenu-items">
                <li class="nav-header">
                    Another Menu
                    <ul class="grouped-submenu">
                        <li>A Grouped Item</li>
                        <li>Another Grouped Item</li>
                        <li>One More Item</li>
                    </ul>
                </li>
                <li>Another Menu Item</li>
                <li>Yet Another Item</li>
            </ul>
        </li>
        <li class="g-block">
            <ul class="submenu-items">
                <li class="nav-header">
                    Module Item
                    <ul class="module-item">
                        <li class="module-block"></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <div class="g-grid submenu-ratio">
        <div class="g-block">
            33%
        </div>
        <div class="g-block">
            33%
        </div>
        <div class="g-block">
            33%
            <i class="fa fa-cog"></i>
        </div>
    </div>


    <div id="settings" class="cards-wrapper">
        <div class="card settings-block">
            <h4>
                Menu Settings
                <div class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>

            <div class="inner-params">
                {% include 'forms/fields.html.twig'
                with {'blueprints': menu.form, 'data':  config, 'prefix': prefix, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>
{% endblock %}
