{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% set prefix = 'particles.menu.' %}

{% block gantry %}
    <div id="settings" class="cards-wrapper">
        <div class="card settings-block">
            <h4>
                Menu Settings
                <div class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>

            <div class="inner-params">
                {% include 'forms/fields.html.twig'
                with {'blueprints': menu.form, 'data':  config, 'prefix': prefix, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>
{% endblock %}
