{% extends ajax ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="grid pure-g overview-header">
        <div class="block pure-u-1-2">
            <!--FIX ME--><h1>Gantry <strong>v1.0</strong></h1>
        </div>
        <div class="block pure-u-1-2">
            <a href="#" class="button button-primary"><i class="fa fa-support"></i>Support</a>
            <a href="#" class="button"><i class="fa fa-book"></i>Documentation</a>
        </div>
    </div>

    <div class="overview-details">
        <img src="{{ url(('gantry-admin://images/preview.png')) }}" alt="">
    </div>

    <p>Gantry is a RocketTheme Template Club release featuring the revolutionary <strong>Gantry Template Framework</strong>, developed exclusively by RocketTheme to enable flexible and highly extensible template development.</p>

    <h3>What is Gantry?</h3>
    <p>Gantry is a sophisticated framework with the sole intention of being the best platform to build a solid theme with. Gantry takes all the lessons learned during the development of many RocketTheme Joomla templates and WordPress Themes and distills that knowledge into a single super-flexible framework that is easy to configure, simple to extend, and powerful enough to handle anything we want to throw at it.</p>

    <h3>Key Features</h3>
    <ul>
        <li>Responsive Design supporting Phone, Tablets and Desktops</li>
        <li>LESS CSS auto-compilation</li>
        <li>Flexible particles for template customization</li>
        <li>Full extensible framework architecture</li>
        <li>XML driven and with overrides for unprecedented levels of customization</li>
        <li>Per menu-item level of control over any configuration option with inheritance</li>
    </ul>
{% endblock %}
