{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<form method="post" action="{{ gantry.route(action) }}">
    <div class="card settings-block">
        <h4>
            {{ particle.name }}
        </h4>
        <div class="inner-params">
            {% include 'forms/fields.html.twig' with {'blueprints': particle.form} %}
        </div>
    </div>
    <div class="g-modal-actions">
        <button class="button float-left" name="METHOD" value="DELETE">Defaults</button>
        <button class="button button-primary" type="submit">Apply</button>
        <a class="button">Cancel</a>
    </div>
</form>
{% endblock %}
