{% extends ajax ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div id="settings" class="cards-wrapper">
        {% set prefix = 'particles.' ~ id ~ '.' %}
        <div class="card settings-block">
            <h4>
                {{ particle.name }}
                <div class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
            <div class="inner-params">
                {% include 'forms/fields.html.twig'
                with {'blueprints': particle.form, 'data': config, 'prefix': prefix, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>
{% endblock %}
