{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <h2>Particle Settings</h2>

    <div id="settings" class="cards-wrapper g-grid">

        {% for id, particle in particles %}
        {% if not particle.hidden %}
        {% set prefix = 'particles.' ~ id ~ '.' %}
        <div class="card settings-block">
            <h4>
                <a data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('settings/particles/' ~ id) }}">{{ particle.name }}</a>
                <div class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
        </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}
