{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <h2>Particle Settings</h2>

    <div id="settings" class="cards-wrapper g-grid">

        {% for id, particle in particles %}
        {% if not particle.hidden %}
        {% set prefix = 'particles.' ~ id ~ '.' %}
        <div class="card settings-block">
            <h4>
                <a data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('settings/particles/' ~ id) }}">{{ particle.name }}</a>
                <div class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h2>Example Settings</h2>

    <div id="settings" class="cards-wrapper g-grid">
        <div class="card settings-block">
            <h4>
                Logo
                <div class="enabler">
                    <input type="hidden" value="0" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
            <div class="inner-params">
                <div class="settings-param">
                    <span class="settings-param-title float-left">Position</span>
                    <div class="settings-param-field">
                        <select>
                            <option>header-a</option>
                            <option>header-b</option>
                            <option>header-c</option>
                        </select>
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Type</span>
                    <div class="settings-param-field">
                        <select>
                            <option>Vermillion Template</option>
                            <option selected>Custom</option>
                        </select>
                        <i class="fa fa-picture-o"></i>
                        <img src="{{ url('gantry-admin://assets/images/acme-logo.png')|e }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="card settings-block">
            <h4>
                Accent Styles
                <div class="enabler">
                    <input type="hidden" value="1" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
            <div class="inner-params">
                <div class="settings-param">
                    <span class="settings-param-title float-left">Accent 1</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#df392e">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #df392e"></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Accent 2</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#feb948">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #feb948"></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Accent 3</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#3ca5da">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #3ca5da"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card settings-block">
            <h4>
                Page Surround
            </h4>
            <div class="inner-params">
                <div class="settings-param">
                    <span class="settings-param-title float-left">Background Color</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#e8ecee">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #e8ecee"></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Parallax</span>
                    <div class="settings-param-field">
                        <div class="enabler">
                            <input type="hidden" value="1" />
                            <div class="toggle"><div class="knob"></div></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param advanced">
                    <span class="settings-param-title float-left">Parallax Speed</span>
                    <div class="settings-param-field">
                        <input type="text" value="-0.3">
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Type</span>
                    <div class="settings-param-field">
                        <select>
                            <option>Preset 1</option>
                            <option>Preset 2</option>
                            <option>Preset 3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card settings-block">
            <h4>
                Header Style
            </h4>
            <div class="inner-params">
                <div class="settings-param">
                    <span class="settings-param-title float-left">Text Color</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#6f849b">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #6f849b"></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param">
                    <span class="settings-param-title float-left">Background Color</span>
                    <div class="settings-param-field">
                        <div class="settings-param-field-colorpicker">
                            <input type="text" value="#2d3945">
                            <div class="settings-param-field-colorpicker-preview" style="background-color: #2d3945"></div>
                        </div>
                    </div>
                </div>
                <div class="settings-param advanced">
                    <span class="settings-param-title float-left">Gap</span>
                    <div class="settings-param-field">
                        <input type="text" value="70">
                    </div>
                </div>
            </div>
        </div>

        <div class="card settings-block">
            <h4>
                Menu Animation
                <div class="enabler">
                    <input type="hidden" value="0" />
                    <div class="toggle"><div class="knob"></div></div>
                </div>
            </h4>
        </div>
    </div>
{% endblock %}
