{% set attr_style = segment.attributes.size ? ' style="flex: 0 1 ' ~ segment.attributes.size ~ '%; width: ' ~segment.attributes.size ~ '%"' %}

{% set html %}
    {% if segment.children %}
        {% for segment in segments %}
            {% include '@nucleus/' ~ segment.type ~ '.html.twig' with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
{% endset %}

{% if html|trim %}
    <div class="g-block{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}{{ segment.attributes.size|toGrid }}"{{ attr_style }}>
        {{ html }}
    </div>
{% endif %}
