{% set html %}
    {% include 'widgets/position.html.twig' with { site: site, page: gantry.page, position: segment.attributes } only %}
{% endset %}

{% if html|trim %}
<div class="content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
    {{ html }}
</div>
{% endif %}
