<div class="content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
    {% include 'widgets/position.html.twig' with { site: site, page: gantry.page, position: segment.attributes } only %}
</div>
