<div class="content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
   {% include ['widgets/' ~ segment.attributes.name ~ '.html.twig',
       '@nucleus/widgets/' ~ segment.attributes.name ~ '.html.twig']
       ignore missing with {widget: config.widgets[segment.attributes.name] } %}
</div>
