{% extends "@nucleus/page_head.html.twig" %}

{% block head_title %}
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
{% endblock %}

{% block head_application %}
    <jdoc:include type="head" />
{% endblock %}
