{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('_error') %}

{% block content %}
    <h1>{{ errorcode|default(500) }} {{ error|default('Unknown Error') }}</h1>

    <p>{{ errormessage|default('Sorry! No further information provided.') }}</p>
{% endblock %}
