body.gantry5 {
    &.auto-fold {
        #wpcontent {
            padding-left: 0;
        }
    }

    color: $light-gray;
    background-color: $body-bg;

    #g5-container {
        a:focus {
            box-shadow: none;
        }

        dd, li {
            margin-bottom: 0;
        }

        li {
            line-height: inherit;
        }

        textarea, input {
            box-shadow: none;
            color: $form-input-text;
        }

        input, button, select, textarea {
            font-family: inherit;
        }

        input[type="checkbox"] {
            height: 16px;
        }

        .main-block {
            min-height: 81.5vh;
        }

        .inner-container {
            margin: 0;
        }

        .card {
            max-width: none;
            box-shadow: none;
        }

        .preview {
            float: none;
        }

        .search {
            background: none;
            color: inherit;
            font-size: inherit;
        }

        .g5-dialog {
            z-index: 99999;
        }

        #assignments {
            .settings-param-section {
                background-color: #fafafa;
                .enabler {
                    display: none;
                }

                .settings-param-section-title {
                    font-weight: bold;
                    color: #b2b2b2;
                    text-transform: uppercase;
                }
            }

            .settings-param-title {
                font-size: 0.8rem;
            }
        }

    }

    form {
        margin-bottom: 1em;
    }

    // Dialogs
    .g5-dialog-loading-spinner.g5-dialog-theme-default {
        top: 3em;
    }

    #wpbody-content {
        padding-bottom: 0;
    }

}
