body.gantry5 {
    color: $light-gray;
    background-color: $body-bg;

    #g5-container {
        a:focus {
            box-shadow: none;
        }
        
        dd, li {
            margin-bottom: 0;
        }

        .inner-container {
            margin: 0;
        }
        
        p {
            font-size: $core-font-size;
            line-height: $core-line-height;
        }

        li {
            line-height: inherit;
        }

        textarea, input {
            box-shadow: none;
        }

        input, button, select, textarea {
            font-family: inherit;
        }

        .main-block {
            min-height: 81.5vh;
        }

        .card {
            max-width: none;
            box-shadow: none;
        }

    }

    #wpbody-content {
        padding-bottom: 0;
    }

}

body.gantry5.auto-fold {
    #wpcontent {
        padding-left: 0;
    }
}