body.wp-admin.widgets-php, body.wp-customizer {
    #g5-container {
        .g-content {
            margin: 0 0 0.625rem;
            padding: 0 0 0.938rem;

            .settings-block {
                .settings-param-field {
                    margin-left: 0;
                }
            }
        }

        .g5-dialog {
            z-index: 99999;

            .button-primary {
                text-shadow: none;
            }

            .settings-block {
                max-width: 100%;
            }

            .g-tabs {
                ul {
                    li {
                        margin-bottom: 0;
                    }
                }
            }

            input[type="checkbox"] {
                height: 16px;
                top: 8px;

                &:checked:before {
                    height: 16px;
                }
            }
        }
    }
}

html.g5-dialog-open {
    .block-editor-block-list__layout .block-editor-block-list__block, .blocks-widgets-container *, .blocks-widgets-container :after, .blocks-widgets-container :before, .components-modal__frame *, .components-modal__frame :after, .components-modal__frame :before {
        z-index: 1;
    }
}

html.g5-dialog-open {
    .interface-interface-skeleton__sidebar, .components-dropdown block-editor-inserter, .wp-block[data-type="core/widget-area"] {
        z-index: 0 !important;
    }
}
