{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<div id="assignments">
    {% if assignments %}
    <form method="post">
        <span class="float-right">
            <button type="submit" class="button button-primary button-save" data-save="Assignments"><i class="fa fa-fw fa-check"></i> <span>Save Assignments</span></button>
        </span>

        <h2 class="page-title">Assignments</h2>

        <div>
            <div class="g-assignments-filters" data-g-global-filter>
                <div class="search settings-block">
                    <input type="text" placeholder="Global Filter...">
                    <i class="fa fa-fw fa-search"></i>
                </div>
                <span data-g-assignments-uncheck class="g-tooltip g-tooltip-right" data-title="Unselect all menu items"><i class="fa fa-fw fa-toggle-off"></i></span>
                <span data-g-assignments-check class="g-tooltip g-tooltip-right" data-title="Selects all menu items"><i class="fa fa-fw fa-toggle-on"></i></span>
            </div>
        </div>

        <div class="cards-wrapper clearfix">
            {% for type in assignments %}
                <div class="card settings-block">
                    <h4>
                        {{ type.label|e }}
                        <div class="g-assignments-filters float-right align-right">
                            <div class="search settings-block">
                                <input type="text" placeholder="Filter...">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                            <span data-g-assignments-uncheck class="g-tooltip g-tooltip-right" data-title="Unselect all menu items"><i class="fa fa-fw fa-toggle-off"></i></span>
                            <span data-g-assignments-check class="g-tooltip g-tooltip-right" data-title="Selects all menu items"><i class="fa fa-fw fa-toggle-on"></i></span>
                        </div>
                    </h4>

                    {% for link in type.items %}
                    <label class="settings-param">
                        {% include 'forms/fields/enable/enable.html.twig' with {
                        'default': true,
                        'name': link.name,
                        'field': link.field,
                        'value': link.value,
                        'disabled': link.disabled
                        } %}
                        <span class="settings-param-title">
                            {{- link.label -}}
                        </span>
                    </label>
                    {% endfor %}
                </div>
            {% endfor %}
         </div>
    </form>
    {% else %}
    <h2 class="page-title">Assignments</h2>
    {% if configuration == 'default' %}
    <p>You cannot assign Base Configuration to your menu items.</p>
    {% else %}
    <p>No assignments available!</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
