.btn .caret {
	margin-bottom: 7px;
}

.btn.btn-micro .caret {
	margin: 5px 0;
}

.btn-wide {
	width: 80%;
}

.radio.btn-group input[type=radio] {
	display: none;
}

.radio.btn-group > label:first-of-type {
	margin-left: 0;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

fieldset.radio.btn-group {
	padding-left: 0;
}

.btn-micro {
	padding: 1px 4px;
	font-size: 10px;
	line-height: 8px;
}

.btn-group > .btn-micro {
	font-size: 10px;
}

.btn-group > .btn + .dropdown-backdrop + .btn {
	margin-left: -1px;
}

.btn-group > .btn + .dropdown-backdrop + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	*padding-top: 5px;
	*padding-bottom: 5px;
}

.btn-group > .btn-mini + .dropdown-backdrop + .dropdown-toggle {
	padding-left: 5px;
	padding-right: 5px;
	*padding-top: 2px;
	*padding-bottom: 2px;
}

.btn-group > .btn-small + .dropdown-backdrop + .dropdown-toggle {
	*padding-top: 5px;
	*padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-backdrop + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px;
	*padding-top: 7px;
	*padding-bottom: 7px;
}

.btn-group .chzn-results {
	white-space: normal;
}

// Button Resets
.controls {
	.input-append {
		.btn {
			padding: 6px 12px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.btn.jmodedit {
	padding: 0;
	text-align: center;
	font-size: $core-font-size - 0.2;
	[class^="icon-"], [class*=" icon-"] {
		margin: 6px 8px;
		align: center;
	}
}

.filters.btn-toolbar .btn-group, .filters.btn-toolbar {
	font-size: inherit;
}