{% extends default ? "partials/field.html.twig" : "forms/field.html.twig" %}

{% block group %}
    <div class="input-group">
        {% if field.prepend %}
            {{ _self.pend(field.prepend) }}
        {% endif %}
        {% block input %}
        {% endblock %}
        {% if field.append %}
            {{ _self.pend(field.append) }}
        {% endif %}
    </div>
{% endblock %}

{% macro pend(item) %}
    {% if item.type == "text" %}
        {% if item.options %}
            {% include 'forms/fields/select' with {'field.options': item.options} %}
        {% else %}
            <span class="input-group-addon">{{ item.text }}</span>
        {% endif %}
    {% elseif item.type == "button" %}
        {% if item.options %}
        {% else %}
            <span class="input-group-btn">
                {% include 'forms/fields/button' %}
            </span>
        {% endif %}
    {% elseif item.type == "button" %}
    {% endif %}
{% endmacro %}