# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db

# Composer
composer.lock
vendor/**

# PhpStorm
.idea

# Symbolic links in admin
platforms/*/*/common
platforms/*/*/src
platforms/*/*/vendor

# Symbolic links in themes
themes/*/*/common
themes/*/*/src
themes/*/*/vendor
themes/*/*/cache
themes/*/magento/design/default/gantry/common
themes/*/magento/design/default/gantry/src
themes/*/magento/design/default/gantry/vendor
themes/*/magento/skin/default/common

# Compiled
.sass-cache/*
node_modules/*
platforms/wordpress/gantryadmin/cache
platforms/common/node_modules
.sass-cache
