# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db

# PhpStorm
.idea

# Composer
bin/**/composer.lock
bin/**/vendor/**
src/vendor/**
platforms/*/*debugbar*/vendor

# Symbolic links in admin
platforms/joomla/com_gantry5/admin/common
platforms/wordpress/gantry5/admin/common
platforms/grav/gantry5/admin/common
platforms/*/*/common
platforms/*/*/src
platforms/*/*/assets
platforms/*/*/engines

# Symbolic links in themes
themes/*/*/common

themes/*/*/src
themes/*/*/cache
themes/*/*/custom

# Compiled
**/.sass-cache
**/*.map
**/node_modules/*
platforms/**/cache
npm-debug.log
themes/hydrogen/grav/config
themes/hydrogen/grav/templates
