.g-joomla-articles {
	margin-left: -($content-padding);
	margin-right: -($content-padding);
	> .g-grid {
		> .g-block {
			@include breakpoint(mobile-only) {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.g-content {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	h3, .g-article-details, .g-article-text {
		margin: 15px 0 0;
	}
	.g-article-details {
		font-size: 90%;
		> span {
			margin-right: 10px;
		}
		i {
			margin-right: 5px;
		}
	}
}