// Float Classes
#g5-container .float-left {
	float: left !important;
}

#g5-container .float-right {
	float: right !important;
}

// Visibility (additional responsive based classes available in the visibility particle)
#g5-container .hide {
	display: none;
}

// Clearfix
#g5-container .clearfix {
	@include clearfix;
}
