{% extends "@nucleus/partials/module.html.twig" %}

{% set title = 'What Does It Do?' %}

{% block module %}
    <p>Gantry Playground provides standard set of tests which can be run through all the available templates.</p>
{% endblock %}
