{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/1200x350" alt="image">
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
        <h2 class="header-title">Join Our Theme Club Now!</h2>
        <h5>Choose the theme that suits your needs. 100% satisfaction guaranteed.</h5>
        <a href="#" class="button">Join Now</a> <a href="#" class="button-secondary">Learn More</a>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x350" alt="image">
              <h3>Introduction</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x350" alt="image">
              <h3>Mission</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x350" alt="image">
              <h3>Business</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

{% endblock %}
