{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
          <h6>A New Experience</h6>
          <h3>Create Your Awesome Website</h3>
          <a href="#" class="button">Join Our Club Now</a> <a href="#" class="button-secondary">Check Our Pricing</a>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Introduction</h3>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Mission</h3>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Business</h3>
            </div>
        </div>
    </div>

    <div class="center">
        <h2>Why You Should Join Us</h2>
        <h5>Choose the theme that suits your needs. 100% satisfaction guaranteed.</h5>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-dashboard fa-fw fa-2x"></span> Sophiscated</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-user fa-fw fa-2x"></span> Awesome</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-plane fa-fw fa-2x"></span> Fast</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-arrows-alt fa-fw fa-2x"></span> Responsive</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-rocket fa-fw fa-2x"></span> Elegant</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-sliders fa-fw fa-2x"></span> Powerful</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

{% endblock %}
