{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="g-grid">
        <div class="g-block">
            <div class="content">
                <img src="http://placehold.it/600x400" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="content">
                <h6>We Always</h6>
                <h3>Create the Awesomeness</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                <a href="#" class="button-secondary">Learn More About Us</a>
            </div>
        </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-heart fa-3x"></span>
              <h3>Sophiscated Design</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-line-chart fa-3x"></span>
              <h3>Awesome Features</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-paper-plane fa-3x"></span>
              <h3>Fast, Light &amp; Clean</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-cubes fa-3x"></span>
              <h3>Responsive Layout</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <h3>Are You Ready to Join?</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                <a href="#" class="button">Join Our Club Now</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/600x400" alt="image">
            </div>
        </div>
    </div>

{% endblock %}
