/* Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/
.button {
	position: relative;
	text-decoration: none !important;
	outline-style: none !important;
	vertical-align: bottom;
}

.dropdown-select {
	padding-right: 24px;
}

.icon-button:before {
	background: transparent 0 0 no-repeat;
	content: '';
	display: inline-block;
	float: right;
	height: 12px;
	margin: 3px 0 0 2px;
	width: 12px;
}

.dropdown-select.icon-button:before {
	margin-right: 4px;
}

.dropdown-select:after {
	background-position: -103px 10px;
	border-left: 1px solid;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
	width: 16px;
}

.dropdown-visible .dropdown-select:after, .nojs .dropdown-container:hover .dropdown-select:after {
	background-position: -103px -10px;
}

.buttons, .buttons .button {
	float: left;
}

.buttons .button, .dropdown-select {
	margin-right: 5px;
}

#jumpbox .dropdown-select {
	margin: 0;
}

.modtools-icon {
	font-size: 0;
}

.tools-icon:before, .modtools-icon:before, .search-icon:before, .search-adv-icon:before {
	height: 22px;
	margin-top: 2px;
	width: 16px;
}

/* Icon images
---------------------------------------- */
.small-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
}

.small-icon > a {
	display: inline-block;
	padding: 0 0 0 18px;
}

ul.linklist.bulletin > li.small-icon:before {
	display: none;
}

.dropdown .small-icon > a {
	display: block;
}

/* Poster contact icons
----------------------------------------*/
.contact-icons.dropdown-contents {
	min-width: 0;
	padding: 0;
	font-size: 0;
}

.contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}
.contact-icons a {
	border-bottom: 1px dotted;
	border-right: 1px dotted;
	display: block;
	float: left;
	padding: 8px;
}

.contact-icons .last-cell {
	border-right: none;
}

.contact-icons div:last-child a {
	border-bottom: none;
}

.contact-icons div {
	clear: left;
}


/* Post control buttons
--------------------------------------------- */
.post-buttons {
	float: right;
	list-style: none;
	margin-top: 2px;
}

.has-profile .post-buttons {
	float: none;
	position: absolute;
	margin: 0;
	right: 0;
	top: 5px;
}

.post-buttons > li {
	float: left;
	margin-right: 3px;
}

.post-buttons .icon-button {
	padding: 0 5px;
}

.hastouch .post-buttons .icon-button {
	padding: 2px 8px;
}

.post-buttons .icon-button span {
	display: block;
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.post-buttons .icon-button:before {
	margin-left: 0;
}

/* Responsive buttons in post body */
.post-buttons .dropdown {
	top: 18px;
}

.post-buttons .dropdown a {
	display: block;
	font-size: 1.2em;
	text-align: right;
}

.hasjs .postbody .post-buttons {
	max-width: 40%;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	padding: 0;
	border: 0
}
