/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
#wrap fieldset {
	border-width: 0;
	margin: 0;
	padding: 0;
}

#wrap input {
	vertical-align: middle;
	padding: 0 3px;
}

#wrap select {
	cursor: pointer;
	vertical-align: middle;
	padding: 1px;
	display: inline-block;
	margin-bottom: 0;
}
#wrap option {
	padding-right: 1em;
}

#wrap select optgroup option {
	padding-right: 1em;
}

#wrap textarea {
	width: 60%;
	padding: 2px;
}

#wrap label {
	cursor: default;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

#wrap label input {
	vertical-align: middle;
}

#wrap label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
#wrap fieldset dl {
	padding: 4px 0;
}

#wrap fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block;
}

#wrap fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px;
}

/* Specific layout 1 */
#wrap fieldset.fields1 dt {
	width: 15em;
	border-right-width: 0;
}

#wrap fieldset.fields1 dd {
	margin-left: 15em;
	border-left-width: 0;
}

#wrap fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
#wrap fieldset.fields1 #recaptcha_widget_div div, fieldset.fields1 .live-search div {
	margin-bottom: 0;
}

/* Specific layout 2 */
#wrap fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

#wrap fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */
#wrap dt label {
	font-weight: bold;
	text-align: left;
}

#wrap dd label {
	white-space: nowrap;
}

#wrap dd input, dd textarea {
	margin-right: 3px;
}

#wrap dd select {
	width: auto;
}

#wrap dd select[multiple] {
	width: 100%;
}

#wrap dd textarea {
	width: 85%;
}

/* Hover effects */
#timezone {
	width: 95%;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	margin-top: 3px;
}

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding-right: 1em;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

fieldset.submit-buttons input {
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
#wrap #format-buttons {
	margin: 15px 0 10px 0;
}

#format-buttons input, #format-buttons select {
	vertical-align: middle;
	font-size: 12px;
}

/* Main message box */
#message-box {
	width: 80%;
}

#message-box textarea {
	width: 450px;
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	resize: vertical;
}

/* Emoticons panel */
#smiley-box {
	width: 18%;
	float: right;
}

#smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
#wrap .inputbox {
	width: inherit;
}

.inputbox:hover, .inputbox:focus {
	outline-style: none;
}

input.inputbox	{ width: 85%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny	{ width: 150px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

input[type="number"] {
	-moz-padding-end: inherit;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

/* Topic and forum Search */
.search-box {
	float: left;
}

.search-box .inputbox {
	background-image: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	height: 41px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-box button {
	float: left;
}

.search-box button.search-icon {
	border-radius: 0;
	font-size: 0;
}

.search-box a.button {
	border-left-width: 0;
	border-radius: 0 4px 4px 0;
	font-size: 0;
	margin: 0;
}

/* Search box (header)
--------------------------------------------- */
.search-header {
	border-radius: 4px;
	display: block;
	float: right;
	margin-right: 5px;
	margin-top: 30px;
}

.search-header .inputbox { border: 0; }

.search-header button {
	border-top: 0;
	border-bottom: 0;
}

.search-header a.button {
	border: 0;
	border-left: 1px;
	padding: 3px 5px 3px 4px;
}

input.search {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px;
}

.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}