<div class="{{ segment.classes }}">
    {% if segment.haschildren %}
        {% for segment in segments %}
            {% include segment.type with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
</div>
