<div class="content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
   {% include 'widgets/' ~ segment.attributes.name ~ '.html.twig' with {widget: config.widgets[segment.attributes.name] } %}
</div>
