{% set value = (value is null ? field.default : value) %}

<label class="inline">
    <input type="checkbox"
           name="{{ field.name }}"
           value="{{ field.value|default(1) }}"
            {% if value == true %} checked="checked" {% endif %}
            {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
            {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
            {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
    />
    {{ field.label }}
</label>
