.button, .button-secondary {
  display: inline-block;
  padding: 7px 12px; }
  .button:active, .button-secondary:active {
    margin: 2px 0 -2px 0; }

body {
  background: #333333;
  color: #666666; }

a {
  color: #4184B6; }
  a:hover {
    color: black; }

.g-container {
  position: relative; }

@font-face {
  font-family: "walkwaybold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/walkwaybold_regular_macroman/Walkway_Bold-webfont.eot");
  src: url("../fonts/walkwaybold_regular_macroman/Walkway_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/walkwaybold_regular_macroman/Walkway_Bold-webfont.woff") format("woff"), url("../fonts/walkwaybold_regular_macroman/Walkway_Bold-webfont.ttf") format("truetype"), url("../fonts/walkwaybold_regular_macroman/Walkway_Bold-webfont.svg#walkwaybold") format("svg"); }
@font-face {
  font-family: "latolight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-light/lato-light-webfont.eot");
  src: url("../fonts/lato-light/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light/lato-light-webfont.svg#latolight") format("svg"); }
#g-header {
  color: #aaaaaa; }
  #g-header a:hover {
    color: #ffffff; }

.g-main-nav .g-toplevel {
  position: inherit; }
  .g-main-nav .g-toplevel > li > a, .g-main-nav .g-toplevel > li > .g-separator {
    font-size: 1.1rem;
    padding: 0.75rem 0.938rem;
    color: #aaaaaa; }
  .g-main-nav .g-toplevel > li:hover a, .g-main-nav .g-toplevel > li:hover .g-separator, .g-main-nav .g-toplevel > li.active a, .g-main-nav .g-toplevel > li.active .g-separator {
    color: #ffffff; }
.g-main-nav .g-dropdown {
  background: #4184B6;
  box-shadow: 0 3px 0 #39749f;
  color: #ffffff; }
  .g-main-nav .g-dropdown .g-dropdown {
    background: #3c79a7;
    box-shadow: 0 3px 0 #366e98; }
.g-main-nav .g-sublevel li > a, .g-main-nav .g-sublevel li > .g-separator, .g-main-nav .g-sublevel li > .g-nav-header {
  font-size: 1rem;
  padding: 0.75rem 0.938rem; }
.g-main-nav .g-sublevel li:hover > a, .g-main-nav .g-sublevel li:hover > .g-separator, .g-main-nav .g-sublevel li.active > a, .g-main-nav .g-sublevel li.active > .g-separator {
  background: #366e98; }

#g-showcase {
  background: #4184B6;
  color: #ffffff; }
  #g-showcase .spacer {
    height: 180px; }
    @media only all and (max-width: 47.938rem) {
      #g-showcase .spacer {
        display: none; } }

#g-feature {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea; }

#g-main {
  background: #f7f7f7;
  margin: 0 0 1.563rem 0; }

#g-sidebar {
  color: #aaaaaa; }
  #g-sidebar a:hover {
    color: #ffffff; }

#g-bottom {
  background: #f7f7f7;
  color: #666666;
  margin: 0 0 1.563rem 0; }

#g-footer {
  background: #404040;
  color: #cccccc;
  margin: 0 0 1.563rem 0; }

body {
  font-family: "latolight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h6 {
  text-transform: uppercase; }

strong, h1, h2, h3, h4, h5, h6, th {
  font-family: "walkwaybold", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

blockquote {
  border-left: 3px solid #dddddd; }

pre {
  background: #ffffff;
  border: 1px solid #dddddd; }

hr {
  border-bottom: 1px solid #dddddd; }

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #4184B6;
  color: #ffffff; }

fieldset {
  border: 1px solid #dddddd; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #4184B6;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(58, 118, 163, 0.7); }

th {
  font-weight: normal; }

.button {
  background: #4184B6;
  color: #ffffff;
  box-shadow: 0 3px 0 #39749f; }
  .button:hover {
    background: #39749f;
    box-shadow: 0 3px 0 #316389;
    color: #ffffff; }
  .button:active {
    box-shadow: 0 1px 0 #316389; }

.button-secondary {
  background: #F8B450;
  color: #ffffff;
  box-shadow: 0 3px 0 #f7a733; }
  .button-secondary:hover {
    background: #f7a733;
    box-shadow: 0 3px 0 #f69b15;
    color: #ffffff; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #f69b15; }

/*# sourceMappingURL=template.css.map */
