a.button1, input.button1, input.button3, a.button2, input.button2 {
  display: inline-block;
  padding: 7px 12px; }
  a.button1:active, input.button1:active, input.button3:active, a.button2:active, input.button2:active {
    margin: 2px 0 -2px 0; }

a.button1, input.button1, input.button3, a.button2, input.button2 {
  background: #4184B6;
  color: #fff;
  box-shadow: 0 3px 0 #39749f; }
  a.button1:hover, input.button1:hover, input.button3:hover, a.button2:hover, input.button2:hover {
    background: #39749f;
    box-shadow: 0 3px 0 #316389;
    color: #fff; }
  a.button1:active, input.button1:active, input.button3:active, a.button2:active, input.button2:active {
    box-shadow: 0 1px 0 #316389; }

.button.icon-button:before {
  font: normal normal normal 14px/1 FontAwesome;
  padding-top: 4px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dropdown-select:after, #quick-links a.dropdown-toggle:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7"; }

.post-buttons .button.icon-button {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px; }
  .post-buttons .button.icon-button:before {
    padding: 0;
    margin: 0;
    padding-top: 1px; }

.button.icon-button.search-icon:before {
  content: "\f002"; }
.button.icon-button.tools-icon:before {
  content: "\f0ad"; }
.button.icon-button.modtools-icon:before {
  content: "\f085"; }
.button.icon-button.search-adv-icon:before {
  content: "\f013"; }
.button.icon-button.quote-icon:before {
  content: "\f10e"; }
.button.icon-button.info-icon:before {
  content: "\f129"; }
.button.icon-button.report-icon:before {
  content: "\f071"; }
.button.icon-button.delete-icon:before {
  content: "\f1f8"; }
.button.icon-button.edit-icon:before {
  content: "\f040"; }

.forum-icon, .topic-icon {
  position: absolute;
  font-size: 30px;
  margin-top: 10px; }

ul.topiclist li.header {
  margin: 15px 0; }

#nav-breadcrumbs {
  display: none; }

#nav-main .small-icon {
  margin-right: 15px; }

.dropdown .pointer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #4184B6 transparent; }

.dropdown-up .dropdown .pointer {
  border-width: 20px 20px 0 20px;
  border-color: #4184B6 transparent transparent transparent; }

.panel.bg3, #tabs .activetab > a {
  background-color: #e6eff6; }

#showcase a {
  color: #fff; }

.dropdown-contents {
  background-color: #4184B6; }
  .dropdown-contents a {
    color: #fff; }

.dropdown li.separator {
  border-color: rgba(255, 255, 255, 0.44); }

.small-icon:before, .imageset:before {
  font: normal normal normal 14px/1 FontAwesome;
  padding-top: 5px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  color: #fff; }

.icon-acp:before {
  content: "\f085"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-bump:before {
  content: "\f164"; }

.icon-contact:before {
  content: "\f098"; }

.icon-delete-cookies:before {
  content: "\f00d"; }

.icon-download:before {
  content: "\f019"; }

.icon-faq:before {
  content: "\f02d"; }

.icon-home:before {
  content: "\f015"; }

.icon-logout:before {
  content: "\f011"; }

.icon-mark:before {
  content: "\f14a"; }

.icon-mcp:before {
  content: "\f0ad"; }

.icon-members:before {
  content: "\f0c0"; }

.icon-notification:before {
  content: "\f022"; }

.icon-pages:before {
  content: "\f0c5"; }

.icon-pm:before {
  content: "\f0e0"; }

.icon-print:before {
  content: "\f02f"; }

.icon-profile:before {
  content: "\f007"; }

.icon-register:before {
  content: "\f007"; }

.icon-search:before, .responsive-search a:before {
  content: "\f002"; }

.icon-search-active:before {
  content: "\f15c"; }

.icon-search-advanced:before {
  content: "\f013"; }

.icon-search-new:before {
  content: "\f15c"; }

.icon-search-self:before {
  content: "\f15c"; }

.icon-search-unanswered:before {
  content: "\f15c"; }

.icon-search-unread:before {
  content: "\f15c"; }

.icon-sendemail:before {
  content: "\f003"; }

.icon-subscribe:before {
  content: "\f0fe"; }

.icon-team:before {
  content: "\f1ab"; }

.icon-ucp:before {
  content: "\f0f0"; }

.icon-unsubscribe:before {
  content: "\f146"; }

/* Global imageset items */
.imageset:before, .contact-icon:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute; }
.imageset.subforum_read:before, .contact-icon.subforum_read:before {
  content: "\f07b"; }
.imageset.subforum_unread:before, .contact-icon.subforum_unread:before {
  content: "\f07c";
  color: #4184B6; }
.imageset.pm_read:before, .imageset.pm-icon:before, .contact-icon.pm_read:before, .contact-icon.pm-icon:before {
  content: "\f003"; }
.imageset.pm_unread:before, .contact-icon.pm_unread:before {
  content: "\f0e0";
  color: #4184B6; }
.imageset.icon_back_top:before, .contact-icon.icon_back_top:before {
  content: "\f106"; }
.imageset.phpbb_aol-icon:before, .imageset.icon_contact_aim:before, .contact-icon.phpbb_aol-icon:before, .contact-icon.icon_contact_aim:before {
  content: "\f0ac"; }
.imageset.icon_contact_email:before, .imageset.email-icon:before, .contact-icon.icon_contact_email:before, .contact-icon.email-icon:before {
  content: "\f0e0"; }
.imageset.icon_contact_icq:before, .imageset.phpbb_icq-icon:before, .contact-icon.icon_contact_icq:before, .contact-icon.phpbb_icq-icon:before {
  content: "\f075"; }
.imageset.icon_contact_jabber:before, .imageset.jabber-icon:before, .contact-icon.icon_contact_jabber:before, .contact-icon.jabber-icon:before {
  content: "\f0eb"; }
.imageset.phpbb_wlm-icon:before, .imageset.icon_contact_msnm:before, .contact-icon.phpbb_wlm-icon:before, .contact-icon.icon_contact_msnm:before {
  content: "\f17a"; }
.imageset.icon_contact_www:before, .imageset.phpbb_website-icon:before, .contact-icon.icon_contact_www:before, .contact-icon.phpbb_website-icon:before {
  content: "\f0ac"; }
.imageset.icon_contact_yahoo:before, .imageset.phpbb_yahoo-icon:before, .contact-icon.icon_contact_yahoo:before, .contact-icon.phpbb_yahoo-icon:before {
  content: "\f19e"; }
.imageset.phpbb_youtube-icon:before, .contact-icon.phpbb_youtube-icon:before {
  content: "\f167"; }
.imageset.phpbb_facebook-icon:before, .contact-icon.phpbb_facebook-icon:before {
  content: "\f09a"; }
.imageset.phpbb_googleplus-icon:before, .contact-icon.phpbb_googleplus-icon:before {
  content: "\f0d5"; }
.imageset.phpbb_skype-icon:before, .contact-icon.phpbb_skype-icon:before {
  content: "\f17e"; }
.imageset.phpbb_twitter-icon:before, .contact-icon.phpbb_twitter-icon:before {
  content: "\f099"; }
.imageset.icon_post_delete:before, .contact-icon.icon_post_delete:before {
  content: "\f00d"; }
.imageset.icon_post_info:before, .contact-icon.icon_post_info:before {
  content: "\f129"; }
.imageset.icon_post_report:before, .contact-icon.icon_post_report:before {
  content: "\f071"; }
.imageset.icon_post_target:before, .contact-icon.icon_post_target:before {
  content: "\f15b"; }
.imageset.icon_post_target_unread:before, .contact-icon.icon_post_target_unread:before {
  content: "\f15b";
  color: #4184B6; }
.imageset.icon_topic_attach:before, .contact-icon.icon_topic_attach:before {
  content: "\f0c6"; }
.imageset.icon_topic_latest:before, .contact-icon.icon_topic_latest:before {
  content: "\f016"; }
.imageset.icon_topic_newest:before, .contact-icon.icon_topic_newest:before {
  content: "\f15b"; }
.imageset.icon_topic_reported:before, .contact-icon.icon_topic_reported:before {
  content: "\f071"; }
.imageset.icon_topic_deleted:before, .contact-icon.icon_topic_deleted:before {
  content: "\f00d"; }
.imageset.icon_topic_unapproved:before, .contact-icon.icon_topic_unapproved:before {
  content: "\f05e"; }
.imageset.icon_topic_poll:before, .contact-icon.icon_topic_poll:before {
  content: "\f080"; }
.imageset.icon_user_warn:before, .contact-icon.icon_user_warn:before {
  content: "\f071"; }
.imageset.icon_contact:before, .contact-icon.icon_contact:before {
  content: "\f086";
  color: #4184B6;
  top: 0;
  left: 4px;
  margin-top: -12px !important; }
.imageset.icon_user_online:before, .contact-icon.icon_user_online:before {
  content: "\f097"; }

.imageset {
  width: 0;
  height: 0;
  display: inline-block !important;
  overflow: hidden; }
  .imageset:before {
    color: #666;
    margin-top: -16px; }
  .imageset.icon_post_target {
    margin-right: 15px; }

/*# sourceMappingURL=phpbb.css.map */
