{% extends "@nucleus/partials/module.html.twig" %}



{% block module %}
<div class="demostyle-type-preset1">
	<div class="fp-feature">
		<div class="customfp-feature">
			<div class="g-square-set">
				<div class="g-grid">
					<div class="g-block">
						<div class="g-square-1">
							<div class="gantry-width-spacer">
								<h2>A Slider or Fixed Side Position for <span class="hidden-tablet">Displaying </span>Extra Content</h2>
								<ul class="g-tags">
									<li>Fixed</li>
									<li>Dynamic</li>
								</ul>
								<p class="smallmarginbottom">An extra module position, outside of the main structure, configurable to be either fixed or dynamically toggled.</p>
								<a href="/live/joomla/ricochet/features/features-overview" class="readon2">Read More</a>				
							</div>
						</div>
						<div class="g-image">
							<img src="{{ url('gantry-media://images/img-01.jpg') }}" alt="image" />
						</div>
					</div>
					<div class="g-block">
						<div class="g-square-2">
							<div class="gantry-width-spacer">
								<h2>Powered by the Versatile Gantry Framework</h2>
								<ul class="g-tags">
									<li>Power</li>
									<li>Adaptable</li>
								</ul>
								<p class="smallmarginbottom">As a core framework, Gantry sits at the center of Ricochet, providing a range of standardized features and capabilities.</p>
								<a href="/live/joomla/ricochet/features/features-overview" class="readon2">Read More</a>	
							</div>	
						</div>
						<div class="g-image">
							<img src="{{ url('gantry-media://images/img-02.jpg') }}" alt="image" />
						</div>
					</div>
					<div class="g-block">
						<div class="g-square-3">
							<div class="gantry-width-spacer">
								<h2>A Sophisticated CSS Dropdown Menu<span class="hidden-tablet"> with Advanced Features</span>
								</h2>
								<ul class="g-tags">
									<li>Columns</li>
									<li>Positions</li>
								</ul>
								<p class="smallmarginbottom">The menu has support for inline modules and positions, inline icons and subtext, alongside many other configurable options.</p>
								<a href="/live/joomla/ricochet/features/menu-options" class="readon2">Read More</a>
							</div>	
						</div>
						<div class="g-image">
							<img src="{{ url('gantry-media://images/img-03.jpg') }}" alt="image" />
						</div>
					</div>		
				</div>	
			</div>
		</div>
	</div>
</div>
{% endblock %}
