// List Reset
%list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Vertical Centering
%vertical-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

// Columns
@mixin columns($columns) {
	width: percentage(1/$columns);
}

// Float with margin variable
@mixin float($direction, $margin: 0) {
	float: $direction;
	margin-#{opposite-direction($direction)}: $margin;
}

@mixin size-x {
	@for $i from 5 through 95 {
	.size-#{$i} { -webkit-flex: 0 1 $i * 1%;-moz-flex: 0 1 $i * 1%; -ms-flex: 0 1 $i * 1%;flex: 0 $i * 1%;width: $i * 1%; }
	}
}
