// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
//FIXME Remove deprecated bourbon mixins
$output-bourbon-deprecation-warnings: false;
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

//-------------------------------------------

// WORDPRESS
@import "wordpress/typography";
@import "wordpress/core";
@import "wordpress/particles";
@import "wordpress/utilities";
@import "wordpress/captions";
@import "wordpress/screen-readers";
@import "wordpress/shortcodes";
@import "wordpress/meta";
@import "wordpress/pagination";
@import "wordpress/comments";
@import "wordpress/widgets";
