<div class="g-grid">
    <div class="g-block size-1-6">
    </div>
    <div class="g-block">
        <div class="g-content">
            Copyright {{"now"|date('Y')}}
        </div>
    </div>
    <div class="g-block size-1-6">
    </div>
</div>
