{% extends "partials/tease.html.twig" %}

{% block content %}

    <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>

        {% if post.thumbnail.src %}
            <img src="{{post.thumbnail.src}}" />
        {% endif %}

        <p>{{post.get_preview(25)}}</p>

{% endblock %}
