.button, .button-secondary {
  display: inline-block;
  padding: 7px 12px; }
  .button:active, .button-secondary:active {
    margin: 2px 0 -2px 0; }

body {
  background: #fff;
  color: #7a7a7a; }

a {
  color: #66BDBB;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  a:hover {
    color: inherit; }

@font-face {
  font-family: "merriweather";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/merriweather-regular-webfont.eot");
  src: url("../fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-regular-webfont.woff") format("woff"), url("../fonts/merriweather-regular-webfont.ttf") format("truetype"), url("../fonts/merriweather-regular-webfont.svg#merriweather") format("svg"); }
@font-face {
  font-family: "merriweather";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/merriweather-italic-webfont.eot");
  src: url("../fonts/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-italic-webfont.woff") format("woff"), url("../fonts/merriweather-italic-webfont.ttf") format("truetype"), url("../fonts/merriweather-italic-webfont.svg#merriweather") format("svg"); }
@font-face {
  font-family: "merriweather";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/merriweather-bold-webfont.eot");
  src: url("../fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-bold-webfont.woff") format("woff"), url("../fonts/merriweather-bold-webfont.ttf") format("truetype"), url("../fonts/merriweather-bold-webfont.svg#merriweather") format("svg"); }
@font-face {
  font-family: "merriweather";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/merriweather-bolditalic-webfont.eot");
  src: url("../fonts/merriweather-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-bolditalic-webfont.woff") format("woff"), url("../fonts/merriweather-bolditalic-webfont.ttf") format("truetype"), url("../fonts/merriweather-bolditalic-webfont.svg#merriweather") format("svg"); }
@font-face {
  font-family: "nexa";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/nexa-light-webfont.eot");
  src: url("../fonts/nexa-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa-light-webfont.woff") format("woff"), url("../fonts/nexa-light-webfont.ttf") format("truetype"), url("../fonts/nexa-light-webfont.svg#nexa") format("svg"); }
@font-face {
  font-family: "nexa";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/nexa-bold-webfont.eot");
  src: url("../fonts/nexa-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa-bold-webfont.woff") format("woff"), url("../fonts/nexa-bold-webfont.ttf") format("truetype"), url("../fonts/nexa-bold-webfont.svg#nexa") format("svg"); }
#header {
  color: #333; }

.main-nav {
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: uppercase; }
  .main-nav > .toplevel > li > a, .main-nav > .toplevel > li > .separator {
    font-size: 0.8rem;
    padding: 0.75rem 0.938rem;
    color: #333;
    font-weight: bold; }
  .main-nav > .toplevel > li:hover > a, .main-nav > .toplevel > li:hover > .separator, .main-nav > .toplevel > li.active > a, .main-nav > .toplevel > li.active > .separator {
    color: #66BDBB; }
  .main-nav .dropdown {
    background: #66BDBB;
    box-shadow: 0 3px 0 #51b4b1;
    color: #fff; }
    .main-nav .dropdown .dropdown {
      background: #58b7b5;
      box-shadow: 0 3px 0 #4bafad; }
  .main-nav .sublevel > li > a, .main-nav .sublevel > li > .separator, .main-nav .sublevel > li > .nav-header {
    font-size: 0.7rem;
    padding: 0.75rem 0.938rem;
    font-weight: normal;
    color: #fff; }
  .main-nav .sublevel > li:hover > a, .main-nav .sublevel > li.active > a {
    background: #4bafad; }

#feature {
  background: #333 url(../images/backgrounds/feature/bg.jpg);
  color: #fff; }

#main {
  background: #f7f7f7;
  margin: 0 0 1.563rem 0; }

#sidebar {
  color: #aaa; }
  #sidebar a:hover {
    color: #fff; }

#bottom {
  background: #fff;
  color: #7a7a7a;
  margin: 0 0 1.563rem 0; }

#footer {
  background: #eee;
  color: #888;
  margin: 0 0 1.563rem 0; }

body {
  font-family: "merriweather", Verdana, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: bold; }

h6 {
  text-transform: uppercase; }

strong, th {
  font-family: "merriweather", Verdana, Helvetica, Arial, sans-serif; }

blockquote {
  border-left: 3px solid #ddd; }

pre {
  background: #fff;
  border: 1px solid #ddd; }

hr {
  border-bottom: 1px solid #ddd; }

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #66BDBB;
  color: #fff; }

fieldset {
  border: 1px solid #ddd; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #66BDBB;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(84, 181, 179, 0.7); }

th {
  font-weight: normal; }

.button {
  background: #66BDBB;
  color: #fff;
  box-shadow: 0 3px 0 #51b4b1; }
  .button:hover {
    background: #51b4b1;
    box-shadow: 0 3px 0 #45a19e;
    color: #fff; }
  .button:active {
    box-shadow: 0 1px 0 #45a19e; }

.button-secondary {
  background: #80C294;
  color: #fff;
  box-shadow: 0 3px 0 #6bb883; }
  .button-secondary:hover {
    background: #6bb883;
    box-shadow: 0 3px 0 #57ae71;
    color: #fff; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #57ae71; }

/*# sourceMappingURL=template.css.map */
