%button {
    display: inline-block;
    border-radius: $core-border-radius;
    padding: 6px 12px;
    vertical-align: middle;
    font-size: $core-font-size;
    line-height: inherit;
    font-weight: $font-weight-medium;
    cursor: pointer;
    margin: 2px 0;
    &:active {
        margin: 1px 0 -1px 0;
    }
    &:not(.disabled):focus {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        outline: none;
    }
    i + span {
        margin-left: 8px;
    }
}

@mixin button-color($color, $text: $white) {
    background: $color;
    color: rgba($text, 0.9);
    &:hover, &:focus {
        background: darken($color, 8%);
        color: $text;
    }
}
