// Visibility
@include breakpoint(large-desktop-range) {
	.visible-large {
		display: inherit !important;
	}
	.hidden-large {
		display: none !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	}
}

@include breakpoint(desktop-range) {
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	}
}

@include breakpoint(tablet-range) {
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
}

@include breakpoint(mobile-only) {
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-large {
		display: none !important;
	}
}

// Alignment
@include breakpoint(mobile-only) {
	.align-right {
		text-align: inherit !important;
	}
	.align-left {
		text-align: inherit !important;
	}
}