{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<div id="styles">
    <form method="post">
        <span class="float-right">
            <a href="{{ gantry.route('configurations', configuration, 'styles/compile') }}" class="button button" data-g5-compile-css=""><i class="fa fa-tasks"></i> <span>Recompile CSS</span></a>
            <button type="submit" class="button button-primary button-save"><i class="fa fa-check"></i> <span>Save Styles</span></button>
        </span>
        <h2 class="page-title">
            <span class="title">Styles</span>
        </h2>

        <div class="swatches-block">
            {% include 'partials/swatches.html.twig' with {'swatches': config.styles.swatches} %}
        </div>

        {% for group, list in blocks %}
        <h2>{{ group|capitalize }} Styles</h2>

        <div id="styles" class="cards-wrapper g-grid">

            {% for id, block in list %}
                {% set prefix = 'styles.' ~ id ~ '.' %}
                <div class="card settings-block">
                    <h4>
                        <a class="config-cog" data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('configurations', configuration, 'styles/blocks', id) }}">{{ block.name }}</a>
                    </h4>
                    <div class="inner-params">
                        {% include 'forms/fields.html.twig' with {'blueprints': block.form, 'data': config} %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}
