{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<div id="styles">
    <h2 class="page-title">
        <span class="title">Styles</span>
            <span class="float-right">
                <a href="#" class="button button-primary button-save" data-g5-resetcache=""><i class="fa fa-check"></i> <span>Reset Cache</span></a>
            </span>
    </h2>

    <div class="swatches-block">
        {% include 'partials/swatches.html.twig' with {'swatches': config.styles.swatches} %}
    </div>

    {% for group, list in blocks %}
        <h2>{{ group|capitalize }} Styles</h2>

        <div id="styles" class="cards-wrapper g-grid">

            {% for id, block in list %}
                {% set prefix = 'styles.' ~ id ~ '.' %}
                <div class="card settings-block">
                    <h4>
                        <a class="config-cog" data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('configurations', configuration, 'styles/blocks', id) }}">{{ block.name }}</a>
                    </h4>
                    <div class="inner-params">
                        {% include 'forms/fields.html.twig' with {'blueprints': block.form, 'data': config} %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
