@mixin button-color($color, $text: $white) {
    background: $color;
    color: $text;
    //box-shadow: 0 1px darken($color, 12%), -1px 0 darken($color, 7%), 1px 0 darken($color, 7%), 0 -1px darken($color, 3%);
    &:hover {
        background: darken($color, 6%);
        //box-shadow: 0 1px darken($color, 18%), -1px 0 darken($color, 13%), 1px 0 darken($color, 13%), 0 -1px darken($color, 9%);
        color: $text;
    }
    &:active {
        //box-shadow: 0 1px darken($color, 18%), -1px 0 darken($color, 13%), 1px 0 darken($color, 13%), 0 -1px darken($color, 9%);
    }
}

#g5-container {
	.button-primary {
	    @include button-color($core-accent);
	}
}