body.com_gantryadmin {
	#g5-container {

	    [data-mode-indicator="production"] {
	        background-color: $production;
	    }

	    #main-header {

	    	.g-content {
	            padding: 0 1.563rem;
	        }

	    	.dev-mode-toggle {
	    		background: darken($production, 10%);

	    		a {
	    			background: lighten($production, 15%);
	    		}
	    	}

	    	.button-save {
	            @include button-color(lighten($production, 15%), $white);
	        }

	        ul {
	            li {
	                &:hover {
	                    a {
	                        background: darken($production, 5%);
	                    }
	                }
	                &.active {
	                    a {
	                        background: darken($production, 15%);
	                    }
	                }
	            }
	        }

	    }

	    #navbar {
	    	padding: 0 0.625rem;
	    }

	    .navbar-block {

	    	.gantry-logo {
    			right: 1.563rem;
    		}
	    }

	    .inner-header {
	        background-color: $inner-header-bg;
	        color: $inner-header-text;

	        .gantry-logo {
	        	background-image: url(../images/gantrylogo.png);
	        }
	    }

	    .settings-state {
	        background: $production;
	        color: $main-header-text;
	    }

	    .button.button-update {
	        @include button-color(darken($update-header-bg, 15%), $white);
	    }

	}
}