body.com_gantryadmin {	
	#g5-container {

	    [data-mode-indicator="production"] {
	        background-color: $production;
	    }

	    #main-header {

	    	.button-save {
	            @include button-color(lighten($production, 15%), $white);
	        }

	        [data-mode-toggle] {

	            &.production .toggle {
	                background-color: $production;
	            }

	            &.development .toggle {
	                background-color: $development;
	            }
	        }
	    }

	    .inner-header {
	        background-color: $inner-header-bg;
	        color: $inner-header-text;
	    }

	    .settings-state {
	        background: $production;
	        color: $main-header-text;
	    }

	    .button.button-update {
	        @include button-color(darken($update-header-bg, 15%), $white);
	    }

	}
}