.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

audio,
canvas,
progress,
video {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #555555; }

a {
  color: #2698de;
  text-decoration: none;
  background: transparent; }
  a:hover {
    color: black;
    outline: 0; }
  a:active {
    outline: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }
  @media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
      width: 768px; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .container {
      width: 480px; } }
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%; } }

.bg {
  background: #eee; }

.content {
  margin: 0.625rem;
  padding: 0.938rem; }

.grid {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 767px) {
    .block {
      -webkit-box-flex: 0 100%;
      -moz-box-flex: 0 100%;
      -webkit-flex: 0 100%;
      -ms-flex: 0 100%;
      flex: 0 100%; } }

body [class*="u-"] {
  -webkit-box-flex: none !important;
  -moz-box-flex: none !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important; }
  @media only screen and (max-width: 767px) {
    body [class*="u-"] {
      -webkit-box-flex: 0 100% !important;
      -moz-box-flex: 0 100% !important;
      -webkit-flex: 0 100% !important;
      -ms-flex: 0 100% !important;
      flex: 0 100% !important;
      width: auto !important; } }

.u-1-2 {
  width: 50% !important; }

.u-1-3 {
  width: 33.33333% !important; }

.u-1-4 {
  width: 25% !important; }

.u-1-5 {
  width: 20% !important; }

.u-1-6 {
  width: 16.66667% !important; }

.u-1-7 {
  width: 14.28571% !important; }

.u-1-8 {
  width: 12.5% !important; }

.u-1-9 {
  width: 11.11111% !important; }

.u-1-10 {
  width: 10% !important; }

@media only screen and (max-width: 767px) {
  @supports not (flex-wrap: wrap) {
    .grid {
      display: block;
      -webkit-flex-wrap: inherit;
      -ms-flex-wrap: inherit;
      flex-wrap: inherit; }

    .block {
      display: block;
      -webkit-box-flex: inherit;
      -moz-box-flex: inherit;
      -webkit-flex: inherit;
      -ms-flex: inherit;
      flex: inherit; } } }
#header {
  background: #111111;
  color: #cccccc; }
  #header a:hover {
    color: white; }

.nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav li {
    display: inline-block;
    padding: 4px 10px; }

#showcase {
  background: #111111 url(../images/showcase.jpg) 50% 100% no-repeat;
  color: #cccccc;
  box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.3); }
  #showcase .spacer {
    height: 180px; }
    @media only screen and (max-width: 767px) {
      #showcase .spacer {
        display: none; } }

#feature {
  background: #eeeeee;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.05); }

#footer {
  background: #111111;
  color: #cccccc; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 1.875rem 0; }

h1 {
  font-size: 2.25rem;
  line-height: 3.188rem; }

h2 {
  font-size: 1.9rem;
  line-height: 2.75rem; }

h3 {
  font-size: 1.5rem;
  line-height: 2.315rem; }

h4 {
  font-size: 1.15rem;
  line-height: 1.938rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.85rem; }

p {
  margin: 0 0 1.875rem 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem; }

small {
  font-size: 0.875rem; }

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=core.css.map */