.button, .button-secondary {
  display: inline-block;
  padding: 7px 12px; }
  .button:active, .button-secondary:active {
    margin: 2px 0 -2px 0; }

body {
  background: #333333;
  color: #666666; }

a {
  color: #4184b6; }
  a:hover {
    color: black; }

.bg {
  background: #fff;
  border: 1px solid #eaeaea; }

@font-face {
  font-family: "opensans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#opensans") format("svg"); }
@font-face {
  font-family: "opensanslight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#opensanslight") format("svg"); }
#header {
  color: #aaaaaa; }
  #header a:hover {
    color: white; }

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.main-nav > .toplevel {
  position: relative; }
  .main-nav > .toplevel > li {
    display: inline-block;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
    .main-nav > .toplevel > li > a {
      display: block;
      font-size: 1.1rem;
      color: #aaaaaa;
      padding: 4px 0.938rem; }
    .main-nav > .toplevel > li:hover .dropdown {
      width: 140px;
      opacity: 1;
      visibility: visible;
      overflow: visible; }
    .main-nav > .toplevel > li:hover a {
      color: white; }
.main-nav .dropdown {
  position: absolute;
  width: auto;
  background: #4184b6;
  box-shadow: 0 3px 0 #39749f;
  top: auto;
  left: auto;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  color: white; }
  .main-nav .dropdown .block {
    padding: 0.938rem; }
.main-nav .flyout {
  position: absolute;
  width: auto;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #3c79a7;
  box-shadow: 0 3px 0 #366e98; }
.main-nav .sublevel > li {
  margin: 0 -15px;
  padding: 2px 15px;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  .main-nav .sublevel > li:hover {
    background: #366e98; }
    .main-nav .sublevel > li:hover > .flyout {
      left: 100%;
      width: 140px;
      opacity: 1;
      visibility: visible;
      overflow: visible; }
  .main-nav .sublevel > li a {
    display: block; }

#showcase {
  background: #5493c2;
  color: white; }
  #showcase .spacer {
    height: 180px; }
    @media only screen and (max-width: 47.938rem) {
      #showcase .spacer {
        display: none; } }

#feature {
  background: white;
  border-bottom: 1px solid #eaeaea; }

#main {
  background: #f7f7f7;
  margin: 0 0 1.563rem 0; }

#sidebar {
  color: #aaaaaa; }
  #sidebar a:hover {
    color: white; }

#bottom {
  background: #f7f7f7;
  color: #666666;
  margin: 0 0 1.563rem 0; }

#footer {
  background: #404040;
  color: #cccccc;
  margin: 0 0 1.563rem 0; }

body {
  font-family: "opensanslight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h6 {
  text-transform: uppercase; }

strong, h1, h2, h3, h4, h5, h6, label, th {
  font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

blockquote {
  border-left: 3px solid #dddddd; }

pre {
  background: white;
  border: 1px solid #dddddd; }

hr {
  border-bottom: 1px solid #dddddd; }

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #4184b6;
  color: white; }

fieldset {
  border: 1px solid #dddddd; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #4184b6;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(58, 118, 163, 0.7); }

th {
  font-weight: normal; }

.button {
  background: #4184b6;
  color: white;
  box-shadow: 0 3px 0 #39749f; }
  .button:hover {
    background: #39749f;
    box-shadow: 0 3px 0 #316389;
    color: white; }
  .button:active {
    box-shadow: 0 1px 0 #316389; }

.button-secondary {
  background: #f8b450;
  color: white;
  box-shadow: 0 3px 0 #f7a733; }
  .button-secondary:hover {
    background: #f7a733;
    box-shadow: 0 3px 0 #f69b15;
    color: white; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #f69b15; }

/*# sourceMappingURL=template.css.map */