#comments {
    ol.commentlist {
        list-style: none;
        padding-left: 0;

        ol.children {
            list-style: none;
        }

        li.comment {
            margin: 20px 0;

            .comment-body {
                background-color: #f2f2f2;
            }

            &.bypostauthor {
                > .comment-body {
                    > .comment-author {
                        background-color: $showcase-background;
                        color: $showcase-text-color;
                    }
                }
            }

            .comment-author {
                height: 48px;
                line-height: 45px;
                background-color: $navigation-background;
                color: $navigation-text-color;

                a {
                    color: $navigation-text-color;
                    &:hover {
                        color: $showcase-background;
                    }
                }

                .author-avatar {
                    float: left;
                    margin-right: 10px;
                }

                .author-meta {
                    .author-name {
                        font-size: 1.4rem;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    time, .edit-link {
                        font-size: 0.8rem;
                    }
                }
            }

            .comment-content {
                padding: 10px 15px;

                .comment-reply {
                    text-align: right;
                }
            }
        }
    }

    #comments-nav {
        .comments-previous, .comments-next {
            width: 50%;
            float: left;
        }

        .comments-next {
            float: right;
            text-align: right;
        }
    }

    .respond {
        margin-top: 20px;
    }
}
