.platform-content {
    // Entries
    .entries {
        .tease {
            margin: $content-margin 0 $content-margin;
            padding: $content-padding 0 $content-padding;

            // Sticky Posts
            &.sticky {
                padding: $content-padding;
                background-color: #f2f2f2;

                .entry-title {
                    margin-top: 0;
                }
            }
        }
    }
}

// Search Form
.search-form {
    input.search-field {
        height: 40px;
        padding-top: 3px;
    }
}
