.platform-content {
    // Entries
    .entries {
        margin: 0 -$content-padding;

        .g-block {
            padding: 0 $content-padding;

            .tease {
                // Sticky Posts
                &.sticky {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}

// Search Form
.search-form {
    input.search-field {
        height: 40px;
        padding-top: 3px;
        color: $base-text-color;
    }
}
