// Pagination
.pagination, .page-links {
    @include breakpoint(mobile-only) {
        .pagination-list-item {
            margin-bottom: 0.8rem;
        }
    }

    .page-numbers, .prev, .next {
        padding: 0.3rem 1rem;
        background: #fafafa;
        border: 1px solid $base-border-color;
        border-radius: $core-border-radius;
    }
}
