// Pagination
.pagination, .page-links {
    margin: 1.5rem 0;

    .prev, .next, .page-numbers {
        display: inline-block;
        padding: 0.3rem 1rem;
        margin-bottom: 10px;
        background: #fafafa;
        border: 1px solid $base-border-color;
        border-radius: $core-border-radius;
    }
}

.page-links {
    text-align: center;
}
