{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2>Frequently Asked Questions</h2>
        <h5>Common Queries and Questions</h5>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>What prices are our services?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What is our refund policy?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What payments methods do we accept?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>What delivery options do we offer?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What support options are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What additional services are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
        <h2>Have Different Questions</h2>
        <h5>Please Contact Us If Your Question Is Not Listed Here</h5>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Email</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Chat</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Phone</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
    </div>

{% endblock %}
