{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2>Common Queries and Questions</h2>
        <h5>Frequently Asked Questions</h5>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Account</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Membership</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>API</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Legal Stuff</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
        <h2>Frequently Asked Questions</h2>
        <h5>Common Queries and Questions</h5>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>Installation</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Basic Usage</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Customization</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Development</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>Accounts</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Subscription</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Security</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Organization</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>Partnership</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Live Widget</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Web API</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Legal Stuff</h3>
              <ul class="help_list bullet_list">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Amat</a></li>
                <li><a href="#">Figus Terido</a></li>
                <li><a href="#">Savios Menor</a></li>
              </ul>
            </div>
        </div>
    </div>

{% endblock %}
