{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
        <h2>Frequently Asked Questions</h2>
        <h5>Common Queries and Questions</h5>
    </div>

    <div class="g-grid">
        <div class="g-block size-1-2">
            <div class="g-content">
              <h3>1. What prices are our services?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>2. What is our refund policy?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>3. What payments methods do we accept?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>4. What delivery options do we offer?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>5. What support options are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>6. What additional services are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
        <div class="g-block size-1-4">
            <div class="g-content">
              <h4><span class="fa fa-tasks fa-fw fa-2x"></span> Installation</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-file-text-o fa-fw fa-2x"></span> Basic Usage</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-image fa-fw fa-2x"></span> Customization</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-users fa-fw fa-2x"></span> Accounts</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
        </div>
        <div class="g-block size-1-4">
            <div class="g-content">
              <h4><span class="fa fa-shield fa-fw fa-2x"></span> Security</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-support fa-fw fa-2x"></span> Partnership</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-plug fa-fw fa-2x"></span> Widgets</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
            <div class="g-content">
              <h4><span class="fa fa-gears fa-fw fa-2x"></span> Web API</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#">Learn More</a>
            </div>
        </div>
    </div>

    <div class="center">
        <h2>Other Resources</h2>
        <h5>Please Contact Us If Your Question Is Not Listed Here</h5>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-globe fa-3x"></span>
              <h3>Site Tour</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-envelope-o fa-3x"></span>
              <h3>Ticket &amp; Email</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-comments fa-3x"></span>
              <h3>Talk With Us</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
    </div>

{% endblock %}
