{% extends "gantry/partials/base.html.twig" %}

{% block gantry %}
    <h2>
        Page Setup
        <a href="{{ gantry.route('page_setup_new') }}" class="button button-primary"><i class="fa fa-plus"></i></a>
    </h2>
    <div id="page-picker" class="cards-wrapper">
        <ul>
            <li class="card">
                <div class="page">
                    <h4>
                        Blog
                        <label class="enabler" for="page-picker0">
                            <input type="radio" name="page-picker" id="page-picker0" checked />
                            <div class="toggle">
                                <div class="knob"></div>
                            </div>
                        </label>
                    </h4>
                    <div class="inner-params">
                        <img src="http://www.placehold.it/200x250/f4f4f4" />
                    </div>
                    <div class="inner-params">
                    <span class="float-left">
                        <a href="{{ gantry.route('page_setup_edit') }}" class="button">
                            <i class="fa fa-pencil-square-o"></i>
                            Edit
                        </a>
                    </span>
                        <span class="float-right">23 positions</span>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="page">
                    <h4>
                        News
                        <label class="enabler" for="page-picker1">
                            <input type="radio" name="page-picker" id="page-picker1" />
                            <div class="toggle">
                                <div class="knob"></div>
                            </div>
                        </label>
                    </h4>
                    <div class="inner-params">
                        <img src="http://www.placehold.it/200x250/f4f4f4" />
                    </div>
                    <div class="inner-params">
                    <span class="float-left">
                        <a href="{{ gantry.route('page_setup_edit') }}" class="button">
                            <i class="fa fa-pencil-square-o"></i>
                            Edit
                        </a>
                    </span>
                        <span class="float-right">58 positions</span>
                    </div>
                </div>
            </li>
            <li class="card add-new">
                <div class="page">
                    <a href="{{ gantry.route('page_setup_new') }}"><i class="fa fa-plus"></i></a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
