<div class="showcase">
    {{ content }}

    {% for button in page.header.buttons %}
        <a class="button{% if button.primary %} primary{% endif %}" href="{{ base_url_relative }}{{ button.url }}">{{ button.text }}</a>
    {% endfor %}

</div>
