{% extends "@nucleus/page.html.twig" %}

{% set collection = page.collection() %}

{% block content %}
    {% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

    {% if blog_image %}
    <div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
    {% else %}
    <div class="blog-header">
    {% endif %}
        {{ page.content|raw }}
    </div>

    {% for child in collection %}
        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
{% endblock %}
