{% extends "@nucleus/page.html.twig" %}

{% set collection = page.collection() %}

{% block content %}

    {% if page.content %}
    <div class="blog-header">
        {{ page.content|raw }}
    </div>
    {% endif %}

    {% for child in collection %}
        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
{% endblock %}
