{% extends 'partials/base.html.twig' %}
{% set layout = 'fullwidth' %}

{% block content_full %}
    <div class="content-padding">
        {{ content }}

        <div class="alert">{{ form.message }}</div>

        Here is the summary of what you wrote to us:

        {% include "forms/data.html.twig" %}
    </div>
{% endblock %}
