.btn .caret {
	border-top-color: $white;
}

.btn-group.open .btn.dropdown-toggle {
	background: darken($accent-color-1, 5%);
	box-shadow: inset -1px -1px 1px rgba(0,0,0,0.15);
	color: $white;
}

.btn-primary {
	background: $accent-color-1;
	color: $white;
	text-shadow: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	&:hover {
		background: lighten($accent-color-1, 5%);
		color: $white;
	}
	&:active, &:focus {
		background: darken($accent-color-1, 5%);
		box-shadow: inset -1px -1px 1px rgba(0,0,0,0.15);
		color: $white;
	}
}