// Pagination
.pagination, .page-links {

    ul.pagination-list {
        font-size: 0;
        display: inline-block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        @include prefixer(border-radius, 4px, webkit moz spec);

        @include breakpoint(mobile-only) {
            box-shadow: none;
        }

        li.pagination-list-item {
            font-size: $core-font-size;
            margin-bottom: 0;

            > a, > span {
                float: left;
                padding: 4px 12px;
                line-height: 20px;
                text-decoration: none;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-left-width: 0;

                &:hover, &:focus {
                    background-color: #f5f5f5;
                }

                @include breakpoint(mobile-only) {
                    border: none;
                }
            }

            &:first-child {
                > a, > span {
                    border-left-width: 1px;
                    @include prefixer(border-top-left-radius, 4px, webkit moz spec);
                    @include prefixer(border-bottom-left-radius, 4px, webkit moz spec);

                    @include breakpoint(mobile-only) {
                        border-radius: 0;
                    }
                }
            }

            &:last-child {
                > a, > span {
                    border-right-width: 1px;
                    @include prefixer(border-top-right-radius, 4px, webkit moz spec);
                    @include prefixer(border-bottom-right-radius, 4px, webkit moz spec);

                    @include breakpoint(mobile-only) {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    p.counter {
        margin: 0;

        @include breakpoint(mobile-only) {
            display: none;
        }
    }
}
