<!DOCTYPE html>
<html lang="en">

    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}

    <body>
        {% set content %}
        {% block content %}
            Sorry, no content!
        {% endblock %}
        {% endset %}

        {% include '@nucleus/container.html.twig' with {segments: pageSegments} %}
    </body>
</html>
