{% extends "@nucleus/page.html.twig" %}

{% block content %}
    <jdoc:include type="message" />
    <h1>{{ errorcode|default(500) }} {{ error|default('Unknown Error') }}</h1>
    {{ backtrace }}
{% endblock %}
