{% extends "partials/page.html.twig" %}

{% block page_head -%}
    {% include 'partials/error_head.html.twig' %}
{%- endblock %}

{% block content %}
    <h1>{{ errorcode|default(500) }} {{ error|default('Unknown Error') }}</h1>
    {{ backtrace|raw }}
{% endblock %}
