{% extends "partials/page.html.twig" %}
{% set twigTemplate = '404.html.twig' %}

{% block content %}

    <h1>404 Not Found</h1>
    <p>Sorry, we couldn't find what you're looking for.</p>

{% endblock %}
