{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'author.html.twig' %}
{% set scope = 'archive' %}

{% block content %}

    {# Enable WordPress specific CSS styling #}
    {% do gantry.theme.wordpress(true) %}

    <div class="platform-content">
        <div class="author">

            {# Begin Page Header #}
            {% if gantry.config.get('content.' ~ scope ~ '.heading.enabled', '0') and gantry.config.get('content.' ~ scope ~ '.heading.text') is not empty %}
                <header class="page-header">
                    <h1>
                        {{ gantry.config.get('content.' ~ scope ~ '.heading.text') }}
                    </h1>
                </header>
            {% else %}
                <header class="page-header">
                    <h1>
                        {{ title }}
                    </h1>
                </header>
            {% endif %}
            {# End Page Header #}

            {# Begin Post Entries #}
            <div class="entries">
                {% for post in posts %}
                    {% include ['partials/content-' ~ scope ~ '.html.twig', 'partials/content-' ~ post.post_type ~ '.html.twig', 'partials/content.html.twig'] %}
                {% endfor %}
            </div>
            {# End Post Entries #}

            {# Begin Pagination #}
            {% if pagination.pages and pagination.pages|length > 1 %}
                {% include 'partials/pagination.html.twig' %}
            {% endif %}
            {# End Pagination #}

        </div>
    </div>

{% endblock %}
