{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'offline.html.twig' %}

{% block content %}

    <h1>{{ __('Page Offline', 'g5_hydrogen') }}</h1>
    <p>{{ __( 'Offline Message!', 'g5_hydrogen' ) }}</p>

{% endblock %}
