{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'page-plugin.html.twig' %}

{% block content %}

    <div class="platform-content">
        <div class="plugin-content">
            {{ content|raw }}
        </div> <!-- /content-wrapper -->
    </div>

{% endblock %}
