{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'page-plugin.html.twig' %}

{% block content %}

    <div class="g-container content-wrapper">
        {{ content }}
    </div> <!-- /content-wrapper -->

{% endblock %}
