{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'page-plugin.html.twig' %}

{% block content %}

    {# Enable WordPress specific CSS styling #}
    {% do gantry.theme.wordpress(true) %}

    <div class="platform-content">
        <div class="plugin-content">
            {{ content }}
        </div> <!-- /content-wrapper -->
    </div>

{% endblock %}
