<div class="grid pure-g">
    <div class="block size-1-6 pure-u-1-6">
    </div>
    <div class="block pure-u-3-4">
        <div class="content">
            Copyright {{"now"|date('Y')}}
        </div>
    </div>
    <div class="block size-1-6 pure-u-1-6">
    </div>
</div>
