{% set headerContent %}
{% block stylesheets %}
{% endblock %}
{% block javascript %}
{% endblock %}
{% endset %}
{% do parseHtmlHeader(headerContent) %}

{% set footerContent %}
{% block javascript_footer %}
{% endblock %}
{% endset %}
{% do parseHtmlHeader(footerContent, true) %}

{% if particle.title %}
<h4>{{ particle.title|apply_filters('widget_title') }}</h4>
{% endif %}
{% block particle %}
{% endblock %}
