{% set html %}
   {% include ['particles/' ~ segment.attributes.name ~ '.html.twig',
   '@nucleus/particles/' ~ segment.attributes.name ~ '.html.twig']
   ignore missing with {gantry: gantry, particle: config.particles[segment.attributes.name] } %}
{% endset %}

{% if html|trim %}
<div class="content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
    {{ html }}
</div>
{% endif %}
