// Body Base
body #g5-container {
    font-family: $font-family-default;
}

#g5-container {//wrapper

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    @extend strong;
}

h6 {
    text-transform: uppercase;
}

// Strong
strong {
    font-family: $font-family-bold;
}

// Page Title
.page-title {
    margin-top: -25px;
    padding: 25px;
    float: left;
    clear: both;
    background: $core-accent;
    color: $white;
}

}//endwrapper
