.size-100 {
  width: 100%;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.gallery.gallery-columns-1 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 100%;
  -moz-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
}
.gallery.gallery-columns-2 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 50%;
  -moz-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}
.gallery.gallery-columns-3 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 33.33333%;
  -moz-flex: 0 33.33333%;
  -ms-flex: 0 33.33333%;
  flex: 0 33.33333%;
}
.gallery.gallery-columns-4 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 25%;
  -moz-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%;
}
.gallery.gallery-columns-5 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 20%;
  -moz-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%;
}
.gallery.gallery-columns-6 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 16.66667%;
  -moz-flex: 0 16.66667%;
  -ms-flex: 0 16.66667%;
  flex: 0 16.66667%;
}
.gallery.gallery-columns-7 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 14.28571%;
  -moz-flex: 0 14.28571%;
  -ms-flex: 0 14.28571%;
  flex: 0 14.28571%;
}
.gallery.gallery-columns-8 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 12.5%;
  -moz-flex: 0 12.5%;
  -ms-flex: 0 12.5%;
  flex: 0 12.5%;
}
.gallery.gallery-columns-9 .gallery-item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 11.11111%;
  -moz-flex: 0 11.11111%;
  -ms-flex: 0 11.11111%;
  flex: 0 11.11111%;
}
.gallery .gallery-item {
  margin: 1rem 0;
  text-align: center;
}
.gallery .gallery-caption {
  margin-left: 0;
}



/*# sourceMappingURL=wordpress.css.map */