// Core
$core-accent:                   #3180C2;
$white:							#fff;
$light-gray:					#ddd;

// Body
$body-bg:                       #404040;

// Headers
$main-header-text:				#fff;
$inner-header-bg:				#222;
$inner-header-text:				$core-accent;
$update-header-bg:				#8F4DAE;