%button {
	display: inline-block;
	padding: 8px 15px;
	font-size: $core-font-size - 0.2;
	font-family: $font-family-alt;
	text-transform: uppercase;
}

@mixin button-color($color: $core-accent, $text: $white) {
	background: $color;
	color: $text;
	&:hover {
		background: lighten($color, 10%);
		color: $text;
	}
}
