{% extends "@nucleus/partials/module.html.twig" %}

{% set title = 'Welcome to Gantry Playground!' %}

{% block module %}
    <p>Gantry Playground is a platform independent usability testing environment for all Gantry themes.</p>
{% endblock %}
