#rt-offline {
	#rt-header-surround {
		padding-top: 0;
	}
}
#system-message-container {
    position: relative;
    z-index: 1000;
}
.rt-offline-logo {
	width: 240px;
	margin: 0 auto 50px auto;
	#rt-logo {
		margin: 0 auto;
	}
}
.rt-logo-block {
	background: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
}
.rt-offline-body {
	margin: 150px auto;
	padding: 80px 0;
	background: fadeout($core-accent, 50%);
	width: 80%;
	border-radius: 3px;
	@include breakpoint(mobile-only) {
		width: 100%;
		margin: 50px 0;
	}
	@include breakpoint(small-mobile-range) {
		width: 100%;
		margin: 0;
	}
	a {
		color: darken($core-accent, 45%);
		&:hover {
			color: inherit;
		}
	}
}
.rt-offline-title {
	margin: 30px 0;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.rt-offline-message,
.rt-authorized-login-message {
	text-align: center;
	width: 50%;
	margin: auto;
}

.rt-subscription-title,
.rt-authorized-form-title {
	font-size: 160%;
	margin-bottom: 25px;
	text-align: center;
}

#rt-subscription-form {
	padding: 80px 0;
	width: 100%;
	.container {
		background: none;
	}
	.inputbox {
		border: 1px solid darken($white, 15%);
	}
}

#rt-authorized-form {
	padding: 50px 0;
}

.rt-offline-form,
.rt-authorized-login-form {
    margin: auto;
    text-align: center;
    width: 90%;
	.inputbox {
		color: $gray;
		border: 1px solid darken($white, 15%);
		@include linear-gradient(fadeout($white, 30%), fadeout($white, 30%));
		width: 280px;
		&.rt-secretkey-input {
			width: 100px;
		}
	}
}

.rt-secretkey-help {
	padding: 0 10px;
	vertical-align: middle;
}

#rt-form-login {
	margin: 25px auto;
}

// Mobile Modes
@include breakpoint(mobile-only) {
	.rt-offline-body {
		padding: 50px 0;
	}
	.rt-offline-title {
		letter-spacing: 5px;
		width: 80%;
		margin: auto;
	}
	.rt-offline-form,
	.rt-authorized-login-form {
		.inputbox, .button {
			width: 80%;
		    height: 40px;
		    margin: auto;
			display: block;
		}
		.inputbox {
			margin: 15px auto;
		}
		.readon, .button {
		    padding: 10px 25px;
		}
	}
	#rt-subscription-form {
		background-position: 50% 150px;
	}
}

// Small Screen Mobile Modes
@include breakpoint(small-mobile-range) {
	.rt-offline-title {
		font-size: 1.5em;
		letter-spacing: 3px;
		width: 90%;
		margin: auto;
	}
}