<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<form method="post" action="{S_LOGIN_ACTION}" id="login-form">
	<fieldset class="userdata">
		<p id="form-login-username">
			<input type="text" name="username" id="modlgn-username" class="inputbox" value="{L_USERNAME}" alt="{L_USERNAME}"
			onblur="if(this.value=='') this.value='{L_USERNAME}';" onfocus="if(this.value=='{L_USERNAME}') this.value='';"
			/>
		</p>

		<p id="form-login-password">
			<input type="password" name="password" id="modlgn-passwd" class="inputbox" alt="{L_PASSWORD}"
			onblur="if(this.value=='') this.value='{L_PASSWORD}';" onfocus="if(this.value=='{L_PASSWORD}') this.value='';"
			/>
		</p>

		<!-- IF S_AUTOLOGIN_ENABLED -->
		<p id="form-login-remember">
			<input type="checkbox" name="autologin" id="autologin" class="checkbox" value="yes" alt="{L_LOG_ME_IN}" /> 
			<label class="remember">
				{L_LOG_ME_IN} 
			</label>
		</p>
		<!-- ENDIF -->
		<input type="submit" name="login" class="button" value="{L_LOGIN}" /> 
		{S_LOGIN_REDIRECT}
		<div class="clr"></div>
	</fieldset>
</form>
<!-- ELSE -->

<!-- IF CURRENT_USER_AVATAR -->
<a href="{U_USER_PROFILE}" class="header-avatar">{CURRENT_USER_AVATAR}</a>
<!-- ENDIF -->
{CURRENT_USERNAME_FULL} logged in.
<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a>

<!-- ENDIF -->