<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
<div id="search-box" class="search-box search-header">
    <form action="{U_SEARCH}" method="get" id="search">
    <fieldset>
        <input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
        <button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
        <a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
        {S_SEARCH_HIDDEN_FIELDS}
    </fieldset>
    </form>
</div>
<!-- ENDIF -->
