<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
<form action="{U_SEARCH}" method="post" id="rokajaxsearch" class="light">
	<div class="rokajaxsearch">
		<div class="roksearch-wrapper"><input name="keywords" id="roksearch_search_str" type="text" title="{L_SEARCH_KEYWORDS}" class="inputbox" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->"
			onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /></div>
			<div class="clr"></div>
		</div>
		<a href="{U_SEARCH}" class="button" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
		{S_SEARCH_HIDDEN_FIELDS}
	</form>
<!-- ENDIF -->
