{% for name, field in blueprints.fields %}
    {% if field.type and name not in skip %}
        {% set field = field + {'name': prefix ~ name} %}
        {% set value = data.get(field.name) %}

        <div class="block block-{{ field.type }}">
            {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/unknown/unknown.html.twig'] %}
        </div>
    {% endif %}
{% endfor %}

{% if data.extra %}
{% for name, value in data.extra %}
    {% set field = {name: '_json.' ~ name} %}
    {% set value = value|json_encode|e %}
    {% include 'forms/fields/hidden/hidden.html.twig' %}
{% endfor %}
{% endif %}
