<div class="settings-param">
    <span class="settings-param-title float-left">
        {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e }}">{{ field.label|e }}</span>
        {% else %}
            {{ field.label|e }}
        {% endif %}
        {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </span>
    <div class="settings-param-field">
        {% block input %}
        {% endblock %}
    </div>
</div>
