{% extends "@nucleus/partials/module.html.twig" %}

{% block module %}
	<h2>Welcome to Gantry 5</h2>
    <p>Gantry Playground is a platform independent usability testing environment for all Gantry themes.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula. Praesent et nulla eu augue tempus sagittis. Mauris faucibus nibh et nibh cursus in vestibulum sapien egestas. Curabitur ut lectus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#" class="button">Read More</a>
{% endblock %}
