// Float Classes
.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

// Visibility (additional responsive based classes available in the visibility particle)
.hide {
	display: none;
}

// Clearfix
.clearfix {
	@include clearfix;
}