// Core
$core-text:                     #666;
$core-accent:                   #5D9CEC;
$secondary-link:                #F8B450;
$white:                         #fff;
$black:                         #000;
$light-gray:                    #eee;
$medium-gray:                   #ccd1d9;
$dark-gray:                     #656d78;

$blue-gray:                     #54606e;
$aqua:                          #4fc1e9;
$yellow:                        #ffce54;
$green:                         #a0d468;
$orange:                        #fc6e51;
$red:                           #ed5565;
$lavender:                      #ac92ec;
$pink:                          #ec87c0;

// Body
$body-bg:                       #122749;

// Headers
$main-header-text:				$white;
$inner-header-bg:				lighten($body-bg, 15%);
$inner-header-text:				#3180C2;

// Sidebar
$sidebar-bg:                    #DADADA;
$sidebar-color:                 #888888;
$sidebar-active:                #314C59;
$sidebar-active-color:          $white;
$sidebar-border:				#C6C6C6;

// Main
$main-bg:                       #eeeeee;

// Mode Indicator
$production:                    #3180C2;//#bceb9e;//#85db81;
$development:                   #f27a40;//#fbba79;//#ef5d5d;
