// Core
$core-text:                     #666;
$secondary-text:				#314C59;
$core-accent:                   #439A86;
$secondary-accent:              #729DAE;
$tertiary-accent:              	#48B0D7;
$white:                         #fff;
$black:                         #000;
$light-gray:                    #eee;
$medium-gray:                   #ddd;
$dark-gray:                     #666;

$blue-gray:                     #54606e;
$aqua:                          #4fc1e9;
$yellow:                        #ffce54;
$green:                         #a0d468;
$orange:                        #fc6e51;
$red:                           #ed5565;
$lavender:                      #ac92ec;
$pink:                          #ec87c0;

// Buttons
$button-bg:						#999999;

// Mode Indicator
$production:                    $core-accent;
$development:                   #f27a40;

// Body
$body-bg:                       #354D59;

// Headers
$main-header-text:				$white;
$inner-header-bg:				#253A47;
$inner-header-text:				$production;
$update-header-bg:				#8F4DAE;

// Main
$main-bg:                       #eeeeee;

// Sidebar
$sidebar-bg:                    #DADADA;
$sidebar-border:				#C6C6C6;
$sidebar-color:                 #888888;
$sidebar-active:                $main-bg;
$sidebar-active-color:          $secondary-text;

// Menu Editor
$menu-editor-bg:				#b3b3b3;
