// Core
$core-text:                     #666;
$secondary-text:				#314C59;
$core-accent:                   #439A86;
$secondary-accent:              #729DAE;
$tertiary-accent:              	#48B0D7;
$white:                         #fff;
$black:                         #000;
$light-gray:                    #eee;
$medium-gray:                   #ddd;
$dark-gray:                     #666;

$blue-gray:                     #54606e;
$aqua:                          #4fc1e9;
$yellow:                        #ffce54;
$green:                         #a0d468;
$orange:                        #fc6e51;
$red:                           #ed5565;
$lavender:                      #ac92ec;
$pink:                          #ec87c0;
$blue: 							#3288e6;

// Buttons
$button-bg:						#999999;

// Body
$body-bg:                       #354D59;

// Headers
$main-header-text:				$white;
$inner-header-bg:				#253A47;
$inner-header-text:				$core-accent;
$update-header-bg:				#8F4DAE;

// Main
$main-bg:                       #eeeeee;

// NavBar
$navbar-bg:                    	#DADADA;
$navbar-border:					#C6C6C6;
$navbar-color:                 	#808080;
$navbar-active:                	$main-bg;
$navbar-active-color:          	$secondary-text;

// Menu Editor
$menu-editor-bg:				#b3b3b3;
