// Font Family
$font-family-default:           "opensanslight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-bold:              "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

// Sidebar
$sidebar-font-size:             $core-font-size - 0.2;
