// Font Family
$font-family-default:           "roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-weight-regular:			400;
$font-weight-medium:			500;
$font-weight-bold:				700;

// NavBar
$navbar-font-size:             $core-font-size - 0.2;
