// Font Family
$font-family-default:           "g-lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-bold:              "g-lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-headers:			"g-montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

// NavBar
$navbar-font-size:             $core-font-size - 0.2;
