// Load Admin Configuration
@import "configuration/admin/base";

// Core
@import "joomla-admin/core";

// Buttons
@import "joomla-admin/buttons";

// Headers
@import "joomla-admin/headers";

// Overview
@import "joomla-admin/overview";

// Typography
@import "joomla-admin/typography";

// Assignments
@import "joomla-admin/navbar";

// Settings
@import "joomla-admin/settings";
