<!doctype html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
    {% block html_head_container %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}

    <body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">
        <!-- EVENT overall_header_body_before -->
        {% set content %}
            {% block content %}
                Sorry, no content
            {% endblock %}
        {% endset %}

        {% include '@nucleus/container.html.twig' with {segments: pageSegments} %}

        <!-- EVENT overall_footer_page_body_after -->

        <script type="text/javascript" src="{T_JQUERY_LINK}"></script>
        <!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
        <script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
        <!-- INCLUDEJS forum_fn.js -->
        <!-- INCLUDEJS ajax.js -->

        <!-- EVENT overall_footer_after -->

        <!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
        {$SCRIPTS}
    </body>
</html>
