@charset "UTF-8";
.sprocket-features.layout-showcase .sprocket-features-arrows .arrow {
  border-radius: 0;
  background: #66BDBB; }

.sprocket-strips .sprocket-strips-arrows .arrow {
  border-radius: 100%; }

.sprocket-features.layout-showcase .sprocket-features-pagination li {
  border: 2px solid #66BDBB;
  padding: 5px;
  background: transparent; }
  .sprocket-features.layout-showcase .sprocket-features-pagination li.active {
    border: 2px solid #48a8a5;
    background: #66BDBB; }

@media only all and (min-width: 60rem) and (max-width: 74.938rem) {
  .sprocket-features-title {
    font-size: 2.75rem;
    line-height: 2.625; } }
@media only screen and (min-width: 1280px) and (max-width: 1499px) {
  body.sideslider-type-static#with-sideslider .sprocket-features-title {
    font-size: 2.75rem;
    line-height: 2.625; } }
@media only all and (min-width: 48rem) and (max-width: 59.938rem) {
  .sprocket-features-title {
    font-size: 2.25rem;
    line-height: 2.325; } }
@media only screen and (min-width: 1080px) and (max-width: 1279px) {
  body.sideslider-type-static#with-sideslider .sprocket-features-title {
    font-size: 2.25rem;
    line-height: 2.325; } }
@media only all and (max-width: 47.938rem) {
  .sprocket-features-title {
    font-size: 1.85rem;
    line-height: 1.875; } }
@media only screen and (max-width: 1079px) {
  body.sideslider-type-static#with-sideslider .sprocket-features-title {
    font-size: 1.85rem;
    line-height: 1.875; } }

.layout-scroller .sprocket-features-flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
.layout-scroller .sprocket-features-pagination {
  color: #fff; }
  .layout-scroller .sprocket-features-pagination li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .layout-scroller .sprocket-features-pagination li:first-child {
      border-top: 0; }
    .layout-scroller .sprocket-features-pagination li:last-child {
      border-bottom: 0; }
.layout-scroller #sprocket-features-scroller-scrollbar .scrollbar, .layout-scroller #sprocket-features-scroller-scrollbar .track {
  background: none; }
.layout-scroller #sprocket-features-scroller-scrollbar .thumb, .layout-scroller #sprocket-features-scroller-scrollbar .end {
  background: fadeout(#50a66a, 25%); }
.layout-scroller #sprocket-features-scroller-scrollbar .scrollbar {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
.layout-scroller #sprocket-features-scroller-scrollbar:hover .scrollbar {
  opacity: 1; }

@media only all and (max-width: 47.938rem) {
  .sprocket-tabs .sprocket-tabs-nav li {
    float: none;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0; } }
.sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner {
  color: #555555;
  background: none;
  padding: 8px 25px;
  border-radius: 3px;
  opacity: 1; }
  @media only all and (max-width: 47.938rem) {
    .sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner {
      padding: 0; } }
.sprocket-tabs .sprocket-tabs-nav > li:hover > .sprocket-tabs-inner {
  background: #e6e6e6; }
.sprocket-tabs .sprocket-tabs-nav > li.active > .sprocket-tabs-inner, .sprocket-tabs .sprocket-tabs-nav > li.active:hover > .sprocket-tabs-inner {
  color: #fff;
  background: #a6a6a6; }
.sprocket-tabs .sprocket-tabs-panels {
  border: 0; }
  @media only all and (max-width: 47.938rem) {
    .sprocket-tabs .sprocket-tabs-panels {
      margin-top: 0;
      padding-top: 0;
      text-align: center; } }

.sprocket-lists .sprocket-lists-container .sprocket-lists-title {
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }
  .sprocket-lists .sprocket-lists-container .sprocket-lists-title .indicator:before {
    font-size: 1em; }

.sprocket-mosaic .sprocket-mosaic-filter li, .sprocket-mosaic .sprocket-mosaic-order li {
  color: inherit;
  background: transparent;
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }
.sprocket-mosaic .sprocket-padding .sprocket-mosaic-tags {
  background: #80C294;
  padding: 10px 5px;
  text-align: center; }
  .sprocket-mosaic .sprocket-padding .sprocket-mosaic-tags li {
    background: transparent;
    font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold; }
    .sprocket-mosaic .sprocket-padding .sprocket-mosaic-tags li:before {
      font-family: FontAwesome;
      content: '\f0f4';
      margin: 0 5px; }
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-head {
  padding: 15px 15px 0 15px; }
.sprocket-mosaic .sprocket-mosaic-item .sprocket-mosaic-text {
  padding: 0 15px 15px 15px;
  margin: 0; }
.sprocket-mosaic .sprocket-mosaic-title {
  font-size: 2em;
  line-height: 1.35em;
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: bold; }
  .sprocket-mosaic .sprocket-mosaic-title a {
    text-decoration: none; }
.sprocket-mosaic .sprocket-mosaic-loadmore {
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #555555;
  border: 2px solid #e6e6e6;
  background: #f2f2f2;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .sprocket-mosaic .sprocket-mosaic-loadmore:hover, .sprocket-mosaic .sprocket-mosaic-loadmore.loader {
    color: #fff;
    background: #66BDBB;
    border: 2px solid #419694; }
.sprocket-mosaic .loadmore-text {
  text-transform: uppercase;
  font-weight: bold; }
.sprocket-mosaic .sprocket-mosaic-filter, .sprocket-mosaic .sprocket-mosaic-order {
  text-align: center; }
  .sprocket-mosaic .sprocket-mosaic-filter ul, .sprocket-mosaic .sprocket-mosaic-order ul {
    list-style: none;
    display: inline; }
    .sprocket-mosaic .sprocket-mosaic-filter ul li, .sprocket-mosaic .sprocket-mosaic-order ul li {
      display: inline;
      padding: 0 !important; }
      .sprocket-mosaic .sprocket-mosaic-filter ul li span, .sprocket-mosaic .sprocket-mosaic-order ul li span {
        display: block;
        float: left;
        height: 30px;
        background: #e6e6e6;
        text-align: center;
        padding: 10px 20px 0 40px;
        position: relative;
        margin: 0 5px 0 0;
        text-decoration: none;
        color: #000;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        @media only all and (min-width: 60rem) and (max-width: 74.938rem) {
          .sprocket-mosaic .sprocket-mosaic-filter ul li span, .sprocket-mosaic .sprocket-mosaic-order ul li span {
            padding: 10px 10px 0 40px; } }
        @media only all and (min-width: 48rem) and (max-width: 59.938rem) {
          .sprocket-mosaic .sprocket-mosaic-filter ul li span, .sprocket-mosaic .sprocket-mosaic-order ul li span {
            padding: 10px 5px 0 35px; } }
        @media only all and (max-width: 47.938rem) {
          .sprocket-mosaic .sprocket-mosaic-filter ul li span, .sprocket-mosaic .sprocket-mosaic-order ul li span {
            margin: 5px;
            padding: 10px 10px 0 30px; } }
        .sprocket-mosaic .sprocket-mosaic-filter ul li span:after, .sprocket-mosaic .sprocket-mosaic-order ul li span:after {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #e6e6e6;
          position: absolute;
          right: -20px;
          top: 0;
          z-index: 1;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .sprocket-mosaic .sprocket-mosaic-filter ul li span:before, .sprocket-mosaic .sprocket-mosaic-order ul li span:before {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #fff;
          position: absolute;
          left: 0;
          top: 0;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .sprocket-mosaic .sprocket-mosaic-filter ul li span:hover, .sprocket-mosaic .sprocket-mosaic-order ul li span:hover {
          color: #fff;
          background: #000; }
          .sprocket-mosaic .sprocket-mosaic-filter ul li span:hover:after, .sprocket-mosaic .sprocket-mosaic-order ul li span:hover:after {
            border-left-color: #000; }
      .sprocket-mosaic .sprocket-mosaic-filter ul li:last-child span, .sprocket-mosaic .sprocket-mosaic-order ul li:last-child span {
        padding-right: 20px; }
      .sprocket-mosaic .sprocket-mosaic-filter ul li.active span, .sprocket-mosaic .sprocket-mosaic-order ul li.active span {
        color: #fff;
        background: #000; }
        .sprocket-mosaic .sprocket-mosaic-filter ul li.active span:after, .sprocket-mosaic .sprocket-mosaic-order ul li.active span:after {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #000;
          position: absolute;
          right: -20px;
          top: 0;
          z-index: 1; }
.sprocket-mosaic .sprocket-mosaic-order {
  margin-right: 17px; }

.sprocket-strips .sprocket-strips-title {
  font-size: 2em;
  line-height: 1.35em;
  font-family: "nexa", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: bold; }

.sprocket-tables .sprocket-tables-link .readon {
  color: #66BDBB;
  border: 1px solid #66BDBB;
  background: none;
  display: inline-block;
  padding: 8px 20px;
  line-height: normal;
  font-size: 3rem;
  border-radius: 0;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .sprocket-tables .sprocket-tables-link .readon:hover {
    color: #fff;
    background: #8acccb; }
  .demostyle-type-preset5 .sprocket-tables .sprocket-tables-link .readon {
    color: #80C294;
    border-color: #80C294; }
    .demostyle-type-preset5 .sprocket-tables .sprocket-tables-link .readon:hover {
      background: #a2d3b1; }

#roksearch_search_str {
  width: 100%; }

#roksearch_results {
  background: #ebebeb;
  border: 1px solid #e6e6e6; }
  #roksearch_results .roksearch_result_wrapper1 {
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff, #ebebeb);
    background-image: linear-gradient(#fff, #ebebeb); }
    #roksearch_results .roksearch_result_wrapper1:hover {
      background-color: #e3f3f2;
      background-image: -webkit-linear-gradient(#e3f3f2, #bfe3e3);
      background-image: linear-gradient(#e3f3f2, #bfe3e3);
      color: #317271;
      border-color: #4bafad; }
  #roksearch_results span.highlight {
    color: #fff;
    background-color: #398482;
    text-shadow: none; }
  #roksearch_results a#roksearch_link {
    background: none; }

#rokajaxsearch {
  margin: 0; }
  #rokajaxsearch > .rokajaxsearch {
    background: none;
    box-shadow: none;
    border: none; }

.rokajaxsearch .search_options {
  margin-top: 8px;
  padding-bottom: 15px; }
  .rokajaxsearch .search_options label {
    margin-right: 10px !important; }
    .rokajaxsearch .search_options label input[type="radio"], .rokajaxsearch .search_options label input[type="checkbox"] {
      margin: 0 5px 0 0; }
.rokajaxsearch .clr {
  clear: both; }
.rokajaxsearch .searchintro {
  overflow: hidden; }

#roksearch_results {
  z-index: 10000;
  position: absolute;
  width: 400px;
  float: right;
  text-align: left;
  visibility: hidden;
  margin-top: 5px; }
  @media only all and (max-width: 30rem) {
    #roksearch_results {
      width: 90% !important; } }
  #roksearch_results .small {
    display: inline;
    position: relative;
    text-align: inherit;
    bottom: 0;
    right: 0;
    font-size: 11px;
    font-style: italic; }
  #roksearch_results a.clr {
    margin: 10px 0 5px 0; }
  #roksearch_results h3 {
    margin-top: 0;
    margin-bottom: 2px;
    line-height: 110%;
    font-size: 110%;
    padding-bottom: 0; }
  #roksearch_results .container-wrapper {
    overflow: hidden; }
  #roksearch_results .page {
    float: left; }
  #roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {
    padding: 10px 15px;
    line-height: 130%;
    text-transform: none;
    font-weight: normal;
    font-size: 14px; }
  #roksearch_results .roksearch_row_btm {
    overflow: hidden;
    border-top: 1px solid #e0e0e0; }
  #roksearch_results .roksearch_even, #roksearch_results .roksearch_odd {
    padding: 15px;
    border-bottom: none; }
    #roksearch_results .roksearch_even span, #roksearch_results .roksearch_odd span {
      margin-top: 15px;
      line-height: 140%; }
      #roksearch_results .roksearch_even span.highlight, #roksearch_results .roksearch_odd span.highlight {
        margin-top: 0;
        padding: 0 3px; }
  #roksearch_results .viewall {
    float: left;
    margin: 0 5px; }
    #roksearch_results .viewall span {
      line-height: 130%;
      text-transform: none; }
  #roksearch_results .estimated_res {
    font-size: 9px;
    font-style: italic;
    text-transform: none;
    float: left; }
  #roksearch_results .pagination_res {
    font-style: normal;
    float: right;
    text-transform: none;
    font-size: 11px; }
    #roksearch_results .pagination_res span {
      padding: 0 5px; }
  #roksearch_results .powered-by-google {
    text-transform: lowercase;
    font-style: italic;
    font-size: 9px; }
  #roksearch_results .google-search #roksearch_link {
    margin-top: 5px; }
  #roksearch_results .google-thumb-image {
    margin: 0 auto; }
  #roksearch_results .readon {
    margin-top: 15px; }
    #roksearch_results .readon span, #roksearch_results .readon .button {
      font-size: 13px;
      line-height: 22px; }
  #roksearch_results .container-arrows {
    height: 12px;
    width: 30px;
    float: left;
    margin-right: 5px;
    position: relative; }
  #roksearch_results #roksearch_link:before {
    content: "×";
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 100; }
  #roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {
    position: absolute; }
    #roksearch_results .arrow-left:before, #roksearch_results .arrow-left-disabled:before, #roksearch_results .arrow-right:before, #roksearch_results .arrow-right-disabled:before {
      font-family: FontAwesome;
      font-size: 1.3em; }
  #roksearch_results .arrow-left, #roksearch_results .arrow-right {
    cursor: pointer; }
    #roksearch_results .arrow-left:before, #roksearch_results .arrow-right:before {
      color: #66BDBB; }
  #roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled {
    left: 0; }
    #roksearch_results .arrow-left:before, #roksearch_results .arrow-left-disabled:before {
      content: '\f104'; }
  #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {
    left: 18px; }
    #roksearch_results .arrow-right:before, #roksearch_results .arrow-right-disabled:before {
      content: '\f105'; }

.rokbox-wrapper .rokbox-outer .rokbox-row .rokbox-inner .rokbox-container .rokbox-content {
  color: #595959;
  background: #fff; }

.rg-sc .rg-scr-info {
  position: absolute;
  left: 0;
  right: 0; }
.rg-sc .layout-left .rg-scr-info {
  left: 0; }
.rg-sc .layout-right .rg-scr-info {
  right: 0; }
.rg-sc .rg-scr-content {
  vertical-align: top; }
.rg-sc .rg-scr-title-span {
  margin: 0 0 15px 0; }
.rg-sc .rg-scr-desc-surround {
  clear: both; }
.rg-sc .rg-ss-title {
  line-height: 180%; }
.rg-sc .rg-ss-caption {
  text-indent: 0;
  line-height: 180%; }

.rg-sc-slide .rg-sc-title-span {
  margin: 0 0 15px 0; }
.rg-sc-slide .rg-sc-desc-surround {
  clear: both; }

.rg-ss-controls.onhover {
  visibility: hidden; }

.rg-ss-slice-container:hover .rg-ss-controls.onhover {
  visibility: visible; }

.rg-ss-container .arrows-enabled .rg-ss-thumb-scroller {
  margin: 0 10px; }
.rg-ss-container .rg-ss-title {
  margin-bottom: 25px; }
.rg-ss-container .rg-ss-caption {
  text-indent: 0; }

@media only all and (min-width: 48rem) and (max-width: 59.938rem) {
  .sprocket-mosaic-columns-1 > li,
  .sprocket-mosaic-columns-5 > li,
  .sprocket-mosaic-columns-7 > li,
  .sprocket-mosaic-columns-11 > li {
    width: 100% !important; }

  .sprocket-mosaic-columns-2 > li,
  .sprocket-mosaic-columns-1 > li {
    width: 50% !important; }

  .sprocket-mosaic-columns-4 > li,
  .sprocket-mosaic-columns-8 > li,
  .sprocket-mosaic-columns-12 > li {
    width: 25% !important; }

  .sprocket-mosaic-columns-3 > li,
  .sprocket-mosaic-columns-6 > li,
  .sprocket-mosaic-columns-9 > li {
    width: 33.33% !important; }

  .sprocket-strips-container.cols-1 li,
  .sprocket-strips-container.cols-5 li,
  .sprocket-strips-container.cols-7 li,
  .sprocket-strips-container.cols-11 li {
    width: 100% !important; }

  .sprocket-strips-container.cols-2 li,
  .sprocket-strips-container.cols-10 li {
    width: 48% !important; }

  .sprocket-strips-container.cols-4 li,
  .sprocket-strips-container.cols-8 li,
  .sprocket-strips-container.cols-12 li {
    width: 23% !important; }

  .sprocket-strips-container.cols-3 li,
  .sprocket-strips-container.cols-6 li,
  .sprocket-strips-container.cols-9 li {
    width: 31.33% !important; }

  .sprocket-grids-b-columns-1 > li,
  .sprocket-grids-b-columns-5 > li,
  .sprocket-grids-b-columns-7 > li,
  .sprocket-grids-b-columns-11 > li {
    width: 100% !important; }

  .sprocket-grids-b-columns-2 > li,
  .sprocket-grids-b-columns-1 > li {
    width: 50% !important; }

  .sprocket-grids-b-columns-4 > li,
  .sprocket-grids-b-columns-8 > li,
  .sprocket-grids-b-columns-12 > li {
    width: 25% !important; }

  .sprocket-grids-b-columns-3 > li,
  .sprocket-grids-b-columns-6 > li,
  .sprocket-grids-b-columns-9 > li {
    width: 33.33% !important; } }
@media only all and (max-width: 47.938rem) {
  .sprocket-mosaic-columns-1 > li, .sprocket-mosaic-columns-2 > li, .sprocket-mosaic-columns-3 > li, .sprocket-mosaic-columns-4 > li, .sprocket-mosaic-columns-5 > li, .sprocket-mosaic-columns-6 > li {
    width: 100% !important; }

  .sprocket-mosaic .sprocket-mosaic-header .sprocket-mosaic-filter, .sprocket-mosaic .sprocket-mosaic-header .sprocket-mosaic-order {
    float: none;
    text-align: center;
    margin-bottom: 15px; }

  .sprocket-strips-container.cols-1 li, .sprocket-strips-container.cols-2 li, .sprocket-strips-container.cols-3 li, .sprocket-strips-container.cols-4 li, .sprocket-strips-container.cols-5 li, .sprocket-strips-container.cols-6 li, .sprocket-strips-container.cols-7 li, .sprocket-strips-container.cols-8 li, .sprocket-strips-container.cols-9 li {
    width: 100% !important; }

  .sprocket-grids-b-content {
    text-align: center; }

  .sprocket-grids-b-text {
    display: block; }

  .sprocket-grids-b-info, .sprocket-grids-b-text {
    font-size: 80%; } }
@media only all and (max-width: 30rem) {
  [class*="sprocket"] .sprocket-mosaic-filter li, [class*="sprocket"] .sprocket-mosaic-order li {
    font-size: 0.8em;
    padding: 0 5px; } }
@media only screen and (min-width: 1195px) and (max-width: 1275px), only screen and (min-width: 960px) and (max-width: 1070px), only screen and (min-width: 768px) and (max-width: 880px), only screen and (min-width: 482px) and (max-width: 600px), only screen and (max-width: 480px) {
  .sprocket-strips .sprocket-strips-arrows .arrow.prev {
    left: -10px; }
  .sprocket-strips .sprocket-strips-arrows .arrow.next {
    right: -10px; } }
#rt-offline #rt-header-surround {
  padding-top: 0; }

#system-message-container {
  position: relative;
  z-index: 1000; }

.rt-offline-logo {
  width: 240px;
  margin: 0 auto 50px auto; }
  .rt-offline-logo #rt-logo {
    margin: 0 auto; }

.rt-logo-block {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 3px; }

.rt-offline-body {
  margin: 150px auto;
  padding: 80px 0;
  background: fadeout(#66BDBB, 50%);
  width: 80%;
  border-radius: 3px; }
  @media only all and (max-width: 47.938rem) {
    .rt-offline-body {
      width: 100%;
      margin: 50px 0; } }
  @media only all and (max-width: 30rem) {
    .rt-offline-body {
      width: 100%;
      margin: 0; } }
  .rt-offline-body a {
    color: #132b2a; }
    .rt-offline-body a:hover {
      color: inherit; }

.rt-offline-title {
  margin: 30px 0;
  letter-spacing: 3px;
  text-transform: uppercase; }

.rt-offline-message,
.rt-authorized-login-message {
  text-align: center;
  width: 50%;
  margin: auto; }

.rt-subscription-title,
.rt-authorized-form-title {
  font-size: 160%;
  margin-bottom: 25px;
  text-align: center; }

#rt-subscription-form {
  padding: 80px 0;
  width: 100%; }
  #rt-subscription-form .container {
    background: none; }
  #rt-subscription-form .inputbox {
    border: 1px solid #d9d9d9; }

#rt-authorized-form {
  padding: 50px 0; }

.rt-offline-form,
.rt-authorized-login-form {
  margin: auto;
  text-align: center;
  width: 90%; }
  .rt-offline-form .inputbox,
  .rt-authorized-login-form .inputbox {
    color: #555555;
    border: 1px solid #d9d9d9;
    background-color: fadeout(#fff, 30%);
    background-image: -webkit-linear-gradient(fadeout(#fff, 30%), fadeout(#fff, 30%));
    background-image: linear-gradient(to ,fadeout(#fff, 30%));
    width: 280px; }
    .rt-offline-form .inputbox.rt-secretkey-input,
    .rt-authorized-login-form .inputbox.rt-secretkey-input {
      width: 100px; }

.rt-secretkey-help {
  padding: 0 10px;
  vertical-align: middle; }

#rt-form-login {
  margin: 25px auto; }

@media only all and (max-width: 47.938rem) {
  .rt-offline-body {
    padding: 50px 0; }

  .rt-offline-title {
    letter-spacing: 5px;
    width: 80%;
    margin: auto; }

  .rt-offline-form .inputbox, .rt-offline-form .button,
  .rt-authorized-login-form .inputbox,
  .rt-authorized-login-form .button {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block; }
  .rt-offline-form .inputbox,
  .rt-authorized-login-form .inputbox {
    margin: 15px auto; }
  .rt-offline-form .readon, .rt-offline-form .button,
  .rt-authorized-login-form .readon,
  .rt-authorized-login-form .button {
    padding: 10px 25px; }

  #rt-subscription-form {
    background-position: 50% 150px; } }
@media only all and (max-width: 30rem) {
  .rt-offline-title {
    font-size: 1.5em;
    letter-spacing: 3px;
    width: 90%;
    margin: auto; } }
.com {
  color: #93a1a1; }

.lit {
  color: #195f91; }

.pun, .opn, .clo {
  color: #93a1a1; }

.fun {
  color: #dc322f; }

.str, .atv {
  color: #dd1144; }

.kwd, .linenums .tag {
  color: #3A87B2; }

.typ, .atn, .dec, .var {
  color: teal; }

.tag, .pln {
  color: #7a7a7a; }

.prettyprint {
  padding: 8px;
  background-color: #e6e6e6;
  border: 1px solid #cdcdcd; }

.prettyprint.linenums {
  box-shadow: 40px 0 0 #e6e6e6 inset, 41px 0 0 #cdcdcd inset; }

ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0; }
  ol.linenums li {
    padding-left: 12px;
    color: #b8b8b8;
    line-height: 18px; }

/*# sourceMappingURL=joomla.css.map */
