#g-main {
	background: $main-bg;
	//.content {
		//@include content-border;
	//}
	h1, h2, h3, h4, h5 {
		color: darken($core-text, 20%);
	}
}

#g-main-top {
	background: $maintop-bg;
	color: $maintop-text;
	a {
		color: darken($core-accent, 20%);
		&:hover {
			color: inherit;
		}
	}
	.button {
		color: $white;
		background: darken($core-accent, 20%);
		&:hover {
			background: darken($core-accent, 30%);
		}
	}
}

#g-main-bottom {
	background: $maintop-bg;
	color: $maintop-text;
	a {
		color: darken($core-accent, 20%);
		&:hover {
			color: inherit;
		}
	}
	.button {
		color: $white;
		background: darken($core-accent2, 20%);
		&:hover {
			background: darken($core-accent2, 30%);
		}
	}
}