.main-nav {
	font-family: $font-family-alt;
	text-transform: uppercase;

	// Main Level
	> .toplevel {
		> li {
			> a, > .separator {
				font-size: $toplevel-font-size;
				padding: $nav-item-padding;
				color: $nav-link;
				font-weight: bold;
			}
			&:hover, &.active {
				> a, > .separator {
					color: $core-accent;
				}
			}
		}
	}

	// First Level Dropdown
	.dropdown {
		background: $core-accent;
		box-shadow: 0 3px 0 darken($core-accent, 6%);
	    color: $white;

	    // Additional Level Dropdowns
	    .dropdown {
			background: darken($core-accent, 4%);
			box-shadow: 0 3px 0 darken($core-accent, 8%);
	    }
	}

	// Sublevel Items
	.sublevel {
    	> li {
    		> a, > .separator, > .nav-header {
    			font-size: $dropdown-font-size;
    			padding: $nav-item-padding;
    			font-weight: normal;
    			color: $white;
    		}
    		&:hover > a, &.active > a {
    			background: darken($core-accent, 8%);
    		}
    	}
    }
}