// Body Base
body {
	font-family: $font-family-default;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-alt;
	font-weight: bold;
}

h6 {
	text-transform: uppercase;
}

// Strong
strong {
	font-family: $font-family-default;
}

// Blockquote
blockquote {
	border-left: 3px solid $core-border-color;
}

// Inline and Code
pre {
	background: $white;
	border: 1px solid $core-border-color;
}

// Extras
hr {
	border-bottom: 1px solid $core-border-color;
}