// Box Variations
.box1 {
	color: $white;
	background: $core-accent;
}

.box2 {
	color: $white;
	background: $core-accent2;
}

.box3 {
	color: $dark-gray;
	background: $light-gray;
}

.box4 {
	color: lighten($black, 50%);
	background: $black;
}

.box5 {
	border: 1px solid darken($core-accent, 10%);
}

.box6 {
	border: 1px solid darken($white, 10%);
}

// Title Variations
.title1 {
	.title {
		color: $white;
		background: $core-accent;
	}
}

.title2 {
	.title {
		color: $white;
		background: $core-accent2;
	}
}

.title3 {
	.title {
		color: $white;
		background: $dark-gray;
	}
}

.title4 {
	.title {
		color: $dark-gray;
		background: $light-gray;
	}
}

.title5 {
	.title {
		font-size: $core-font-size + 1;
		text-transform: uppercase;
		font-family: $font-family-alt;
		font-weight: normal;
		padding: 0;
		&:after {
			font-family: FontAwesome;
			content: '\f178';
			margin: 0 15px;
		}
	}
}

.title6 {
	.title {
		font-size: $core-font-size + 1;
		font-family: $font-family-alt;
		font-weight: normal;
		padding: 0;
	}
}