{% set html %}
    {% for segment in segments %}
        {% include '@nucleus/layout/' ~ segment.type ~ '.html.twig' with { 'segments': segment.children } %}
    {% endfor %}
{% endset %}

{% if html|trim %}
    {% set attr_id = segment.attributes.id ? ' id="' ~ segment.attributes.id|e ~ '"' %}
    {% set classes = segment.attributes.class ? ' ' ~ segment.attributes.class|e ~ '"' %}

    <div{{ attr_id|raw }} class="g-container{{ classes }}">
        {{ html|raw }}
    </div>
{% endif %}
