fieldset {
	border: 0;
	padding: $content-padding;
	margin: 0 0 $leading-margin 0;
}

label {
	margin-bottom: $leading-margin / 4;
	abbr {
		display: none;
	}
}

textarea, select[multiple=multiple] {
	@include transition(border-color);
	padding: ($leading-margin / 4) ($leading-margin / 4);

	&:focus {
		outline: none;
	}
}

#{$all-text-inputs} {
	@include transition(border-color);
	padding: ($leading-margin / 4) ($leading-margin / 4);
}

#{$all-text-inputs-focus} {
	outline: none;
}

textarea {
	resize: vertical;
}

input[type="checkbox"], input[type="radio"] {
	display: inline;
	margin-right: $leading-margin / 4;
}

input[type="file"] {
	width: 100%;
}

select {
	//width: auto;
	max-width: 100%;
	margin-bottom: $leading-margin;
}

button,
input[type="submit"] {
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	border: inherit;
}