// Run Size Creation Function
@include size-x;

// Equal size fallbacks for older browsers
@each $i, $n in ('33-3', 1/3), ('16-7', 1/6), ('14-3', 1/7), ('12-5', 1/8), ('11-1', 1/9), ('9-1', 1/11), ('8-3', 1/12) {
    .size-#{$i} {
        @include flex(0 percentage($n));
        width: percentage($n);
        max-width: percentage($n);
    }
}

// Support for non flex browsers
.size-100 {
    width: 100%;
    max-width: 100%;
    @include flex-grow(0);
    @include flex-basis(100%);
}
