// Float Classes
.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.hide {
	display: none;
}

// Clearfix
.clearfix {
	@include clearfix;
}

// Alignment
.center {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

// Full Height Section
.full-height {
	min-height: 100vh;
}

// Padding and Margin Adjustments
.nomarginall {
	margin: 0 !important;
	.content {
		margin: 0 !important;
	}
}

.nomargintop {
	margin-top: 0 !important;
	.content {
		margin-top: 0 !important;
	}
}

.nomarginbottom {
	margin-bottom: 0 !important;
	.content {
		margin-bottom: 0 !important;
	}
}

.nopaddingall {
	padding: 0 !important;
	.content {
		padding: 0 !important;
	}
}

.nopaddingtop {
	padding-top: 0 !important;
	.content {
		padding-top: 0 !important;
	}
}

.nopaddingbottom {
	padding-bottom: 0 !important;
	.content {
		padding-bottom: 0 !important;
	}
}


// Size Adjustment
.full-width {
	@include flex(0 100%);
	.g-block {
		@include flex(0 100%);
	}
}

// Hidden Classes
.hidden {
	display: none;
	visibility: hidden;
}

.visible-phone {
  	display: none !important;
}

.visible-tablet {
  	display: none !important;
}

.hidden-desktop {
  	display: none !important;
}

.visible-desktop {
  	display: inherit !important;
}

@media print {
	.visible-print {
	display: inherit !important;
	}
	.hidden-print {
	display: none !important;
	}
}
