{% extends 'forms/' ~ layout|default('field') ~ '.html.twig' %}

{% block input %}
    <span class="enabler" role="checkbox" aria-checked="{{ (value == 1 ? 'true' : 'false') }}">
    <input type="hidden" name="{{ (scope ~ childName)|fieldName }}" value="{{ value }}">
        <span class="toggle"><span class="knob"></span></span>
    </span>
{% endblock %}
