body {
	color: $base-text-color;
	background: $base-background;
}

a {
	color: $accent-color-1;
}

h1, h2, h3, h4, h5, h6, strong {
	color: darken($base-text-color, 10%);
}

.button {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: $border-radius;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: $accent-color-1;
	color: $base-background;
}

.logo-large {
	width: 170px;
	height: 185px;
	display: inline-block;
	background-image: url(../images/logo-large.png);
	background-size: 170px;
	background-repeat: no-repeat;
}