body {
	color: $base-text-color;
	background: $footer-background;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: $accent-color-1;
	&:hover {
		color: darken($base-text-color, 10%);
	}
}

h1, h2, h3, h4, h5, h6, strong {
	color: darken($base-text-color, 10%);
}

.button, button, .btn, input[type="button"], input[type="reset"], input[type="submit"] {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: $border-radius;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: $accent-color-1;
	color: $white;
	border: 0;
	line-height: $core-line-height;
	font-size: $core-font-size;
	vertical-align: middle;
	text-shadow: none;
	@include transition(background 0.1s);
	&:hover {
		background: lighten($accent-color-1, 5%);
		color: $white;
	}
	&:active, &:focus {
		background: darken($accent-color-1, 5%);
		box-shadow: inset -1px -1px 1px rgba(0,0,0,0.15);
		color: $white;
	}
}

.logo-large {
	display: inline-block;
}