#g-footer {
	background: $footer-background;
	color: $footer-text-color;
	border-top: 1px solid rgba(0,0,0,0.05);
	@include breakpoint(mobile-only) {
		text-align: center;
	}
}

@media print {
	#g-footer {
		background: #fff !important;
		color: #000 !important;
	}
}