#g-header {
	background: $header-background;
	color: $header-text-color;
	text-align: center;
	position: relative;
	z-index: 2;

	a {
		color: $header-text-color;
	}

	.g-content {
		margin: 0;
		padding: 0;
	}
}