%header-link-parent-indicator {
	border: 1px solid lighten($header-background, 6%);
	background: darken($header-background, 4%);
	&:hover {
		background: darken($header-background, 8%);
	}
}

#g-header {
	background: $header-background;
	color: $header-text-color;
	position: relative;
	z-index: 3;

	a {
		color: lighten($header-background, 40%);
		&:hover {
			color: $header-text-color;
		}
	}

	.g-main-nav {
		
		h1, h2, h3, h4, h5, h6, strong {
			color: $header-text-color;
		}

		.g-toplevel {
			@include display(flex);
			@include flex-flow(row wrap);

			> li {
				> .g-menu-item-container {
					color: $header-text-color;
				}
				&:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
					&:hover {
						background: darken($header-background, 6%);
					}

					&.active {
						background: $main-background;

						> .g-menu-item-container {
							color: $main-text-color;
						}

						&.g-selected {
							background: darken($header-background, 6%);

							> .g-menu-item-container {
								color: $header-text-color;
							}
						}
					}
				}
			}
		}

		.g-dropdown {
			background: darken($header-background, 6%);
		}

		.g-sublevel {
			> li {
				> .g-menu-item-container {
					color: $header-text-color;
				}
				&:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) {
					&:hover, &.active {
						background: darken($header-background, 10%);
					}
				}
			}
		}
	}
	.g-menu-hastouch {
		.g-toplevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							@extend %header-link-parent-indicator;
							border-radius: $core-border-radius;
							margin: -0.2rem 0 -0.2rem 0.5rem;
							padding: 0.2rem;
						}
					}
				}
				&.active {
					&.g-menu-item-link-parent {
						> .g-menu-item-container {
							> .g-menu-parent-indicator {
								color: $navigation-text-color;
							}
						}
					}
				}
			}
		}
	}
}

.g-menu-hastouch .g-standard, .g-fullwidth {
	.g-sublevel {
		> li {
			&.g-menu-item-link-parent {
				> .g-menu-item-container {
					> .g-menu-parent-indicator {
						@extend %header-link-parent-indicator;
						border-radius: $core-border-radius;
						padding: 0.1rem;
						margin-top: -0.1rem;
						margin-right: -0.1rem;
					}
				}
			}
		}
	}
}