#g-navigation {
	background: $navigation-background;
	color: $navigation-text-color;
	text-align: center;
	position: relative;
	z-index: 2;

	.g-main-nav {
		margin: -($content-padding + $content-margin);

		.g-toplevel {
			@include display(flex);
			@include flex-flow(row wrap);
			justify-content: center;
			> li {

				&.g-menu-item-link-parent {
					.g-menu-parent-indicator {
						border: 1px solid lighten($navigation-background, 6%);
						background: darken($navigation-background, 4%);
						&:hover {
							background: darken($navigation-background, 8%);
						}
					}
				}
				> .g-menu-item-container {
					> .g-menu-item-content {
						color: $navigation-text-color;
					}
				}
				&:hover {
					background: darken($navigation-background, 4%);

					> .g-selected {
						background: darken($navigation-background, 8%);
					}
				}

				&.active {
					background: $main-background;

					> .g-menu-item-container {
						> .g-menu-item-content {
							color: $main-text-color;
						}
					}
					
					> .g-menu-item-container {
						> .g-selected {
							background: darken($navigation-background, 8%);
							color: $navigation-text-color;
						}
					}
				}
				> .g-menu-item-container {
					> .g-selected {
						background: darken($navigation-background, 8%);
					}
				}
			}
		}

		.g-dropdown {
			background: darken($navigation-background, 8%);
		}

		.g-sublevel {
			> li {
				> .g-menu-item-container {
					> .g-menu-item-content {
						color: $navigation-text-color;
					}
				}

				&:hover, &.active {
					background: darken($navigation-background, 12%);
					> .g-menu-item-container {
						> .g-selected {
							background: darken($navigation-background, 12%);
						}
					}
				}
				> .g-menu-item-container {
					> .g-selected {
						background: darken($navigation-background, 12%);
					}
				}

				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border: 1px solid lighten($navigation-background, 6%);
							background: darken($navigation-background, 4%);
							&:hover {
								background: darken($navigation-background, 8%);
							}
						}
					}
				}
			}
		}
	}
}

.g-main-nav {
	@include breakpoint(no-mobile) {
		position: relative;
	}
	.g-toplevel {
		font-weight: $font-weight-medium;
		> li {

			> .g-menu-item-container {
				padding: 1.2rem $content-padding;
			}

			&.g-menu-item-link-parent {
				> .g-menu-item-container {
					> .g-menu-parent-indicator {
						border-radius: $core-border-radius;
						margin: -0.2rem 0 -0.2rem 0.5rem;
						padding: 0.2rem;
					}
				}
			}

			> .g-menu-item-container {
				> .g-menu-item-content {
					line-height: normal;
				}
			}
		}

		i {
			opacity: 0.6;
		}
	}

	.g-dropdown {
		text-align: left;
	}

	.g-sublevel {
		> li {
			> .g-menu-item-container {
				> .g-menu-item-content {
					padding: ($content-padding + $content-margin)/2 1rem;
				}
			}

			&.g-menu-item-link-parent {
				> .g-menu-item-container {
					> .g-menu-parent-indicator {
						border-radius: $core-border-radius;
						padding: 0.1rem;
						margin-top: -0.1rem;
						margin-right: -0.1rem;
					}
				}
			}
		}
	}
}

// Nav Overlay
.g-nav-overlay {
	background: $navigation-overlay;
}