.g-main-nav {
	.g-toplevel {
		font-weight: 400;
		> li {
			margin-right: -4px;

			> a {
				+ span {
					border: 1px solid rgba(255,255,255,0.4);
					border-radius: $core-border-radius;
					margin-left: -0.5rem;
					margin-right: 1rem;
					padding: 0.2rem;
					&:hover {
						background: darken($header-background, 8%);
					}
				}
			}

			> .g-menu-item-content {
				color: $header-text-color;
				padding: ($content-padding + $content-margin) 1rem;
				line-height: normal;
			}
			&:hover, &.active {
				background: darken($header-background, 4%);

				> .g-selected {
					background: darken($header-background, 8%);
				}
			}
			> .g-selected {
				background: darken($header-background, 8%);
			}
		}
		i {
			opacity: 0.5;
		}
	}

	.g-dropdown {
		text-align: left;
		background: darken($header-background, 8%);
	}

	.g-sublevel {
		> li {
			> .g-menu-item-content {
				color: $header-text-color;
				padding: ($content-padding + $content-margin)/2 1rem;
			}
			&:hover, &.active {
				background: darken($header-background, 12%);
				> .g-selected {
					background: darken($header-background, 12%);
				}
			}
			> .g-selected {
				background: darken($header-background, 12%);
			}
		}
	}
}

// Mobile Nav Overlay
.g-nav-overlay {
	background: fadeout($black, 50%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;	    
    z-index: 1;		
    opacity: 0;
    @include transition(opacity .3s ease-out);
    .g-nav-overlay-active & {
    	position: fixed;
    	opacity: 1;
    }
}

// Mobile Menu 
@include breakpoint(mobile-only) {	
	.g-main-nav {
		.g-toplevel {
			background: $mobilemenu-background;									
		}
	}
	.g-mobile-nav-toggle {
	    color: $accent-color-1;
	    background: $white;
	}
}