.g-main-nav {
	margin: -($content-padding + $content-margin) 0;
	.g-toplevel {
		font-weight: 500;
		> li {
			margin-right: -4px;
			> .g-menu-item-content {
				padding: ($content-padding + $content-margin) 1rem;
				line-height: normal;
			}
			&:hover, &.active {
				> .g-menu-item-content {
					background: darken($header-background, 4%);
				}
				.g-selected {
					background: darken($header-background, 8%);
				}
			}
			.g-selected {
				background: darken($header-background, 8%);
			}
		}
		i {
			opacity: 0.5;
		}
	}

	.g-dropdown {
		text-align: left;
		background: darken($header-background, 8%);
	}

	.g-sublevel {
		> li {
			> .g-menu-item-content {
				padding: 0.5rem 1rem;
			}
			&:hover, &.active {
				> .g-menu-item-content {
					background: darken($header-background, 12%);
				}
			}
		}
	}
}