.g-offline {	
	#grav-login {
        max-width: 36rem;
        .form-actions {
            margin-top: $content-margin;
            @include breakpoint(mobile-only) {
                text-align: center;
            }
        }
        .button {
            text-transform: capitalize;
        }
        .rememberme { 
            @include breakpoint(mobile-only) {
                float: none;
                display: block;
            }
        }
    }    
}
