.sample-content {
	text-align: center;
	.subtitle {
		text-transform: uppercase;
		font-size: $core-font-size - 0.2;
		display: block;
		margin-top: -1.3rem;
	}
	.sample-icons {
		font-size: $core-font-size + 2;
	}
	.sample-description {
		font-size: $core-font-size + 0.2;
	}
}