#g-showcase {
	text-align: center;
	padding: 1rem 0;
	background: $showcase-background;
	color: $showcase-text-color;

	h1, h2, h3, h4, h5, h6, strong {
		color: $showcase-text-color;
	}

	.button {
		background: $accent-color-2;
		color: $showcase-text-color;
	}
}