// Sidepanel Off Canvas Container
#g-offcanvas {
	background: $mobilemenu-background;
}

.g-offcanvas-toggle {
	font-size: $core-font-size + 0.5;
	color: $white;
}

// Mobile Menu 
#g-offcanvas {
	.g-main-nav {
		.g-toplevel {
			background: $mobilemenu-background;
			> li {
				&:hover, &.active {
					background: darken($navigation-background, 4%);

					> .g-menu-item-content {
						color: $navigation-text-color;
					}
				}
			}							
		}
	}
}

#g-mobilemenu-container {
	margin: -($content-padding + $content-margin);
}