.g-social {
	a {
		display: inline-block;
		padding: 0.1rem 0.4rem;
		background: #fafafa;
		border: 1px solid $base-border-color;
		border-radius: $core-border-radius;
		margin-bottom: 4px;
		text-decoration: none;
	}
}
