#g-subfeature {
	padding: $section-padding 0;
	background: $subfeature-background;
	color: $subfeature-text-color;
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

@media print {
	#g-subfeature {
		background: #fff !important;
		color: #000 !important;
	}
}