table {
	border: 1px solid lighten($base-border-color,5%);
}

th {
	background: lighten($base-border-color,10%);
	padding: 0.5rem;
}

td {
	padding: 0.5rem;
	border: 1px solid lighten($base-border-color,5%); 
}