@include font-face('roboto', '../fonts/roboto_light_macroman/Roboto-Light-webfont', 300);
@include font-face('roboto', '../fonts/roboto_regular_macroman/Roboto-Regular-webfont');
@include font-face('roboto', '../fonts/roboto_medium_macroman/Roboto-Medium-webfont', 600);

body {
	font-family: $font-family-default;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-headers;
	font-weight: 600
}

.button {
	font-weight: 500;
}

.feature-icons {
	font-size: $core-font-size + 2;
}