@include font-face('roboto', '../fonts/roboto_regular_macroman/Roboto-Regular-webfont', 400');
@include font-face('roboto', '../fonts/roboto_medium_macroman/Roboto-Medium-webfont', 500);
@include font-face('roboto', '../fonts/roboto_bold_macroman/Roboto-Bold-webfont', 700);

body {
	font-family: $font-family-default;
	font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5 {
	font-weight: $font-weight-medium;
}

bold, strong {
	font-weight: $font-weight-bold;
}

.button {
	font-weight: $font-weight-medium;
}

.feature-icons {
	font-size: $core-font-size + 2;
}