{% extends "@nucleus/partials/module.html.twig" %}

{% set title = 'Feature Position 1' %}

{% block module %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula.</p>
{% endblock %}
