{% extends "@nucleus/page.html.twig" %}

{% do gantry.theme.setLayout('gantry-layouts://error.yaml') %}

{% block content %}
    <h1>404 Page not found</h1>

    <p>{{ error.getMessage() }}</p>
{% endblock %}
