{% extends "@nucleus/page.html.twig" %}

{% do gantry.theme.setLayout('gantry-layouts://fullwidth.yaml') %}

{% block content %}
    <h2>About Nucleus</h2>

    <p>Nucleus is a core engine based in SCSS for use with Gantry5 and Gantry5 based templates and themes. Nucleus features a stripped down, lightweight approach to provide the fundamental building blocks of a modern template without all of the overhead of large frameworks and UI kits. It is the result of research and testing of the latest cutting edge techniques.</p>
{% endblock %}
