{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}
    <h2>Main Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula. Praesent et nulla eu augue tempus sagittis. Mauris faucibus nibh et nibh cursus in vestibulum sapien egestas. Curabitur ut lectus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h2>Main Column</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula. Praesent et nulla eu augue tempus sagittis. Mauris faucibus nibh et nibh cursus in vestibulum sapien egestas. Curabitur ut lectus tortor.</p>
    <a href="#" class="button">Button</a>
    <!--<img src="{{ url('gantry-media://images/test.jpg') }}" alt="Trees" />-->
{% endblock %}
