{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h6>Affordable Business Plans</h6>
              <h2>Choose the plan that suits your needs. 100% satisfaction guaranteed.</h2>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h2>Startup</h2>
              <h5>Up to 10 websites</h5>
              <p>Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.</p>
              <p><a href="#"><span class="fa fa-file-text-o fa-fw"></span> Learn More</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h2>Entrepreneur</h2>
              <h5>Up to 100 websites</h5>
              <p>Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.</p>
              <p><a href="#"><span class="fa fa-file-text-o fa-fw"></span> Learn More</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h2>Corporate</h2>
              <h5>More Than 100 websites</h5>
              <p>Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.</p>
              <p><a href="#"><span class="fa fa-file-text-o fa-fw"></span> Learn More</a></p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3><strong>Compare Plans</strong></h3>
              <h5>Free Domain</h5>
              <h5>Database</h5>
              <h5>Email</h5>
              <h5>Chat Support</h5>
              <h5>Phone Support</h5>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content center">
              <h3>Startup</h3>
              <h5>1</h5>
              <h5>10</h5>
              <h5>10</h5>
              <h5>No</h5>
              <h5>No</h5>
              <a href="#" class="button">Purchase</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content center">
              <h3>Entrepreneur</h3>
              <h5>10</h5>
              <h5>100</h5>
              <h5>100</h5>
              <h5>Yes</h5>
              <h5>No</h5>
              <a href="#" class="button-secondary">Purchase</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content center">
              <h3>Corporate</h3>
              <h5>20</h5>
              <h5>Unlimited</h5>
              <h5>Unlimited</h5>
              <h5>Yes</h5>
              <h5>Yes</h5>
              <a href="#" class="button">Purchase</a>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h2>Common Queries and Questions</h2>
              <h6>Please Contact Us If Your Question Is Not Listed Here</h6>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>What prices are our services?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What is our refund policy?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What payments methods do we accept?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>What delivery options do we offer?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What support options are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What additional services are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
    </div>
{% endblock %}
