{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2>Awesome Simple Pricing</h2>
        <h5>All signups get a 30-day trial of Business Plan. No credit card required.</h5>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-user fa-3x"></span>
              <h3>Personal</h3>
              <h2>$0</h2>
              <p>per month per user</p>
              <hr>

              <h4>Personal Use</h4>
              <h4>5 User</h4>
              <h4>Free Forever</h4>
              <p><a href="#" class="button-secondary">Subscribe</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-group fa-3x"></span>
              <h3>Group</h3>
              <h2>$99</h2>
              <p>per month per user</p>
              <hr>

              <h4>Advanced Panel</h4>
              <h4>100 User</h4>
              <h4>Free Support</h4>
              <p><a href="#" class="button">Subscribe</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-group fa-3x"></span>
              <h3>Business</h3>
              <h2>$199</h2>
              <p>per month per user</p>
              <hr>

              <h4>Premium Panel</h4>
              <h4>Unlimited User</h4>
              <h4>Free Support</h4>
              <p><a href="#" class="button-secondary">Subscribe</a></p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h2><span class="fa fa-newspaper-o"></span> Common Queries and Questions</h2>

              <h3>1. What prices are our services?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>2. What is our refund policy?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>3. What payments methods do we accept?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>4. What delivery options do we offer?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>5. What support options are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>6. What additional services are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
    </div>
{% endblock %}
