{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2>Our Awesome Packages</h2>
        <h5>Choose the plan that suits your needs. 100% satisfaction guaranteed.</h5>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Basic</h3>
              <h2>$99/month</h2>
              <h5>Basic Admin Panel</h5>
              <h5>10 Users</h5>
              <h5>Email Support</h5>
              <p><a href="#" class="button-secondary">Subscribe</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Standard</h3>
              <h2>$199/month</h2>
              <h5>Standard Admin Panel</h5>
              <h5>10 Users</h5>
              <h5>Chat Support</h5>
              <p><a href="#" class="button">Subscribe</a></p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Ultimate</h3>
              <h2>$299/month</h2>
              <h5>Advanced Admin Panel</h5>
              <h5>Unlimited Users</h5>
              <h5>Phone Support</h5>
              <p><a href="#" class="button-secondary">Subscribe</a></p>
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
        <h2>Common Questions</h2>
        <h5>Please Contact Us If Your Question Is Not Listed Here</h5>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h3>What prices are our services?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What is our refund policy?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What payments methods do we accept?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>What delivery options do we offer?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What support options are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>

              <h3>What additional services are available?</h3>
              <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
            </div>
        </div>
    </div>
{% endblock %}
