{% set value = (value is null ? field.default : value) %}

<div>
    {{ field.label }}
    {% for key, text in field.options %}
        <label class="inline">
            <input type="checkbox"
                   value="{{ key }}"
                   name="{{ field.name }}[]"
                   {% if key in value %}checked="checked"{% endif %}
                   {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
            >
            {{ text }}
        </label>
    {% endfor %}
</div>
