<li class="config-select-wrap">
    <select class="config-select" data-selectize="{{ {allowEmptyOption: true}|json_encode()|e('html_attr') }}">
        <option value="default" selected="selected">Master</option>
        <option value="frontpage">Front Page</option>
        <optgroup label="System Pages">
            <option value="error">Error Page</option>
            <option value="offline">Site Offline</option>
            <option value="unsupported">Unsupported Browser</option>
            <option value="comingsoon">Coming Soon</option>
        </optgroup>
    </select>
</li>
