<li class="config-select-wrap">
    <select class="config-select">
        <option value="" selected="selected">Default</option>
        <option value="frontpage">Front Page</option>
        <optgroup label="System Pages">
            <option value="error">Error Page</option>
            <option value="offline">Site Offline</option>
            <option value="unsupported">Unsupported Browser</option>
            <option value="comingsoon">Coming Soon</option>
        </optgroup>
    </select>
    <i class="fa fa-chevron-down"></i>
</li>
