<div class="g-grid">
    <div class="g-block inner-header">
        <div class="sidebar-toggle">
            <span data-sidebar-toggle><i class="fa fa-bars"></i></span>
            <span class="gantry-logo"></span>
        </div>
        <div class="settings-state">
            <!--FIX ME--><span class="master-toggle">Default <i class="fa fa-chevron-down"></i></span>
        </div>
    </div>
</div>