<h3>
    Powered by <span class="gantry-logo">gantry5</span> Web Platform Theme Framework
</h3>

<p>
    Gantry is a comprehensive set of building blocks to enable the rapid development and realization of a design into a flexible and powerful web platform theme.
</p>

<a href="http://staging.dev.gantry-framework.org/learn" class="button"><i class="fa fa-book"></i> <span>Documentation</span></a>

<ul>
    <li>Fast, flexible, powerful framework</li>
    <li>Powerful drag-n-drop layout controls</li>
    <li>Flexible configuration options</li>
</ul>
