<div class="g-grid overview-gantry">
	<div class="g-block size-35">
		<img src="{{ (url('gantry-assets://images/gantry5-logo-light.png'))|e }}" class="about-gantry" alt="Gantry 5" />

	</div>
	<div class="g-block">
		<p>
		    Gantry 5 is the most customizable and powerful version of the framework yet. Packed full of features such as drag-and-drop layout creation and the powerful particle system, Gantry 5 has been designed from the ground up to be lightning fast and hassle free.
		</p>
		<ul class="overview-list">
		    <li><i class="fa fa-asterisk"></i>Fast, flexible, easy to use framework</li>
		    <li><i class="fa fa-asterisk"></i>Drag-n-drop layout controls</li>
		    <li><i class="fa fa-asterisk"></i>Powerful dynamic particles system</li>
		</ul>
		<p><a href="http://docs.gantry.org/gantry5" class="button button-primary"><i class="fa fa-book"></i> <span>Documentation</span></a></p>
	</div>
</div>
