<div class="g-grid overview-gantry">
    <div class="g-block size-35">
        <svg version="1.1" class="about-gantry" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             width="342.865px" height="85.823px" viewBox="0 0 342.865 85.823"
             style="enable-background:new 0 0 342.865 85.823;"
             xml:space="preserve">
            <g>
                <path style="fill:#808080;" d="M121.865,79.829c8-1.085,14.055-7.892,14.163-16.1l0.024-4.399l-3.589,2.568
                    c-3.806,2.736-8.288,4.183-12.944,4.183c-12.247,0-22.214-9.963-22.214-22.209c0-12.245,9.961-22.207,22.207-22.207
                    c4.951,0,9.647,1.465,13.584,4.521l0.6,0.316h8.169v37.013c0,11.496-9,20.98-20,22.097V79.829z M119.511,27.401
                    c-9.08,0-16.467,7.388-16.467,16.469s7.387,16.468,16.467,16.468c9.081,0,16.469-7.387,16.469-16.468
                    S128.592,27.401,119.511,27.401 M322.865,79.829c8-1.085,14.196-7.892,14.307-16.1l0.096-4.398l-3.554,2.567
                    c-3.808,2.736-8.261,4.183-12.915,4.183c-11.866,0-21.434-9.167-21.934-21.035v-1.482V26.5h5.5v19.458
                    c0.834,7.813,8.13,14.453,16.409,14.453c8.161,0,16.163-6.911,16.574-13.911h0.017v-20h5.5v37.915l-0.042,1.199
                    c-0.514,5.478-3.08,10.55-7.152,14.282c-3.551,3.253-7.806,5.24-12.806,5.714V79.829z M170.409,66.08
                    c-12.246,0-22.208-9.963-22.208-22.209c0-12.245,9.962-22.207,22.208-22.207c12.239,0,22.445,9.95,22.456,22.187v0.042
                    c-0.007,0.102,0,2.541,0,2.541V60.5h-8.133l-0.604,0.644C180.169,64.263,175.425,66.08,170.409,66.08 M170.409,27.401
                    c-9.081,0-16.47,7.388-16.47,16.469s7.389,16.468,16.47,16.468s16.468-7.387,16.468-16.468S179.49,27.401,170.409,27.401
                     M271.365,60.5v-34h8.282l0.506-0.338c3.332-2.565,7.212-3.981,11.212-4.39v5.777c-7.5,1.005-13.094,7.057-13.94,14.547
                    l-0.046,0.69l-0.014,1.434V60.5H271.365z M254.365,60.5v-38h-7v-6h7V0h6v16.5h6.5v6h-6.5v38H254.365z M238.865,60.5V42
                    c-0.483-7.932-7.758-14.601-16.208-14.601c-8.449,0-16.792,7.632-16.792,14.635v2.536v2.243V60.5h-5.5V26h8.695l0.583-0.259
                    c3.824-2.775,8.325-4.16,13.014-4.16c12.236,0,22.192,9.987,22.21,22.217l0.006,0.048c-0.009,0.117-0.008,0.254-0.008,0.375v2.329
                    V60.5H238.865z"/>
                <path style="fill:#4a4a4a;" d="M74.35,33.868v4.761v8.03l11.033-6.395l-8.906-5.117v-1.405l1.578-0.807l8.071,4.57
                    c-0.483-3.643-1.419-7.141-2.752-10.438l-9.024,5.396V33.868z"/>
                <path style="fill:#4a4a4a;" d="M74.35,51.064v4.76v8.03l9.448-5.477c0.188-0.503,0.361-1.012,0.53-1.524l-7.851-4.511v-1.405
                    l1.578-0.807l7.083,4.011c0.901-3.477,1.382-7.122,1.382-10.88c0-0.162-0.011-0.322-0.013-0.484L74.35,49.658V51.064z"/>
                <path style="fill:#4a4a4a;"
                      d="M59.464,82.888v0.482c2.094-0.846,4.108-1.847,6.024-2.996l-0.517-0.318l-5.508-3.198V82.888z"/>
                <path style="fill:#4a4a4a;" d="M66.429,71.458l-5.794,3.197l5.502,3.198l1.686,1.011c1.541-1.065,3.013-2.224,4.4-3.476v-7.128
                    L66.429,71.458z"/>
                <polygon style="fill:#4a4a4a;" points="68.124,47.606 64.972,45.664 59.464,42.467 59.464,48.496 59.464,55.256 72.223,48.043
                    72.223,46.659 72.223,42.467 72.223,33.868 60.872,40.263 66.137,43.462 69.388,45.41 69.388,46.764 	"/>
                <polygon style="fill:#4a4a4a;" points="68.124,64.801 64.972,62.86 59.464,59.662 59.464,65.691 59.464,72.453 72.223,65.238
                    72.223,63.854 72.223,59.662 72.223,51.063 66.429,54.261 60.635,57.459 66.137,60.657 69.388,62.605 69.388,63.96 	"/>
                <path style="fill:#4a4a4a;" d="M74.35,68.259v4.76v0.305c3.087-3.192,5.688-6.854,7.681-10.875l-7.681,4.404V68.259z"/>
                <path style="fill:#4a4a4a;" d="M9.531,39.018l15.031,8.598c0.393,0.227,0.878,0.648,0.878,1.101v17.196v16.763
                    c1.827,0.828,3.719,1.531,5.671,2.102v-6.334c1.417-1.546,2.876-3.595,7.231-5.247c-3.157,0.224-5.105,1.178-7.231,2.196V58.078
                    c1.417-1.546,3.051-3.597,7.407-5.247c-3.152,0.223-5.355,1.174-7.048,2.19c0.02-0.443,0.073-0.886,0.239-1.311l6.042-15.534
                    c0.621-0.569,1.98-1.313,2.961-1.685c-0.709-0.007-1.668,0.117-2.464,0.362l0.691-1.833c0.14-0.36,0.31-0.663,0.505-0.911
                    c0.263-0.336,0.882-0.706,0.882-0.706V18.039c0-0.118,0.106-0.019,0.226-0.019h0.884c0.119,0,0.309-0.1,0.309,0.019v15.37
                    c0,0,0.339,0.169,0.5,0.302c0.353,0.291,0.658,0.725,0.884,1.304l7.386,18.699c0.298,0.764,0.445,1.591,0.445,2.359v29.75
                    c1.938-0.348,3.831-0.821,5.671-1.419v-9.75V57.459V40.264c0-0.454,0.36-0.875,0.753-1.102l15.009-8.597l9.994-5.768
                    C75.457,10.143,60.545,0,43.26,0C22.512,0,5.184,14.609,0.981,34.099L9.531,39.018z M54.537,19.6l1.761-7.575l1.761,7.575
                    l7.574,1.761l-7.574,1.761l-1.761,7.575l-1.761-7.575l-7.575-1.761L54.537,19.6z"/>
                <path style="fill:#4a4a4a;" d="M0,43.26c0,0.094,0.007,0.186,0.007,0.28l3.652-2.152l1.224,0.808v1.405l-4.754,2.844
                    c0.118,1.609,0.321,3.193,0.61,4.749l6.98,3.92v-8.03v-4.761v-1.405l-7.226-4.202C0.169,38.849,0,41.036,0,43.26"/>
                <path style="fill:#4a4a4a;" d="M7.719,59.517v-1.405l-6.189-3.45c0.402,1.477,0.883,2.923,1.435,4.332l0.695-0.41l1.224,0.807
                    v1.405l-0.919,0.55c1.062,2.305,2.32,4.501,3.755,6.567v-3.635V59.517z"/>
                <path style="fill:#4a4a4a;"
                      d="M22.604,68.115l-5.633,3.197l-4.372,2.461c2.943,2.958,6.312,5.492,10.005,7.503v-7.133V68.115z"/>
                <path style="fill:#4a4a4a;" d="M9.845,68.115v2.618c0.297,0.362,0.608,0.711,0.916,1.062l4.718-2.686l5.609-3.197l-5.627-3.198
                    l-5.616-3.197V68.115z"/>
                <polygon style="fill:#4a4a4a;" points="15.461,51.914 20.966,48.718 9.845,42.321 9.845,50.919 9.845,55.113 9.845,56.497
                    22.604,63.71 22.604,56.95 22.604,50.919 16.959,54.117 13.45,56.058 11.971,55.219 11.971,53.864 	"/>
            </g>
        </svg>
    </div>
    <div class="g-block">
        {{ 'GANTRY5_PLATFORM_GANTRY_DETAILS'|trans|raw }}
        <p><a href="http://docs.gantry.org/gantry5" class="button button-primary"><i class="fa fa-book" aria-hidden="true"></i>
                <span>{{ 'GANTRY5_PLATFORM_DOCUMENTATION'|trans }}</span></a></p>
    </div>
</div>
