<div class="g-grid overview-gantry">
	<div class="g-block">
		<h3>
		    Powered by <span class="gantry-logo">gantry5</span> Web Platform Theme Framework
		</h3>

		<a href="http://staging.dev.gantry-framework.org/learn" class="button"><i class="fa fa-book"></i> <span>Documentation</span></a>

	</div>
	<div class="g-block">
		<p>
		    Gantry is a comprehensive set of building blocks to enable the rapid development and realization of a design into a flexible and powerful web platform theme.
		</p>
		<ul class="overview-list">
		    <li><i class="fa fa-asterisk"></i>Fast, flexible, powerful framework</li>
		    <li><i class="fa fa-asterisk"></i>Powerful drag-n-drop layout controls</li>
		    <li><i class="fa fa-asterisk"></i>Flexible configuration options</li>
		</ul>
	</div>
</div>