<div class="g-grid">
    <div class="g-block">
        <div class="g-content clearfix">
            <span class="theme-title"><i class="fa fa-tint"></i> Theme: {{ gantry.theme.title }}</span>
            <div data-mode-toggle class="dev-mode-toggle">
                <input type="radio" value="dev" id="dev-mode-toggle" name="mode" checked>
                <label for="dev-mode-toggle">Dev</label>
                <input type="radio" value="prod" id="prod-mode-toggle" name="mode">
                <label for="prod-mode-toggle">Prod</label>
                <a></a>
            </div>
            <a href="#" class="button button-save"><i class="fa fa-check"></i> <span>Save</span></a>
        </div>
    </div>
</div>
