<div class="grid">
    <div class="block">
        <div class="content">
            <!--FIX ME--><span class="theme-title"><i class="fa fa-tint"></i> Theme: Theme Name</span>
            <div data-mode-toggle class="production">
                <span class="development">Dev</span>
                <span class="toggle">
                    <span class="knob"></span>
                </span>
                <span class="production">Prod</span>
            </div>
        </div>
    </div>
    <div class="block size-1-4">
        <div class="content clearfix">
            <a href="#" class="button button-save"><i class="fa fa-check"></i> <span>Save</span></a>
        </div>
    </div>
</div>
