<div class="g-grid">
    <div class="g-block">
        <div class="g-content clearfix">
            <span class="theme-title"><i class="fa fa-tint"></i> Theme: {{ gantry.theme.title }}</span>
            
            <a href="#" class="button button-save"><i class="fa fa-check"></i> <span>Save</span></a>
        </div>
    </div>
</div>
