<div class="grid pure-g">
    <div class="block pure-u-3-4">
        <div class="content">
            <span class="theme-title"><i class="fa fa-tint"></i> Theme: Theme Name</span>
            <div data-mode-toggle class="production">
                <span class="development">Dev</span>
                <span class="toggle">
                    <span class="knob"></span>
                </span>
                <span class="production">Prod</span>
            </div>
        </div>
    </div>
    <div class="block size-1-3 pure-u-1-4">
        <!--<div class="ribbon master float-right"><i class="fa fa-star"></i> Master</div>
        <div class="ribbon float-right"><i class="fa fa-star-half-o"></i> Override</div>-->
    </div>
</div>
