<div class="g-grid">
    <div class="g-block">
        <div class="update-header clearfix">
            <span class="update-text">Updates Available: Awesome Theme v1.0, Gantry Framework v5.0.1</span>
            <div class="update-tools">
                <a href="#" class="button button-update"><i class="fa fa-refresh"></i> <span>Update</span></a>
                <a href="#" class="fa fa-close"></a>
            </div>
        </div>
    </div>
</div>
