// Basics
$white:							#fff;
$black:							#000;
$light-gray:					#ddd;

// Core
$core-text:						#7a7a7a;
$core-accent:					#66BDBB;
$core-accent2:					#80C294;
$core-accent3:					#FEFCD0;

// Borders
$core-border-color:				$light-gray;
$core-border-color-hover: 		darken($core-border-color, 10);
$core-border-color-focus: 		$core-accent;

// Shadows
$core-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$core-box-shadow-focus: 		$core-box-shadow, 0 0 5px rgba(darken($core-border-color-focus, 5), 0.7);

// Background
$page-bg:						#fff;

// Header
$header-bg:						#fff;
$header-text:					#333;

// Nav
$nav-link:						$header-text;

// Feature
$feature-bg:					#333 url(../images/backgrounds/feature/bg.jpg);
$feature-text:					#fff;

// Main Body
$main-bg:						#f7f7f7;
$body-border:					darken($main-bg, 5%);

// Bottom
$bottom-bg:						#fff;
$bottom-text:					$core-text;

// Footer
$footer-bg:						#eee;
$footer-text:					#888;

// System Messsages and Alerts
$warning-color:					#c09853;
$error-color:					#b94a48;
$info-color:					#3a87ad;
$success-color:					#468847;