// Basics
$white:							#fff;
$black:							#000;
$gray:                          #555555;
$light-gray:					#e6e6e6;
$dark-gray:						#3B3B3B;

// Core
$core-text:						#7a7a7a;
$core-accent:					#66BDBB;
$core-accent2:					#80C294;
$core-accent3:					#FEFCD0;

// Borders
$core-border-color:				$light-gray;
$core-border-color-hover: 		darken($core-border-color, 10);
$core-border-color-focus: 		$core-accent;

// Shadows
$core-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$core-box-shadow-focus: 		$core-box-shadow, 0 0 5px rgba(darken($core-border-color-focus, 5), 0.7);

// Background
$page-bg:						#fff;

// Side Slider
$sideslider-text:				#7A7A7A;
$sideslider-bg:					#F6F6F6;

// Header
$header-bg:						#fff;
$header-text:					#333;

// Nav
$nav-link:						$header-text;

// Showcase
$showcase-text:					#7A7A7A;
$showcase-bg:					#fff;

// Feature
$feature-bg:					#333;
$feature-bg-image:				url(../images/backgrounds/feature/bg.jpg);
$feature-text:					#fff;

// Utility
$utility-bg:					#eee;
$utility-text:					#888888;

// Main Top
$maintop-text:					#fff;
$maintop-bg:					#66BDBB;

// Main Body
$main-bg:						#fff;
$body-border:					darken($main-bg, 5%);

// Main Bottom
$mainbottom-text:				#fff;
$mainbottom-bg:					#80C294;

// Bottom
$bottom-bg:						#fff;
$bottom-text:					$core-text;

// Footer
$footer-bg:						#eee;
$footer-text:					#888;

// Side Slider
$sideslider-bg:					#F6F6F6;
$sideslider-text:				#7A7A7A;

// System Messsages and Alerts
$warning-color:					#c09853;
$error-color:					#b94a48;
$info-color:					#3a87ad;
$success-color:					#468847;