/* line 2, ../scss/nucleus/mixins/_utilities.scss */
#g5-container #page-picker ul, #g5-container #sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 23, ../scss/nucleus/particles/_align-text.scss */
.text-left {
  text-align: left !important;
}

/* line 26, ../scss/nucleus/particles/_align-text.scss */
.text-right {
  text-align: right !important;
}

/* line 29, ../scss/nucleus/particles/_align-text.scss */
.text-center {
  text-align: center !important;
}

/* line 32, ../scss/nucleus/particles/_align-text.scss */
.text-justify {
  text-align: justify !important;
}

@media all and (min-width: 75rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .large-desktop-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .large-desktop-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .large-desktop-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .large-desktop-text-justify {
    text-align: justify !important;
  }
}
@media all and (min-width: 60rem) and (max-width: 74.938rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .desktop-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .desktop-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .desktop-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .desktop-text-justify {
    text-align: justify !important;
  }
}
@media all and (min-width: 48rem) and (max-width: 59.938rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .tablet-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .tablet-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .tablet-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .tablet-text-justify {
    text-align: justify !important;
  }
}
@media all and (min-width: 30.063rem) and (max-width: 47.938rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .large-mobile-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .large-mobile-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .large-mobile-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .large-mobile-text-justify {
    text-align: justify !important;
  }
}
@media all and (max-width: 30rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .small-mobile-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .small-mobile-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .small-mobile-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .small-mobile-text-justify {
    text-align: justify !important;
  }
}
@media all and (min-width: 48rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .no-mobile-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .no-mobile-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .no-mobile-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .no-mobile-text-justify {
    text-align: justify !important;
  }
}
@media all and (max-width: 47.938rem) {
  /* line 38, ../scss/nucleus/particles/_align-text.scss */
  .mobile-only-text-left {
    text-align: left !important;
  }

  /* line 39, ../scss/nucleus/particles/_align-text.scss */
  .mobile-only-text-right {
    text-align: right !important;
  }

  /* line 40, ../scss/nucleus/particles/_align-text.scss */
  .mobile-only-text-center {
    text-align: center !important;
  }

  /* line 41, ../scss/nucleus/particles/_align-text.scss */
  .mobile-only-text-justify {
    text-align: justify !important;
  }
}
/* line 1, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle, #g5-container .card .enabler [type="radio"] + .toggle, #g5-container #main-header [data-mode-toggle] .toggle {
  display: inline-block;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  vertical-align: middle;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 9, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle .knob, #g5-container .card .enabler [type="radio"] + .toggle .knob, #g5-container #main-header [data-mode-toggle] .toggle .knob {
  position: absolute;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 1, ../scss/admin/modules/_buttons.scss */
#g5-container .button, #g5-container .button-primary, #g5-container .button-secondary, #g5-container .button.red, #g5-container .button.yellow {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 12px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.9rem;
}
/* line 8, ../scss/admin/modules/_buttons.scss */
#g5-container .button:active, #g5-container .button-primary:active, #g5-container .button-secondary:active {
  margin: 1px 0 -1px 0;
}

/* line 1, ../scss/admin/_core.scss */
body #g5-container {
  background-color: #e7e7e7;
  color: #666666;
}

/* line 8, ../scss/admin/_core.scss */
#g5-container .fa-spin {
  -webkit-animation: spin 0.8s infinite linear;
  -moz-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
}
/* line 12, ../scss/admin/_core.scss */
#g5-container .block {
  position: relative;
}
/* line 16, ../scss/admin/_core.scss */
#g5-container.container, #g5-container .container {
  width: 100%;
}
/* line 20, ../scss/admin/_core.scss */
#g5-container [data-mode-indicator] {
  padding: 2px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border-width: 0 1px 0;
  border-style: solid;
  border-color: transparent #a8aab5 transparent;
}
/* line 28, ../scss/admin/_core.scss */
#sidebar #g5-container [data-mode-indicator] {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent transparent #a8aab5 transparent;
}
/* line 35, ../scss/admin/_core.scss */
#g5-container [data-mode-indicator="production"] {
  background-color: #48cfad;
}
/* line 38, ../scss/admin/_core.scss */
#sidebar #g5-container [data-mode-indicator="production"] {
  background-color: #2aa083;
}
/* line 43, ../scss/admin/_core.scss */
#g5-container [data-mode-indicator="development"] {
  background-color: #f27a40;
}
/* line 46, ../scss/admin/_core.scss */
#sidebar #g5-container [data-mode-indicator="development"] {
  background-color: #d7500f;
}
/* line 52, ../scss/admin/_core.scss */
#g5-container .cards-wrapper {
  margin: -10px;
}
/* line 56, ../scss/admin/_core.scss */
#g5-container .card {
  display: inline-block;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), -1px 0 #eeeeee, 1px 0 #eeeeee, 0 -1px rgba(238, 238, 238, 0.43);
  padding: 10px;
  min-width: 250px;
  vertical-align: top;
  margin: 10px;
}
/* line 66, ../scss/admin/_core.scss */
#g5-container .card.full-width {
  margin: 0;
  display: block;
}
/* line 72, ../scss/admin/_core.scss */
#g5-container .card h4 {
  margin: 0;
}
/* line 75, ../scss/admin/_core.scss */
#g5-container .card h4 .enabler {
  float: right;
}
/* line 33, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler .toggle {
  background-color: #ccd1d9;
}
/* line 36, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler .toggle .knob {
  top: 1px;
  left: 1px;
}
/* line 42, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle {
  border-radius: 18px;
  height: 18px;
  width: 36px;
}
/* line 23, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle .knob {
  height: 16px;
  width: 20px;
  border-radius: 20px;
}
/* line 46, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] {
  display: none;
}
/* line 50, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle {
  border-radius: 18px;
  height: 18px;
  width: 18px;
}
/* line 23, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle .knob {
  height: 12px;
  width: 12px;
  border-radius: 20px;
}
/* line 53, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle .knob {
  left: 3px;
  top: 3px;
  opacity: 0;
}
/* line 60, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"][value="1"] + .toggle {
  background-color: #a0d468;
}
/* line 63, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"][value="1"] + .toggle .knob {
  left: 15px;
}
/* line 68, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"]:checked + .toggle {
  background-color: #a0d468;
}
/* line 71, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"]:checked + .toggle .knob {
  opacity: 1;
}
/* line 84, ../scss/admin/_core.scss */
#g5-container .card .inner-params {
  margin: 0.625rem 0 0;
  padding-top: 0.625rem;
  border-top: 1px solid #eeeeee;
}

@font-face {
  font-family: "opensans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#opensans") format("svg");
}
@font-face {
  font-family: "opensanslight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#opensanslight") format("svg");
}
/* line 3, ../scss/admin/_main.scss */
#g5-container #main {
  background-color: #fafafa;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #fafafa #dfe0e4 #d0d1d5;
  border-radius: 0 0 0.1875rem 0;
  min-height: 400px;
}
/* line 12, ../scss/admin/_main.scss */
#g5-container #main h2 .fa-edit {
  font-size: 60%;
  vertical-align: middle;
}

/* line 3, ../scss/admin/_overview.scss */
#g5-container .overview-header {
  color: white;
  text-align: center;
  margin: -1.60rem -1.563rem 100px;
  max-height: 370px;
  padding: 1px;
  background: url(../images/bg-blurred.jpg) 50% 100%;
  background-size: 100% 100%;
}
/* line 12, ../scss/admin/_overview.scss */
#g5-container .overview-header .content {
  text-align: center;
}
/* line 16, ../scss/admin/_overview.scss */
#g5-container .overview-header img {
  display: block;
  margin: 0 auto;
}
/* line 21, ../scss/admin/_overview.scss */
#g5-container .overview-header .circle {
  display: inline-block;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius: 120px;
  margin-bottom: -80px;
  box-shadow: 0 0 0 1px white;
  font-weight: bold;
  text-align: center;
}
/* line 32, ../scss/admin/_overview.scss */
#g5-container .overview-header .circle.yellow {
  background-color: #ffce54;
  color: #ba8500;
}
/* line 37, ../scss/admin/_overview.scss */
#g5-container .overview-header .circle.green {
  background-color: #a0d468;
  color: #537f24;
}
/* line 42, ../scss/admin/_overview.scss */
#g5-container .overview-header .circle.pink {
  background-color: #fc6e51;
  color: #b12103;
}

/* line 6, ../scss/admin/_settings.scss */
#g5-container .settings-block .advanced {
  color: #fc6e51;
}
/* line 10, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param {
  padding: 5px;
}
/* line 13, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param:nth-child(even) {
  background-color: #fafafa;
  border-radius: 3px;
}
/* line 19, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param-title {
  max-width: 150px;
}
/* line 23, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param-field {
  margin-left: 150px;
}
/* line 27, ../scss/admin/_settings.scss */
#g5-container .settings-block i {
  vertical-align: middle;
}
/* line 31, ../scss/admin/_settings.scss */
#g5-container .settings-block input {
  padding: 2px 4px;
  border: 1px solid #ccd1d9;
  margin: 0;
}
/* line 37, ../scss/admin/_settings.scss */
#g5-container .settings-block select {
  margin: 0 0 10px;
  display: inline-block;
}
/* line 42, ../scss/admin/_settings.scss */
#g5-container .settings-block img {
  display: block;
}
/* line 48, ../scss/admin/_settings.scss */
#g5-container .settings-param-field-colorpicker {
  position: relative;
}
/* line 51, ../scss/admin/_settings.scss */
#g5-container .settings-param-field-colorpicker .settings-param-field-colorpicker-preview {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 1.5625em;
  border-radius: 3px;
}

/* line 8, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker img {
  display: block;
  margin: 0 auto;
}
/* line 14, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 19, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new i {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: #ddd;
  display: block;
}
/* line 27, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new .page {
  vertical-align: middle;
  height: 347px;
  line-height: 378px;
  text-align: center;
  position: relative;
}

/* line 4, ../scss/admin/_page-setup.scss */
#g5-container #page {
  min-height: 250px;
}

/* line 3, ../scss/admin/_sidebar.scss */
#g5-container #sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #f4f5f9;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #fafafa #dfe0e4 #d0d1d5;
  border-radius: 0 0 0 0.1875rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 16, ../scss/admin/_sidebar.scss */
#g5-container #sidebar, #g5-container #sidebar li:hover, #g5-container #sidebar li.active {
  box-shadow: inset -3px 0 0 -1px rgba(0, 0, 0, 0.04);
}
/* line 20, ../scss/admin/_sidebar.scss */
#g5-container #sidebar .content {
  padding: 0;
  margin: 0.625rem 0;
}
/* line 29, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li:hover {
  background-color: #edeff5;
}
/* line 33, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li.active {
  background-color: #c3c9d5;
  box-shadow: inset 3px 0 0 #b4bbcb;
}
/* line 37, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li.active a {
  color: white;
}
/* line 42, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li a {
  color: #a2a9bc;
  display: block;
  white-space: nowrap;
  padding: 0.469rem 0.938rem;
  padding-left: 0.7692rem;
}
/* line 49, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li a i {
  margin-right: 1.154rem;
}
/* line 56, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul {
  text-transform: none;
}
/* line 58, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul li a {
  color: #999;
  padding-top: 0.2345rem;
  padding-bottom: 0.2345rem;
  padding-left: 42px;
}
/* line 64, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul li a:before {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 100%;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  padding-right: 5px;
  color: #ddd;
}
/* line 78, ../scss/admin/_sidebar.scss */
#g5-container .sidebar-block {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 82, ../scss/admin/_sidebar.scss */
#g5-container .block.sidebar-icons {
  flex: 0 3%;
}
/* line 86, ../scss/admin/_sidebar.scss */
#g5-container .block.sidebar-closed {
  flex: 0;
}

/* line 3, ../scss/admin/_headers.scss */
#g5-container #main-header {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 10, ../scss/admin/_headers.scss */
#g5-container #main-header .content {
  margin: 0;
  padding: 0.469rem 0.938rem;
  line-height: 1rem;
}
/* line 18, ../scss/admin/_headers.scss */
#g5-container #main-header [data-sidebar-toggle] {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.469rem 0.938rem;
  margin: -0.469rem -0.938rem;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 25, ../scss/admin/_headers.scss */
#g5-container #main-header [data-sidebar-toggle] .fa-chevron-left {
  font-size: 55%;
  vertical-align: middle;
}
/* line 30, ../scss/admin/_headers.scss */
#g5-container #main-header [data-sidebar-toggle].sidebar-closed {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 34, ../scss/admin/_headers.scss */
#g5-container #main-header [data-sidebar-toggle].sidebar-icons {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 35, ../scss/admin/_headers.scss */
#g5-container #main-header [data-sidebar-toggle].sidebar-icons .fa-chevron-left {
  display: none;
}
/* line 45, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle] {
  text-align: center;
  font-weight: normal;
}
/* line 49, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle] > span {
  vertical-align: middle;
}
/* line 53, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle] .toggle {
  border-radius: 18px;
  height: 18px;
  width: 36px;
}
/* line 23, ../scss/admin/modules/_toggle-ui.scss */
#g5-container #main-header [data-mode-toggle] .toggle .knob {
  height: 16px;
  width: 20px;
  border-radius: 20px;
}
/* line 57, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle].production .toggle {
  background-color: #48cfad;
}
/* line 60, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle].production .toggle .knob {
  top: 1px;
  left: 15px;
}
/* line 66, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle].development .toggle {
  background-color: #f27a40;
}
/* line 69, ../scss/admin/_headers.scss */
#g5-container #main-header [data-mode-toggle].development .toggle .knob {
  top: 1px;
  left: 1px;
}
/* line 77, ../scss/admin/_headers.scss */
#g5-container .ribbon {
  padding: 0.469rem 0.938rem;
  background-color: #eeeeee;
  color: #a2a2a2;
  border-left: 1px solid #e1e1e1;
}
/* line 83, ../scss/admin/_headers.scss */
#g5-container .ribbon.master {
  background-color: #ffce54;
  color: #ba8500;
  border-left: 1px solid #ffb807;
}

/* line 2, ../scss/admin/_typography.scss */
body #g5-container {
  font-family: "opensanslight", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

/* line 9, ../scss/admin/_typography.scss */
#g5-container h1, #g5-container h2, #g5-container h3, #g5-container h4, #g5-container h5, #g5-container h6 {
  font-weight: normal;
}
/* line 14, ../scss/admin/_typography.scss */
#g5-container h6 {
  text-transform: uppercase;
}
/* line 19, ../scss/admin/_typography.scss */
#g5-container strong, #g5-container h1, #g5-container h2, #g5-container h3, #g5-container h4, #g5-container h5, #g5-container h6 {
  font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
/* line 24, ../scss/admin/_typography.scss */
#g5-container .page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #5d9cec;
  color: white;
}

/* line 3, ../scss/admin/_buttons.scss */
#g5-container .button {
  background: #eeeeee;
  color: #656d78;
  box-shadow: 0 1px #cfcfcf, -1px 0 gainsboro, 1px 0 gainsboro, 0 -1px #e6e6e6;
}
/* line 18, ../scss/admin/modules/_buttons.scss */
#g5-container .button:hover {
  background: #dfdfdf;
  box-shadow: 0 1px silver, -1px 0 #cdcdcd, 1px 0 #cdcdcd, 0 -1px #d7d7d7;
  color: #656d78;
}
/* line 23, ../scss/admin/modules/_buttons.scss */
#g5-container .button:active {
  box-shadow: 0 1px silver, -1px 0 #cdcdcd, 1px 0 #cdcdcd, 0 -1px #d7d7d7;
}
/* line 8, ../scss/admin/_buttons.scss */
#g5-container .button-primary {
  background: #5d9cec;
  color: white;
  box-shadow: 0 1px #267be6, -1px 0 #3d88e8, 1px 0 #3d88e8, 0 -1px #4f94ea;
}
/* line 18, ../scss/admin/modules/_buttons.scss */
#g5-container .button-primary:hover {
  background: #428be9;
  box-shadow: 0 1px #196bd4, -1px 0 #2278e5, 1px 0 #2278e5, 0 -1px #3483e7;
  color: white;
}
/* line 23, ../scss/admin/modules/_buttons.scss */
#g5-container .button-primary:active {
  box-shadow: 0 1px #196bd4, -1px 0 #2278e5, 1px 0 #2278e5, 0 -1px #3483e7;
}
/* line 13, ../scss/admin/_buttons.scss */
#g5-container .button-secondary {
  background: #f8b450;
  color: white;
  box-shadow: 0 1px #f69b15, -1px 0 #f7a52e, 1px 0 #f7a52e, 0 -1px #f7ae41;
}
/* line 18, ../scss/admin/modules/_buttons.scss */
#g5-container .button-secondary:hover {
  background: #f7a733;
  box-shadow: 0 1px #e38b09, -1px 0 #f59910, 1px 0 #f59910, 0 -1px #f6a124;
  color: white;
}
/* line 23, ../scss/admin/modules/_buttons.scss */
#g5-container .button-secondary:active {
  box-shadow: 0 1px #e38b09, -1px 0 #f59910, 1px 0 #f59910, 0 -1px #f6a124;
}
/* line 18, ../scss/admin/_buttons.scss */
#g5-container .button.red {
  background: #ed5565;
  color: white;
  box-shadow: 0 1px #e71e33, -1px 0 #ea3548, 1px 0 #ea3548, 0 -1px #ec4758;
}
/* line 18, ../scss/admin/modules/_buttons.scss */
#g5-container .button.red:hover {
  background: #ea394c;
  box-shadow: 0 1px #d0162a, -1px 0 #e7192f, 1px 0 #e7192f, 0 -1px #e92b3f;
  color: white;
}
/* line 23, ../scss/admin/modules/_buttons.scss */
#g5-container .button.red:active {
  box-shadow: 0 1px #d0162a, -1px 0 #e7192f, 1px 0 #e7192f, 0 -1px #e92b3f;
}
/* line 23, ../scss/admin/_buttons.scss */
#g5-container .button.yellow {
  background: #ffce54;
  color: #876000;
  box-shadow: 0 1px #ffbc17, -1px 0 #ffc430, 1px 0 #ffc430, 0 -1px #ffca45;
}
/* line 18, ../scss/admin/modules/_buttons.scss */
#g5-container .button.yellow:hover {
  background: #ffc535;
  box-shadow: 0 1px #f7b000, -1px 0 #ffbb12, 1px 0 #ffbb12, 0 -1px #ffc126;
  color: #876000;
}
/* line 23, ../scss/admin/modules/_buttons.scss */
#g5-container .button.yellow:active {
  box-shadow: 0 1px #f7b000, -1px 0 #ffbb12, 1px 0 #ffbb12, 0 -1px #ffc126;
}

/* line 1, ../scss/admin/_layout-manager.scss */
#g5-container {
  /* history */
  /* new blocks */
  /* deletion */
}
/* line 3, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks {
  /* THIS IS FOR PAGES */
  /* END THIS IS FOR PAGES */
    /* .block {
        padding: 8px;
        //border: 1px solid #dfdfdf;
        box-shadow: inset 0 0 0 1px #dfdfdf;
        margin: 4px;
        background: white;
    }

    .position, .spacer, .placeholder {
        background-color: #ecf3f6;
        padding: 12px;
        box-shadow: 0 0 0 4px white inset, 0 0 0 5px #d3e5f0 inset;
        color: #888;
    }

    .section {
        background: #f9f9f9;
    }

    .spacer {
        text-align: center;
        color: rgb(89, 135, 160);
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
        //border: 1px solid #97AFC5;
        background-color: #D8DFE4;
        text-transform: uppercase;
        @include background-image(linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent));
        background-size: 50px 50px;
    } */
}
/* line 4, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks.empty {
  min-height: 150px;
  border: 2px dashed #dfdfdf;
}
/* line 9, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid, #g5-container .lm-blocks .block {
  position: relative;
}
/* line 15, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  width: 8px;
  background: red;
  z-index: 3;
  cursor: ew-resize;
  display: none;
}
/* line 29, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:last-child:after {
  display: none;
}
/* line 34, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks.moving .grid > .block:after {
  display: none;
}
/* line 40, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid {
  margin: 10px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #aae1f4;
}
/* line 47, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section {
  background: #fafafa;
  cursor: move;
  margin: 10px;
  box-shadow: inset 0 0 0 1px #eeeeee;
  border-radius: 3px;
  padding: 10px 5px;
}
/* line 63, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section:hover {
  box-shadow: inset 0 0 0 1px #a0d468;
}
/* line 68, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-header {
  margin: 0 5px 8px;
}
/* line 71, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-header .button {
  pointer-events: visible;
}
/* line 76, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid {
  margin: 0;
  border: 0;
  box-shadow: none;
}
/* line 81, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid .block:after {
  display: none;
}
/* line 92, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block .in-between-sections:first-child, #g5-container .lm-blocks .grid > .block .in-between-sections:last-child {
  margin: 6px;
}
/* line 96, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  right: -4px;
  bottom: 8px;
  width: 8px;
  background-color: #bfc6cf;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  z-index: 3;
  cursor: ew-resize;
  border-radius: 8px;
}
/* line 111, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:last-child:after {
  display: none;
}
/* line 116, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .position, #g5-container .lm-blocks .spacer, #g5-container .lm-blocks .mainbody {
  padding: 8px;
  color: #c3c9d5;
  background: white;
  margin: 0 4px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}
/* line 157, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder {
  text-align: center;
  color: #5987a0;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  background-color: #eee9fb;
  box-shadow: inset 0 0 0 1px #ded3f7;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  border: 0;
  padding: 2px;
  flex: 0 1 50%;
  border-radius: 3px;
  min-height: 6px;
}
/* line 173, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between {
  margin: -2px 0;
  border-radius: 10px;
  display: block;
  flex: 0 0 0px;
  margin: 10px -3px;
  width: 0px;
  padding: 3px;
  text-indent: -10000px;
  font-size: 0px;
  flex: 0 1 0%;
}
/* line 186, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between-sections {
  box-shadow: inset 0 0 0 3px white, inset 0 0 0 4px #ded3f7;
  margin: -11px 6px;
  min-height: 12px;
  border-radius: 10px;
}
/* line 194, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between.in-between-sections {
  width: auto;
  margin: -10px 6px;
}
/* line 202, ../scss/admin/_layout-manager.scss */
#g5-container #history {
  display: inline-block;
  float: right;
}
/* line 205, ../scss/admin/_layout-manager.scss */
#g5-container #history span {
  display: inline-block;
  background: #eee;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  font-size: 16px;
  color: #777;
  text-shadow: 0 1px white;
}
/* line 218, ../scss/admin/_layout-manager.scss */
#g5-container #history span.disabled {
  color: #ccc;
}
/* line 224, ../scss/admin/_layout-manager.scss */
#g5-container .sidebar [data-lm-blocktype] {
  position: relative;
  z-index: 5;
}
/* line 230, ../scss/admin/_layout-manager.scss */
#g5-container .lm-newblocks {
  padding-bottom: 8px;
}
/* line 233, ../scss/admin/_layout-manager.scss */
#g5-container .lm-newblocks .block {
  cursor: move;
  display: inline-block;
  text-align: center;
  background: #f4f5f9;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 8px;
}
/* line 246, ../scss/admin/_layout-manager.scss */
#g5-container #trash {
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 0.938rem;
}
/* line 253, ../scss/admin/_layout-manager.scss */
#g5-container #trash .trash-zone {
  background-color: #ed5565;
  font-size: 2rem;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 0 auto;
}
/* line 262, ../scss/admin/_layout-manager.scss */
#g5-container #trash span {
  font-size: 0.8rem;
  color: #656d78;
}

/*# sourceMappingURL=admin.css.map */
