{% extends "@nucleus/page_head.html.twig" %}

{% block head_title %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ site.title|e }}</title>
    <meta name="description" content="{{ site.description|e }}">
{% endblock %}

{% block head_application %}
    {{ gantry.platform.finalize }}
    {{ parent() }}
{% endblock %}