{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<form method="POST">
    <div class="pull-right">
        <button class="button">Save</button>
    </div>
    <div id="settings" class="cards-wrapper">
        <div class="card settings-block">
            <h4>
                Edit menu
                {% if blueprints.form.fields.enabled %}
                {% include 'forms/fields/enable/enable.html.twig' with {'default': true, 'name': 'enabled', 'field': blueprints.form.fields.enabled, 'value': data.enabled} %}
                {% endif %}
            </h4>
            <div class="inner-params">
                {% include 'forms/fields.html.twig' with {'blueprints': blueprints.form, 'data':  data, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
