{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="menu-header">
        <h2>Menu Editor</h2>
        <select data-selectize-ajaxify data-selectize data-g5-ajaxify-target="[data-g5-content]" class="menu-select-wrap">
            {% for menu_name in menus %}
            <option value="{{ menu_name|e }}"
                    {% if id == menu_name %}selected="selected"{% endif %}
                    data-data="{{ {url: gantry.route('menu', menu_name)}|json_encode|e('html_attr') }}">
                {{ menu_name|capitalize|e }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div id="settings" class="cards-wrapper">
        <div class="card settings-block">
            <h4>
                Menu Settings
            </h4>

            <div class="inner-params">
                {% include 'forms/fields.html.twig'
                with {'blueprints': blueprints.form, 'data':  data, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>

    <div id="menu-editor">
        {% include 'menu/base.html.twig' with {'item': menu.root} %}
    </div>
{% endblock %}
