{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="menu-header">
        <h2>Menu Editor</h2>
        <select id="configuration-selector" data-selectize="" class="menu-select-wrap">
            <option value="mainmenu"
                    {% if 1 %}selected="selected"{% endif %}
                    data-data-x="{{ {url: gantry.route('menu', 'mainmenu')}|json_encode|e('html_attr') }}">
                Main Menu
            </option>
            <option value="extended"
                    {% if 0 %}selected="selected"{% endif %}
                    data-data-x="{{ {url: gantry.route('menu', 'extended')}|json_encode|e('html_attr') }}">
                Alternate Menu
            </option>
        </select>
    </div>
    <div id="menu-editor">
        {% include 'menu/base.html.twig' with {'item': menu.root} %}
    </div>

    <hr />

    <div id="settings" class="cards-wrapper">
        <div class="card settings-block">
            <h4>
                Menu Settings
                <span class="enabler">
                    <input type="hidden" value="{{ config.get(prefix ~ 'enabled', 0)|abs }}" />
                    <span class="toggle"><span class="knob"></span></span>
                </span>
            </h4>

            <div class="inner-params">
                {% include 'forms/fields.html.twig'
                with {'blueprints': blueprints.form, 'data':  config, 'prefix': prefix, 'skip': ['enabled']} %}
            </div>
        </div>
    </div>
{% endblock %}
