@import "vendor/bourbon/bourbon";
@import "configuration/all";
@import "modules/all";

// Resets and Normalization
audio,
canvas,
progress,
video {
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
}