#showcase {
	background: url(../images/showcase-bg.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: $showcase-text;
	.spacer {
		height: 180px;
		@include mediaquery(mobile-only) {
			display: none;
		}
	}
}