#showcase {
	background: $header-bg url(../images/showcase.jpg) 50% 100% no-repeat;
	color: $header-text;
	box-shadow: inset 0 -3px 10px rgba(0,0,0,0.3);
	.spacer {
		height: 180px;
		@include mediaquery(mobile-only) {
			display: none;
		}
	}
}