// Core
html {
 	font-size: 100%;
 	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $font-family-default;
	font-size: $core-font-size;
	line-height: $core-line-height;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $font-family-bold;
	margin: 0 0 $core-line-height 0;
}

h1 {
	font-size: $core-h1;
	line-height: $core-line-height + 1.313;
}

h2 {
	font-size: $core-h2;
	line-height: $core-line-height + 0.875;
}

h3 {
	font-size: $core-h3;
	line-height: $core-line-height + 0.440;
}

h4 {
	font-size: $core-h4;
	line-height: $core-line-height + 0.063;
}

h5 {
	font-size: $core-h5;
}

h6 {
	font-size: $core-h6;
}

.page-title {
	margin-top: -25px;
	padding: 25px;
	float: left;
	clear: both;
	background: $core-link;
	color: $white;
}

// Paragraph
p {
	margin: 0 0 $core-line-height 0;
}

// Lists
ul {
	margin: 0;
}

ol {
	margin: 0;
}

// Code and Pre
pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: $core-font-size;
}

// Extras
small {
	font-size: $core-font-size - 0.125;
}

sub,
sup {
	font-size: $core-font-size - 0.250;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}