<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>
<body>
    {% block header_section %}
    <header id="header">
        <div class="container">
            <div class="grid pure-g-r">
                <div class="block size-1-3 pure-u-1-3">
                    <h1><a href="{{ base_url_relative }}">{{ site.title }}</a></h1>
                </div>
                <div class="block pure-u-2-3">
                    {% block header %}
                        {% include 'widgets/menu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <div class="container">
        <section id="main">
            <div class="grid pure-g-r">
                {% if layout == 'sidebar' %}
                <div class="mainbody block pure-u-2-3">
                    {% block breadcrumbs %}{% endblock %}
                    <div class="content">
                        {% block content_sidebar %}{% endblock %}
                        {% block pagination %}{% endblock %}
                    </div>
                </div>
                <div class="sidebar block size-1-3 pure-u-1-3">
                    {% block sidebar %}{% endblock %}
                </div>
                {% else %}
                <div class="mainbody block pure-u-1-1">
                    <div class="content">
                        {% block content_full %}{% endblock %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>

    {% block footer_section %}
    <footer id="footer">
        <div class="container">
            <a href="http://getgrav.org">Grav</a> was made with <i class="fa fa-heart"></i> by <a href="http:/www.rockettheme.com">RocketTheme</a>.
        </div>
    </footer>
    {% endblock %}
 </body>
</html>
