<div class="sidebar-content">
    {% include 'partials/author.html.twig' with {'author':taxonomy.findTaxonomy({'author':'andym'})|first} %}
</div>
<div class="sidebar-content">
    <h3>Popular Tags</h3>
    {% include 'taxonomylist.html.twig' with {'taxonomy':'tag'} %}
</div>
<div class="sidebar-content">
    <h3>Syndicate</h3>
    <a class="button" href="{{ base_url_relative }}{{ site.blog.route }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ base_url_relative }}{{ site.blog.route }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
