{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="rt-block rt-branding {{ particle.css.classname }} particle">
    Powered by <a href="http://www.gantry-framework.org/" title="Gantry Framework" class="rt-powered-by">Gantry Framework</a>
</div>
{% endblock %}
