{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<a href="{{ site.url }}" title="{{ particle.text|e }}" rel="home">
    <img src="{{ url("theme://" ~ particle.image) }}" alt="{{ particle.text|e }}" />
</a>
{% endblock %}
