{% extends "@nucleus/page.html.twig" %}

{% do gantry.theme.setLayout('gantry-layouts://error.yaml') %}

{% block content %}
    <h2 class="center">Our Core Team</h2>

    <p class="center">Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

    <div class="grid pure-g">
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="block">
            <div class="content">
              <h3>Robert Smith</h3>
              <h6>CEO of Nucleus</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="block">
            <div class="content">
              <h3>Paul Valdez</h3>
              <h6>Administrator</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
    </div>

    <div class="grid pure-g">
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="block">
            <div class="content">
              <h3>Tayla Parker</h3>
              <h6>Accountant</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="block">
            <div class="content">
              <h3>Luca Coyle</h3>
              <h6>CS Leader</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="center">Our Support Team</h2>

    <p class="center">Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

    <div class="grid pure-g center">
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
              <h3>Paul Valdez</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
              <h3>Tayla Parker</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="block">
            <div class="content">
                <img src="http://placehold.it/500x500" alt="image">
              <h3>Luca Coyle</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

{% endblock %}
