// Light Header variables
$menuBackground:		#F3F3F3;
$menuBorder1:			#E3E3E3;
$menuBorder2:			#F5F5F5;
$menuActiveBack:		#FFFFFF;
$menuHoverBack:         #FFFFFF;
$menuColor:				#666A6E;
$menuActiveColor:		#32373D;
$menuHoverColor:		#32373D;
$menuActiveHoverColor:	#666A6E;
$menuDropText:			#FFFFFF;
$menuDropHoverText:		#495565;
$menuTextColor:			#32373D;

$menuMobileGradient:	$menuBackground;
$menuDropShadow:		0px 2px 2px rgba(0,0,0,0.2);

// Menu
.gf-menu {
	box-shadow: inset 0 1px 1px rgba(255,255,255,1);
}