// Basic Reseting Classes
body {
	.rt-center {
		text-align: center;
	}
	.nobold {
		font-weight: normal !important;
	}
	.nomargintop {
		margin-top: 0 !important;
	}
	.nomarginbottom {
		margin-bottom: 0 !important;
	}
	.smallmarginbottom {
		margin-bottom: 5px !important;
	}
	.smallmargintop {
		margin-top: 5px !important;
	}
	.largemarginbottom {
		margin-bottom: 15px !important;
	}
	.largemargintop {
		margin-top: 15px !important;
	}
	.largemarginleft {
		margin-left: 15px !important;
	}
	.largemarginright {
		margin-right: 15px !important;
	}
	.largepaddingbottom {
		padding-bottom: 15px !important;
	}
	.largepaddingtop {
		padding-top: 15px !important;
	}
	.largepaddingleft {
		padding-left: 15px !important;
	}
	.largepaddingright {
		padding-right: 15px !important;
	}
}