// Load Admin Configuration
@import "configuration/admin/base";

// Core
@import "joomla-admin/core";

// Buttons
@import "joomla-admin/buttons";

// Headers
@import "joomla-admin/headers";

// Sidebar
@import "joomla-admin/sidebar";

// Overview
@import "joomla-admin/overview";

// Typography
@import "joomla-admin/typography";
