.g-main-nav {
	ul {
		@extend %list-reset;
	}

	// Main Level
	.g-toplevel {
		position: relative;
		> li {
			display: inline-block;
			@include transition(all .1s ease-out);
			&:hover {
				> .g-dropdown {
					@extend %active-dropdown;
				}
			}
			> a, > .g-separator {
				display: block;
			}
		}
	}

	// First Level Dropdown
	.g-dropdown {
		@extend %inactive-dropdown;
	    @include transition(all .1s ease-out);
	}

	// Sublevel Items
	.g-sublevel {
    	> li {
    		@include transition(all .1s ease-out);
    		a, .g-separator, .g-nav-header {
    			display: block;
    		}
    	}
    }
}

// Standard Dropdown Settings
.g-standard {
	.g-sublevel {
    	> li {
    		position: relative;
    		&:hover {
    			> .g-dropdown {
    				@extend %active-dropdown;
    			}
    		}
    	}
    }
    .g-dropdown {
	    .g-dropdown {
	    	left: 100%;
    		top: 0;
	    	@extend %inactive-dropdown;
	    }
	}
	.g-dropdown-column {
    	@extend %dropdown-column;
    }
}

// Megamenu Settings
.g-fullwidth {
	position: static;
	.g-dropdown {
		position: absolute;
		left: 0;
		right: 0;
		.g-block {
			width: 50%;
		}
	}
}

// Mobile Menu 
@include breakpoint(mobile-only) {
	.g-main-nav {
		.g-toplevel {
			position: fixed;
			top: 0;
			height: 100%;
			right: 0;
			width: 260px;
			overflow: auto;
			background: #222;
			li {
				display: block;
				&:hover {
					> .g-dropdown {
						display: none;
					}
				}
			}
		}
	}
}