.g-main-nav {
	ul {
		@extend %list-reset;
	}

	// Main Level
	.g-toplevel {
		> li {
			display: inline-block;
			@include transition(all .2s ease-out);
			/*
			&:hover {
				> .g-dropdown {
					@extend %active-dropdown;
				}
			}
			*/
			> a, > .g-separator {
				display: block;
			}
			.g-menu-item-content {
				cursor: pointer;
				@include transition(all .2s ease-out);
			}	
	    	// Menu Parent Indicator on Main TopLevel
	    	&.g-parent {
				> .g-menu-item-content {
					&:after {
						display: inline-block;
						width: 1.5rem;
						opacity: 0.5;
						font-family: FontAwesome;
						content: "\f078";					
					}
					&.g-selected:after {
						content: "\f00d";	
					}
				}
	    	}					
		}
	}

	// First Level Dropdown
	.g-dropdown {
		@extend %inactive-dropdown;
	    @include transition(all .2s ease-out);
	}

	// Sublevel Items
	.g-sublevel {
    	> li {
    		@include transition(all .2s ease-out);
    		a, .g-separator, .g-nav-header {
    			display: block;
    		}
    	}
    	// Menu Parent Indicator on SubLevel
    	.g-parent {
			> .g-menu-item-content {
				&:after {
					position: absolute;
					right: 1rem;
					opacity: 0.5;
					font-family: FontAwesome;
					content: "\f054";					
				}
			}
    	}
    }

    // Go Back Button on Dropdown
	.g-go-back {
		a {
			span {
				display: none;
			}
			&:before {
				font-family: FontAwesome;
				content: "\f177";
				opacity: 0.5;
			}
		}
	}    
}

// Standard Dropdown Settings
.g-standard {	
	.g-sublevel {
    	> li {
    		position: relative;
    		&:hover {
    			> .g-dropdown {
    				@extend %active-dropdown;
    			}
    		}
    	}
    }
    .g-dropdown {
	    .g-dropdown {
	    	left: 100%;
    		top: 0;
	    	@extend %inactive-dropdown;
	    }
	    .g-block {
	    	@include flex(0 100%);
	    }
	    // Dropdown is Active When Its Parent is Clicked
		&.g-active {
			@extend %active-dropdown;
		}	    
	}
	.g-dropdown-column {
    	@extend %dropdown-column;
    }
}

// Megamenu Settings
.g-fullwidth {
	position: static;
	.g-dropdown {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		.g-block {
			width: 50%;
			position: relative;
			overflow: hidden; 
		}
		// Dropdown is Active When Its Parent is Clicked
		&.g-active {
			@extend %active-dropdown;
		}
	}
	.g-sublevel {
		.g-dropdown {
			top: 0;
			@include transform(translateX(100%));
			&.g-active {
				@include transform(translateX(0));
			}
		}
		&.g-slide-out {
			> .g-menu-item > .g-menu-item-content,
			> .g-go-back {
				@include transform(translateX(-100%));
			}
		}
	}
}