// Social Buttons
.rt-social-buttons {
	text-align: right;
	.social-button {
		color: $header-bg;
		margin: 0 0.01em;
		background: $header-text;
	    display: inline-block;
	    font-size: 1em;
	    width: 22px;
	    height: 22px;
	    line-height: 22px;
	    text-align: center;
		&:hover {
			color: $core-accent;
		}
	}
}