{% extends "forms/field.html.twig" %}

{% block input %}
    {% if field.fields %}
        {% for key, val in value %}

        {% if (field.ajax == true) %}
            {% set route = gantry.route('settings/' ~ scope|replace('.', '/') ~ field.name ~ '/' ~ key) %}
            <div><a href="{{ route }}">{{ field.value == field.key ? key : val[field.value] }}</a></div>
        {% else %}
            <hr />
            {% for childName, child in field.fields %}
            {% if childName starts with '.' %}
                {% set childValue = val[childName[1:]] %}
                {% set childName = name ~ '.' ~ key ~ childName %}
            {% else %}
                {% set childName = childName|replace({'*': key}) %}
                {% set childValue = data.get(scope ~ childName) %}
            {% endif %}

            {% if child.type  == 'key' %}
                {% include 'forms/fields/key/key.html.twig'
                with {name: childName, field: child, value: key} %}
            {% elseif child.type %}
                {% include ["forms/fields/" ~ child.type|replace('.', '/') ~ ".html.twig", 'forms/fields/unknown/unknown.html.twig']
                with {name: childName, field: child, value: childValue} %}
            {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
