.g-filemanager {
    > *:not(div), label {
        display: inline-block;
        vertical-align: middle;
    }

    > .fa {
        cursor: pointer;
    }
}



.g5-dialog.g5-dialog-theme-default.g5-modal-filemanager .g5-content {
    width: 650px;
    @include transform(translateZ(0));

    .g-particles-header {
        input, label, select {
            font-size: 0.8em;
        }

        .files-mode {
            .file-mode {
                display: inline-block;
                padding: 6px 8px;
                background-color: #ddd;
                color: #999;
                margin-left: -4px;
                cursor: pointer;

                &.active {
                    background-color: $core-accent;
                    color: lighten($core-accent, 50%);
                }

                &:first-child {
                    border-radius: $core-border-radius 0 0 $core-border-radius;
                }

                &:last-child {
                    border-radius: 0 $core-border-radius $core-border-radius 0;
                }
            }
        }
    }

    .g-bookmarks, [data-file] {
        @extend %list-reset;
    }

    .g-bookmarks {

        .g-bookmark {
            font-family: "Monaco", "Courier New", Courier, monospace;
            font-size: 0.8em;

            .g-bookmark-title {
                width: 100%;
                background: darken($light-gray, 2); //#e9e9e9;
                display: block;
                border-radius: 3px;
                color: lighten($dark-gray, 20); //#888;
                margin-top: 1rem;
                padding: 4px 16px 4px 4px;
                white-space: pre;
                position: relative;
                @include ellipsis();

                .g-bookmark-collapse {
                    position: absolute;
                    right: 2px;
                    top: 0;
                    bottom: 0;
                    line-height: 2.2em;
                    cursor: pointer;
                }
            }

            &.collapsed {
                .g-bookmark-collapse::before {
                    content: "\f067";
                }
            }

            &:first-child span {
                margin-top: 0;
            }

            .fa-ul {
                margin-left: 1.14285714em;
                > li {
                    cursor: pointer;

                    &:hover {
                        color: $secondary-accent;
                    }

                    &.active > .fa::before {
                        content: "\f115";
                    }

                    .path {
                        @include ellipsis();
                    }
                }
            }
        }
    }

    .g-folders {
        margin: 0;
        padding-left: 2.14285714em;
    }

    .g-files, .folders {
        max-height: 500px;
        overflow: auto;
    }

    .g-files {
        > ul {
            margin: 6px 0;
            list-style: none;
        }

        li {
            vertical-align: middle;
            @extend .font-small;

            > span {
                display: inline-block;
            }
        }

        .g-list-labels {
            display: none;
        }

        &.g-filemode-thumbnails {
            $max-width: 100px;
            li {
                display: inline-block;
                max-width: $max-width;
                text-align: center;
                margin: 12px 15px;
                cursor: pointer;

                .g-thumb {
                    background-color: $white;
                    width: $max-width;
                    height: $max-width;
                    line-height: $max-width;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    border-radius: $core-border-radius;

                    &.g-image {
                        position: relative;
                        float: left;
                        width: $max-width;
                        height: $max-width;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                .g-file-name {
                    font-size: 0.7rem;
                    margin: 0.5em -6px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: $max-width;
                }

                .g-file-size, .g-file-mtime {
                    display: none;
                }

                &.selected span {
                    @extend .badge;
                    background-color: $core-accent !important;
                    color: $white !important;
                    padding: 0 6px !important;
                }
            }
        }

        &.g-filemode-list {
            margin-top: 0;
            li {
                display: block;
                padding: 6px 4px;

                > span:not(.g-file-name) {
                    color: #aaa;
                    text-align: center;
                }

                .g-thumb {
                    display: none;
                }

                .g-file-name {
                    width: 60%;
                }

                .g-file-size {
                    width: 20%;
                }

                &:nth-child(odd) {
                    background-color: #f5f5f5;
                }

                &.selected {
                    background-color: $core-accent !important;
                    color: $white !important;

                    > span:not(.g-file-name) {
                        color: lighten($core-accent, 15%);
                    }
                }
            }
        }

        &.g-filemode-list .g-list-labels {
            margin: 0 0 -6px;
            display: block;

            li {
                background-color: #e9e9e9;
                > span {
                    color: #888;
                }
            }
        }
    }
}