.g-filemanager {
    > *:not(div), label {
        display: inline-block;
        vertical-align: middle;
    }

    > .fa {
        cursor: pointer;
    }
}



.g5-dialog.g5-dialog-theme-default.g5-modal-filemanager .g5-content {
    width: 650px;
    @include transform(translateZ(0));

    .g-particles-header {
        input, label, select {
            font-size: 0.8em;
        }
    }

    .g-bookmarks, [data-file] {
        @extend %list-reset;
    }

    .g-bookmarks {
        .g-bookmark {
            font-family: "Monaco", "Courier New", Courier, monospace;
            font-size: 0.8em;

            .g-bookmark-title {
                width: 100%;
                background: darken($light-gray, 2); //#e9e9e9;
                display: block;
                border-radius: 3px;
                color: lighten($dark-gray, 20); //#888;
                margin-top: 1rem;
                padding: 4px 16px 4px 4px;
                white-space: pre;
                position: relative;
                @include ellipsis();

                .g-bookmark-collapse {
                    position: absolute;
                    right: 2px;
                    top: 0;
                    bottom: 0;
                    line-height: 2.2em;
                    cursor: pointer;
                }
            }

            &.collapsed {
                .g-bookmark-collapse::before {
                    content: "\f067";
                }
            }

            &:first-child span {
                margin-top: 0;
            }

            .fa-ul {
                margin-left: 1.14285714em;
                > li {
                    cursor: pointer;

                    &:hover {
                        color: $secondary-accent;
                    }

                    &.active > .fa::before {
                        content: "\f115";
                    }

                    .path {
                        @include ellipsis();
                    }
                }
            }
        }
    }

    .g-folders {
        margin: 0;
        padding-left: 2.14285714em;
    }

    .g-files, .folders {
        max-height: 500px;
        overflow: auto;
        margin-right: -10px;
    }

    .g-files {
        > ul {
            margin: -12px 1em 6px;
        }

        [data-file] {
            display: inline-block;
            max-width: 100px;
            vertical-align: middle;
            text-align: center;
            margin: 12px 15px;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;

            .g-image {
                position: relative;
                float: left;
                width: 100px;
                height: 100px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            div {
                background-color: $white;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-transform: uppercase;
                font-size: 0.8em;
                border-radius: $core-border-radius;
            }

            span {

                font-size: 0.7em;
                margin-top: 0.5em;
                display: inline-block;
            }
        }
    }
}