.g-fonts {
    > * {
        display: inline-block;
        vertical-align: middle;
    }

    i {
        cursor: pointer;
    }
}

.g5-dialog.g5-dialog-theme-default.g5-modal-fonts .g5-content {
    width: 650px;

    .g-font-hide, .g-variant-hide, .font-charsets-selected {
        display: none;
    }

    .font-selected .font-charsets-selected {
        display: inline-block;
    }

    input {
        font-size: 0.8em;
    }
    .font-preview {
        width: 400px;
    }

    .g-particles-footer {
        .font-selected {
            font-size: 0.8em;
            margin-right: 10px;
        }

        .font-category {
            font-size: 0.85em;
        }

        .font-subsets {
            margin-left: 0.85em !important;
        }
    }

    ul.g-fonts-list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;
        line-height: 1.5rem;
        max-height: 550px;
        overflow: auto;
        position: relative;

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        > li {
            padding: 0.5em 1em;
            margin: 0.5em 0;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            cursor: pointer;

            background-color: #eaeaea;

            &:nth-child(odd) {
                background-color: #f7f7f7;
            }

            &.selected {
                border-color: $tertiary-accent;
            }

            strong {
                font-weight: bold !important;
            }

            input[type="checkbox"], .variant {
                display: inline-block;
                vertical-align: middle;
            }

            .variant, .family {
                color: #999;
            }

            .preview {
                font-size: 24px;
                line-height: 1.3em;
            }

            ul {
                margin-top: 0.5em;
            }

            li {
                padding: 0.5em 0;
                border: 0;
                border-top: 1px solid #ddd;
                border-radius: 0;
            }
        }
    }
}