.g-icons {
    > *:not(div), label {
        display: inline-block;
    }

    label, input, select {
        font-size: 0.85em;
    }

    > .fa {
        cursor: pointer;
    }
}

.g5-popover-icons-preview {
    width: auto !important;
}

.g5-dialog.g5-dialog-theme-default.g5-modal-icons .g5-content {
    width: 650px;

    .g-particles-header {
        color: lighten(#000, 50);

        label, select, input {
            margin: 0 !important;
            display: inline-block !important;
            font-size: 0.8em;
        }

        label {
            font-size: 0.75em;
        }
    }

    .icons-wrapper {
        max-height: 650px;
        overflow: auto;
        ul {
            @extend %list-reset;
            background-color: $white;
            border-radius: 3px;
            padding: 10px;

            li {
                display: inline-block;
                min-width: 190px;
                font-size: 0.85em;
                color: lighten(#000, 50);
                cursor: pointer;
                padding: 4px;
                margin: 2px 0;
                border-radius: 3px;

                i {
                    color: #333;
                }

                &:hover {
                    background-color: darken($white, 4);
                }

                &.active {
                    background-color: $core-accent;
                    color: lighten($core-accent, 50);

                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}