{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="{{ particle.css.classname }} particle">
    <div class="rt-block">
        <a href="#" id="gantry-totop" rel="nofollow">To Top</a>
    </div>
</div>
{% endblock %}
