{% extends "@nucleus/partials/module.html.twig" %}



{% block module %}
<div class="demostyle-type-preset1">
	<div class="fp-roksprocket-features-showcase">
		<div class="sprocket-features layout-showcase arrows-active arrows-onhover pagination-active" data-showcase="248">
			<ul class="sprocket-features-list">
				<li class="sprocket-features-index-1 active" data-showcase-pane="">
					<div class="sprocket-features-container">
						<div class="sprocket-features-content">
							<h2 class="sprocket-features-title">
								<a href="#">An Explosion of Possibilities to Showcase your Data.</a>
							</h2>
							<div class="sprocket-features-desc">
								<div class="grid">
									<div class="rt-sprocket-text block">
										<p>Ricochet combines an elegant and corporate design with rich content visuals to professionally present masses of data.</p>  
									</div>  
									<div class="block size-1-3">   
										<div class="gantry-width-spacer">     
											<div class="rt-triangle-set">       
												<div class="rt-triangle-1"></div>       
												<div class="rt-triangle-2"></div>       
												<div class="rt-triangle-3"></div>     
											</div>    
										</div>  
									</div>
								</div>
								<a href="#" class="readon"><span>Read More</span></a>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="sprocket-features-arrows">
				<span class="arrow next" data-showcase-next=""><span>›</span></span>
				<span class="arrow prev" data-showcase-previous=""><span>‹</span></span>
			</div>
			<div class="sprocket-features-pagination">
				<ul>
					<li class="active" data-showcase-pagination="1"><span>1</span></li>
					<li data-showcase-pagination="2"><span>2</span></li>
					<li data-showcase-pagination="3"><span>3</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
