/* line 2, engines/joomla/nucleus/scss/joomla/_typography.scss */
p {
  margin: 1.5rem 0;
}

/* line 6, engines/joomla/nucleus/scss/joomla/_typography.scss */
dl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 11, engines/joomla/nucleus/scss/joomla/_typography.scss */
dd {
  margin-left: 1.5rem;
}

/* line 16, engines/joomla/nucleus/scss/joomla/_typography.scss */
ul.menu ul {
  margin-left: 1.5rem;
}

/* line 21, engines/joomla/nucleus/scss/joomla/_typography.scss */
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
}

/* line 30, engines/joomla/nucleus/scss/joomla/_typography.scss */
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  padding: 0.75rem;
}

/* line 37, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-striped .row-fluid {
  width: 97%;
}

/* line 41, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}

/* line 45, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-striped .row-fluid [class*="span"] {
  margin-left: 0.75rem;
}

/* line 49, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

/* line 53, engines/joomla/nucleus/scss/joomla/_typography.scss */
.list-condensed li {
  padding: 0.5rem;
}

/* line 57, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 0.5rem;
}

/* line 62, engines/joomla/nucleus/scss/joomla/_typography.scss */
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 1.5;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border-radius: 4px;
}

/* line 72, engines/joomla/nucleus/scss/joomla/_typography.scss */
.blog-row-rule,
.blog-item-rule {
  border: 0;
}

/* line 77, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
}

/* line 83, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-odd {
  background-color: transparent;
}

/* line 87, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-fluid .row-reveal {
  visibility: hidden;
}

/* line 91, engines/joomla/nucleus/scss/joomla/_typography.scss */
.row-fluid:hover .row-reveal {
  visibility: visible;
}

/* line 95, engines/joomla/nucleus/scss/joomla/_typography.scss */
hr.hr-condensed {
  margin: 10px 0;
}

/* line 100, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption .left {
  float: left;
  margin-right: 1.5rem;
}

/* line 105, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption .right {
  float: right;
  margin-left: 1.5rem;
}

/* line 110, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption .left p {
  clear: left;
  text-align: center;
}

/* line 115, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption .right p {
  clear: right;
  text-align: center;
}

/* line 120, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption {
  text-align: center !important;
}

/* line 124, engines/joomla/nucleus/scss/joomla/_typography.scss */
.img_caption.none {
  margin-left: auto;
  margin-right: auto;
}

/* line 129, engines/joomla/nucleus/scss/joomla/_typography.scss */
figure {
  display: table;
}

/* line 133, engines/joomla/nucleus/scss/joomla/_typography.scss */
figure.pull-center,
img.pull-center {
  margin-left: auto;
  margin-right: auto;
}

/* line 139, engines/joomla/nucleus/scss/joomla/_typography.scss */
img.pull-center {
  display: block;
}

/* line 143, engines/joomla/nucleus/scss/joomla/_typography.scss */
figcaption {
  display: table-caption;
  caption-side: bottom;
}

/* line 149, engines/joomla/nucleus/scss/joomla/_typography.scss */
blockquote {
  padding: 0 0 0 0.938rem;
  margin: 0 0 1.5rem;
}

/* line 154, engines/joomla/nucleus/scss/joomla/_typography.scss */
blockquote p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* line 159, engines/joomla/nucleus/scss/joomla/_typography.scss */
blockquote small {
  line-height: 1.5;
}

/* line 164, engines/joomla/nucleus/scss/joomla/_typography.scss */
blockquote.pull-right {
  padding-right: 1.5rem;
}

/* line 168, engines/joomla/nucleus/scss/joomla/_typography.scss */
address {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* line 173, engines/joomla/nucleus/scss/joomla/_typography.scss */
code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.8rem;
  border-radius: 0.1875rem;
}

/* line 180, engines/joomla/nucleus/scss/joomla/_typography.scss */
pre {
  padding: 0.938rem;
  margin: 0 0 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
}

/* line 188, engines/joomla/nucleus/scss/joomla/_typography.scss */
pre.prettyprint {
  margin-bottom: 1.5rem;
}

/* line 1, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn .caret {
  margin-bottom: 7px;
}

/* line 5, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn.btn-micro .caret {
  margin: 5px 0;
}

/* line 9, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-wide {
  width: 80%;
}

/* line 13, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.radio.btn-group input[type=radio] {
  display: none;
}

/* line 17, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

/* line 27, engines/joomla/nucleus/scss/joomla/_buttons.scss */
fieldset.radio.btn-group {
  padding-left: 0;
}

/* line 31, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-micro {
  padding: 1px 4px;
  font-size: 10px;
  line-height: 8px;
}

/* line 37, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn-micro {
  font-size: 10px;
}

/* line 41, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn + .dropdown-backdrop + .btn {
  margin-left: -1px;
}

/* line 45, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}

/* line 55, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn-mini + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}

/* line 62, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn-small + .dropdown-backdrop + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

/* line 67, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group > .btn-large + .dropdown-backdrop + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}

/* line 74, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn-group .chzn-results {
  white-space: normal;
}

/* line 81, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.controls .input-append .btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}

/* line 89, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn.jmodedit {
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
}
/* line 93, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.btn.jmodedit [class^="icon-"], .btn.jmodedit [class*=" icon-"] {
  margin: 6px 8px;
  align: center;
}

/* line 99, engines/joomla/nucleus/scss/joomla/_buttons.scss */
.filters.btn-toolbar .btn-group, .filters.btn-toolbar {
  font-size: inherit;
}

/* line 1, engines/joomla/nucleus/scss/joomla/_forms.scss */
legend {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.5;
}

/* line 7, engines/joomla/nucleus/scss/joomla/_forms.scss */
legend small {
  font-size: 0.8rem;
}

/* line 11, engines/joomla/nucleus/scss/joomla/_forms.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 31, engines/joomla/nucleus/scss/joomla/_forms.scss */
input, textarea, .uneditable-input {
  width: 90%;
}

/* line 35, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
}

/* line 41, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-prepend .chzn-container-single .chzn-single,
.input-append .chzn-container-single .chzn-single {
  height: 26px;
  box-shadow: none;
}

/* line 47, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-prepend > .add-on,
.input-append > .add-on {
  vertical-align: top;
  height: auto;
  line-height: 1.5;
  padding: 5px;
}

/* line 55, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-prepend .chzn-container-single .chzn-single {
  border-radius: 0 0.1875rem 0.1875rem 0;
}

/* line 59, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-prepend .chzn-container-single .chzn-single-with-drop {
  border-radius: 0 0.1875rem 0 0;
}

/* line 63, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-append .chzn-container-single .chzn-single {
  border-radius: 0.1875rem 0 0 0.1875rem;
}

/* line 67, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-append .chzn-container-single .chzn-single-with-drop {
  border-radius: 0.1875rem 0 0 0;
}

/* line 71, engines/joomla/nucleus/scss/joomla/_forms.scss */
.input-prepend.input-append .chzn-container-single .chzn-single,
.input-prepend.input-append .chzn-container-single .chzn-single-with-drop {
  border-radius: 0;
}

/* line 76, engines/joomla/nucleus/scss/joomla/_forms.scss */
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 86, engines/joomla/nucleus/scss/joomla/_forms.scss */
.form-vertical .control-label {
  float: none;
  width: auto;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}

/* line 94, engines/joomla/nucleus/scss/joomla/_forms.scss */
.form-vertical .controls {
  margin-left: 0;
}

/* line 98, engines/joomla/nucleus/scss/joomla/_forms.scss */
.invalid {
  color: #9d261d;
}

/* line 102, engines/joomla/nucleus/scss/joomla/_forms.scss */
input.invalid {
  border: 1px solid #9d261d;
}

/* line 108, engines/joomla/nucleus/scss/joomla/_forms.scss */
#modules-form .btn-group {
  font-size: inherit;
}
/* line 111, engines/joomla/nucleus/scss/joomla/_forms.scss */
#modules-form .radio.btn-group input[type=radio] {
  display: inherit;
  margin-left: inherit;
}

/* line 1, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}

/* line 6, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.navbar .nav > li > a.btn {
  padding: 4px 10px;
  line-height: 18px;
}

/* line 11, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.nav-tabs.nav-dark > .active > a,
.nav-tabs.nav-dark > .active > a:hover {
  border-bottom-color: transparent;
}

/* line 16, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.tab-content {
  overflow: visible;
}

/* line 20, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.tabs-left .tab-content {
  overflow: auto;
}

/* line 24, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.nav-tabs > li > span {
  display: block;
  margin-right: 2px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 0.1875rem 0.1875rem 0 0;
}

/* line 36, engines/joomla/nucleus/scss/joomla/_tabs.scss */
.dropdown-menu {
  text-align: left;
}

/* line 2, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.platform-content *, .platform-content *::before, .platform-content *::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 7, engines/joomla/nucleus/scss/joomla/_utilities.scss */
body.modal {
  padding-top: 0;
}

/* line 12, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.thumbnail.pull-left {
  margin: 0 10px 10px 0;
}

/* line 15, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.thumbnail.pull-right {
  margin: 0 0 10px 10px;
}

/* line 20, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.accordion-body.in:hover {
  overflow: visible;
}

/* line 25, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.tip-wrap {
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 0.1875rem;
  z-index: 100;
}

/* line 34, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.tooltip {
  max-width: 400px;
}

/* line 37, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.tooltip-inner {
  max-width: none;
  text-align: left;
  text-shadow: none;
}

/* line 42, engines/joomla/nucleus/scss/joomla/_utilities.scss */
th .tooltip-inner {
  font-weight: normal;
}

/* line 45, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.tooltip.hasimage {
  opacity: 1;
}

/* line 48, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.tip-text {
  text-align: left;
}

/* line 53, engines/joomla/nucleus/scss/joomla/_utilities.scss */
#helpsite-refresh {
  vertical-align: top;
}

/* line 57, engines/joomla/nucleus/scss/joomla/_utilities.scss */
#pop-print {
  float: right;
  margin: 10px;
}

/* line 62, engines/joomla/nucleus/scss/joomla/_utilities.scss */
#filter-search {
  vertical-align: top;
}

/* line 66, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.editor {
  overflow: hidden;
  position: relative;
}

/* line 71, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.search span.highlight {
  font-weight: bold;
  padding: 1px 4px;
}

/* line 77, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.img-rounded {
  border-radius: 0.1875rem;
}

/* line 81, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.img-polaroid {
  padding: 4px;
}

/* line 86, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.alert {
  border-radius: 0.1875rem;
}

/* line 92, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.add-on [class^="icon-"], .add-on [class*=" icon-"] {
  height: auto;
  line-height: 1.5;
}

/* line 98, engines/joomla/nucleus/scss/joomla/_utilities.scss */
[class^="icon-"], [class*=" icon-"] {
  margin-right: .25em;
  line-height: 14px;
}

/* line 105, engines/joomla/nucleus/scss/joomla/_utilities.scss */
.calendar .button {
  display: table-cell;
  background: inherit;
  color: inherit;
}

/* line 1, engines/joomla/nucleus/scss/joomla/_offline.scss */
#frame {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
}

/* line 7, engines/joomla/nucleus/scss/joomla/_offline.scss */
#frame img {
  max-width: 100%;
  height: auto;
}

/* line 12, engines/joomla/nucleus/scss/joomla/_offline.scss */
#frame form {
  text-align: left;
}

/* line 16, engines/joomla/nucleus/scss/joomla/_offline.scss */
.outline {
  padding: 2px;
}

/* line 20, engines/joomla/nucleus/scss/joomla/_offline.scss */
#system-message {
  margin: 0 auto;
  padding: 20px 0 0;
}



/*# sourceMappingURL=joomla.css.map */