// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "../common/scss/vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "../common/scss/configuration/nucleus/base";

// Load Template Configuration
@import "../common/scss/configuration/template/base";

// Load Nucleus Mixins and Functions
@import "../common/scss/nucleus/functions/base";
@import "../common/scss/nucleus/mixins/base";

// Load Template Library
@import "../common/scss/template/modules/base";

//-------------------------------------------

// phpBB COMPONENTS
@import "phpbb/core/buttons";
@import "phpbb/core/common";