// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Bourbon library
@import "vendor/bourbon/bourbon";

//-------------------------------------------

// Load Nucleus Configuration Defaults
@import "configuration/nucleus/base";

// Load Grav Configuration Defaults
@import "configuration/grav/base";

//-------------------------------------------

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

//-------------------------------------------

// Load Alerts Highlighting
@import "nucleus/theme/alerts";

// Load Grav Assets
@import "grav/base";