{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<div class="g-tabs" role="tablist">
    <ul>
        {# Settings Tab #}
        <li class="active">
            <a href="#" id="g-settings-atom-tab" role="presentation" aria-controls="g-settings-atom" role="tab" aria-expanded="true">
                {% block title %}
                {{ 'GANTRY5_PLATFORM_ATOM'|trans }}
                {% endblock %}
            </a>
        </li>
    </ul>
</div>

<div class="g-panes">
    {# Settings Pane #}
    <div class="g-pane active" role="tabpanel" id="g-settings-atom" aria-labelledby="g-settings-atom-tab" aria-expanded="true">
        <div class="g-atom-preview alert alert-warning"><i class="fa fa-fw fa-eye" aria-hidden="true"></i> {{ 'GANTRY5_PLATFORM_ATOM_PREVIEW'|trans }}</div>

        {% include '@gantry-admin/pages/configurations/layouts/particle-card.html.twig' with {
            title: item.title,
            blueprints: particle.form,
            overrideable: overrideable and (particle.form.overrideable is not defined or particle.form.overrideable),
            inherit: 'attributes' in item.inherit.include and item.inherit.outline in inheritance.form.fields.outline.filter ? item.inherit.outline : null
        } %}
    </div>
</div>

<div class="g-modal-actions">
    <button class="button button-primary g5-dialog-close">{{ 'GANTRY5_PLATFORM_CLOSE'|trans }}</button>
</div>
{% endblock %}
