// Top Section -----------------
$topbackground: 		#252D35;
$topbackground2:		#314353;
$toptext:				#C7C7C7;
$toptitle:				#F2F2F2;
$topborder:				#495565;
$topshadow:				#000000;

// Top
#rt-top-surround {
	background: $topbackground;
	color: $toptext;
	.rt-num {
		background: $topborder;
		color: $toptitle;
	}
	.promo {
		> .content  {		   
			&:hover {
				@include linear-gradient($topbackground, $topbackground2)
			}
		}
	}
}

// Logo
#rt-logo {
	background: url(../images/logo/logo.png) no-repeat;
}