// Main Section ----------------
$mainbackground:		#FFFFFF;
$maintext:              #9399A1;
$maintitle:				#32373D;
$mainborder:			#EFEFEF;

// Modules ---------------------
$box1background:      	#D9EBEF;
$box1text:				#6A727D;
$box1border: 			#BBDBE1;
$box1readmore:			darken($box1border, 10%);

// Colors ----------------------
$rokred:                #DF7371;
$rokgrey:               #495565;
$rokblue:   			#00ABEF;
$rokgreen:       		#55D1BB;
$rokdarkgrey: 			#343C47;

// Preset1 
$linkcolor:				#ED6F6D;
$accentcolor:			#ED6F6D;

a, ul.menu li .separator, .gf-menu li.active > .item {
	color: $linkcolor;
}

.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary, .btn.btn-primary.disabled, .btn.btn-primary[disabled], a.btn.btn-primary.disabled:hover {
	border-color: darken($linkcolor, 20%);
	background: $accentcolor;
}

#rt-logo-accent, #rt-bottom .rt-grey:hover, #rt-footer .rt-grey:hover, .menustyle-dark .gf-menu.l1 > li.active {
	background: $accentcolor;
}

// Core
body {
	background: $mainbackground;
	color: $maintext;
}
a:hover {
	color: $bodytitle;
}
h1, h2, h3, h4, h5, h6 {
	color: $maintitle;
}

// Logo
#rt-logo-accent {
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
}

// Top
#rt-top-surround {
	h1, h2, h3, h5, h6 {
		color: $toptitle;
		text-shadow: 1px 1px 1px $topshadow;
	}
 	h4 {
		color: $toptext;
	}
}

// Modules
#rt-mainbody-surround {
	.title, .component-content h2 {
		border-bottom-color: $mainborder;
	}
	.box1 {
		background: $box1background;
		color: $box1text;
		.title {
			border-bottom-color: $box1border;			
		}
		.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary {
 			background: $box1readmore;
			border-color: $box1border;
			&:hover, &:active {
				background: $rokgrey;
			}
		}
	}
}
[class*="rt-border-"] {
	border-color: $mainborder;
	&:before, &:after {
		background: $mainbackground;
	}
}

// Menu Modules
ul.menu {
	li.active.current, li#current.active {
		> a, > .item, > .separator {
			color: $bodytitle;
		}
	}
}

// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary {
	color: $white;
	background-image: none;
	&:hover {
		color: $white;
		background: $rokgrey;
		border-color: darken($rokgrey, 10%);
	}
	&:active {
		background: $rokgrey;
	}
}
.readmore {
	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
}
.btn.btn-primary.disabled {
	&:hover {
		color: $white;
	}
}
.btn.disabled, btn[disabled] {
	&:hover {
		background: #e6e6e6;
		color: #333333;
	}
}

// Typography
.pagenav {
	li {
		background: $bodybackground2;
		border: 1px solid $bodyborder;
		box-shadow: inset 0 0 0 1px $white, 0 1px 2px rgba(0,0,0,0.2);
	}
}
.login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox, .inputbox {
	border: 1px solid #d9d9d9;
}
.login + div .nav-tabs.nav-stacked > li > a {
	background: none;
}
.component-content {
	.contact {
		.title {
			@include linear-gradient($bodycontrast, $bodyborder2);
			border: 1px solid $bodyborder;
			text-shadow: 0 1px 1px rgba(255,255,255,.75);
		}
	}
}
.pagination {
	ul {
		li {
			a {
				@include linear-gradient($bodycontrast, $bodyborder2);
				border: 1px solid $bodyborder;
				text-shadow: 0 1px 1px rgba(255,255,255,.75);
			}
			span {
				background: $bodybackground4;
				border: 1px solid $bodyborder;
				color: $bodytextlight;
			}
		}
	}
}
.breadcrumbs, .breadcrumb {
	a {
		&:after {
			color: $bodytextlight;
		}
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
}
.article-info {
	&.muted {
		color: inherit;
	}
	dd:before {
		text-shadow: 1px 1px 0 $bodycontrast;
	}
}

// Extras

.tip-wrap {
	background: $bodycontrast;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	color: $bodytext;
}
.system-unpublished .system-unpublished {
	background: $bodycontrast;
	border-color: $bodyborder;
}

// Typography

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted $bodyborder;
}

// Blockquotes
blockquote {
  border-left: 5px solid $bodyborder;
  small {
    color: $bodytextlight;
  }

  &.pull-right {
    border-right: 5px solid $bodyborder;
  }
}

// Forms
legend {
  color: $bodytitle;
  border-bottom: 1px solid $bodyborder;

  small {
    color: $bodyborder;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: $bodytext;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: $bodycontrast;
  border: 1px solid $bodyborder;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

select {
  border: 1px solid $bodyborder;
}

// Uneditable inputs
.uneditable-input,
.uneditable-textarea {
  color: $bodytextlight;
  background-color: $bodybackground;
  border-color: $bodyborder;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.025);
}

// Inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: $bodyborder;
}

.input-prepend,
.input-append {
  .add-on {
    text-shadow: 0 1px 0 $bodycontrast;
    background-color: $bodybackground2;
    border: 1px solid $bodyborder;
  }
  &.input-append .media-preview {
  	margin: 0;
  }
}

// Form Actions
.form-actions {
  background-color: $bodybackground2;
  border-top: 1px solid $bodyborder;
}

.uneditable-input {
  border-color: #eeeeee;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.025);
}

// Help Text
.help-block,
.help-inline {
  color: $gray;
}

// Extras
.table-bordered th {
	background-color: $bodybackground2;
}
.well {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.nav-tabs.nav-stacked > li > a {
	background-color: $bodybackground2;
	&:hover {
		background-color: $bodybackground4;
	}
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0 {
	background-color: $bodybackground4;
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover {
	background-color: $bodybackground3;
}

.filter-search.alert-info {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	.inputbox {
		
	}
}

// Notice Styles
p {
	&.success, &.info, &.error, &.warning {
		border-radius: 6px;
		padding: 15px;
		font-weight: bold;
		border: 1px solid;
		a {
			color: #666 !important;
			&:hover {
				color: #000 !important;
				text-shadow: none;
			}
		}			
	}
	&.success {
		background: $successBackground;
		border-color: $successBorder;
		color: $successText;
	}
	&.info {
		background: $infoBackground;
		border-color: $infoBorder;
		color: $infoText;
	}
	&.error {
		background: $errorBackground;
		border-color: $errorBorder;
		color: $errorText;
	}
	&.warning {
		background: $warningBackground;
		border-color: $warningBorder;
		color: $warningText;
	}
}

// Icon Blocks
.rt-blue, .rt-green, .rt-red, .rt-grey {
	color: #fff;
	&:hover {
		background: darken($rokgrey, 10%);
	}
}
.rt-blue {
	background: $rokblue;
}
.rt-green {
	background: $rokgreen;
}                
.rt-red {
	background: $rokred;
}                
.rt-grey {
	background: $rokgrey;
}

// Miscellaneous
.even, .odd {
	background: inherit;
	border-bottom: inherit;
} 
