// Core
body {
	font-family: Helvetica, Arial, FreeSans, sans-serif;
}

// Logo
.logo-block {
	padding: 0;
	margin: 18px 15px;
	position: relative;
}
#rt-logo {
	margin: 0;
	height: 50px;
	width: 254px;
	display: block;
	position: relative;
	z-index: 2;
}
#rt-logo-accent {
	position: absolute;
	width: 36px;
	height: 36px;
	top: 14px;
	left: 219px;
	z-index: 1;
	border-radius: 100%;
	.logo-type-custom & {
		display: none;
	}
}

// Navigation
.menu-block {
	padding: 0;
	margin: 25px 15px;
}

// Top
#rt-top-surround {
	.rt-num {
		font-size: 28px;
		width: 80px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		border-radius: 100%;
		@include breakpoint(desktop-range) {
			font-size: 24px;
			width: 65px;
			height: 65px;
			line-height: 65px;
		}
		@include breakpoint(tablet-range) {
			font-size: 22px;
			width: 60px;
			height: 60px;
			line-height: 60px;
		}
	}
}

// Main

.title {
	font-size: $core-font-size + 0.3;
	letter-spacing: normal;
	margin-top: 0;
	margin-bottom: 15px;
	border-bottom: 6px solid;
}

.rt-border-top {
	border-top: 1px solid;
}
.rt-border-bottom {
	border-bottom: 1px solid;
}

.box1 {
	border-radius: 4px;
}

// Menu Module
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 8px;
		a, .item, .separator {
			display: block;
			font-size: 1.1em;
			font-weight: bold;
		}
		a:before, .item:before, .separator:before {
			content: "\2022";
			font-family: FontAwesome;
			margin-right: 10px;
			display: inline;
			vertical-align: middle;
			font-size: 1.6em;
			font-weight: normal;
		}
	}
	li.active.current, li#current.active {
		> a:before, > .item:before, > .separator:before {
			content: "\f054";
			font-size: 1em;
			margin-right: 11px;
		}
	}
	ul.small {
		font-size: 14px;
	}
}

// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {
	display: inline-block;
	padding: 6px 25px 6px 15px;
	line-height: 1.7em;
	font-size: $core-font-size - 0.2;
	border-radius: 3px;
	text-transform: uppercase;
	position: relative;
	border: 0;
	&:after {
		content: "+";
		position: absolute;
		right: 15px;
		top: 5px;
	}	
}

// Extras
.promo {
	h1 {
		position: relative;
		font-size: $h1-font-size + 1;
		line-height: 100%;
	}
	.content {
		margin: 0;
		padding: 25px;
	}
}

// Copyright
.rt-copyright-block {
	text-align: center;
	text-transform: uppercase;
	font-size: $core-font-size - 0.2;
}

// Icon Blocks
.rt-big-icon, .rt-small-icon, .rt-mini-icon {
	text-align: center;
	border-radius: 4px;
	float: left;
}
.rt-big-icon {
	width: 180px;
	height: 180px;
	font-size: 5em;
	line-height: 180px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.rt-small-icon {
	width: 110px;
	height: 110px;
	font-size: 2.5em;
	line-height: 110px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.rt-mini-icon {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	line-height: 40px;
	margin-right: 5px;
}

h5 {
	text-transform: uppercase;
}
