// Basic Reseting Classes
body {
	.rt-center {
		text-align: center;
	}
	.rt-noborder {
		border: 0 !important;
		box-shadow: none !important;
	}
	.rt-floatleft {
		float: left;
		margin-right: 15px;
		margin-left: 0;
	}
	.rt-floatright {
		float: right;
		margin-left: 15px;
		margin-right: 0;
	}
	.normalfont, .normalfont li {
		font-size: 100% !important;
		line-height: inherit !important;
	}
	.boldfont {
		font-weight: bold !important;
	}
	.noitalic {
		font-style: normal !important;
	}
	.nobold, .nobold a, .nobold li {
		font-weight: normal !important;
	}
	.rt-displayinline {
		display: inline !important;
	}
	.nomarginall, .rt-block.nomarginall, ul.nomarginall, li.nomarginall {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.nopaddingall, .rt-block.nopaddingall, ul.nopaddingall, li.nopaddingall {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.nomargintop, .rt-block.nomargintop, ul.nomargintop, li.nomargintop {
		margin-top: 0 !important;
	}
	.nomarginbottom, .rt-block.nomarginbottom, ul.nomarginbottom, li.nomarginbottom {
		margin-bottom: 0 !important;
	}
	.nomarginleft, .rt-block.nomarginleft, ul.nomarginleft, li.nomarginleft {
		margin-left: 0 !important;
	}
	.nomarginright, .rt-block.nomarginright, ul.nomarginright, li.nomarginright {
		margin-right: 0 !important;
	}
	.nopaddingtop, .rt-block.nopaddingtop, ul.nopaddingtop, li.nopaddingtop {
		padding-top: 0 !important;
	}
	.nopaddingbottom, .rt-block.nopaddingbottom, ul.nopaddingbottom, li.nopaddingbottom {
		padding-bottom: 0 !important;
	}
	.nopaddingleft, .rt-block.nopaddingleft, ul.nopaddingleft, li.nopaddingleft {
		padding-left: 0 !important;
	}
	.nopaddingright, .rt-block.nopaddingright, ul.nopaddingright, li.nopaddingright {
		padding-right: 0 !important;
	}
	.smallmarginbottom {
		margin-bottom: 5px !important;
	}
	.smallmargintop {
		margin-top: 5px !important;
	}
	.smallmarginleft {
		margin-left: 5px !important;
	}
	.smallmarginright {
		margin-right: 5px !important;
	}
	.smallmarginall {
		margin: 5px !important;
	}	
	.medmarginbottom {
		margin-bottom: 10px !important;
	}
	.medmargintop {
		margin-top: 10px !important;
	}
	.medmarginleft {
		margin-left: 10px !important;
	}
	.medmarginright {
		margin-right: 10px !important;
	}
	.medmarginall {
		margin: 10px !important;
	}
	.largemarginbottom {
		margin-bottom: 15px !important;
	}
	.largemargintop {
		margin-top: 15px !important;
	}
	.largemarginleft {
		margin-left: 15px !important;
	}
	.largemarginright {
		margin-right: 15px !important;
	}
	.largemarginall {
		margin: 15px !important;
	}
	.smallpaddingbottom {
		padding-bottom: 5px !important;
	}
	.smallpaddingtop {
		padding-top: 5px !important;
	}
	.smallpaddingleft {
		padding-left: 5px !important;
	}
	.smallpaddingright {
		padding-right: 5px !important;
	}
	.smallpaddingall {
		padding: 5px !important;
	}
	.medpaddingbottom {
		padding-bottom: 10px !important;
	}
	.medpaddingtop {
		padding-top: 10px !important;
	}
	.medpaddingleft {
		padding-left: 10px !important;
	}
	.medpaddingright {
		padding-right: 10px !important;
	}
	.medpaddingall {
		padding: 10px !important;
	}
	.largepaddingbottom {
		padding-bottom: 15px !important;
	}
	.largepaddingtop {
		padding-top: 15px !important;
	}
	.largepaddingleft {
		padding-left: 15px !important;
	}
	.largepaddingright {
		padding-right: 15px !important;
	}
	.largepaddingall {
		padding: 15px !important;
	}
	.subsmallmarginbottom {
		margin-bottom: -5px !important;
	}
	.subsmallmargintop {
		margin-top: -5px !important;
	}
	.subsmallmarginleft {
		margin-left: -5px !important;
	}
	.subsmallmarginright {
		margin-right: -5px !important;
	}
	.subsmallmarginall {
		margin: -5px !important;
	}	
	.submedmarginbottom {
		margin-bottom: -10px !important;
	}
	.submedmargintop {
		margin-top: -10px !important;
	}
	.submedmarginleft {
		margin-left: -10px !important;
	}
	.submedmarginright {
		margin-right: -10px !important;
	}
	.submedmarginall {
		margin: -10px !important;
	}
	.sublargemarginbottom {
		margin-bottom: -15px !important;
	}
	.sublargemargintop {
		margin-top: -15px !important;
	}
	.sublargemarginleft {
		margin-left: -15px !important;
	}
	.sublargemarginright {
		margin-right: -15px !important;
	}
	.sublargemarginall {
		margin: -15px !important;
	}	
	.rt-relative {
		position: relative;
	}
	[class^="custom"] {
		&[class*="largepadding"],
		&[class*="largemargin"],
		&[class*="medpadding"],
		&[class*="medmargin"],
		&[class*="smallpadding"],
		&[class*="smallmargin"] {
			padding: 0 0 0 0 !important;margin: 0 0 0 0 !important;
		}                
		&.rt-floatleft, &.rt-floatright {
			float: none;
			margin: 0 0 0 0 !important;
		}                   
	}
}    

// RTL Stuff
body.rtl {
	.rt-floatleft {
		float: right;
		margin-right: 0;
		margin-left: 15px;
	}
	.rt-floatright {
		float: left;
		margin-left: 0;
		margin-right: 15px;
	}
	.nomarginleft, .rt-block.nomarginleft, ul.nomarginleft, li.nomarginleft {
		margin-right: 0;
	}
	.nomarginright, .rt-block.nomarginright, ul.nomarginright, li.nomarginright {
		margin-left: 0;
	}
	.nopaddingleft, .rt-block.nopaddingleft, ul.nopaddingleft, li.nopaddingleft {
		padding-right: 0;
	}
	.nopaddingright, .rt-block.nopaddingright, ul.nopaddingright, li.nopaddingright {
		padding-left: 0;
	}
	.smallmarginleft {
		margin-right: 5px;
	}
	.smallmarginright {
		margin-left: 5px;
	}
	.medmarginleft {
		margin-right: 10px;
	}
	.medmarginright {
		margin-left: 10px;
	}
	.largemarginleft {
		margin-right: 15px;
	}
	.largemarginright {
		margin-left: 15px;
	}
	.smallpaddingleft {
		padding-right: 5px;
	}
	.smallpaddingright {
		padding-left: 5px;
	}
	.medpaddingleft {
		padding-right: 10px;
	}
	.medpaddingright {
		padding-left: 10px;
	}
	.largepaddingleft {
		padding-right: 15px;
	}
	.largepaddingright {
		padding-left: 15px;
	}
    .subsmallmarginleft {
		margin-right: -5px;
	}
	.subsmallmarginright {
		margin-left: -5px;
	}
	.submedmarginleft {
		margin-right: -10px;
	}
	.submedmarginright {
		margin-left: -10px;
	}
	.sublargemarginleft {
		margin-right: -15px;
	}
	.sublargemarginright {
		margin-left: -15px;
	}
}