// Essentials -----------------
$white:						#ffffff;
$black: 					#000000;
$light-grey:				#cccccc;
$gray:						#666;

$baseFontSize:			13px;
$baseLineHeight:		1.7em;

// Body ------------------------
$bodybackground:		#ffffff;
$bodybackground2:		#f0f0f0;
$bodybackground3:		#fcfcfc;
$bodybackground4:		#eaeaea;
$bodytext:				#6e6e6e;
$bodytextlight:			#aaaaaa;
$bodytitle:				#303030;
$bodyborder:			#d5d5d5;
$bodyborder2:			#dddddd;
$bodyborder3:			#d1d1d1;
$bodycontrast:			#ffffff;

// Form Feedbacks --------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken($warningBackground, 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken($errorBackground, 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken($successBackground, 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken($infoBackground, 7%);

$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

// Base Menu variables
$menuFontFamily:	Arial, Helvetica, sans-serif;
$menuFontSize:		14px;
$menuLineHeight:	21px;
$menuItemRadius:	4px;