{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% try %}

        {% include 'partials/simplesearch_searchbox.html.twig' %}
        {% do gantry.theme.load('jquery') %}

    {% catch %}
        <div class="alert alert-error"><strong>Error:</strong> Please enable simplesearch plugin!</div>
    {% endtry %}
{% endblock %}
