{% assets with { priority: 10 } %}
    {% block stylesheets %}
        <style>
#admin-main .admin-block {
    padding: 0;
}
#g5-container .inner-container {
    margin: 0;
    box-shadow: 0px 0px 0px #000;

}
        </style>
    {% endblock %}

    {% block javascript %}
        <script>
            var GANTRY_AJAX_SUFFIX = '{{ gantry.ajax_suffix|raw }}';
            var GANTRY_AJAX_URL = '{{ gantry.route('%ajax%')|e }}';
            var GANTRY_AJAX_CONF_URL = '{{ gantry.route('configurations/%ajax%')|e }}';
            var GANTRY_AJAX_NONCE = null;
            var GANTRY_PLATFORM = 'grav';
        </script>
    {% endblock %}
{% endassets -%}

<div id="g5-container">
    {% block content %}
    {% endblock %}

    {% block footer_section %}
    {% endblock %}
</div>

{% do gantry.platform.finalize() %}
