{% extends 'forms/fields/select/selectize.html.twig' %}

{% block options %}
    {{ parent() }}
    {% set current = gantry.menu.getDefaultMenuName() %}
    {% for key in gantry.menu.getMenus() %}
        {% set text = key|capitalize %}
        <option
                {# required attribute structures #}
                {% if key == value %}selected="selected"{% endif %}
                value="{{ key }}"
                {# non-gloval attribute structures #}
                {% if field.options.disabled in ['on', 'true', 1] %}disabled="disabled"{% endif %}
                >{{ text }}{{ (current == key and gantry.menu.hasDefaultMenu()) ? ' ★' : '' }}</option>
    {% endfor %}
{% endblock %}
