{% extends '@nucleus/partials/widget.html.twig' %}

{% block widget %}
<div class="rt-block rt-popupmodule-button {{ widget.css.classname }} widget">
	<a class="buttontext button" data-rokbox href="#" data-rokbox-element="#rt-popupmodule">
		<span class="desc">{{ widget.text }}</span>
	</a>
</div>
{% endblock %}
