{% extends '@nucleus/partials/widget.html.twig' %}

{% block widget %}
<div class="{{ widget.css.classname }} widget">
    <div class="rt-block">
        <a href="#" id="gantry-totop" rel="nofollow">To Top</a>
    </div>
</div>
{% endblock %}
