#g5-container {
    .settings-block {
        input, textarea, select {
            background-color: $white;
            &:focus {
                border-color: rgba($core-accent, .5);
            }
            &[disabled], &[readonly] {
                cursor: not-allowed;
                background-color: #eee;    
            }
            &[type="radio"], &[type="checkbox"] {
                &[disabled], &[readonly] {
                    background-color: transparent;
                }    
            }
        }

        .fa {
            height: 1.3rem;
            line-height: 1.3rem;
        }

        .g-selectize-control .g-item {
            vertical-align: middle;
        }
    }
}
