{% if (segment.attributes.enabled is null or segment.attributes.enabled) and config.get('particles.' ~ segment.type ~ '.enabled', true) %}
<main id="g-main">
    <div class="g-content{{ segment.classes ? ' ' ~ segment.classes|join(' ')|e }}">
        {{ content }}
    </div>
</main>
{% endif %}
