{% set html %}
    {% include ['particles/position.html.twig',
    '@particles/position.html.twig'] with { gantry: gantry, site: site, page: gantry.page, position: segment.attributes } only %}
{% endset %}

{% if html|trim %}
<div class="g-content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
    {{ html }}
</div>
{% endif %}
