{% if (segment.attributes.enabled is null or segment.attributes.enabled) and config.get('particles.' ~ segment.type ~ '.enabled', true) %}
    <div class="spacer{{ segment.classes ? ' ' ~ segment.classes|join(' ')|e }}"></div>
{% endif %}
