// Font Size
$toplevel-font-size:				$core-font-size - .2;
$dropdown-font-size:				$core-font-size - .3;

// Padding
$nav-item-padding:					$leading-margin / 2 $content-padding / 1.5;
$subnav-item-padding:				$leading-margin / 3 $content-padding / 2;