{% extends "@nucleus/partials/module.html.twig" %}

{% set title = 'Upcoming Events' %}

{% block module %}
<div class="demostyle-type-preset1">
	<div class="rt-block fp-expandedtop title5">
		<div class="customfp-expandedtop">
			<div class="gantry-row">
				<div class="grid">
					<div class="block">
						<div class="gantry-width-spacer">
							<div class="rt-box2 rt-center">
								<ul class="rt-tags">
									<li>Facebook</li>
									<li>Twitter</li>
								</ul>
								<h2 class="title">Configurable Social Media Buttons</h2>
								<ul class="rt-tags">
									<li><a href="#">#Social Media</a></li>
								</ul>
							</div>
						</div>
					</div>	
					<div class="block">
						<div class="gantry-width-spacer">
							<div class="rt-box3 rt-center">
								<ul class="rt-tags">
									<li>Offline</li>
									<li>Counter</li>
								</ul>
								<h2 class="title">Custom Offline &amp; Coming Soon Pages</h2>
								<ul class="rt-tags">
									<li><a href="#">#Maintenance</a></li>
								</ul>
							</div>
						</div>
					</div>	
					<div class="block">
						<div class="gantry-width-spacer">
							<div class="rt-box1 rt-center">
								<ul class="rt-tags">
									<li>Responsive</li>
									<li>Fixed</li>
								</ul>
								<h2 class="title">Responsive, 960 &amp; 1200 Layouts</h2>
								<ul class="rt-tags">
									<li><a href="#">#Layout</a></li>
								</ul>
							</div>
						</div>
					</div>			
				</div>		
			</div>

			<div class="clear"></div>

			<h6>One of the Gantry Framework's most notable features is its custom administrative interface. The template manager provides a user friendly and intuitive console to configure many aspects of the template, from features, menu choices, to extensions layout controls.</h6>
		</div>
	</div>
</div>
{% endblock %}
