#g-utility {
    background: $utility-background;
    color: $utility-text-color;
    padding: $section-padding 0;
}

@media print {
    #g-utility {
        background: #fff !important;
        color: #000 !important;
    }
}
