.main-nav {
	ul {
		@extend %list-reset;
	}

	// Main Level
	> .toplevel {
		position: relative;
		> li {
			display: inline-block;
			@include transition(all .1s ease-out);
			> a {
				display: block;
				font-size: 1.1rem;
				color: $nav-link;
				padding: 4px $content-padding;
			}
			&:hover {
				.dropdown {
					width: $dropdown-width;
					opacity: 1;
				    visibility: visible;
				    overflow: visible;
				}
				a {
					color: $white;
				}
			}
		}
	}

	// First Level Dropdown
	.dropdown {
		position: absolute;
		width: auto;
		background: $core-accent;
		box-shadow: 0 3px 0 darken($core-accent, 6%);
		top: auto;
		left: auto;
		opacity: 0;
	    visibility: hidden;
	    overflow: hidden;
	    @include transition(all .1s ease-out);
	    color: $white;
	    .block {
	    	padding: $content-padding;
	    }
	}

	// Additional Level Flyouts
	.flyout {
		position: absolute;
		width: auto;
		top: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		background: darken($core-accent, 4%);
		box-shadow: 0 3px 0 darken($core-accent, 8%);
	}

	// Sublevel Items
	.sublevel {
    	> li {
    		margin: 0 -15px;
    		padding: 2px 15px;
    		position: relative;
    		@include transition(all .1s ease-out);
    		&:hover {
    			background: darken($core-accent, 8%);
    			> .flyout {
    				left: 100%;
    				width: $flyout-width;
    				opacity: 1;
    				visibility: visible;
    				overflow: visible;
    			}
    		}
    		a {
    			display: block;
    		}
    	}
    }
}