{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/600x400" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <h6>The Big Boss</h6>
                <h2>Meet Our CEO</h2>

                <h4>Joe Carroll</h4>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                <p>Globally incubate standards compliant channels before scalable benefits. Holisticly predominate great extensible testing procedure.</p>
            </div>
        </div>
    </div>

    <h2 class="center">Developer Team</h2>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Robert Smith</h3>
              <h6>CEO of Nucleus</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Paul Valdez</h3>
              <h6>Administrator</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Tayla Parker</h3>
              <h6>Accountant</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/500x500" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h3>Luca Coyle</h3>
              <h6>CS Leader</h6>
              <p>Globally incubate standards compliant channels before scalable benefits.</p>
            </div>
        </div>
    </div>

    <h2 class="center">Support Team</h2>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Paul Valdez</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Tayla Parker</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Luca Coyle</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Adam Smith</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
    </div>

{% endblock %}
