{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/1200x400" alt="image">
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <h2>Meet Our Co-Founders</h2>

                <h4>Joe Carroll</h4>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>

                <h4>Ethan Reed</h4>
                <p>Globally incubate standards compliant channels before scalable benefits. Holisticly predominate great extensible testing procedures for reliable supply chains service.</p>
            </div>
        </div>
        <div class="g-block size-1-4">
            <div class="g-content">
                <img src="http://placehold.it/500x750" alt="image">
            </div>
        </div>
        <div class="g-block size-1-4">
            <div class="g-content">
                <img src="http://placehold.it/500x750" alt="image">
            </div>
        </div>
    </div>

    <h2 class="center">Meet Our Developers</h2>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Paul Valdez</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Tayla Parker</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Luca Coyle</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Adam Smith</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Paul Valdez</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Tayla Parker</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Luca Coyle</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x500" alt="image">
              <h3>Adam Smith</h3>
              <h6>Support</h6>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
        </div>
    </div>

{% endblock %}
