{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}
<h1>The Team</h1>
<p>
    This is an example on how we could implement team page in Gantry 5.
</p>
<p>
    No more custom HTML: check <a href="admin/settings">administrator</a> for team particle configuration.
</p>

<div>
    {% include '@particles/team.html.twig' with {'particle': gantry.config.particles.team} %}
</div>
{% endblock %}
