#g-sideslider {
	@include breakpoint(mobile-only) {
		body.sideslider-type-dynamic & {
			display: none;
		}
	}
}

.sideslider-type-dynamic {
	// SideSlider Button
	.g-sideslider-button, .g-sideslider-close-button {
		font-size: 1.75em;
		position: absolute;
		z-index: 1000;
		top: 15px;
		width: 32px;
		height: 32px;
		padding: 0;
		line-height: 28px;
		text-align: center;
		border-radius: 0;
		color: $core-accent;
		background-color: transparent;
		border: 2px solid $core-accent;
	}
	.g-sideslider-button {
		left: 15px;
		@include transition(opacity 0.3s ease);
		&:before {
			font-family: FontAwesome;
			content: '\f0da';
			margin-left: 2px;
		}
		&:hover {
			opacity: 0.6;
		}
	}
	&.g-show-sideslider .g-sideslider-button {
		opacity: 0;
	}

	// Close Button
	.g-sideslider-close-button {
		right: 15px;
		&:before {
			font-family: FontAwesome;
			content: '\f0d9';
			margin-right: 2px;
		}
	}

	// SideSlider Content
	.g-sideslider-wrap {
		position: absolute;
		z-index: 1001;
		width: 300px;
		height: 100%;
		color: $sideslider-text;
		background: $sideslider-bg;
		@include transform(translate3d(-320px,0,0));
		@include transition(transform 0.4s);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
	&.g-show-sideslider .g-sideslider-wrap {
		@include transform(translate3d(0,0,0));
		@include transition(transform 0.8s);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}

	#g-sideslider-overlay:before {
	    background-color: transparent;
	    position: absolute;
	    content: '';
	    @include transition(background-color 0.8s ease);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
    &.g-show-sideslider #g-sideslider-overlay:before {
    	background-color: rgba(0, 0, 0, 0.5);
    	z-index: 999;
	    width: 100%;
	    height: 100%;
    }
}

#with-sideslider.sideslider-type-static {
	// Large Mode
	@media only screen and (min-width: 1500px) {
		.container {
			width: 1200px;
		}
	}

	// Desktop Mode
	@media only screen and (min-width: 1280px) and (max-width: 1499px) {
		.container {
			width: 960px;
		}
	}

	// Tablet Mode
	@media only screen and (min-width: 1080px) and (max-width: 1279px) {
		.container {
			width: 768px;
		}
		.g-sideslider-wrap {
			width: 250px;
		}
	}

	// Mobile Mode
	@media only screen and (max-width: 1079px)  {
		.container {
			width: 480px;
			[class*="g-grid"], [class*="gantry-width"] {
				@include flex-basis(100%);
			}
		}
		.g-sideslider-wrap {
			width: 250px;
		}
	}
	@media only screen and (max-width: 767px) {
		#g-page-surround,
		#g-body-surround {
			display: block;
		}
	}
	@media only screen and (max-width: 480px) {
		.container {
			width: 100%;
		}
	}

	#g-page-surround {
		display: table;
		height: 100%;
	}
	#g-sideslider {
	    display: table-cell;
	    height: 100%;
	}
	#g-body-surround {
	    display: table-cell;
	    vertical-align: top;
	    width: 100%;
	}
	// SideSlider Content
	.g-sideslider-wrap {
		z-index: 1001;
		width: 300px;
		height: 100%;
		color: $sideslider-text;
		background: $sideslider-bg;
	}
}
#g-sideslider {
	@include breakpoint(mobile-only) {
		body#with-sideslider.sideslider-type-static & {
			display: none;
		}
	}
}
