.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
}

.input-prepend .chzn-container-single .chzn-single,
.input-append .chzn-container-single .chzn-single {
	height: 26px;
	box-shadow: none;
}

.input-prepend > .add-on,
.input-append > .add-on {
	vertical-align: top;
}

.input-prepend .chzn-container-single .chzn-single {
	border-radius: 0 $core-border-radius $core-border-radius 0;
}

.input-prepend .chzn-container-single .chzn-single-with-drop {
	border-radius: 0 $core-border-radius 0 0;
}

.input-append .chzn-container-single .chzn-single {
	border-radius: $core-border-radius 0 0 $core-border-radius;
}

.input-append .chzn-container-single .chzn-single-with-drop {
	border-radius: $core-border-radius 0 0 0;
}

.input-prepend.input-append .chzn-container-single .chzn-single,
.input-prepend.input-append .chzn-container-single .chzn-single-with-drop {
	border-radius: 0;
}

.element-invisible {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.form-vertical .control-label {
	float: none;
	width: auto;
	padding-right: 0;
	padding-top: 0;
	text-align: left;
}

.form-vertical .controls {
	margin-left: 0;
}

.invalid {
	color: #9d261d;
}

input.invalid {
	border: 1px solid #9d261d;
}