{% extends "@nucleus/partials/module.html.twig" %}

{% block module %}
	<i class="fa fa-fw fa-medium feature-icons"></i>
	<h4>Magento</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula.</p>
{% endblock %}
