// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

// Load Optional Nucleus Assets
@import "nucleus/theme/alerts";

// Load Theme Variable Driven Nucleus Elements
@import "joomla/theme/base";

// Load Template Configuration
@import "configuration/base";

//-------------------------------------------

// JOOMLA TEMPLATE SPECIFIC
@import "hydrogen-joomla/core";
@import "hydrogen-joomla/typography";
@import "hydrogen-joomla/forms";
@import "hydrogen-joomla/buttons";
@import "hydrogen-joomla/tabs";
@import "hydrogen-joomla/utilities";

//-------------------------------------------

// BREAKPOINTS
@import "joomla/theme/breakpoints/base";

//-------------------------------------------
