// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

// Load Template Configuration
@import "../common/scss/configuration/base";

//-------------------------------------------

// JOOMLA COMPONENTS
@import "joomla/core/typography";
@import "joomla/core/buttons";
@import "joomla/core/forms";
@import "joomla/core/tabs";
@import "joomla/core/utilities";

// JOOMLA TEMPLATE SPECIFIC
@import "joomla/template/typography";
@import "joomla/template/forms";
@import "joomla/template/tabs";
@import "joomla/template/utilities";
