{% set webfontIcons = {
	'global_read'					               : 'fa fa-exclamation-sign',
	'global_read_mine'				               : 'fa fa-exclamation-sign',
	'global_read_locked'			               : 'fa fa-lock',
	'global_read_locked_mine'		               : 'fa fa-lock',
	'global_unread'					               : 'fa fa-exclamation-sign',
	'global_unread_mine'			               : 'fa fa-exclamation-sign',
	'global_unread_locked'			               : 'fa fa-lock',
	'global_unread_locked_mine'		               : 'fa fa-lock',

	'announce_read'					               : 'fa fa-exclamation-sign',
	'announce_read_mine'			               : 'fa fa-exclamation-sign',
	'announce_read_locked'			               : 'fa fa-lock',
	'announce_read_locked_mine'		               : 'fa fa-lock',
	'announce_unread'				               : 'fa fa-exclamation-sign',
	'announce_unread_mine'			               : 'fa fa-exclamation-sign',
	'announce_unread_locked'		               : 'fa fa-lock',
	'announce_unread_locked_mine'	               : 'fa fa-lock',

	'forum_link'					               : 'fa fa-link',
	'forum_read'					               : 'fa fa-folder-open',
	'forum_read_locked'				               : 'fa fa-folder-close',
	'forum_read_subforum'			               : 'fa fa-folder-open',
	'forum_unread'					               : 'fa fa-folder-open',
	'forum_unread_locked'			               : 'fa fa-folder-close',
	'forum_unread_subforum'			               : 'fa fa-folder-open',

	'sticky_read'					               : 'fa fa-pushpin',
	'sticky_read_mine'				               : 'fa fa-pushpin',
	'sticky_read_locked'			               : 'fa fa-lock',
	'sticky_read_locked_mine'		               : 'fa fa-lock',
	'sticky_unread'					               : 'fa fa-pushpin',
	'sticky_unread_mine'			               : 'fa fa-pushpin',
	'sticky_unread_locked'			               : 'fa fa-lock',
	'sticky_unread_locked_mine'		               : 'fa fa-lock',

	'topic_moved'					               : 'fa fa-circle-arrow-right',
	'topic_read'					               : 'fa fa-file-text',
	'topic_read_mine'				               : 'fa fa-file-text',
	'topic_read_hot'				               : 'fa fa-fire',
	'topic_read_hot_mine'			               : 'fa fa-fire',
	'topic_read_locked'				               : 'fa fa-lock',
	'topic_read_locked_mine'		               : 'fa fa-lock',
	'topic_unread'					               : 'fa fa-file-text',
	'topic_unread_mine'				               : 'fa fa-file-text',
	'topic_unread_hot'				               : 'fa fa-fire',
	'topic_unread_hot_mine'			               : 'fa fa-fire',
	'topic_unread_locked'			               : 'fa fa-lock',
	'topic_unread_locked_mine'		               : 'fa fa-lock',

	'pm_read'						               : 'fa fa-envelope-alt',
	'pm_unread'						               : 'fa fa-envelope',
}
%}

{% if forumrow.FORUM_IMG_STYLE == true %}
<div class="forum-icon  {{ attribute(webfontIcons, forumrow.FORUM_IMG_STYLE)  }} {% if 'unread' in forumrow.FORUM_IMG_STYLE %}unread{% else %}read{% endif %}"></div>
{% endif %}
{% if topicrow.TOPIC_IMG_STYLE == true %}
<div class="topic-icon  {{ attribute(webfontIcons, topicrow.TOPIC_IMG_STYLE)  }} {% if 'unread' in topicrow.TOPIC_IMG_STYLE %}unread{% else %}read{% endif %}"></div>
{% endif %}
{% if messagerow.FOLDER_IMG_STYLE == true %}
<div class="topic-icon  {{ attribute(webfontIcons, messagerow.FOLDER_IMG_STYLE) }} {% if 'unread' in messagerow.FOLDER_IMG_STYLE %}unread{% else %}read{% endif %}"></div>
{% endif %}
{% if searchresults.TOPIC_IMG_STYLE == true %}
<div class="topic-icon  {{ attribute(webfontIcons, searchresults.TOPIC_IMG_STYLE) }} {% if 'unread' in searchresults.TOPIC_IMG_STYLE %}unread{% else %}read{% endif %}"></div>
{% endif %}









