#g5-container {//wrapper

.button {
    @extend %button;
    @include button-color($button-bg, $white);
}

.button-simple {
    @extend %button;
    padding: 0;
}

.button-primary {
    @extend %button;
    @include button-color($core-accent);
}

.button-secondary {
    @extend %button;
    @include button-color($secondary-text);
}

.button.disabled, .button[disabled] {
    @extend %button;
    background: darken($main-bg, 10%);
    color: $white;
    cursor: default;
    &:active {
        margin: 0;
    }
}

.button.red {
    @extend %button;
    @include button-color($red);
}

.button.yellow {
    @extend %button;
    @include button-color($yellow, darken($yellow, 40%));
}

.input-group-btn {
    .button {
        @include button-color(#f6f6f6, $core-text);
    }
}

}//endwrapper
