#g5-container {//wrapper

.button {
    @extend %button;
    @include button-color($button-bg, $white);
}

.button-primary {
    @extend %button;
    @include button-color($core-accent);
}

.button-secondary {
    @extend %button;
    @include button-color($secondary-text);
}

.button.disabled {
    @extend %button;
    background: darken($main-bg, 10%);
    color: $white;
    cursor: default;
    &:active {
        margin: 0;
    }
}

.button.red {
    @extend %button;
    @include button-color($red);
}

.button.yellow {
    @extend %button;
    @include button-color($yellow, darken($yellow, 40%));
}

}//endwrapper
