#g5-container {//wrapper

.button {
    @extend %button;
    @include button-color($button-bg, $white);
}

.button-primary {
    @extend %button;
    @include button-color($core-accent);
}

.button-secondary {
    @extend %button;
    @include button-color($secondary-link);
}

.button.red {
    @extend %button;
    @include button-color($red);
}

.button.yellow {
    @extend %button;
    @include button-color($yellow, darken($yellow, 40%));
}

}//endwrapper
