body {
    color: $white;
    background-color: $body-bg !important;
    margin: 0;
}

a {
    color: $secondary-accent;
}

#g5-container { // wrapper
    font-size: $core-font-size;
    line-height: $core-line-height;

    .g-block {
        position: relative;
    }

    .inner-container {
        margin: 1.5rem;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        color: $core-text;

        @include breakpoint(mobile-only) {
            margin: 0;
        }
    }

    // badges
    .badge {
        border-radius: 100px;
        background-color: $light-gray;
        color: darken($medium-gray, 25);
        padding: 3px 6px;
    }

    // cards
    .cards-wrapper {
        margin: -10px;
    }

    .card {
        display: inline-block;
        background: $white;
        border-radius: 3px;
        border: 1px solid $medium-gray;
        padding: 10px;
        min-width: 250px;
        vertical-align: top;
        margin: 10px;

        &.full-width {
            margin: 0;
            display: block;
        }


        h4 {
            margin: 0;

            .enabler {
                float: right;
            }
        }

        .enabler {
            @include enabler($green, $medium-gray);
        }

        .inner-params {
            margin: $content-margin 0 0;
            padding-top: $content-margin;
            border-top: 1px solid $light-gray;
        }

        .theme-id {
            text-align: center;
            margin-bottom: 10px;
            font-family: $font-family-headers;
        }

        .theme-name {
            text-align: center;
        }

        .theme-screenshot {
            img {
                margin: 0 auto 10px auto;
                display: block;
            }

            a {
                display: block;
            }
        }
    }

} // end wrapper

// Footer
#footer {
    margin-bottom: 1rem;
    text-align: center;
    font-family: $font-family-headers;
    a {
        color: $core-accent;
        text-decoration: none;
    }
}

// Whoops Debug
.Whoops.container {
    position: inherit;
}