@include font-face('g-lato', '../fonts/lato_light/Lato-Light', 300);
@include font-face('g-lato', '../fonts/lato_regular/lato-regular-webfont');
@include font-face('g-montserrat', '../fonts/montserrat_light/montserrat-light-webfont');

.font-small, .fa.font-small {
    font-size: $core-font-size - 0.2rem;
    vertical-align: middle;
}
