#g5-container { //wrapper

    [data-mode-indicator="production"] {
        background-color: $production;
    }

    #main-header {
        font-family: $font-family-headers;
        color: $main-header-text;

        .g-content {
            margin: 0;
            padding: $content-padding - 0.2 $content-padding + 1.5;
        }

        .theme-title {
            float: left;
            margin-right: 2rem;
            font-size: $core-font-size + 0.3;
            i {
                margin-right: 8px;
            }
        }

        .button-save {
            float: right;
            @include button-color(lighten($production, 15%), $white);
        }
    }

    .update-text {
        vertical-align: middle;
        line-height: $core-line-height + 0.5;
    }

    .settings-state {
        padding: $content-padding - 0.1 $content-padding;
        float: right;
        text-align: center;
        cursor: pointer;
        background: $tertiary-accent;
        color: $main-header-text;
        font-size: $core-font-size + 0.1;
        height: 55px;

        @include breakpoint(mobile-only) {
            font-size: $core-font-size;
        }

        i {
            margin-left: 8px;
        }
    }

    // Update Header Bar
    .update-header {
        padding: $content-padding - 0.4 $content-padding;
        background: $update-header-bg;
        color: $main-header-text;
        .update-tools {
            float: right;
        }
        a {
            color: $main-header-text;
        }
        .fa-close {
            display: inline-block;
            border-radius: 100%;
            background-color: darken($update-header-bg, 15%);
            margin-left: $content-padding;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
        }
    }

    .button.button-update {
        display: inline-block;
        box-shadow: none;
        @include button-color(darken($update-header-bg, 15%), $white);
    }

    .ribbon {
        padding: $content-padding-short;
        background-color: $light-gray;
        color: darken($light-gray, 30%);
        border-left: 1px solid darken($light-gray, 5%);

        &.master {
            background-color: $yellow;
            color: darken($yellow, 30%);
            border-left: 1px solid darken($yellow, 15%);
        }
    }

}// endwrapper
