#g5-container { //wrapper

    [data-mode-indicator="production"] {
        background-color: $core-accent;
    }

    #main-header {
        font-weight: $font-weight-medium;
        color: $main-header-text;

        .g-content {
            margin: 0;
            padding: 0 $content-padding + 1.5;
        }

        .theme-title {
            display: inline-block;
            line-height: 3rem;
            font-size: $core-font-size + 0.3;
            i {
                margin-right: 8px;
            }
        }

        ul {
            @extend %list-reset;
            li {
                display: inline-block;
                margin-right: -4px;
                a {
                    display: block;
                    padding: $content-padding;
                    color: $main-header-text;
                    @include transition(background 0.2s);
                    @include breakpoint(tablet-range) {
                        padding: $content-padding $content-padding - 0.3;
                    }
                    &:focus {
                        background: darken($core-accent, 8%);
                    }
                }
                &:hover {
                    a {
                        background: darken($core-accent, 8%);
                    }
                }
                &.active {
                    a {
                        background: $body-bg;
                    }
                }
            }
        }
    }

    // Dev / Prod Toggle
    .dev-mode-toggle {
        position: relative;
        height: 36px;
        float: right;
        margin-left: $content-padding;
        margin-top: 0.5rem;
        background: darken($core-accent, 10%);
        border-radius: $core-border-radius;
        color: $white;
        @include breakpoint(tablet-range) {
            margin-left: $content-padding - 0.3;
        }

        input {
            position: absolute;
            opacity: 0;
        }

        input + label {
            position: relative;
            z-index: 2;
            float: left;
            width: 50%;
            height: 100%;
            margin: 0;
            text-align: center;
        }

        label {
            padding: 8px 20px;
            vertical-align: middle;
            cursor: pointer;
            font-size: $core-font-size;
            font-family: $font-family-default;
            font-weight: $font-weight-regular;
            opacity: 0.5;
            line-height: 1.2;
            @include transition(opacity 0.1s ease-out);
        }

        input:checked + label {
            opacity: 1;
        }

        a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            z-index: 1;
            width: 50%;
            height: 100%;
            border-radius: $core-border-radius;
            background: lighten($core-accent, 15%);
            @include transition(all 0.1s ease-out);
        }

        input:last-of-type:checked ~ a {
            left: 50%;
        }
    }

    // Update Header Bar
    .update-header {
        padding: $content-padding - 0.4 $content-padding;
        background: $update-header-bg;
        color: $main-header-text;
        .update-tools {
            float: right;
        }
        a {
            color: $main-header-text;
        }
        .fa-close {
            display: inline-block;
            border-radius: 100%;
            background-color: darken($update-header-bg, 15%);
            margin: 0 $content-padding;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
        }
    }

    .update-text {
        vertical-align: middle;
        line-height: $core-line-height + 0.5;
    }

    .button.button-update {
        display: inline-block;
        box-shadow: none;
        @include button-color(darken($update-header-bg, 15%), $white);
    }

}// endwrapper
