#g5-container { //wrapper

    [data-mode-indicator="production"] {
        background-color: $production;
    }

    #main-header {
        font-family: $font-family-headers;
        color: $main-header-text;

        .content {
            margin: 0;
            padding: $content-padding $content-padding + 1.5;
        }

        .theme-title {
            float: left;
            margin-right: 2rem;
            font-size: $core-font-size + 0.3;
            i {
                margin-right: 8px;
            }
        }

        .button-save {
            float: right;
            @include button-color(lighten($production, 15%), $white);
        }

        .dev-mode-toggle {
            position: relative;
            height: 36px;
            float: left;
            background: darken($production, 10%);
            border-radius: $core-border-radius;

            input {
                position: absolute;
                opacity: 0;
            }

            input + label {
                position: relative;
                z-index: 2;
                float: left;
                width: 50%;
                height: 100%;
                margin: 0;
                text-align: center;
            }

            label {
                padding: 8px 20px;
                vertical-align: middle;
                cursor: pointer;
                font-size: $core-font-size;
                opacity: 0.5;
                @include transition(opacity 0.1s ease-out);
            }

            input:checked + label {
                opacity: 1;
            }

            a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 1;
                width: 50%;
                height: 100%;
                border-radius: $core-border-radius;
                background: lighten($production, 15%);
                @include transition(all 0.1s ease-out);
            }

            input:last-of-type:checked ~ a {
                left: 50%;
            }
        }
    }

    // Gantry Header Bar
    .inner-header {
        background-color: $inner-header-bg;
        padding: $content-padding;
        color: $secondary-accent;

        .gantry-logo {
            width: 92px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../images/gantrylogo.png);
        }

        [data-sidebar-toggle] {
            display: inline-block;
            font-size: $sidebar-font-size + 0.2;
            vertical-align: middle;
            margin-right: $content-padding;
            cursor: pointer;
        }
    }

    .update-text {
        vertical-align: middle;
    }

    .settings-state {
        padding: $content-padding;
        display: block;
        text-align: center;
        cursor: pointer;
        background: $tertiary-accent;
        color: $main-header-text;
        font-size: $core-font-size + 0.1;
        i {
            margin-left: 8px;
        }
    }

    // Update Header Bar
    .update-header {
        padding: $content-padding - 0.4 $content-padding;
        background: $update-header-bg;
        color: $main-header-text;
    }

    .button.button-update {
        float: right;
        box-shadow: none;
        @include button-color(darken($update-header-bg, 15%), $white);
    }

    .ribbon {
        padding: $content-padding-short;
        background-color: $light-gray;
        color: darken($light-gray, 30%);
        border-left: 1px solid darken($light-gray, 5%);

        &.master {
            background-color: $yellow;
            color: darken($yellow, 30%);
            border-left: 1px solid darken($yellow, 15%);
        }
    }

}// endwrapper
