//Most of these topography controls are taken from http://getbootstrap.com/components/#input-groups

#g5-container {//wrapper

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        @include breakpoint(mobile-only) {
            width: 95%;
        }
    }

    .input-group input, .input-group-addon, .input-group-btn {
        display: table-cell;
    }

    .input-group-addon:first-child {
        border-right: 0 none;
    }

    .input-group-addon:last-child {
        border-left: 0 none;
    }

    .input-group-addon, .input-group-btn {
        white-space: nowrap;
        vertical-align: middle;
    }

    .input-group-addon {
        padding: 6px 0;
        width: 42px;
        font-size: $core-font-size - 0.1;
        font-weight: 400;
        color: $core-text;
        text-align: center;
        background-color: #f6f6f6;
        border: 1px solid $medium-gray;
        border-radius: $core-border-radius;
    }

    .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        @include breakpoint(mobile-only) {
            width: 42px;
        }

        .button {
            position: relative;
            border: 1px solid $medium-gray;
            border-radius: $core-border-radius;
            margin: -1px;
        }
    }

    .input-group.append.prepend input:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    .input-group.append input:last-child, .input-group.prepend input:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .button, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .button, .input-group-btn:last-child > .btn-group > .button, .input-group-btn:last-child > .dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-group.append input:first-child, .input-group.prepend input:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .button, .input-group-btn:first-child > .btn-group > .button, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .button, .input-group-btn:last-child > .button:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

}//endwrapper