#g5-container { //wrapper

.main-block {
    background-color: $main-bg;

    @include breakpoint(no-mobile) {
    	min-height: 75vh;
    }
}

#g-main {

    h2 {
        .fa-edit {
            font-size: 60%;
            vertical-align: middle;
        }
    }
}

}// end wrapper
