#g5-container { //wrapper

.main-block {
    background-color: $main-bg;
}

#main {
    min-height: 400px;

    h2 {
        .fa-edit {
            font-size: 60%;
            vertical-align: middle;
        }
    }
}

}// end wrapper
