// Submenu Ratio Height
$submenu-ratio:                 60px;

#g5-container { //wrapper

#menu-editor {
	.parent-indicator {
		&:before {
        	font-family: FontAwesome;
       		vertical-align: middle;
       		display: inline-block;
       	}
	}
	.config-cog {
		opacity: 0;
		position: absolute;
		@include transition(opacity 0.2s);
	}
	li {
		&:hover {
			.config-cog {
				opacity: 1;
			}
		}
	}
}

.menu-header {
    h2 {
    	display: inline-block;
    	margin-right: 1rem;
    }

    .menu-select-wrap {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 1rem;
    }

    .menu-select-wrap select {
        padding: 6px 2rem 6px 12px;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        position: relative;
        z-index: 2;
        -moz-appearance: none;
        margin-bottom: 0;
        font-weight: 500;
    }

    .menu-select-wrap select:focus {
        outline: none;
    }

}

.menu-selector-bar {
	margin: $content-margin 0;
	padding: 4px 28px 4px 4px;
	background: $white;
	border: 1px solid #ddd;
	border-radius: $core-border-radius;
	position: relative;
}

.global-menu-settings {
	position: absolute;
	right: 10px;
	top: 50%;
	@include transform(translateY(-50%));
	color: $navbar-color;
}

.menu-selector {
	li {
		position: relative;
		margin: 3px;
		background: lighten($navbar-bg, 8%);
		border: 1px solid #ddd;
		color: $navbar-color;
		display: inline-block;
        @include transition(background-color 0.1s ease-out);
        
		.parent-indicator {
			&:before {
				content: "\f078";
	       	}
		}

		a {
			display: inline-block;
			color: $navbar-color;
		}

		.menu-item {
			padding: $content-padding;
			font-size: $core-font-size + 0.1;
			@include breakpoint(mobile-only) {
				font-size: $core-font-size;
				padding: $content-padding $content-padding - 0.2;
			}
		}

		.config-cog {
			top: 4px;
			right: 4px;
		}

		&:hover, &.active {
			background: $tertiary-accent;
			border-color: transparent;
			a {
				color: $white;
			}
		}

        &.placeholder {
            margin: 3px -1px;
            border-color: $black;
        }
	}
	span {
		line-height: $core-line-height + 0.5;
		font-size: $core-font-size - 0.4;
		margin-left: 0.2rem;
		display: inline-block;
		vertical-align: middle;
	}
}

.column-container {
	position: relative;
	.add-column {
		position: absolute;
		right: 5px;
		bottom: 18px;
		cursor: pointer;
		padding: 5px;
		font-size: $core-font-size + 0.2;
		color: lighten($navbar-color, 20%);
		@include transition(color 0.2s);
		&:hover {
			color: $navbar-color;
		}
	}
}

.submenu-selector {
	border: 6px solid #fff;
	background: $navbar-bg;
	box-shadow: 0 0 0 1px #ddd;
	border-radius: $core-border-radius;
	color: $navbar-color;
	.g-block {
		position: relative;
		padding-bottom: $submenu-ratio;
		&:hover {
			&:before {
	            position: absolute;
	            background: $navbar-bg;
	            bottom: $submenu-ratio - 15;
	            width: 50px;
	            vertical-align: middle;
	            line-height: 22px;
	            text-align: center;
	            z-index: 5;
	            color: $navbar-color;
	            font-family: FontAwesome, sans-serif;
	            content: "\f07e";
	            border-radius: 0 0 $core-border-radius $core-border-radius;
	            left: 50%;
	            margin-left: -25px;
	            cursor: ew-resize;
	            font-size: $core-font-size - 0.1;
			}
			.submenu-column {

			}
		}
		&:last-child {
			.submenu-column {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
		}
		&:only-child {
			&:hover {
				&:before {
					display: none;
				}
			}
		}
	}
	.submenu-column {
		margin-right: 6px;
		background: $navbar-bg;
		&:after {
			content: "";
            top: -1px;
            bottom: $submenu-ratio - 1;
            width: 6px;
            background: $white;
            position: absolute;
            right: 1px;
            cursor: ew-resize;
            z-index: 10;
         	border: 1px solid $white;
		}
		&:hover:after {
			background: #00baaa;
		}
	}
	.submenu-items {
		list-style: none;
		margin: 0;
		padding: $content-padding / 2 0;
		position: relative;
		&:after {
			margin-right: 6px;
		}
		li {
			color: $navbar-color;
			cursor: pointer;
			position: relative;
			a {
				display: block;
				color: $navbar-color;
			}
			.menu-item {
				padding: $content-padding / 2 $content-padding;
				.fa-chevron-left {
					font-size: $core-font-size - 0.2;
					line-height: $core-line-height + 0.4;
				}
			}
			.config-cog {
				right: 4px;
				top: 0.8rem;
			}
			.parent-indicator {
				&:before {
					content: "\f054";
					float: right;
					font-size: $core-font-size - 0.2;
					line-height: $core-line-height + 0.5;
					margin-right: 10px;
		       	}
			}
			&:hover, .active {
				background: $tertiary-accent;
				a {
					color: $white;
				}
			}
		}
	}
}

.submenu-ratio {
	background: $white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $submenu-ratio;
	.percentage {
		font-size: 20px;
		font-weight: 300;
		line-height: $submenu-ratio;
		display: inline-block;
		margin-top: 5px;
	}
	i {
		position: absolute;
		@extend %vertical-align;
		right: 1rem;
		font-size: $core-font-size + 0.5;
		cursor: pointer;
	}
}

}// end wrapper
