#g5-container { //wrapper

#menu-editor {
	.parent-indicator {
		&:before {
        	font-family: FontAwesome;
       		vertical-align: middle;
       		display: inline-block;
       	}
	}
}

.menu-header {
    h2 {
    	display: inline-block;
    	margin-right: 1rem;
    }
    select {
    	display: inline-block;
    }
}

.menu-selector {
	margin: $content-margin 0 0 0;
	li {
		cursor: pointer;
		border: 3px solid $white;
		background: $menu-editor-bg;
		color: $white;
		.parent-indicator {
			&:before {
				content: "\f078";
	       	}
		}

		a {
			display: inline-block;
			color: $white;
			padding: $content-padding $content-padding - 0.2;
		}
		&:hover, &.active {
			background: $tertiary-accent;
		}
	}
	span {
		line-height: $core-line-height;
		margin-left: 0.4rem;
	}
}

.submenu-selector {
	.g-block {
		background: $menu-editor-bg;
		border: 3px solid $white;
		border-bottom: 0;
		padding: $content-padding / 2 0;
	}
	.submenu-items {
		list-style: none;
		margin: 0;
		li {
			color: $white;
			cursor: pointer;
			a {
				display: block;
				color: $white;
				padding: $content-padding / 2 $content-padding;
			}
			.parent-indicator {
				&:before {
					content: "\f054";
					float: right;
		       	}
			}
			&:hover, .active {
				background: $tertiary-accent;
			}
		}
	}
}

.submenu-ratio {
	background: $white;
	text-align: center;
	font-size: $core-font-size + 1;
	font-weight: 100;
	position: relative;
	i {
		position: absolute;
		@extend %vertical-align;
		right: 1rem;
		font-size: $core-font-size + 0.5;
		cursor: pointer;
	}
}

}// end wrapper