.g5-dialog, .g5-dialog *, .g5-dialog *:before, .g5-dialog *:after {
    @include box-sizing(border-box);
}

.g5-dialog {
    @include position(fixed, 0px 0px 0px 0px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
}

.g5-overlay {
    @include animation(fadeIn 0.5s);
    @include position(fixed, 0px 0px 0px 0px);
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
    .g5-dialog.g5-closing & {
        @include animation(fadeOut 0.5s);
    }
}

.g5-content {
    @include animation(fadeIn 0.5s);
    background: $white;
    .g5-dialog.g5-closing & {
        @include animation(fadeOut 0.5s);
    }
}

.g5-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7";
}

/*.g5-dialog-form {
    margin: 0;
}

.vex-dialog-button {
    text-rendering: optimizeLegibility;
    @include appearance(none);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
*/

.g5-dialog-loading-spinner {
    @include animation(rotate 0.7s linear infinite);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1112;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background: white;
}

body.g5-dialog-open {
    overflow: hidden;
}


$blue: #3288e6;

.g5-dialog.g5-dialog-theme-default {
    padding-top: 160px;
    padding-bottom: 160px;
    &.g5-closing .g5-content {
        @include animation(flyOut 0.5s);
    }
    .g5-content {
        @include animation(flyIn 0.5s);
    }
    .g5-content {
        border-radius: 5px;
        font-family: "Helvetica Neue", sans-serif;
        background: #f0f0f0;
        color: #444444;
        padding: 1em;
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        width: 450px;
        font-size: 1.1em;
        line-height: 1.5em;
        h1, h2, h3, h4, h5, h6, p, ul, li {
            color: inherit;
        }
    }
    .g5-close {
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &:before {
            border-radius: 3px;
            position: absolute;
            content: "\00D7";
            font-size: 26px;
            font-weight: normal;
            line-height: 31px;
            height: 30px;
            width: 30px;
            text-align: center;
            top: 3px;
            right: 3px;
            color: #bbbbbb;
            background: transparent;
        }
        &:hover:before, &:active:before {
            color: #777777;
            background: #e0e0e0;
        }
    }
    /*.vex-dialog-form {
        .vex-dialog-message {
            margin-bottom: 0.5em;
        }
        .vex-dialog-input {
            margin-bottom: 1em;
            textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
                border-radius: 3px;
                background: white;
                width: 100%;
                padding: 0.25em 0.67em;
                border: 0;
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                min-height: 2.5em;
                margin: 0 0 0.25em;
                &:focus {
                    @include box-shadow(inset 0 0 0 2px lighten($blue, 20%));
                    outline: none;
                }
            }
        }
        .vex-dialog-buttons {
            @include pie-clearfix;
        }
    }
    .vex-dialog-button {
        border-radius: 3px;
        border: 0;
        float: right;
        margin: 0 0 0 0.5em;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.8em;
        line-height: 1em;
        padding: 0.75em 2em;
        &.vex-last {
            margin-left: 0;
        }
        &:focus {
            @include vex-animation(vex-pulse 1.1s infinite);
            outline: none;
            // vex-pulse uses -webkit-filter which
            // doesn't play so nice in mobile webkit
            @media (max-width: 568px) {
                @include vex-animation(none);
            }
        }
        &.vex-dialog-button-primary {
            background: $blue;
            color: white;
        }
        &.vex-dialog-button-secondary {
            background: #e0e0e0;
            color: #777777;
        }
    }*/
}

.g5-dialog-loading-spinner.g5-dialog-theme-default {
    box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    background: #f0f0f0;
    border: 0.2em solid transparent;
    border-top-color: #bbbbbb;
    top: -1.1em;
    bottom: auto;
}
