#g5-container {//wrapper

.overview-header {
    .g-block {
        padding: $content-padding;
    }

    .theme-title {
        display: inline-block;
        color: $secondary-text;
        margin: 0;
        vertical-align: middle
    }

    .theme-version {
        display: inline-block;
        background: $white;
        border: 1px solid $medium-gray;
        margin-left: $content-padding;
        padding: 0 6px;
        border-radius: $core-border-radius;
        font-weight: $font-weight-medium;
        letter-spacing: 1px;
        vertical-align: middle;
    }

    .button {
        float: right;
        margin-left: $content-padding;

        @include breakpoint(mobile-only) {
            float: none;
            margin: 0;
        }
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }
}

.overview-details {
    margin-top: $content-padding;
    margin-bottom: $content-padding;
    margin-left: -($content-padding + $content-margin);
    margin-right: -($content-padding + $content-margin);
    padding: 0 ($content-padding + $content-margin) $content-padding ($content-padding + $content-margin);
    border-bottom: 1px solid $medium-gray;
    .g-block {
        padding: $content-padding;
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }
}

.overview-gantry {
    .g-block {
        padding: $content-padding;
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }
}

.overview-list {
    list-style: none;
    margin: 0;
    font-size: $core-font-size + 0.1;
    i {
        margin-right: 1rem;
        color: $navbar-border;
    }
}

} //endwrapper
