#g5-container {//wrapper

.overview-header {
    .block {
        padding: $content-padding 0;
    }

    .theme-title {
        display: inline-block;
        color: $core-accent;
        margin: 0;
        vertical-align: middle
    }

    .theme-version {
        display: inline-block;
        background: $medium-gray;
        margin-left: $content-padding;
        padding: 0 6px;
        border-radius: $core-border-radius;
        font-family: $font-family-headers;
        letter-spacing: 1px;
        vertical-align: middle;
    }

    .button {
        float: right;
        margin-left: $content-padding;
    }
}

} //endwrapper
