@import "selectize";

#g5-container {//wrapper

#settings {
    h2 {
        &:first-child {
            margin-top: 0.5rem;
        }
    }
}

.settings-block {
    width: 48%;
    min-width: inherit;
    @include breakpoint(mobile-only) {
        margin: 1% 0;
        width: 100%;
    }

    &.card {
        .badge {
            margin-left: 4px;
        }
    }

    .advanced {
        color: $orange;
    }

    .settings-param {
        padding: 5px;
        clear: both;
        position: relative;

        &:nth-child(even){
            background-color: #fafafa;
            border-radius: 3px;
        }
    }

    input.settings-param-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        margin: -7px 0 0 0;
        z-index: 2;
        
        &:checked {
            + .settings-param-override {
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .settings-param-override {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        opacity: 1;
        @include transition(opacity 0.3s ease-in-out, z-index 0.3s ease-in-out);
    }

    .settings-param-title {
        max-width: 150px;
    }

    .settings-param-field {
        margin-left: 150px;
    }

    i {
        vertical-align: middle;
    }

    input {
        padding: 6px 12px;
        border: 1px solid $medium-gray;
        margin: 0;
        height: auto;
        max-width: 100%;
    }

    select {
        margin: 0 0 10px;
        display: inline-block;
    }

    img {
        display: block;
    }
}

// modal
.g5-dialog .settings-block {
    width: 100%;
    margin: 0 0 15px;
}

// fields styles
.settings-param-field-colorpicker {
    position: relative;

    .settings-param-field-colorpicker-preview {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: $core-line-height + em(1px);
        border-radius: 3px;
    }
}

}//endwrapper
