@import "selectize";

#g5-container {//wrapper

#settings {
    h2 {
        &:first-child {
            margin-top: 0.5rem;
        }
    }
}

.settings-block {
    width: 48%;
    min-width: inherit;
    @include breakpoint(mobile-only) {
        margin: 1% 0;
        width: 100%;
    }

    &.card {
        .badge {
            margin-left: 4px;
        }
    }

    .advanced {
        color: $orange;
    }

    .settings-param {
        padding: 5px;
        clear: both;
        position: relative;

        // Zebra
        /*&:nth-child(even){
            background-color: #fafafa;
            border-radius: 3px;
        }*/
    }

    input.settings-param-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        margin: -7px 15px 0 0;
        z-index: 5;
        
        &:checked {
            + .settings-param-override {
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .settings-param-override {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        background-color: transparentize(#f4f4f4, 0.5);
        z-index: 4;
        opacity: 1;
        @include transition(opacity 0.3s ease-in-out, z-index 0.3s ease-in-out);
        /*@include linear-gradient(90deg, transparentize($white, 0.7) 0%, transparentize($white, 0.7) 150px, transparentize($white, 0.4) 150px, transparentize($white, 0.4) 100%);*/
    }

    .settings-param-field {
        margin-left: 150px;
    }

    .settings-param-title {
        max-width: 150px;
        margin: 5px;
    }

    .collection-list {

        padding: 10px 0;

        ul {
            @extend %list-reset;
            border: 1px solid #DDD;
            border-radius: 0 0 3px 3px;
            width: 100%;
            background-color: #ffffff;
            li {
                border-top: 1px solid #D8D8D8;
                .title {
                    padding: 3px 10px;
                    display: inline-block;
                }
            }
        }

        .settings-param-toolbar {
            background-color: #f5f5f5;
            border-radius: 3px 3px 0 0;
            border-width: 1px 1px 0;
            border-style: solid solid none;
            border-color: #D8D8D8 #D8D8D8;
            padding: 6px 10px;
        }

        .settings-param-title {
            padding: 6px 10px;
            margin: 0;
            display: inline-block;
        }

        .button {
            padding: 2px 6px;

            span {
                margin: 0 1px;
            }
        }

    }

    i {
        vertical-align: middle;
    }

    input {
        padding: 6px 12px;
        border: 1px solid $medium-gray;
        margin: 0;
        height: auto;
        max-width: 100%;
    }

    select {
        margin: 0 0 10px;
        display: inline-block;
    }

    img {
        display: block;
    }
}

// modal
.g5-dialog {

    .settings-block {
        width: 100%;
        margin: 0 0 15px;
    }

    .g-modal-body {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 650px;
    }
}

// fields styles
.settings-param-field-colorpicker {
    position: relative;

    .settings-param-field-colorpicker-preview {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: $core-line-height + em(1px);
        border-radius: 3px;
    }
}

}//endwrapper
