#g5-container {//wrapper

.settings-block {
    //@extend .card;
    width: 48%;
    min-width: inherit;
    @include breakpoint(mobile-only) {
        margin: 1% 0;
        width: 100%;
    }

    &.card {
        margin: 10px 1%;
    }

    .advanced {
        color: $orange;
    }

    .settings-param {
        padding: 5px;

        &:nth-child(even){
            background-color: #fafafa;
            border-radius: 3px;
        }
    }

    .settings-param-title {
        max-width: 150px;
    }

    .settings-param-field {
        margin-left: 150px;
    }

    i {
        vertical-align: middle;
    }

    input {
        padding: 6px 12px;
        border: 1px solid $medium-gray;
        margin: 0;
        height: auto;
        max-width: 100%;
    }

    select {
        margin: 0 0 10px;
        display: inline-block;
    }

    img {
        display: block;
    }
}

// modal
.g5-dialog .settings-block {
    width: 100%;
    margin: 0 0 15px;
}

// fields styles
.settings-param-field-colorpicker {
    position: relative;

    .settings-param-field-colorpicker-preview {
        @include position(absolute, 2px 2px 2px inherit);
        width: $core-line-height + em(1px);
        border-radius: 3px;
    }
}

}//endwrapper
