#g5-container {//wrapper

.sidebar-block {
    background: $sidebar-bg;
    border-right: 1px solid;
    border-color: $sidebar-border;
    position: relative;
    .gantry-logo {
        width: 91px;
        height: 28px;
        display: block;
        background-image: url(../images/gantrylogo.png);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: $content-padding;
        position: absolute;
        left: 50%;
        margin-left: -45px;
        opacity: 0.5;
        @include breakpoint(mobile-only) {
            display: none;
        }
    }
}

#sidebar {
    font-size: $sidebar-font-size;
    font-family: $font-family-headers;
    margin-right: -1px;

    &, li:hover, li.active {
        
    }

    .g-content {
        padding: 0;
        margin: $content-margin 0;
    }

    ul {
        @extend %list-reset;
        @include breakpoint(mobile-only) {
            text-align: center;
        }

        li {
            @include transition (background-color 0.2s ease-in-out);
            &:hover {
                background-color: darken($sidebar-bg, 3%);
            }

            &.active {
                background-color: $sidebar-active;
                box-shadow: inset 3px 0 0 darken($sidebar-active, 5%);

                @include breakpoint(mobile-only) {
                    box-shadow: none;
                }

                a {
                    color: $sidebar-active-color;
                }
            }

            a {
                color: $sidebar-color;
                border-bottom: 1px solid;
                border-color: $sidebar-border;
                display: block;
                white-space: nowrap;
                padding: $content-padding;
                font-size: $core-font-size;
                @include breakpoint(tablet-range) {
                    text-align: center;
                }
                @include breakpoint(mobile-only) {
                    text-align: center;
                    padding: $content-padding $content-padding + 0.1;
                    border-bottom: 0;
                }

                i {
                    margin-right: 0.6rem;
                    @include breakpoint(tablet-range) {
                        margin: 0;
                        font-size: $core-font-size + 0.3;
                    }
                    @include breakpoint(mobile-only) {
                        margin: 0;
                        font-size: $core-font-size + 0.3;
                    }
                }

                span {
                    @include breakpoint(tablet-range) {
                        display: none;
                    }

                    @include breakpoint(mobile-only) {
                        display: none;
                    }
                }
            }

            @include breakpoint(mobile-only) {
                display: inline-block;
                margin-right: -4px;
            }
        }
    }

    ul ul {
        text-transform: none;
        li a {
            color: #999;
            padding-top: 0.2345rem;
            padding-bottom: 0.2345rem;
            padding-left: 42px;

            &:before {
                content: "\f054";
                font-family: FontAwesome;
                font-size: 100%;
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                padding-right: 5px;
                color: #ddd;
            }
        }
    }
}

.g-block.sidebar-icons {
    flex: 0 3%;
}

.g-block.sidebar-closed {
    flex: 0;
}

}//endwrapper
