#g5-container {//wrapper

.sidebar-block {
    @include transition (all 0.2s ease-in-out);
    background: $sidebar-bg;
}

#sidebar {
    font-size: $sidebar-font-size;
    font-weight: bold;

    &, li:hover, li.active {
        
    }

    .content {
        padding: 0;
        margin: $content-margin 0;
    }

    ul {
        @extend %list-reset;

        li {
            &:hover {
                background-color: darken($sidebar-bg, 2%);
            }

            &.active {
                background-color: $sidebar-active;
                box-shadow: inset 3px 0 0 darken($sidebar-active, 5%);

                a {
                    color: $sidebar-active-color;
                }
            }

            a {
                color: $sidebar-color;
                border-bottom: 1px solid;
                border-color: $sidebar-border;
                display: block;
                white-space: nowrap;
                padding: 1rem;
                font-size: $core-font-size;

                i {
                    margin-right: 0.6rem;
                }
            }
        }
    }

    ul ul {
        text-transform: none;
        li a {
            color: #999;
            padding-top: 0.2345rem;
            padding-bottom: 0.2345rem;
            padding-left: 42px;

            &:before {
                content: "\f054";
                font-family: FontAwesome;
                font-size: 100%;
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                padding-right: 5px;
                color: #ddd;
            }
        }
    }
}

.block.sidebar-icons {
    flex: 0 3%;
}

.block.sidebar-closed {
    flex: 0;
}

}//endwrapper
