#g5-container {//wrapper

#sidebar {
    @include position(absolute, 0px);
    background-color: $sidebar-bg;

    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $main-border;
    border-radius: 0 0 0 $core-border-radius;

    font-size: $sidebar-font-size;
    font-weight: bold;
    text-transform: uppercase;

    &, li:hover, li.active {
        box-shadow: $sidebar-shadow;
    }

    .content {
        padding: 0;
        margin: $content-margin 0;
    }

    ul {
        @extend %list-reset;

        li {
            &:hover {
                background-color: darken($sidebar-bg, 2%);
            }

            &.active {
                background-color: $sidebar-active;
                box-shadow: inset 3px 0 0 darken($sidebar-active, 5%);

                a {
                    color: $sidebar-active-color;
                }
            }

            a {
                color: $sidebar-color;
                display: block;
                white-space: nowrap;
                padding: $content-padding-short;
                padding-left: 0.7692rem;

                i {
                    margin-right: 1.154rem;
                }
            }
        }
    }

    ul ul {
        text-transform: none;
        li a {
            color: #999;
            padding-top: 0.2345rem;
            padding-bottom: 0.2345rem;
            padding-left: 42px;

            &:before {
                content: "\f054";
                font-family: FontAwesome;
                font-size: 100%;
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                padding-right: 5px;
                color: #ddd;
            }
        }
    }
}

.sidebar-block {
    @include transition (all 0.2s ease-in-out);
}

.block.sidebar-icons {
    flex: 0 3%;
}

.block.sidebar-closed {
    flex: 0;
}

}//endwrapper
