#g5-container {//wrapper
	.swatches-block {
		margin: 0 -1px;
		padding-bottom: $content-padding;
		@include breakpoint(mobile-only) {
			.g-block {
				@include flex(0 25%);
			}
		}
		.swatch {
			display: block;
			padding: 4px;
			background: $white;
			margin: 0 1px;
			border-radius: $core-border-radius;
			border: 1px solid $medium-gray;
		}

		.swatch-image {
			display: block;
            margin-bottom: 2px;
		}
	}

    .swatch-colors {
      display: block;
      height: 15px;
    }
}