#g5-container {//wrapper
	.swatches-block {
		margin: 0 -1px;
		padding-bottom: $content-padding;
		@include breakpoint(mobile-only) {
			.g-block {
				@include flex(0 25%);
			}
		}
		.swatch {
			display: block;
			padding: 4px;
			max-width: 350px;
			background: $white;
			margin: 0 1px;
			border-radius: $core-border-radius;
			border: 1px solid $medium-gray;
			position: relative;
		}

		.swatch-image {
			display: block;
            margin-bottom: 2px;
		}
	}

    .swatch-colors {
      display: block;
      height: 15px;
    }

    .swatch-preview {
    	position: absolute;
    	top: 4px;
    	right: 4px;
    	color: $white;
    	background: rgba(0,0,0,0.4);
    	padding: 0.5rem;
    	border-radius: 0 0 0 $core-border-radius;
    	i {
    		font-size: $core-font-size + 0.2;
    	}
    }
}