#g5-container {//wrapper
    font-weight: 300;
    font-family: $font-family-default;

    // Headings
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        font-family: $font-family-headers;
    }

    h1, h2 {
        margin: $leading-margin 0;
    }

    h6 {
        text-transform: uppercase;
    }

    // Strong
    b, strong {
        font-weight: normal;
        color: darken($core-text, 25%);
    }

    .page-title {
        margin-top: 0.5rem;
        display: inline-block;
        color: inherit;
    }

    .new {
        display: none;
    }

}//endwrapper
