#g5-container {//wrapper
    font-weight: 300;
    font-family: $font-family-default;

    // Headings
    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-medium;
    }

    h1, h2 {
        margin: $leading-margin 0;
    }

    h6 {
        text-transform: uppercase;
    }

    // Strong
    b, strong {
        font-weight: $font-weight-bold;
    }

    .page-title {
        margin-top: 0.5rem;
        display: inline-block;
        color: inherit;
    }

    .new {
        display: none;
    }

    // invalid fields
    input:invalid, textarea:invalid, select:invalid, .invalid-field {
        color: $red;
        text-decoration: underline;
        border-bottom: 1px dotted $red;
    }

}//endwrapper
