/* Global imageset items */
.imageset, .contact-icon {
	&:before {
		font: normal normal normal 14px/1 FontAwesome;
		text-align: center;
		text-rendering:auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		position: absolute;	
	}

	&.subforum_read:before{content: "\f07b";}
	&.subforum_unread:before{content: "\f07c";color: $core-accent;}
	&.pm_read:before, &.pm-icon:before{content: "\f003";}
	&.pm_unread:before{content: "\f0e0";color: $core-accent;}
	&.icon_back_top:before{content: "\f106";}
	&.phpbb_aol-icon:before,&.icon_contact_aim:before{content: "\f0ac";}
	&.icon_contact_email:before,&.email-icon:before	{content: "\f0e0";}
	&.icon_contact_icq:before,&.phpbb_icq-icon:before{content: "\f075";}
	&.icon_contact_jabber:before, &.jabber-icon:before{content: "\f0eb";}
	&.phpbb_wlm-icon:before,&.icon_contact_msnm:before{content: "\f17a";}
	&.icon_contact_www:before,&.phpbb_website-icon:before{content: "\f0ac";}
	&.icon_contact_yahoo:before,&.phpbb_yahoo-icon:before{content: "\f19e";}
	&.phpbb_youtube-icon:before{content: "\f167";}
	&.phpbb_facebook-icon:before{content: "\f09a";}
	&.phpbb_googleplus-icon:before{content: "\f0d5";}
	&.phpbb_skype-icon:before{content: "\f17e";}
	&.phpbb_twitter-icon:before{content: "\f099";}
	&.icon_post_delete:before{content: "\f00d";}
	&.icon_post_info:before{content: "\f129";}
	&.icon_post_report:before{content: "\f071";}
	&.icon_post_target:before{content: "\f15b";}
	&.icon_post_target_unread:before{content: "\f15b";color: $core-accent;}
	&.icon_topic_attach:before{content: "\f0c6";}
	&.icon_topic_latest:before{content: "\f016";}
	&.icon_topic_newest:before{content: "\f15b";}
	&.icon_topic_reported:before{content: "\f071";}
	&.icon_topic_deleted:before{content: "\f00d";}
	&.icon_topic_unapproved:before{content: "\f05e";}
	&.icon_topic_poll:before{content: "\f080";}
	&.icon_user_warn:before{content: "\f071";}
	&.icon_contact:before{content: "\f086";color: $core-accent;top: 0;left: 4px;margin-top: -12px !important;}
	&.icon_user_online:before{content: "\f097";}
}
.imageset {
	width:0;
	height: 0;
	display: inline-block !important;
	overflow: hidden;
	&:before {
		color: $core-text;
		margin-top: -16px;
	}

	&.icon_post_target {margin-right: 15px;}
}