// Core
$core-accent:                   #3180C2;
$white:							#fff;

// Mode Indicator
$production:                    $core-accent;
$development:                   #f27a40;

// Body
$body-bg:                       #404040;

// Headers
$main-header-text:				#fff;
$inner-header-bg:				#222;
$inner-header-text:				$production;

// Sidebar
$sidebar-active-color:          $production;