// Mode Indicator
$production:                    #3180C2;
$development:                   #f27a40;

// Body
$body-bg:                       #404040;

// Headers
$main-header-text:				#fff;
$inner-header-bg:				#222;
$inner-header-text:				$production;

// Sidebar
$sidebar-active-color:          $production;