{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<form method="POST">
    {% if blueprints.type == 'collection.list' %}
        <span class="float-right">
            <a class="button">Reset</a>
            <button class="button button-primary" type="submit">Apply</button>
            <a class="button g5-dialog-close">Cancel</a>
        </span>
        <h2 class="page-title">
            <span class="title">{{ key }} Collection</span>
        </h2>
        {% include 'forms/fields.html.twig' %}
    {% else %}
        <div class="cards-wrapper">
            <div class="card settings-block">
                <h4>
                    Edit {{ key }}
                </h4>
                <div class="inner-params">
                    {% include 'forms/fields.html.twig' %}
                </div>
            </div>
        </div>
        <div class="g-modal-actions">
            <a class="button float-left">Reset</a>
            <button class="button button-primary" type="submit">Apply</button>
            <a class="button g5-dialog-close">Cancel</a>
        </div>
    {% endif %}
</form>
{% endblock %}
