{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
<div id="settings">
    {% for group, list in particles %}
        <h2>{{ group|capitalize }} Settings</h2>

        <div class="cards-wrapper g-grid">

            {% for id, particle in list %}
                {% if not particle.hidden %}
                {% set prefix = 'particles.' ~ id ~ '.' %}
                <div class="card settings-block">
                    <h4>
                        <a class="config-cog" data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('configuration', configuration, 'settings/particles', id) }}">{{ particle.name }}</a>
                        {% if particle.form.fields.enabled %}
                        {% include 'forms/fields/enable/enable.html.twig' with {'default': true, 'scope': prefix, 'name': 'enabled',
'field': particle.form.fields.enabled, 'value': config.get(prefix ~ 'enabled')} %}
                        {% endif %}
                    </h4>
                    <div class="inner-params">
                        {% include 'forms/fields.html.twig' with {'blueprints': particle.form, skip: ['enabled'], data: config, "prefix": prefix} %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
