{% set html %}
   {% include ['phpbb/' ~ segment.attributes.name ~ '.html.twig',
   '@nucleus/phpbb/' ~ segment.attributes.name ~ '.html.twig'] %}
{% endset %}

{% if html|trim %}
<div class="g-content{{ segment.classes ? ' ' ~ segment.classes|join(' ') }}">
    {{ html }}
</div>
{% endif %}
