{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="showcase-sample">
		<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />
		<h1>{{ particle.headline|raw }}</h1>
		{{ particle.content|raw }}
		<p><a href="#" class="button">Read More</a></p>
	</div>
{% endblock %}