{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="showcase-sample">
		<img src="media/images/logo-large.png" class="logo-large" alt="image" />
		<!--<img src="{{ url("gantry-media://" ~ particle.image) }}" class="logo-large" alt="{{ particle.text|e }}" />-->
		<h1>{{ particle.headline|raw }}</h1>
		{{ particle.content|raw }}
		<p><a href="#" class="button">Read More</a></p>
	</div>
{% endblock %}