{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<span class="logo-large"></span>
	<h1>Welcome to Gantry 5</h1>
	<p>Gantry 5 is so incredibly amazing you're not even going to believe it!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula. Praesent et nulla eu augue tempus sagittis. Mauris faucibus nibh et nibh cursus in vestibulum sapien egestas. Curabitur ut lectus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<p><a href="#" class="button">Read More</a></p>
{% endblock %}