<div class="g5-lm-particles-picker">
    <div class="search">
        <input type="text" placeholder="Search..." />
        <i class="fa fa-search"></i>
    </div>
    <ul>
        {% for key,list in particles %}
            {% for particle in list %}
            <li class="g5-lm-particle-{{ key | e }}" data-lm-blocktype="{{ key | e }}">{{ particle | e }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>