<h1>{{ 'GANTRY5_PLATFORM_LAYOUT_PRESETS'|trans }}</h1>
<ul>
    {% for name,layout in presets.layouts %}
        <li>
            <a data-g5-lm-picker=""
               data-g5-ajaxify=""
               data-g5-ajaxify-target="[data-g5-content]"
               data-g5-ajaxify-href="{{ gantry.route('configurations', 'FIXME', 'layout/create', name) }}"
            >
                {{ layout.name }}
            </a>
        </li>
    {% endfor %}
</ul>
