{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
          <h6>Work With Us</h6>
          <h3>100% Satisfaction Guaranteed</h3>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Cloud Services</h3>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>Secured Data</h3>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/500x300" alt="image">
              <h3>24/7 Support</h3>
            </div>
        </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-desktop fa-3x" aria-hidden="true"></span>
              <h3>Desktop Apps</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-mobile fa-3x" aria-hidden="true"></span>
              <h3>Mobile Apps</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-cloud fa-3x" aria-hidden="true"></span>
              <h3>Cloud Servers</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <span class="fa fa-database fa-3x" aria-hidden="true"></span>
              <h3>Databases</h3>
              <p>Collaboratively administrate empowered markets via available great networks.</p>
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
          <a href="#" class="button">Join Our Club Now</a> <a href="#" class="button-secondary">Learn More About Us</a>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/1200x350" alt="image">
            </div>
        </div>
    </div>

{% endblock %}
