{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2 class="header-title">Our Awesome Services</h2>
        <h5>Learn What We Can Do For You</h5>
      </div>
    </div>

    <div class="g-grid center">
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/400x250" alt="image">
              <h3>Web Design</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/400x250" alt="image">
              <h3>Mobile Apps</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <img src="http://placehold.it/400x250" alt="image">
              <h3>SEO</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
              <a href="#" class="button">Read More</a>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <h3>Our Core Services</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                <ul>
                  <li>HTML5 &amp; CSS3</li>
                  <li>Gantry Framework</li>
                  <li>Grav CMS</li>
                </ul>
                <a href="#" class="button">Join Our Club Now</a>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/600x400" alt="image">
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/600x400" alt="image">
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
                <h3>Why Should You Choose Us</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                <ul>
                  <li>Full Experience</li>
                  <li>Professional</li>
                  <li>Affordable</li>
                </ul>
                <a href="#" class="button">Join Our Club Now</a>
            </div>
        </div>
    </div>

{% endblock %}
