{% extends "page.html.twig" %}

{% do gantry.theme.setLayout('default') %}

{% block content %}

    <div class="center">
      <div class="g-content">
        <h2 class="header-title">What We Do</h2>
        <h5>Learn More About Our Great Services</h5>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-picture-o fa-fw fa-2x" aria-hidden="true"></span> Graphic Design</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-terminal fa-fw fa-2x" aria-hidden="true"></span> Programming</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-database fa-fw fa-2x" aria-hidden="true"></span> Hosting</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-tags fa-fw fa-2x" aria-hidden="true"></span> Domain</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-shield fa-fw fa-2x" aria-hidden="true"></span> Security</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-sitemap fa-fw fa-2x" aria-hidden="true"></span> Servers</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-support fa-fw fa-2x" aria-hidden="true"></span> HelpDesk</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-desktop fa-fw fa-2x" aria-hidden="true"></span> Template</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
        <div class="g-block">
            <div class="g-content">
              <h4><span class="fa fa-truck fa-fw fa-2x" aria-hidden="true"></span> MarketPlace</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits.</p>
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
          <h6>A New Experience</h6>
          <h3>Create Your Awesome Website</h3>
          <a href="#" class="button">Get A Free Quote Now</a>
      </div>
    </div>

    <div class="g-grid">
        <div class="g-block">
            <div class="g-content">
                <img src="http://placehold.it/1200x350" alt="image">
            </div>
        </div>
    </div>

    <div class="center">
      <div class="g-content">
        <h5>Choose the Service that Suits Your Needs. 100% satisfaction guaranteed.</h5>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
      </div>
    </div>

{% endblock %}
