// Core
$core-text:				#555;
$core-link:				#63A6D7;
$secondary-link:		#F06766;
$white:					#fff;
$black:					#000;

// Header
$header-bg:				#111;
$header-text:			#ccc;

// Feature
$feature-bg:			#eee;

// Footer
$footer-bg:				#111;
$footer-text:			#ccc;