// Core
$body-text:				#555;
$body-link:				#2698de;
$white:					#fff;
$black:					#000;

// Header
$header-bg:				#111;
$header-text:			#ccc;

// Feature
$feature-bg:			#eee;

// Footer
$footer-bg:				#111;
$footer-text:			#ccc;