// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
//FIXME Remove deprecated bourbon mixins
$output-bourbon-deprecation-warnings: false;
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

// Load Optional Nucleus Assets
@import "nucleus/theme/alerts";

// Load Admin Configuration
@import "configuration/admin/base";

// Core
@import "wordpress-admin/core";

// Buttons
@import "wordpress-admin/buttons";

// Sidebar
@import "wordpress-admin/sidebar";

// Headers
@import "wordpress-admin/headers";

// Footer
@import "wordpress-admin/footer";

// Modals
@import "wordpress-admin/modals";

// Overview
@import "wordpress-admin/overview";

// Typography
@import "wordpress-admin/typography";

// Layout Manager
@import "wordpress-admin/layout-manager";

// Navbar
@import "wordpress-admin/navbar";

// Settings
@import "wordpress-admin/settings";

// Widgets Page
@import "wordpress-admin/widgets";
