<!DOCTYPE html>
<html lang="en">
{% block head %}
    {% include 'partials/page_head.html.twig' %}
{% endblock %}
<body>
    {% block header_section %}
    <header id="g-header">
        <div class="g-container">
            <div class="g-grid pure-g">
                <div class="g-block size-1-3 pure-u-1-3">
                    <h1><a href="{{ base_url_relative }}">{{ site.title }}</a></h1>
                </div>
                <div class="g-block pure-u-2-3">
                    {% block header %}
                        {% include 'widgets/menu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <div class="g-container">
        <section id="g-main">
            <div class="g-grid pure-g">
                {% if layout == 'sidebar' %}
                <div class="g-mainbody g-block pure-u-2-3">
                    {% block breadcrumbs %}{% endblock %}
                    <div class="g-content">
                        {% block content_sidebar %}{% endblock %}
                        {% block pagination %}{% endblock %}
                    </div>
                </div>
                <div class="g-sidebar g-block size-1-3 pure-u-1-3">
                    {% block sidebar %}{% endblock %}
                </div>
                {% else %}
                <div class="g-mainbody g-block pure-u-1-1">
                    <div class="g-content">
                        {% block content_full %}{% endblock %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>

    {% block footer_section %}
    <footer id="g-footer">
        <div class="g-container">
            <a href="http://getgrav.org">Grav</a> was made with <i class="fa fa-heart"></i> by <a href="http:/www.rockettheme.com">RocketTheme</a>.
        </div>
    </footer>
    {% endblock %}
 </body>
</html>
