<!-- IF S_DISPLAY_ONLINE_LIST -->
<!-- IF U_VIEWONLINE -->
<h2 class="title">
	<a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>
</h2>
<!-- ELSE -->
<h2 class="title">
	{L_WHO_IS_ONLINE}
</h2>
<!-- ENDIF -->
<!-- EVENT index_body_block_online_prepend -->
{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
<!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
<!-- EVENT index_body_block_online_append -->
<!-- ENDIF -->