<!-- IF NEWEST_USER -->
<h2 class="title">
	{L_STATISTICS}
</h2>
<!-- EVENT index_body_block_stats_prepend -->
{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
<!-- EVENT index_body_block_stats_append -->
<!-- ENDIF -->