.g-container {
  width: 75rem; }
  @media only all and (min-width: 60rem) and (max-width: 74.938rem) {
    .g-container {
      width: 60rem; } }
  @media only all and (min-width: 48rem) and (max-width: 59.938rem) {
    .g-container {
      width: 48rem; } }
  @media only all and (min-width: 30.063rem) and (max-width: 47.938rem) {
    .g-container {
      width: 30rem; } }
  @media only all and (max-width: 30rem) {
    .g-container {
      width: 100%; } }

@media only all and (max-width: 47.938rem) {
  .g-block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 100%;
    -moz-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%; } }

@media only all and (max-width: 47.938rem) {
  body [class*="size-"] {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 100%;
    -moz-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%; } }

@media only all and (max-width: 47.938rem) {
  @supports not (flex-wrap: wrap) {
    .g-grid {
      display: block;
      -webkit-box-lines: inherit;
      -moz-box-lines: inherit;
      box-lines: inherit;
      -webkit-flex-wrap: inherit;
      -moz-flex-wrap: inherit;
      -ms-flex-wrap: inherit;
      flex-wrap: inherit; }

    .g-block {
      display: block;
      -webkit-box-flex: inherit;
      -moz-box-flex: inherit;
      box-flex: inherit;
      -webkit-flex: inherit;
      -moz-flex: inherit;
      -ms-flex: inherit;
      flex: inherit; } } }
@media only all and (max-width: 47.938rem) {
  .g-main-nav .g-toplevel {
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    width: 260px;
    overflow: auto;
    background: #222; }
    .g-main-nav .g-toplevel li {
      display: block; }
      .g-main-nav .g-toplevel li:hover > .g-dropdown {
        display: none; } }
body {
  color: #444444;
  background: #f0f0f0; }

a {
  color: #439A86; }

h1, h2, h3, h4, h5, h6, strong {
  color: #2b2b2b; }

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #439A86;
  color: #ffffff; }

.logo-large {
  display: inline-block; }

@font-face {
  font-family: "g-lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/lato_light/Lato-Light.eot");
  src: url("../fonts/lato_light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_light/Lato-Light.woff") format("woff"), url("../fonts/lato_light/Lato-Light.ttf") format("truetype"), url("../fonts/lato_light/Lato-Light.svg#g-lato") format("svg"); }
@font-face {
  font-family: "g-lato";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato_regular/lato-regular-webfont.eot");
  src: url("../fonts/lato_regular/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_regular/lato-regular-webfont.woff") format("woff"), url("../fonts/lato_regular/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato_regular/lato-regular-webfont.svg#g-lato") format("svg"); }
@font-face {
  font-family: "g-montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/montserrat_light/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat_light/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_light/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat_light/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat_light/montserrat-light-webfont.svg#g-montserrat") format("svg"); }
body {
  font-family: "g-lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-family: "g-montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

.button {
  font-weight: 500; }

.feature-icons {
  font-size: 3rem; }

.g-main-nav {
  margin: -1.563rem 0; }
  .g-main-nav .g-toplevel {
    font-weight: 500; }
    .g-main-nav .g-toplevel > li {
      margin-right: -4px; }
      .g-main-nav .g-toplevel > li > a, .g-main-nav .g-toplevel > li > .g-separator {
        padding: 1.563rem 1rem; }
      .g-main-nav .g-toplevel > li:hover > a, .g-main-nav .g-toplevel > li:hover > .g-separator, .g-main-nav .g-toplevel > li.active > a, .g-main-nav .g-toplevel > li.active > .g-separator {
        background: #3d8c7a; }
      .g-main-nav .g-toplevel > li:hover .g-selected, .g-main-nav .g-toplevel > li.active .g-selected {
        background: #377e6d; }
      .g-main-nav .g-toplevel > li .g-selected {
        background: #377e6d; }
    .g-main-nav .g-toplevel i {
      opacity: 0.5; }
  .g-main-nav .g-dropdown {
    text-align: left;
    background: #377e6d; }
  .g-main-nav .g-sublevel > li > a, .g-main-nav .g-sublevel > li > .g-separator, .g-main-nav .g-sublevel > li > .g-nav-header {
    padding: 0.5rem 1rem; }
  .g-main-nav .g-sublevel > li:hover > a, .g-main-nav .g-sublevel > li:hover > .g-separator, .g-main-nav .g-sublevel > li.active > a, .g-main-nav .g-sublevel > li.active > .g-separator {
    background: #306f61; }

#g-header {
  background: #439A86;
  color: #ffffff;
  text-align: center; }
  #g-header a {
    color: #ffffff; }

#g-showcase {
  text-align: center;
  padding: 1rem 0;
  background: #354D59;
  color: #ffffff; }
  #g-showcase h1, #g-showcase h2, #g-showcase h3, #g-showcase h4, #g-showcase h5, #g-showcase h6, #g-showcase strong {
    color: #ffffff; }
  #g-showcase .button {
    background: #8F4DAE;
    color: #ffffff; }

#g-feature {
  text-align: center;
  padding: 1rem 0;
  background: #ffffff;
  color: #444444; }

#g-subfeature {
  text-align: center;
  padding: 1rem 0;
  background: #f0f0f0;
  color: #444444;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 -1px 2px rgba(0, 0, 0, 0.1); }

#g-main {
  background: #ffffff;
  color: #444444; }

#g-footer {
  background: #f0f0f0;
  color: #444444;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.box1 {
  background: #e0e0e0; }

.box2 {
  background: #fafafa; }

/*# sourceMappingURL=hydrogen.css.map */
