body {
  color: #666666;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #439A86; }

h1, h2, h3, h4, h5, h6, strong {
  color: #4d4d4d; }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #439A86;
  color: #ffffff;
  border: 0;
  line-height: 1.5;
  font-size: 1rem;
  vertical-align: middle;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  transition: background 0.1s; }
  .button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #4bac95; }
  .button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    background: #3b8877;
    box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.15); }

.logo-large {
  display: inline-block; }

@font-face {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#roboto") format("svg"); }
@font-face {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot");
  src: url("../fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#roboto") format("svg"); }
@font-face {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("../fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#roboto") format("svg"); }
body {
  font-family: "roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-weight: 500; }

bold, strong {
  font-weight: 700; }

.button {
  font-weight: 500; }

blockquote {
  border-left: 10px solid #F0F2F4; }
  blockquote p {
    font-size: 1.1rem;
    color: #999999; }
  blockquote cite {
    display: block;
    text-align: right;
    color: #666666;
    font-size: 1.2rem; }

code,
kbd,
pre,
samp {
  font-family: "Menlo", "Monaco", monospace; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  padding: 1rem;
  margin: 2rem 0;
  background: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 0.1875rem;
  line-height: 1.15;
  font-size: 0.9rem; }
  pre code {
    color: #237794;
    background: inherit;
    font-size: 0.9rem; }

hr {
  border-bottom: 4px solid #F0F2F4; }

.g-main-nav .g-toplevel {
  font-weight: 500; }
  .g-main-nav .g-toplevel > li {
    margin-right: -4px; }
    .g-main-nav .g-toplevel > li > a + span {
      border: 1px solid #4caf99;
      background: #3d8c7a;
      border-radius: 0.1875rem;
      margin-left: -0.5rem;
      margin-right: 1rem;
      padding: 0.2rem; }
      .g-main-nav .g-toplevel > li > a + span:hover {
        background: #377e6d; }
    .g-main-nav .g-toplevel > li > .g-menu-item-content {
      color: #ffffff;
      padding: 1.2rem 0.938rem;
      line-height: normal; }
    .g-main-nav .g-toplevel > li:hover {
      background: #3d8c7a; }
      .g-main-nav .g-toplevel > li:hover > .g-selected {
        background: #377e6d; }
    .g-main-nav .g-toplevel > li.active {
      background: #ffffff; }
      .g-main-nav .g-toplevel > li.active > .g-menu-item-content {
        color: #666666; }
      .g-main-nav .g-toplevel > li.active > .g-selected {
        background: #377e6d;
        color: #ffffff; }
    .g-main-nav .g-toplevel > li > .g-selected {
      background: #377e6d; }
  .g-main-nav .g-toplevel i {
    opacity: 0.6; }
.g-main-nav .g-dropdown {
  text-align: left;
  background: #377e6d; }
.g-main-nav .g-sublevel > li > .g-menu-item-content {
  color: #ffffff;
  padding: 0.7815rem 1rem; }
.g-main-nav .g-sublevel > li:hover, .g-main-nav .g-sublevel > li.active {
  background: #306f61; }
  .g-main-nav .g-sublevel > li:hover > .g-selected, .g-main-nav .g-sublevel > li.active > .g-selected {
    background: #306f61; }
.g-main-nav .g-sublevel > li > .g-selected {
  background: #306f61; }
.g-main-nav .g-sublevel > li > a + span {
  border: 1px solid #4caf99;
  background: #3d8c7a;
  border-radius: 0.1875rem;
  padding: 0.1rem;
  margin-top: -0.1rem;
  margin-right: -0.1rem; }
  .g-main-nav .g-sublevel > li > a + span:hover {
    background: #377e6d; }

.g-nav-overlay {
  background: fadeout(#000000, 60%); }

@media only all and (max-width: 47.938rem) {
  .g-main-nav .g-toplevel {
    background: #354D59; }
    .g-main-nav .g-toplevel > li:hover, .g-main-nav .g-toplevel > li.active {
      background: #3d8c7a; }
      .g-main-nav .g-toplevel > li:hover > .g-menu-item-content, .g-main-nav .g-toplevel > li.active > .g-menu-item-content {
        color: #ffffff; }

  .g-mobile-nav-toggle {
    color: #439A86;
    background: #ffffff; } }
#g-header {
  background: #439A86;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 2; }
  #g-header .g-content {
    margin: 0;
    padding: 0; }

#g-showcase {
  padding: 1.5rem 0;
  background: #354D59;
  color: #ffffff; }
  #g-showcase h1, #g-showcase h2, #g-showcase h3, #g-showcase h4, #g-showcase h5, #g-showcase h6, #g-showcase strong {
    color: #ffffff; }
  #g-showcase .button {
    background: #8F4DAE;
    color: #ffffff; }
    #g-showcase .button:hover {
      background: #9b5db7; }
    #g-showcase .button:active {
      background: #80459c; }

#g-feature {
  padding: 1.5rem 0;
  background: #ffffff;
  color: #666666; }

#g-subfeature {
  padding: 1.5rem 0;
  background: #f0f0f0;
  color: #666666;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

#g-page-surround {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

#g-main {
  padding: 1.5rem 0;
  background: #ffffff;
  color: #666666; }

#g-sidebar {
  padding: 1.5rem 0;
  background: #ffffff;
  color: #666666; }

#g-footer {
  background: #f0f0f0;
  color: #666666;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.flush .g-container > .g-grid > .g-block > .g-content {
  margin: 0;
  padding: 0; }

.box1 .g-content {
  background: #ffffff; }

.box2 .g-content {
  background: #e0e0e0; }

.box3 .g-content {
  background: #439A86;
  color: #ffffff; }
  .box3 .g-content h1, .box3 .g-content h2, .box3 .g-content h3, .box3 .g-content h4, .box3 .g-content h5, .box3 .g-content h6, .box3 .g-content strong {
    color: #ffffff; }

.box4 .g-content {
  background: #8F4DAE;
  color: #ffffff; }
  .box4 .g-content h1, .box4 .g-content h2, .box4 .g-content h3, .box4 .g-content h4, .box4 .g-content h5, .box4 .g-content h6, .box4 .g-content strong {
    color: #ffffff; }

.shadow .g-content {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

.shadow2 .g-content {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); }

.disabled .g-content {
  opacity: 0.4; }

table {
  border: 1px solid #eaeaea; }

th {
  background: #f7f7f7;
  padding: 0.5rem; }

td {
  padding: 0.5rem;
  border: 1px solid #eaeaea; }

fieldset {
  border: 1px solid #dddddd; }

textarea, select[multiple=multiple] {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, select[multiple=multiple]:focus {
    border-color: #439A86; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  border-color: #c4c4c4; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  border-color: #439A86; }

.sample-content {
  text-align: center; }
  .sample-content .subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: block;
    margin-top: -1.3rem; }
  .sample-content .sample-icons {
    font-size: 3rem; }

.showcase-sample {
  text-align: center; }

.feature-sample {
  text-align: center; }

.platforms-sample {
  text-align: center; }
  .platforms-sample .subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: block;
    margin-top: -1.3rem; }

.g-container {
  width: 75rem; }
  @media only all and (min-width: 60rem) and (max-width: 74.938rem) {
    .g-container {
      width: 60rem; } }
  @media only all and (min-width: 48rem) and (max-width: 59.938rem) {
    .g-container {
      width: 48rem; } }
  @media only all and (min-width: 30.063rem) and (max-width: 47.938rem) {
    .g-container {
      width: 30rem; } }
  @media only all and (max-width: 30rem) {
    .g-container {
      width: 100%; } }

@media only all and (max-width: 47.938rem) {
  .g-block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 100%;
    -moz-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%; } }

@media only all and (max-width: 47.938rem) {
  body [class*="size-"] {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 100%;
    -moz-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%; } }

@media only all and (max-width: 47.938rem) {
  @supports not (flex-wrap: wrap) {
    .g-grid {
      display: block;
      -webkit-box-lines: inherit;
      -moz-box-lines: inherit;
      box-lines: inherit;
      -webkit-flex-wrap: inherit;
      -moz-flex-wrap: inherit;
      -ms-flex-wrap: inherit;
      flex-wrap: inherit; }

    .g-block {
      display: block;
      -webkit-box-flex: inherit;
      -moz-box-flex: inherit;
      box-flex: inherit;
      -webkit-flex: inherit;
      -moz-flex: inherit;
      -ms-flex: inherit;
      flex: inherit; } } }
@media only all and (max-width: 47.938rem) {
  .g-main-nav .g-toplevel {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 100%;
    right: 0;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
    .g-main-nav .g-toplevel.g-slide-out > .g-menu-item > .g-menu-item-content,
    .g-main-nav .g-toplevel.g-slide-out > .g-go-back {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
    .g-main-nav .g-toplevel li {
      display: block;
      margin-right: 0;
      /*
      &:hover {
      	> .g-dropdown {
      		display: none;
      	}
      }
      */ }
      .g-main-nav .g-toplevel li .g-menu-item-content {
        display: block;
        padding: 0.938rem 1rem;
        line-height: 1rem; }
      .g-main-nav .g-toplevel li.g-parent > .g-menu-item-content {
        position: relative; }
        .g-main-nav .g-toplevel li.g-parent > .g-menu-item-content:after {
          position: absolute;
          width: auto;
          line-height: normal;
          opacity: 0.5;
          font-family: FontAwesome;
          content: "\f054";
          right: 1rem; }
      .g-main-nav .g-toplevel li.g-parent .g-menu-parent-indicator {
        display: none; }
    .g-main-nav .g-toplevel .g-dropdown {
      top: 0;
      background: transparent;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
      .g-main-nav .g-toplevel .g-dropdown.g-active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      .g-main-nav .g-toplevel .g-dropdown .g-go-back {
        display: block; }
      .g-main-nav .g-toplevel .g-dropdown .g-block {
        width: 100%;
        overflow: visible; }
        .g-main-nav .g-toplevel .g-dropdown .g-block .g-go-back {
          display: none; }
        .g-main-nav .g-toplevel .g-dropdown .g-block:first-child .g-go-back {
          display: block; }
    .g-main-nav .g-toplevel .g-dropdown-column {
      width: 260px;
      float: none; }
  .g-main-nav .g-sublevel {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out; }
    .g-main-nav .g-sublevel li {
      position: static; }
    .g-main-nav .g-sublevel .g-dropdown {
      top: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
      .g-main-nav .g-sublevel .g-dropdown.g-active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
    .g-main-nav .g-sublevel.g-slide-out > .g-menu-item > .g-menu-item-content {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
  .g-main-nav .g-block-inactive .g-sublevel {
    height: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

  .g-mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer; }
    .g-mobile-nav-toggle:before {
      display: block;
      font-family: FontAwesome;
      content: "\f0c9";
      font-size: 1.5rem;
      margin: 0;
      padding: 0.3rem 0.85rem; }

  .g-mobile-nav-active #g-page-surround {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px); }
  .g-mobile-nav-active .g-main-nav {
    display: none; }
    .g-mobile-nav-active .g-main-nav.g-mobile-nav {
      display: block; }
      .g-mobile-nav-active .g-main-nav.g-mobile-nav .g-toplevel {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
  .g-mobile-nav-active .g-mobile-nav-toggle:before {
    content: "\f00d"; } }

/*# sourceMappingURL=hydrogen.css.map */
