// Body Base
body {
	font-family: $font-family-default;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $font-family-bold;
}

// Page Title
.page-title {
	margin-top: -25px;
	padding: 25px;
	float: left;
	clear: both;
	background: $core-link;
	color: $white;
}