// Inactive Dropdown
%inactive-dropdown {
	position: absolute;
	top: auto;
	left: auto;
	opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

// Inactive Dropdown
%active-dropdown {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

// Inactive Dropdown
%dropdown-column {
	width: $dropdown-col-width;
	//height: $dropdown-height;
	float: left;
}