{% set value = (value is null ? field.default : value) %}

<label>
    {{ field.label }}
    <select name="{{ field.name }}"
            {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
            {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
            {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
            >
        {% for key, text in field.options %}
        <option {% if key in value %}selected="selected"{% endif %} value="{{ key }}">
            {{ text }}
        </option>
        {% endfor %}
    </select>
</label>
