<!DOCTYPE xhtml>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Gantry Admin</title>
        <meta name="description" content="Gantry Admin">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
        {% endblock %}

        {% block javascript %}
        <script>
            var GANTRY_AJAX_URL = '{{ gantry.route('ajax') }}';
        </script>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block footer_section %}
        {% endblock %}
    </body>
</html>
