{% block content %}
    <div id="g5-container" class="g-container">
        <div class="g-grid">
            <div class="g-block sidebar-block size-1-7">
                <nav id="gantry" class="g-block sidebar-block">
                    {% include "gantry/partials/navigation.html.twig" %}
                </nav>
            </div>
            <div class="g-block">
                <div data-mode-indicator="production"></div>
                <section id="main">
                    <div id="main-header">
                        {% include "gantry/partials/header.html.twig" %}
                    </div>
                    <div class="g-content">
                        {% block gantry %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_section %}
    <footer id="footer">
        <a href="http://gantry.org">Gantry Administration</a> by <a href="http://www.rockettheme.com">RocketTheme</a>.
    </footer>
{% endblock %}
