legend {
	font-size: $core-font-size + .3;
	line-height: $core-line-height;
}

legend small {
	font-size: $core-font-size - .2;
}

.input-prepend > .add-on,
.input-append > .add-on {
	line-height: $core-line-height;
}