#g5-container {
    .g-grid-settings {
        padding-right: 4px;
        float: left;
        cursor: pointer;

        i {
            display: block;
            padding: 0 5px;
            line-height: 53px;
            background-color: #FFEB3B;
        }
    }
}
