.g-main-nav {
	font-family: $font-family-alt;
	text-transform: uppercase;

	// Main Level
	> .g-toplevel {
		> li {
			> a, > .g-separator {
				font-size: $toplevel-font-size;
				padding: $nav-item-padding;
				color: $nav-link;
				font-weight: bold;
			}
			&:hover, &:focus, &.active {
				> a, > .g-separator {
					color: $core-accent;
				}
			}
		}
	}

	// First Level Dropdown
	.g-dropdown {
		background: $core-accent;
	    color: $white;
	    border: 1px solid darken($core-accent, 15%);
	    margin-top: -2px;
	}

	// Sublevel Items
	.g-sublevel {
    	> li {
    		padding: 0.3rem;
    		border-bottom: 1px solid darken($core-accent, 15%);
			border-top: 1px solid lighten($core-accent, 10%);

			&:last-child {
				border-bottom: 0;
			}

    		> a, > .g-separator, > .g-nav-header {
    			font-size: $dropdown-font-size;
    			padding: $subnav-item-padding;
    			font-weight: normal;
    			color: $white;
    			border-radius: $core-border-radius;
    			border: 1px solid transparent;
    		}
    		&:hover, &:focus, &.active {
				> a, > .g-separator {
					background: darken($core-accent, 10%);
					border: 1px solid darken($core-accent, 15%);
				}
			}
    	}
    }
}