<section
    {%- if particle.css.id %} id="{{ particle.css.id|e }}"{% endif %}
    {%- if particle.css.class %} class="{{ particle.css.class|e }}"{% endif %} role="navigation">
    <ul class="g-grid g-toplevel menu-selector">
        {% for child in item %}
            <li>
                {% include 'menu/item.html.twig' with {'item': child, 'target': 'columns' } %}
            </li>
        {% endfor %}
    </ul>
</section>
<div class="column-container" data-g5-menu-columns="">
    {% if columns %}
        {% include 'menu/columns.html.twig' with {'item': columns } %}
    {% endif %}
</div>
