<!--<ul class="g-grid submenu-selector">
    <li class="g-block">
        <ul class="submenu-items">
            <li>Features Overview</li>
            <li>Particle Positions</li>
            <li>Module Variations</li>
            <li>Typography</li>
            <li>Menu Options</li>
            <li>Documentation</li>
        </ul>
    </li>
    <li class="g-block">
        <ul class="submenu-items">
            <li class="nav-header">
                Another Menu
                <ul class="grouped-submenu">
                    <li>A Grouped Item</li>
                    <li>Another Grouped Item</li>
                    <li>One More Item</li>
                </ul>
            </li>
            <li>Another Menu Item</li>
            <li>Yet Another Item</li>
        </ul>
    </li>
    <li class="g-block">
        <ul class="submenu-items">
            <li class="nav-header">
                Module Item
                <ul class="module-item">
                    <li class="module-block"></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<div class="g-grid submenu-ratio">
    <div class="g-block">
        33%
    </div>
    <div class="g-block">
        33%
    </div>
    <div class="g-block">
        33%
    <i class="fa fa-cog"></i>
    </div>
</div>-->

{% if item.children %}
<hr />
<section class="g-grid submenu-selector">
    {% for group, children in item.groups %}
        {% set special = column is defined and group == column %}
        {% set target = 'list-' ~ group %}
        <div class="g-block" data-g5-menu-{{ target|e }}="" >
            {% include 'menu/list.html.twig' with {'item': special ? override : item, 'group': group} %}
        </div>
    {% endfor %}
</section>

{% set size = item.groups|length %}
<div class="g-grid submenu-ratio">
{% for group, child in item.groups %}
    <div class="g-block">
        {{ (100/size)|number_format(1) }} %
    </div>
{% endfor %}
    <i class="fa fa-cog"></i>
</div>
{% endif %}
