{% if item.children %}
<section class="g-grid submenu-selector">
    {% for group, children in item.groups %}
        {% set special = column is defined and group == column %}
        {% set target = 'list-' ~ group %}
        <div class="g-block" data-g5-menu-{{ target|e }}="" >
            <div class="submenu-column">
                {% include 'menu/list.html.twig' with {'item': special ? override : item, 'group': group} %}
                {% set size = item.groups|length %}
            </div>
            <div class="submenu-ratio">
                <span class="percentage"><span contenteditable="true">{{ (100/size)|number_format(1) }}</span> %</span>
                <span class="fa fa-plus add-column first"></span>
                <span class="fa fa-plus add-column"></span>
            </div>
        </div>
    {% endfor %}
</section>


{% endif %}
