<div class="card full-width">
    <h4>The menu selected is empty!</h4>
    <div class="inner-params">
        <p>The menu that has been selected is empty. Before you can actually start using the Menu Editor, you need to have at least one menu item assigned to the menu</p>
    </div>
</div>