<!--<ul class="submenu-items">
    <li>Features Overview</li>
    <li>Particle Positions</li>
    <li>Module Variations</li>
    <li>Typography</li>
    <li>Menu Options</li>
    <li>Documentation</li>
</ul>-->

{% set children = path|length == 1 ? item.group(group) : item %}

<ul class="submenu-items">
    {% if path|length > 1 %}
        <li>
            <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-menu-{{ 'list-' ~ group|e }}]" href="{{ gantry.route('menu', item.parent.path, group) }}">
                {% for i in 1..path|length-1 %}
                <i class="fa fa-chevron-left"></i>
                {% endfor %}
            </a>
        </li>
    {% endif %}
    {% for child in children %}
        <li>
            {% include 'menu/item.html.twig' with {'item': child, 'target': 'list-' ~ group } %}
        </li>
    {% endfor %}
</ul>
