<!--<ul class="submenu-items">
    <li>Features Overview</li>
    <li>Particle Positions</li>
    <li>Module Variations</li>
    <li>Typography</li>
    <li>Menu Options</li>
    <li>Documentation</li>
</ul>-->

<!-- specialized render for root list based items -->
{% if item.parent.layout == 'horizontal' or item.groups|length > 1 %}
    {% include 'menu/columns.html.twig' with {'target': target ?: item.id } %}
{% else %}
    <ul class="submenu-items" data-g5-menu-{{ item.id|e }}="" >
        {% if item.parent.layout == 'horizontal' or item.groups|length == 1 %}
            <li>
                <a data-g5-ajaxify data-g5-ajaxify-target="[data-g5-menu-{{ (item.parent.parent.id)|e }}]" href="{{ gantry.route('menu', item.parent.path) }}">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
        {% endif %}
        {% for child in item %}
            <li>
                {% include 'menu/item.html.twig' with {'item': child, 'target': target ?: item.id } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
