<form method="post" action="{{ gantry.route('menu/edit', id, 'validate') }}">
    <div class="card settings-block">
        <h4>
            Pick a Module
        </h4>
        <div class="inner-params">
            <ul>
                <li><span class="title">Search 1</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 2</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 3</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 4</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 5</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 6</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 7</span> <span class="sub-title">search</span></li>
                <li><span class="title">Search 8</span> <span class="sub-title">search</span></li>
            </ul>
        </div>
    </div>
    <div class="g-modal-actions">
        {#<a class="button float-left">Defaults</a>#}
        <button class="button button-primary" type="submit">Select</button>
        <a class="button g5-dialog-close">Cancel</a>
    </div>
</form>