{# Available variables:

module.[id | title | position | enabled | access]
#}
<form method="post" action="{{ gantry.route('menu/edit', id, 'validate') }}">
    <div class="card settings-block">
        <h4>
            Pick a Module
        </h4>
        <div class="inner-params">
            <ul>
                {% for module in modules %}
                <li>
                    <span class="title">{{ module.title }}</span>
                    <span class="sub-title badge">{{ module.position|default('None') }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="g-modal-actions">
        {#<a class="button float-left">Defaults</a>#}
        <button class="button button-primary" type="submit">Select</button>
        <a class="button g5-dialog-close">Cancel</a>
    </div>
</form>
