// Media Device Breakpoints
$large-desktop-container:		75.000rem !default;
$desktop-container:				60.000rem !default;
$tablet-container:				48.000rem !default;
$large-mobile-container:		30.000rem !default;
$mobile-container:				100% !default;