<div id="g-changelog">
    {{ changelog|raw }}
</div>
<div class="g-modal-actions clearfix">
    <div class="float-left">
        <a tabindex="0" class="button" target="_blank" href="{{ fullurl }}"><i class="fa fa-globe"></i> Full Changelog</a>
    </div>
    <div class="float-right">
        <a tabindex="0" class="button" target="_blank" href="{{ url }}"><i class="fa fa-github"></i> View in GitHub</a>
        <button class="button button-primary g5-dialog-close" href="#" data-g-delete-cancel="">Close</button>
    </div>
</div>
