<div class="card settings-block">
    <h4 id="g-modal-labelledby">{{ 'GANTRY5_PLATFORM_DELETE_OUTLINE'|trans }}</h4>
    <div class="inner-params" id="g-modal-describedby">
        {{ 'GANTRY5_PLATFORM_DELETE_OUTLINE_DESC'|trans }}
    </div>
</div>

<div class="g-modal-actions">
    <a tabindex="0" class="button button-primary" role="button" data-g-delete-confirm>{{ 'GANTRY5_PLATFORM_CONFIRM'|trans }}</a>
    <button tabindex="0" class="button g5-dialog-close" role="button" data-g-delete-cancel>{{ 'GANTRY5_PLATFORM_CANCEL'|trans }}</button>
</div>
