<div class="card settings-block">
    <h4>Delete Configuration</h4>
    <div class="inner-params">
        Are you sure you want to delete this Configuration?
    </div>
</div>

<div class="g-modal-actions">
    <a class="button button-primary" data-g-delete-confirm>Confirm</a>
    <a class="button g5-dialog-close" data-g-delete-cancel>Cancel</a>
</div>