<div class="card settings-block">
    <h4>Are you sure you want to leave this Page?</h4>
    <div class="inner-params">
        You haven't saved your changes and by leaving the page they will be lost.
        Do you want to leave without saving?
    </div>
</div>

<div class="g-modal-actions">
    <a class="button button-primary" data-g-unsaved-save>Save Before Leaving</a>
    <a class="button g5-dialog-close" data-g-unsaved-discard>Discard Changes</a>
    <a class="button g5-dialog-close" data-g-unsaved-stay>Remain on This Page</a>
</div>