$bullet-icon-size:				3.5rem !default;

$bullet-icon-color-1:			$core-accent !default;
$bullet-icon-color-2:			adjust-hue($core-accent, -20) !default;
$bullet-icon-color-3:			adjust-hue($core-accent, -130) !default;