// Font Family
$font-family-default:  			"Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !default;
$font-family-header:  			"Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !default;
$font-family-mono: 				"Inconsolata", monospace !default;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif !default;

$icons: 						"FontAwesome" !default;
