<div class="btn-group">
    {% include 'forms/fields/select' with {'field': field} %}
    <ul class="dropdown-actions">
        {% for  %}
            <li><a href="#">{{ 'GANTRY5_PLATFORM_ACTION'|trans }}</a></li>
        {% endfor %}
    </ul>
</div>