<div class="btn-group">
    {% include 'forms/fields/select' with {'field': field} %}
    {% include 'forms/fields/select' with {'field': field} %}
    <ul class="dropdown-actions">
        {% for  %}
            <li><a href="#">Action</a></li>
        {% endfor %}
    </ul>
</div>