legend {
	color: #333333;
	border-bottom: 1px solid $core-border-color;
}

legend small {
	color: #999999;
}

.input-prepend .chzn-container-single .chzn-single,
.input-append .chzn-container-single .chzn-single {
	border-color: $core-border-color;
}

.input-prepend .chzn-container-single .chzn-drop,
.input-append .chzn-container-single .chzn-drop {
	border-color: $core-border-color;
}