.list-striped,
.row-striped {
	border-top: 1px solid $core-border-color;
}

.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
	border-bottom: 1px solid $core-border-color;
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
	background-color: lighten($main-bg, 2%);
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
	background-color: darken($main-bg, 2%);
}

.list-bordered,
.row-bordered {
	border: 1px solid $core-border-color;
}

.row-even,
.row-odd {
	border-bottom: 1px solid $core-border-color;
}

.row-even {
	background-color: lighten($main-bg, 2%);
}

.iframe-bordered {
	border: 1px solid $core-border-color;
}