{% set title %}
    {% block title %}{% endblock %}
{%- endset -%}

<div class="module">
    {% if title|trim %}
        <h2>{{ title|trim }}</h2>
    {% endif %}

    {% block module %}
    {% endblock %}
</div>
