// Core
$core-text:                     #111 !default;
$core-accent:                   #3180c2;
$grav-accent:                   #349886;
$light-gray:					#ddd;
$secondary-text:				#314C59 !default;
$core-accent:                   #439A86 !default;
$secondary-accent:              #729DAE !default;
$tertiary-accent:              	#48B0D7 !default;
$white:                         #fff !default;
$black:                         #000 !default;
$light-gray:                    #eee !default;
$medium-gray:                   #ddd !default;
$dark-gray:                     #666 !default;

$blue-gray:                     #54606e !default;
$aqua:                          #4fc1e9 !default;
$yellow:                        #ffce54 !default;
$green:                         #a0d468 !default;
$orange:                        #fc6e51 !default;
$red:                           #ed5565 !default;
$lavender:                      #ac92ec !default;
$pink:                          #ec87c0 !default;
$blue: 							#3288e6 !default;

// Buttons
$button-bg:						#999999;

// Body
$body-bg:                       #404040;

// Headers
$main-header-text:				#fff;
$inner-header-bg:				#222;
$inner-header-text:				$core-accent;
$update-header-bg:				#8F4DAE;

// Grav
$grav-link-color:               #0082ba;
$grav-link-hover:               #003b54;