a.button1, input.button1, input.button3, a.button2, input.button2 {
	@extend %button;
	@include button-color($core-accent);
}
.button.icon-button {
	&:before {
		font: normal normal normal 14px/1 FontAwesome;
		padding-top: 4px;
		text-align: center;
		text-rendering:auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
}

.dropdown-select:after  {
	font: normal normal normal 14px/1 FontAwesome;
	text-align: center;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content: "\f0d7";
}

.post-buttons .button.icon-button {
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	&:before {
		padding: 0;
		margin: 0;
		padding-top: 1px;
	}
}

.button.icon-button {
	&.search-icon:before {content: "\f002";}
	&.tools-icon:before {content: "\f0ad";}
	&.modtools-icon:before {content: "\f085";}
	&.search-adv-icon:before {content: "\f013";}
	&.quote-icon:before {content: "\f10e";}
	&.info-icon:before {content: "\f129";}
	&.report-icon:before {content: "\f071";}
	&.delete-icon:before {content: "\f1f8";}
	&.edit-icon:before {content: "\f040";}
}