.panel.bg3, #tabs .activetab > a {
	background-color: lighten($core-accent, 45%);
}

#showcase {
	a {
		color: $white;
	}
}

.dropdown-contents {
	background-color: $core-accent;
	a {
		color: $white;
	}
}

.dropdown li.separator {
	border-color: transparentize($white, 0.56);
}

.small-icon:before, .imageset:before {
	font: normal normal normal 14px/1 FontAwesome;
	padding-top: 5px;
	text-align: center;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position: absolute;
	color: $white;
}

.icon-acp:before					{ content: "\f085"; }
.icon-bookmark:before				{ content: "\f02e"; }
.icon-bump:before					{ content: "\f164"; }
.icon-contact:before				{ content: "\f098"; }
.icon-delete-cookies:before			{ content: "\f00d"; }
.icon-download:before				{ content: "\f019"; }
.icon-faq:before					{ content: "\f02d"; }
.icon-home:before					{ content: "\f015"; }
.icon-logout:before					{ content: "\f011"; }
.icon-mark:before					{ content: "\f14a"; }
.icon-mcp:before					{ content: "\f0ad"; }
.icon-members:before				{ content: "\f0c0"; }
.icon-notification:before			{ content: "\f022"; }
.icon-pages:before					{ content: "\f0c5"; }
.icon-pm:before						{ content: "\f0e0"; }
.icon-print:before					{ content: "\f02f"; }
.icon-profile:before				{ content: "\f007"; }
.icon-register:before				{ content: "\f007"; }
.icon-search:before, .responsive-search a:before	{ content: "\f002"; }
.icon-search-active:before			{ content: "\f15c"; }
.icon-search-advanced:before		{ content: "\f013"; }
.icon-search-new:before				{ content: "\f15c"; }
.icon-search-self:before			{ content: "\f15c"; }
.icon-search-unanswered:before		{ content: "\f15c"; }
.icon-search-unread:before			{ content: "\f15c"; }
.icon-sendemail:before				{ content: "\f003";}
.icon-subscribe:before				{ content: "\f0fe"; }
.icon-team:before					{ content: "\f1ab"; }
.icon-ucp:before					{ content: "\f0f0"; }
.icon-unsubscribe:before			{ content: "\f146";}

li {
	&.previous {margin-right: 10px;}
	&.next, &.previous {
		a:before {
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering:auto;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			position: absolute;
		}
	}
	&.next a:before {content: "\f054";}
	&.previous a:before {content: "\f053";}
}

div.rules {
	strong {font-weight: bold;}
	background-color: #ECD5D8;
	color: #BC2A4D;
}
