/* line 2, ../scss/nucleus/mixins/_utilities.scss */
#g5-container #page-picker ul, #g5-container #sidebar ul, .g5-popover.g5-popover-particles ul, .g5-popover.g5-popover-particles li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 1, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle, #g5-container .card .enabler [type="radio"] + .toggle {
  display: inline-block;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  vertical-align: middle;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 9, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle .knob, #g5-container .card .enabler [type="radio"] + .toggle .knob {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 1, ../scss/admin/modules/_buttons.scss */
#g5-container .button, #g5-container .button-primary, #g5-container .button-secondary, #g5-container .button.red, #g5-container .button.yellow {
  display: inline-block;
  border-radius: 0.1875rem;
  padding: 6px 12px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: normal;
}
/* line 8, ../scss/admin/modules/_buttons.scss */
#g5-container .button:active, #g5-container .button-primary:active, #g5-container .button-secondary:active {
  margin: 1px 0 -1px 0;
}
/* line 11, ../scss/admin/modules/_buttons.scss */
#g5-container .button i + span, #g5-container .button-primary i + span, #g5-container .button-secondary i + span, #g5-container .button.red i + span, #g5-container .button.yellow i + span {
  margin-left: 8px;
}

/* line 1, ../scss/admin/_core.scss */
body {
  color: #fff;
  background-color: #354D59 !important;
  margin: 0;
}

/* line 9, ../scss/admin/_core.scss */
#g5-container .fa-spin {
  -webkit-animation: spin 0.8s infinite linear;
  -moz-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
}
/* line 13, ../scss/admin/_core.scss */
#g5-container .block {
  position: relative;
}
/* line 17, ../scss/admin/_core.scss */
#g5-container.container, #g5-container .container {
  width: 100%;
}
/* line 21, ../scss/admin/_core.scss */
#g5-container .inner-container {
  margin: 2.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #666;
}
/* line 44, ../scss/admin/_core.scss */
#g5-container .cards-wrapper {
  margin: -10px;
}
/* line 48, ../scss/admin/_core.scss */
#g5-container .card {
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 10px;
  min-width: 250px;
  vertical-align: top;
  margin: 10px;
}
/* line 58, ../scss/admin/_core.scss */
#g5-container .card.full-width {
  margin: 0;
  display: block;
}
/* line 64, ../scss/admin/_core.scss */
#g5-container .card h4 {
  margin: 0;
}
/* line 67, ../scss/admin/_core.scss */
#g5-container .card h4 .enabler {
  float: right;
}
/* line 33, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler .toggle {
  background-color: #ddd;
}
/* line 36, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler .toggle .knob {
  top: 1px;
  left: 1px;
}
/* line 42, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle {
  border-radius: 18px;
  height: 18px;
  width: 36px;
}
/* line 23, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"] + .toggle .knob {
  height: 16px;
  width: 20px;
  border-radius: 20px;
}
/* line 46, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] {
  display: none;
}
/* line 50, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle {
  border-radius: 18px;
  height: 18px;
  width: 18px;
}
/* line 23, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle .knob {
  height: 12px;
  width: 12px;
  border-radius: 20px;
}
/* line 53, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"] + .toggle .knob {
  left: 3px;
  top: 3px;
  opacity: 0;
}
/* line 60, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"][value="1"] + .toggle {
  background-color: #a0d468;
}
/* line 63, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="hidden"][value="1"] + .toggle .knob {
  left: 15px;
}
/* line 68, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"]:checked + .toggle {
  background-color: #a0d468;
}
/* line 71, ../scss/admin/modules/_toggle-ui.scss */
#g5-container .card .enabler [type="radio"]:checked + .toggle .knob {
  opacity: 1;
}
/* line 76, ../scss/admin/_core.scss */
#g5-container .card .inner-params {
  margin: 0.625rem 0 0;
  padding-top: 0.625rem;
  border-top: 1px solid #eee;
}
/* line 82, ../scss/admin/_core.scss */
#g5-container .card .theme-id {
  text-align: center;
  margin-bottom: 10px;
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
/* line 88, ../scss/admin/_core.scss */
#g5-container .card .theme-name {
  text-align: center;
}
/* line 93, ../scss/admin/_core.scss */
#g5-container .card .theme-screenshot img {
  margin: 0 auto 10px auto;
  display: block;
}
/* line 98, ../scss/admin/_core.scss */
#g5-container .card .theme-screenshot a {
  display: block;
}

/* line 107, ../scss/admin/_core.scss */
#footer {
  text-align: center;
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
/* line 110, ../scss/admin/_core.scss */
#footer a {
  color: #439A86;
  text-decoration: none;
}

@font-face {
  font-family: "lato";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/lato_hairline/Lato-Hairline.eot");
  src: url("../fonts/lato_hairline/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_hairline/Lato-Hairline.woff") format("woff"), url("../fonts/lato_hairline/Lato-Hairline.ttf") format("truetype"), url("../fonts/lato_hairline/Lato-Hairline.svg#lato") format("svg");
}
@font-face {
  font-family: "lato";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/lato_light/Lato-Light.eot");
  src: url("../fonts/lato_light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_light/Lato-Light.woff") format("woff"), url("../fonts/lato_light/Lato-Light.ttf") format("truetype"), url("../fonts/lato_light/Lato-Light.svg#lato") format("svg");
}
@font-face {
  font-family: "lato";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato_regular/lato-regular-webfont.eot");
  src: url("../fonts/lato_regular/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_regular/lato-regular-webfont.woff") format("woff"), url("../fonts/lato_regular/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato_regular/lato-regular-webfont.svg#lato") format("svg");
}
@font-face {
  font-family: "montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/montserrat_light/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat_light/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_light/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat_light/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat_light/montserrat-light-webfont.svg#montserrat") format("svg");
}
/* line 3, ../scss/admin/_main.scss */
#g5-container .main-block {
  background-color: #eeeeee;
}
/* line 7, ../scss/admin/_main.scss */
#g5-container #main {
  min-height: 400px;
}
/* line 11, ../scss/admin/_main.scss */
#g5-container #main h2 .fa-edit {
  font-size: 60%;
  vertical-align: middle;
}

/* line 4, ../scss/admin/_overview.scss */
#g5-container .overview-header .block {
  padding: 0.938rem 0;
}
/* line 8, ../scss/admin/_overview.scss */
#g5-container .overview-header .theme-title {
  display: inline-block;
  color: #314C59;
  margin: 0;
  vertical-align: middle;
}
/* line 15, ../scss/admin/_overview.scss */
#g5-container .overview-header .theme-version {
  display: inline-block;
  background: #ddd;
  margin-left: 0.938rem;
  padding: 0 6px;
  border-radius: 0.1875rem;
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  letter-spacing: 1px;
  vertical-align: middle;
}
/* line 26, ../scss/admin/_overview.scss */
#g5-container .overview-header .button {
  float: right;
  margin-left: 0.938rem;
}

/* line 3, ../scss/admin/_settings.scss */
#g5-container .settings-block {
  margin: 1%;
  width: 47.5%;
  min-width: inherit;
}
@media only all and (max-width: 47.938rem) {
  /* line 3, ../scss/admin/_settings.scss */
  #g5-container .settings-block {
    margin: 1% 0;
    width: 100%;
  }
}
/* line 13, ../scss/admin/_settings.scss */
#g5-container .settings-block .advanced {
  color: #fc6e51;
}
/* line 17, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param {
  padding: 5px;
}
/* line 20, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param:nth-child(even) {
  background-color: #fafafa;
  border-radius: 3px;
}
/* line 26, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param-title {
  max-width: 150px;
}
/* line 30, ../scss/admin/_settings.scss */
#g5-container .settings-block .settings-param-field {
  margin-left: 150px;
}
/* line 34, ../scss/admin/_settings.scss */
#g5-container .settings-block i {
  vertical-align: middle;
}
/* line 38, ../scss/admin/_settings.scss */
#g5-container .settings-block input {
  padding: 6px 12px;
  border: 1px solid #ddd;
  margin: 0;
  height: auto;
}
/* line 45, ../scss/admin/_settings.scss */
#g5-container .settings-block select {
  margin: 0 0 10px;
  display: inline-block;
}
/* line 50, ../scss/admin/_settings.scss */
#g5-container .settings-block img {
  display: block;
}
/* line 56, ../scss/admin/_settings.scss */
#g5-container .settings-param-field-colorpicker {
  position: relative;
}
/* line 59, ../scss/admin/_settings.scss */
#g5-container .settings-param-field-colorpicker .settings-param-field-colorpicker-preview {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 1.5625em;
  border-radius: 3px;
}

/* line 8, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker img {
  display: block;
  margin: 0 auto;
}
/* line 14, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 19, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new i {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: #ddd;
  display: block;
}
/* line 27, ../scss/admin/_page-setup-picker.scss */
#g5-container #page-picker .add-new .page {
  vertical-align: middle;
  height: 347px;
  line-height: 378px;
  text-align: center;
  position: relative;
}

/* line 4, ../scss/admin/_page-setup.scss */
#g5-container #page {
  min-height: 250px;
}

/* line 3, ../scss/admin/_sidebar.scss */
#g5-container .sidebar-block {
  background: #DADADA;
  border-right: 1px solid;
  border-color: #C6C6C6;
}
/* line 9, ../scss/admin/_sidebar.scss */
#g5-container #sidebar {
  font-size: 0.8rem;
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  margin-right: -1px;
}
/* line 18, ../scss/admin/_sidebar.scss */
#g5-container #sidebar .content {
  padding: 0;
  margin: 0.625rem 0;
}
/* line 26, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 28, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li:hover {
  background-color: #d2d2d2;
}
/* line 32, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li.active {
  background-color: #eeeeee;
  box-shadow: inset 3px 0 0 #e1e1e1;
}
/* line 36, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li.active a {
  color: #314C59;
}
/* line 41, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li a {
  color: #888888;
  border-bottom: 1px solid;
  border-color: #C6C6C6;
  display: block;
  white-space: nowrap;
  padding: 0.938rem;
  font-size: 1rem;
}
/* line 50, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul li a i {
  margin-right: 0.6rem;
}
/* line 57, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul {
  text-transform: none;
}
/* line 59, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul li a {
  color: #999;
  padding-top: 0.2345rem;
  padding-bottom: 0.2345rem;
  padding-left: 42px;
}
/* line 65, ../scss/admin/_sidebar.scss */
#g5-container #sidebar ul ul li a:before {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 100%;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  padding-right: 5px;
  color: #ddd;
}
/* line 79, ../scss/admin/_sidebar.scss */
#g5-container .block.sidebar-icons {
  flex: 0 3%;
}
/* line 83, ../scss/admin/_sidebar.scss */
#g5-container .block.sidebar-closed {
  flex: 0;
}

/* line 3, ../scss/admin/_headers.scss */
#g5-container [data-mode-indicator="production"] {
  background-color: #439A86;
}
/* line 7, ../scss/admin/_headers.scss */
#g5-container #main-header {
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #fff;
}
/* line 11, ../scss/admin/_headers.scss */
#g5-container #main-header .content {
  margin: 0;
  padding: 0.938rem 2.438rem;
}
/* line 16, ../scss/admin/_headers.scss */
#g5-container #main-header .theme-title {
  float: left;
  margin-right: 2rem;
  font-size: 1.3rem;
}
/* line 20, ../scss/admin/_headers.scss */
#g5-container #main-header .theme-title i {
  margin-right: 8px;
}
/* line 25, ../scss/admin/_headers.scss */
#g5-container #main-header .button-save {
  float: right;
  background: #6bbfab;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container #main-header .button-save:hover {
  background: #56b59f;
  color: #fff;
}
/* line 30, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle {
  position: relative;
  height: 36px;
  float: left;
  background: #347667;
  border-radius: 0.1875rem;
}
/* line 37, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle input {
  position: absolute;
  opacity: 0;
}
/* line 42, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle input + label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0;
  text-align: center;
}
/* line 52, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle label {
  padding: 8px 20px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
/* line 61, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle input:checked + label {
  opacity: 1;
}
/* line 65, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  border-radius: 0.1875rem;
  background: #6bbfab;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 79, ../scss/admin/_headers.scss */
#g5-container #main-header .dev-mode-toggle input:last-of-type:checked ~ a {
  left: 50%;
}
/* line 86, ../scss/admin/_headers.scss */
#g5-container .inner-header {
  background-color: #253A47;
  padding: 0.938rem;
  color: #729DAE;
}
/* line 91, ../scss/admin/_headers.scss */
#g5-container .inner-header .gantry-logo {
  width: 92px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/gantrylogo.png);
}
/* line 99, ../scss/admin/_headers.scss */
#g5-container .inner-header [data-sidebar-toggle] {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 0.938rem;
  cursor: pointer;
}
/* line 108, ../scss/admin/_headers.scss */
#g5-container .update-text {
  vertical-align: middle;
}
/* line 112, ../scss/admin/_headers.scss */
#g5-container .settings-state {
  padding: 0.938rem;
  display: block;
  text-align: center;
  cursor: pointer;
  background: #48B0D7;
  color: #fff;
  font-size: 1.1rem;
}
/* line 120, ../scss/admin/_headers.scss */
#g5-container .settings-state i {
  margin-left: 8px;
}
/* line 126, ../scss/admin/_headers.scss */
#g5-container .update-header {
  padding: 0.538rem 0.938rem;
  background: #8F4DAE;
  color: #fff;
}
/* line 132, ../scss/admin/_headers.scss */
#g5-container .button.button-update {
  float: right;
  box-shadow: none;
  background: #633679;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button.button-update:hover {
  background: #522c64;
  color: #fff;
}
/* line 138, ../scss/admin/_headers.scss */
#g5-container .ribbon {
  padding: 0.469rem 0.938rem;
  background-color: #eee;
  color: #a2a2a2;
  border-left: 1px solid #e1e1e1;
}
/* line 144, ../scss/admin/_headers.scss */
#g5-container .ribbon.master {
  background-color: #ffce54;
  color: #ba8500;
  border-left: 1px solid #ffb807;
}

/* line 1, ../scss/admin/_typography.scss */
#g5-container {
  font-weight: 300;
  font-family: "lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
/* line 6, ../scss/admin/_typography.scss */
#g5-container h1, #g5-container h2, #g5-container h3, #g5-container h4, #g5-container h5, #g5-container h6 {
  font-weight: normal;
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
/* line 11, ../scss/admin/_typography.scss */
#g5-container h6 {
  text-transform: uppercase;
}
/* line 16, ../scss/admin/_typography.scss */
#g5-container b, #g5-container strong {
  font-weight: normal;
  color: #262626;
}
/* line 22, ../scss/admin/_typography.scss */
#g5-container .page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #439A86;
  color: #fff;
}

/* line 3, ../scss/admin/_buttons.scss */
#g5-container .button {
  background: #999999;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button:hover {
  background: #8a8a8a;
  color: #fff;
}
/* line 8, ../scss/admin/_buttons.scss */
#g5-container .button-primary {
  background: #439A86;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button-primary:hover {
  background: #3a8573;
  color: #fff;
}
/* line 13, ../scss/admin/_buttons.scss */
#g5-container .button-secondary {
  background: #314C59;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button-secondary:hover {
  background: #263b45;
  color: #fff;
}
/* line 18, ../scss/admin/_buttons.scss */
#g5-container .button.red {
  background: #ed5565;
  color: #fff;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button.red:hover {
  background: #ea394c;
  color: #fff;
}
/* line 23, ../scss/admin/_buttons.scss */
#g5-container .button.yellow {
  background: #ffce54;
  color: #876000;
}
/* line 21, ../scss/admin/modules/_buttons.scss */
#g5-container .button.yellow:hover {
  background: #ffc535;
  color: #876000;
}

/* line 1, ../scss/admin/_layout-manager.scss */
#g5-container {
  /* history */
  /* new blocks */
  /* deletion */
}
/* line 4, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks {
  /* THIS IS FOR PAGES */
  /* END THIS IS FOR PAGES */
        /* .block {
            padding: 8px;
            //border: 1px solid #dfdfdf;
            box-shadow: inset 0 0 0 1px #dfdfdf;
            margin: 4px;
            background: white;
        }

        .position, .spacer, .placeholder {
            background-color: #ecf3f6;
            padding: 12px;
            box-shadow: 0 0 0 4px white inset, 0 0 0 5px #d3e5f0 inset;
            color: #888;
        }

        .section {
            background: #f9f9f9;
        }

        .spacer {
            text-align: center;
            color: rgb(89, 135, 160);
            text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
            //border: 1px solid #97AFC5;
            background-color: #D8DFE4;
            text-transform: uppercase;
            @include background-image(linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent));
            background-size: 50px 50px;
        } */
}
/* line 5, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks.empty {
  min-height: 150px;
  border: 2px dashed #dfdfdf;
}
/* line 10, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid, #g5-container .lm-blocks .block {
  position: relative;
}
/* line 16, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  width: 8px;
  background: red;
  z-index: 3;
  cursor: ew-resize;
  display: none;
}
/* line 30, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:last-child:after {
  display: none;
}
/* line 35, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks.moving .grid > .block:after, #g5-container .lm-blocks.moving .grid > .block > [data-lm-blocktype]:after, #g5-container .lm-blocks.moving .grid:hover > .block [data-lm-blocktype]:after {
  display: none;
}
/* line 43, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid .block .section:first-child {
  margin-top: 0;
}
/* line 47, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid .block .section:last-child {
  margin-bottom: 0;
}
/* line 52, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section, #g5-container .lm-blocks .non-visible-section {
  background: #fff;
  margin: 14px 0;
  padding: 8px;
  /*&:hover {
      box-shadow: inset 0 0 0 1px $green;
      //box-shadow: inset 0 0 0 $gap $white, inset 0 0 0 ($gap + 1) $green; // with box shadows
  }*/
}
/* line 68, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-header, #g5-container .lm-blocks .non-visible-section .section-header {
  font-size: 22px;
  line-height: 2em;
  padding: 0 4px;
}
/* line 73, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-header h4, #g5-container .lm-blocks .non-visible-section .section-header h4 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 24px;
}
/* line 81, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-header i, #g5-container .lm-blocks .non-visible-section .section-header i {
  pointer-events: visible;
  color: #999;
  margin: 0 4px;
}
/* line 88, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .section-actions, #g5-container .lm-blocks .non-visible-section .section-actions {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
/* line 94, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section:hover .section-actions, #g5-container .lm-blocks .non-visible-section:hover .section-actions {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
/* line 100, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid, #g5-container .lm-blocks .non-visible-section .grid {
  margin: 8px 0;
  padding: 4px;
  border: 0;
  box-shadow: none;
  background-color: #f6f6f6;
  min-height: 58px;
}
/* line 109, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:hover, #g5-container .lm-blocks .non-visible-section .grid:hover {
  box-shadow: 0 0 0 1px #ddd;
}
/* line 111, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:hover:not(:empty):not(.no-hover):not(.no-move):before, #g5-container .lm-blocks .section .grid:hover:not(:empty):not(.no-hover):not(.no-gear):after, #g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):not(.no-hover):not(.no-move):before, #g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):not(.no-hover):not(.no-gear):after {
  display: block;
  position: absolute;
  background: #f6f6f6;
  top: -1px;
  bottom: -1px;
  width: 25px;
  vertical-align: middle;
  line-height: 58px;
  text-align: center;
  z-index: 5;
  color: #aaa;
  border: 1px solid #ddd;
}
/* line 126, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:hover:not(:empty):not(.no-hover):not(.no-move):before, #g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):not(.no-hover):not(.no-move):before {
  font-family: FontAwesome, sans-serif;
  content: "\f0c9";
  border-radius: 3px 0 0 3px;
  left: -21px;
  border-right: 0;
}
/* line 134, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:hover:not(:empty):not(.no-hover):not(.no-gear):after, #g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):not(.no-hover):not(.no-gear):after {
  font-family: FontAwesome, sans-serif;
  content: "\f013";
  border-radius: 0 3px 3px 0;
  right: -21px;
  border-left: 0;
}
/* line 143, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:first-child, #g5-container .lm-blocks .non-visible-section .grid:first-child {
  margin-top: 0;
}
/* line 147, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:last-child, #g5-container .lm-blocks .non-visible-section .grid:last-child {
  margin-bottom: 0;
}
/* line 151, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid .block:after, #g5-container .lm-blocks .non-visible-section .grid .block:after {
  display: none;
}
/* line 155, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section .grid:empty:after, #g5-container .lm-blocks .non-visible-section .grid:empty:after {
  content: "Drop particles here...";
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
  line-height: 47px;
  color: #bababa;
}
/* line 169, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .non-visible-section {
  background-color: #e5e5e5;
}
/* line 172, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .non-visible-section .grid {
  background: #fff;
}
/* line 174, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .non-visible-section .grid:empty:after {
  content: "Drop non-visible particles here...";
}
/* line 178, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):before, #g5-container .lm-blocks .non-visible-section .grid:hover:not(:empty):after {
  display: none !important;
}
/* line 185, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks > .grid > .block {
  margin-right: 14px;
  background: #fff;
  padding-bottom: 50px;
}
/* line 190, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks > .grid > .block > .section {
  border-bottom: 14px solid #eee;
}
/* line 193, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks > .grid > .block > .section:last-child {
  border-bottom: 0;
}
/* line 198, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks > .grid > .block > .particle-size {
  margin-right: 0;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
/* line 209, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid:hover > .block > .particle:after, #g5-container .lm-blocks .grid:hover > .block > .position:after, #g5-container .lm-blocks .grid:hover > .block > .spacer:after, #g5-container .lm-blocks .grid:hover > .block > .pagecontent:after {
  content: "";
  top: 0;
  bottom: 0;
  width: 2px;
  background: #00baaa;
  position: absolute;
  right: -3px;
  cursor: ew-resize;
  z-index: 10;
}
/* line 225, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section > .grid > .block:last-child .particle, #g5-container .lm-blocks .section > .grid > .block:last-child .position, #g5-container .lm-blocks .section > .grid > .block:last-child .spacer, #g5-container .lm-blocks .section > .grid > .block:last-child .pagecontent, #g5-container .lm-blocks .section > .grid > .block:last-child .atom {
  margin-right: 0;
}
/* line 230, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .section > .grid > .block:last-child > .particle:after, #g5-container .lm-blocks .section > .grid > .block:last-child > .position:after, #g5-container .lm-blocks .section > .grid > .block:last-child > .spacer:after, #g5-container .lm-blocks .section > .grid > .block:last-child > .pagecontent:after {
  display: none;
}
/* line 242, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:last-child {
  margin-right: 0;
}
/* line 249, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block .in-between-sections:first-child, #g5-container .lm-blocks .grid > .block .in-between-sections:last-child {
  margin: 6px;
}
/* line 253, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:after {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  width: 6px;
  background: #00baaa;
  z-index: 3;
  cursor: ew-resize;
}
/* line 264, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .grid > .block:last-child:after {
  display: none;
}
/* line 269, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle, #g5-container .lm-blocks .position, #g5-container .lm-blocks .spacer, #g5-container .lm-blocks .pagecontent, #g5-container .lm-blocks .atom {
  padding: 13px;
  color: #fff;
  background: #aaaaaa;
  text-shadow: 1px 1px 0 #8F8F8F, -1px -1px 0 #8F8F8F, 1px -1px 0 #8F8F8F, -1px 1px 0 #8F8F8F, 1px 1px 0 #8F8F8F;
  margin-right: 4px;
  position: relative;
}
/* line 277, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle strong, #g5-container .lm-blocks .position strong, #g5-container .lm-blocks .spacer strong, #g5-container .lm-blocks .pagecontent strong, #g5-container .lm-blocks .atom strong {
  font-weight: bold;
  color: #fff;
}
/* line 282, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle > span, #g5-container .lm-blocks .position > span, #g5-container .lm-blocks .spacer > span, #g5-container .lm-blocks .pagecontent > span, #g5-container .lm-blocks .atom > span {
  position: relative;
  z-index: 2;
}
/* line 287, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle .float-right, #g5-container .lm-blocks .position .float-right, #g5-container .lm-blocks .spacer .float-right, #g5-container .lm-blocks .pagecontent .float-right, #g5-container .lm-blocks .atom .float-right {
  position: absolute;
  right: 13px;
  top: 0;
  bottom: 0;
  line-height: 50px;
  float: inherit;
}
/* line 295, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle .float-right i, #g5-container .lm-blocks .position .float-right i, #g5-container .lm-blocks .spacer .float-right i, #g5-container .lm-blocks .pagecontent .float-right i, #g5-container .lm-blocks .atom .float-right i {
  line-height: 52px;
  cursor: pointer;
}
/* line 302, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle-size {
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -5px;
  margin-right: 5px;
  text-shadow: none;
  opacity: 0.8;
}
/* line 314, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .particle {
  background-color: #00B1D9;
  text-shadow: 1px 1px 0 #008DAD, -1px -1px 0 #008DAD, 1px -1px 0 #008DAD, -1px 1px 0 #008DAD, 1px 1px 0 #008DAD;
}
/* line 319, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .spacer {
  background-color: #eee;
  color: #666;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/* line 325, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .atom {
  background-color: #9055AF;
  text-shadow: 1px 1px 0 #633979, -1px -1px 0 #633979, 1px -1px 0 #633979, -1px 1px 0 #633979, 1px 1px 0 #633979;
}
/* line 330, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .pagecontent {
  background-color: #218fda;
  text-shadow: 1px 1px 0 #116AA6, -1px -1px 0 #116AA6, 1px -1px 0 #116AA6, -1px 1px 0 #116AA6, 1px 1px 0 #116AA6;
}
/* line 367, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder {
  text-align: center;
  color: #5987a0;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  background-color: #ddd;
  border: 0;
  padding: 1px;
  flex: 0 1 100%;
}
/* line 378, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between {
  display: block;
  flex: 0 0 0px;
  margin: 0 2px 0 -2px;
  width: 0px;
  padding: 1px;
  text-indent: -10000px;
  font-size: 0px;
  flex: 0 1 0%;
  background-color: #555;
}
/* line 390, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between-grids {
  background-color: #555;
  margin: -5px 0;
}
/* line 394, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between-grids.in-between-grids-first {
  margin: 0 0 -2px;
}
/* line 398, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between-grids.in-between-grids-last {
  margin: -2px 0 0;
}
/* line 403, ../scss/admin/_layout-manager.scss */
#g5-container .lm-blocks .placeholder.in-between.in-between-sections {
  width: auto;
}
/* line 410, ../scss/admin/_layout-manager.scss */
#g5-container #history {
  display: inline-block;
  float: right;
}
/* line 413, ../scss/admin/_layout-manager.scss */
#g5-container #history span {
  display: inline-block;
  background: #eee;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  font-size: 16px;
  color: #777;
  text-shadow: 0 1px #fff;
}
/* line 426, ../scss/admin/_layout-manager.scss */
#g5-container #history span.disabled {
  color: #ccc;
}
/* line 432, ../scss/admin/_layout-manager.scss */
#g5-container .sidebar [data-lm-blocktype] {
  position: relative;
  z-index: 5;
}
/* line 438, ../scss/admin/_layout-manager.scss */
#g5-container .lm-newblocks {
  padding-bottom: 8px;
}
/* line 441, ../scss/admin/_layout-manager.scss */
#g5-container .lm-newblocks .block {
  display: inline-block;
  text-align: center;
  background: #DADADA;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 8px;
}
/* line 453, ../scss/admin/_layout-manager.scss */
#g5-container #trash {
  position: fixed;
  top: -100px;
  right: 0;
  left: 0;
  z-index: 50;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 0.938rem;
}
/* line 461, ../scss/admin/_layout-manager.scss */
#g5-container #trash .trash-zone {
  background-color: #ed5565;
  font-size: 2rem;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-weight: 300;
}
/* line 471, ../scss/admin/_layout-manager.scss */
#g5-container #trash span {
  font-size: 0.8rem;
  color: #666;
  text-shadow: 0 0 1px #fff;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes flyIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes flyIn {
  from {
    opacity: 0;
    -moz-transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes flyIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes flyOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
}
@-moz-keyframes flyOut {
  from {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  to {
    opacity: 0;
    -moz-transform: translateY(-40px);
  }
}
@keyframes flyOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: inset 0 0 0 300px transparent;
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: inset 0 0 0 300px transparent;
  }
}
@keyframes pulse {
  0% {
    box-shadow: inset 0 0 0 300px transparent;
  }
  70% {
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: inset 0 0 0 300px transparent;
  }
}
/* line 1, ../scss/admin/_modal.scss */
.g5-dialog, .g5-dialog *, .g5-dialog *:before, .g5-dialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/admin/_modal.scss */
.g5-dialog {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
}

/* line 12, ../scss/admin/_modal.scss */
.g5-overlay {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
}
/* line 16, ../scss/admin/_modal.scss */
.g5-dialog.g5-closing .g5-overlay {
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

/* line 21, ../scss/admin/_modal.scss */
.g5-content {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  background: #fff;
}
/* line 24, ../scss/admin/_modal.scss */
.g5-dialog.g5-closing .g5-content {
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

/* line 29, ../scss/admin/_modal.scss */
.g5-close:before {
  font-family: Arial, sans-serif;
  content: "\00D7";
}

/*.g5-dialog-form {
    margin: 0;
}

.vex-dialog-button {
    text-rendering: optimizeLegibility;
    @include appearance(none);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
*/
/* line 46, ../scss/admin/_modal.scss */
.g5-dialog-loading-spinner {
  -webkit-animation: rotate 0.7s linear infinite;
  -moz-animation: rotate 0.7s linear infinite;
  animation: rotate 0.7s linear infinite;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: white;
}

/* line 61, ../scss/admin/_modal.scss */
body.g5-dialog-open {
  overflow: hidden;
}

/* line 68, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default {
  padding-top: 160px;
  padding-bottom: 160px;
  /*.vex-dialog-form {
      .vex-dialog-message {
          margin-bottom: 0.5em;
      }
      .vex-dialog-input {
          margin-bottom: 1em;
          textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
              border-radius: 3px;
              background: white;
              width: 100%;
              padding: 0.25em 0.67em;
              border: 0;
              font-family: inherit;
              font-weight: inherit;
              font-size: inherit;
              min-height: 2.5em;
              margin: 0 0 0.25em;
              &:focus {
                  @include box-shadow(inset 0 0 0 2px lighten($blue, 20%));
                  outline: none;
              }
          }
      }
      .vex-dialog-buttons {
          @include pie-clearfix;
      }
  }
  .vex-dialog-button {
      border-radius: 3px;
      border: 0;
      float: right;
      margin: 0 0 0 0.5em;
      font-family: inherit;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      line-height: 1em;
      padding: 0.75em 2em;
      &.vex-last {
          margin-left: 0;
      }
      &:focus {
          @include vex-animation(vex-pulse 1.1s infinite);
          outline: none;
          // vex-pulse uses -webkit-filter which
          // doesn't play so nice in mobile webkit
          @media (max-width: 568px) {
              @include vex-animation(none);
          }
      }
      &.vex-dialog-button-primary {
          background: $blue;
          color: white;
      }
      &.vex-dialog-button-secondary {
          background: #e0e0e0;
          color: #777777;
      }
  }*/
}
/* line 71, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default.g5-closing .g5-content {
  -webkit-animation: flyOut 0.5s;
  -moz-animation: flyOut 0.5s;
  animation: flyOut 0.5s;
}
/* line 74, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-content {
  -webkit-animation: flyIn 0.5s;
  -moz-animation: flyIn 0.5s;
  animation: flyIn 0.5s;
}
/* line 77, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-content {
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  color: #444444;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 89, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-content h1, .g5-dialog.g5-dialog-theme-default .g5-content h2, .g5-dialog.g5-dialog-theme-default .g5-content h3, .g5-dialog.g5-dialog-theme-default .g5-content h4, .g5-dialog.g5-dialog-theme-default .g5-content h5, .g5-dialog.g5-dialog-theme-default .g5-content h6, .g5-dialog.g5-dialog-theme-default .g5-content p, .g5-dialog.g5-dialog-theme-default .g5-content ul, .g5-dialog.g5-dialog-theme-default .g5-content li {
  color: inherit;
}
/* line 93, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-close {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 99, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-close:before {
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbbbbb;
  background: transparent;
}
/* line 114, ../scss/admin/_modal.scss */
.g5-dialog.g5-dialog-theme-default .g5-close:hover:before, .g5-dialog.g5-dialog-theme-default .g5-close:active:before {
  color: #777777;
  background: #e0e0e0;
}

/* line 180, ../scss/admin/_modal.scss */
.g5-dialog-loading-spinner.g5-dialog-theme-default {
  box-shadow: 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  background: #f0f0f0;
  border: 0.2em solid transparent;
  border-top-color: #bbbbbb;
  top: -1.1em;
  bottom: auto;
}

/*  webui popover  */
/* line 47, ../scss/admin/_popover.scss */
.g5-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1020;
  display: none;
  width: 276px;
  min-height: 50px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 65, ../scss/admin/_popover.scss */
.g5-popover.top, .g5-popover.top-left, .g5-popover.top-right {
  margin-top: -10px;
}
/* line 66, ../scss/admin/_popover.scss */
.g5-popover.right, .g5-popover.right-top, .g5-popover.right-bottom {
  margin-left: 10px;
}
/* line 67, ../scss/admin/_popover.scss */
.g5-popover.bottom, .g5-popover.bottom-left, .g5-popover.bottom-right {
  margin-top: 10px;
}
/* line 68, ../scss/admin/_popover.scss */
.g5-popover.left, .g5-popover.left-top, .g5-popover.left-bottom {
  margin-left: -10px;
}
/* line 72, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-nooverflow .g5-popover-content {
  overflow: visible;
}
/* line 78, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles {
  font-family: "montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 16px;
}
/* line 86, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles ul {
  padding: 1px;
  background-color: #ddd;
}
/* line 91, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li {
  line-height: 42px;
  margin: 1px 0;
  text-align: center;
}
/* line 96, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li:first-child, .g5-popover.g5-popover-particles li:last-child {
  margin: 0;
}
/* line 100, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li[data-lm-blocktype="spacer"] {
  color: #aaa;
  background-color: #eee;
}
/* line 105, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li[data-lm-blocktype="position"] {
  color: #fff;
  background-color: #aaa;
}
/* line 110, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li[data-lm-blocktype="particle"] {
  color: #fff;
  background-color: #13B0DA;
}
/* line 115, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li[data-lm-blocktype="pagecontent"] {
  color: #fff;
  background-color: #218fda;
}
/* line 120, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles li[data-lm-blocktype="atom"] {
  color: #fff;
  background-color: #9055AF;
}
/* line 126, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles .search {
  position: relative;
  margin-bottom: 10px;
}
/* line 130, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles .search input {
  font-size: 16px;
  border: 0;
  border-radius: 0;
  line-height: 26px;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  box-shadow: none;
  margin: 0;
}
/* line 142, ../scss/admin/_popover.scss */
.g5-popover.g5-popover-particles .search i {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 153, ../scss/admin/_popover.scss */
.g5-popover-inner .close {
  font-family: arial;
  margin: 5px 10px 0 0;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  text-decoration: none;
}
/* line 164, ../scss/admin/_popover.scss */
.g5-popover-inner .close:hover, .g5-popover-inner .close:focus {
  opacity: 0.5;
}

/* line 169, ../scss/admin/_popover.scss */
.g5-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

/* line 180, ../scss/admin/_popover.scss */
.g5-popover-content {
  padding: 9px 14px;
  overflow: auto;
}

/* line 186, ../scss/admin/_popover.scss */
.g5-popover-inverse {
  background-color: #777;
  color: #eee;
}
/* line 190, ../scss/admin/_popover.scss */
.g5-popover-inverse .g5-popover-title {
  background: #7f7f7f;
  border-bottom: none;
  color: #eee;
}

/* line 198, ../scss/admin/_popover.scss */
.g5-popover-no-padding .g5-popover-content {
  padding: 0;
}
/* line 201, ../scss/admin/_popover.scss */
.g5-popover-no-padding .list-group-item {
  border-right: none;
  border-left: none;
}
/* line 204, ../scss/admin/_popover.scss */
.g5-popover-no-padding .list-group-item:first-child {
  border-top: 0;
}
/* line 207, ../scss/admin/_popover.scss */
.g5-popover-no-padding .list-group-item:last-child {
  border-bottom: 0;
}

/* line 215, ../scss/admin/_popover.scss */
.g5-popover > .arrow, .g5-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 225, ../scss/admin/_popover.scss */
.g5-popover > .arrow {
  border-width: 11px;
}

/* line 228, ../scss/admin/_popover.scss */
.g5-popover > .arrow:after {
  border-width: 10px;
  content: "";
}

/* line 234, ../scss/admin/_popover.scss */
.g5-popover.top > .arrow, .g5-popover.top-right > .arrow, .g5-popover.top-left > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: fadein(rgba(0, 0, 0, 0.2), 5%);
  border-bottom-width: 0;
}
/* line 244, ../scss/admin/_popover.scss */
.g5-popover.top > .arrow:after, .g5-popover.top-right > .arrow:after, .g5-popover.top-left > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #fff;
  border-bottom-width: 0;
}
/* line 252, ../scss/admin/_popover.scss */
.g5-popover.right > .arrow, .g5-popover.right-top > .arrow, .g5-popover.right-bottom > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: fadein(rgba(0, 0, 0, 0.2), 5%);
}
/* line 261, ../scss/admin/_popover.scss */
.g5-popover.right > .arrow:after, .g5-popover.right-top > .arrow:after, .g5-popover.right-bottom > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
/* line 269, ../scss/admin/_popover.scss */
.g5-popover.bottom > .arrow, .g5-popover.bottom-right > .arrow, .g5-popover.bottom-left > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: fadein(rgba(0, 0, 0, 0.2), 5%);
  border-top-width: 0;
}
/* line 279, ../scss/admin/_popover.scss */
.g5-popover.bottom > .arrow:after, .g5-popover.bottom-right > .arrow:after, .g5-popover.bottom-left > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #fff;
  border-top-width: 0;
}
/* line 287, ../scss/admin/_popover.scss */
.g5-popover.left > .arrow, .g5-popover.left-top > .arrow, .g5-popover.left-bottom > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: fadein(rgba(0, 0, 0, 0.2), 5%);
}
/* line 296, ../scss/admin/_popover.scss */
.g5-popover.left > .arrow:after, .g5-popover.left-top > .arrow:after, .g5-popover.left-bottom > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}

/* line 310, ../scss/admin/_popover.scss */
.g5-popover-inverse.top > .arrow, .g5-popover-inverse.top > .arrow:after, .g5-popover-inverse.top-left > .arrow, .g5-popover-inverse.top-left > .arrow:after, .g5-popover-inverse.top-right > .arrow, .g5-popover-inverse.top-right > .arrow:after {
  border-top-color: #777;
}
/* line 317, ../scss/admin/_popover.scss */
.g5-popover-inverse.right > .arrow, .g5-popover-inverse.right > .arrow:after, .g5-popover-inverse.right-top > .arrow, .g5-popover-inverse.right-top > .arrow:after, .g5-popover-inverse.right-bottom > .arrow, .g5-popover-inverse.right-bottom > .arrow:after {
  border-right-color: #777;
}
/* line 324, ../scss/admin/_popover.scss */
.g5-popover-inverse.bottom > .arrow, .g5-popover-inverse.bottom > .arrow:after, .g5-popover-inverse.bottom-left > .arrow, .g5-popover-inverse.bottom-left > .arrow:after, .g5-popover-inverse.bottom-right > .arrow, .g5-popover-inverse.bottom-right > .arrow:after {
  border-bottom-color: #777;
}
/* line 331, ../scss/admin/_popover.scss */
.g5-popover-inverse.left > .arrow, .g5-popover-inverse.left > .arrow:after, .g5-popover-inverse.left-top > .arrow, .g5-popover-inverse.left-top > .arrow:after, .g5-popover-inverse.left-bottom > .arrow, .g5-popover-inverse.left-bottom > .arrow:after {
  border-left-color: #777;
}

/* line 337, ../scss/admin/_popover.scss */
.g5-popover i.icon-refresh:before {
  content: "";
}

/* line 341, ../scss/admin/_popover.scss */
.g5-popover i.icon-refresh {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
}

/*# sourceMappingURL=admin.css.map */
