body {
  font-family: Helvetica, Arial, FreeSans, sans-serif; }

.block {
  position: relative; }

#rt-logo {
  margin: -8px 0 0 0;
  height: 50px;
  width: 254px;
  display: block;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 48rem) and (max-width: 59.938rem) {
    #rt-logo {
      width: 200px;
      background-size: 200px;
      margin: 0; } }

#rt-logo-accent {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 31px;
  left: 244px;
  z-index: 1;
  border-radius: 100%; }
  .logo-type-custom #rt-logo-accent {
    display: none; }
  @media only screen and (min-width: 48rem) and (max-width: 59.938rem) {
    #rt-logo-accent {
      width: 31px;
      height: 31px;
      top: 34px;
      left: 196px; } }

.rt-num {
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 100%; }
  @media only screen and (min-width: 60rem) and (max-width: 74.938rem) {
    .rt-num {
      font-size: 24px;
      width: 65px;
      height: 65px;
      line-height: 65px; } }
  @media only screen and (min-width: 48rem) and (max-width: 59.938rem) {
    .rt-num {
      font-size: 22px;
      width: 60px;
      height: 60px;
      line-height: 60px; } }

.title {
  font-size: 1.3rem;
  border-bottom: 6px solid; }

.rt-border-top {
  border-top: 1px solid; }

.rt-border-bottom {
  border-bottom: 1px solid; }

.box1 {
  border-radius: 4px; }

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.menu ul {
    list-style: none; }
  ul.menu li {
    margin-bottom: 8px; }
    ul.menu li a, ul.menu li .item, ul.menu li .separator {
      display: block;
      font-size: 1.1em;
      font-weight: bold; }
    ul.menu li a:before, ul.menu li .item:before, ul.menu li .separator:before {
      content: "\2022";
      font-family: FontAwesome;
      margin-right: 10px;
      display: inline;
      vertical-align: middle;
      font-size: 1.6em;
      font-weight: normal; }
  ul.menu li.active.current > a:before, ul.menu li.active.current > .item:before, ul.menu li.active.current > .separator:before, ul.menu li#current.active > a:before, ul.menu li#current.active > .item:before, ul.menu li#current.active > .separator:before {
    content: "\f054";
    font-size: 1em;
    margin-right: 11px; }
  ul.menu ul.small {
    font-size: 14px; }

.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {
  display: inline-block;
  padding: 6px 25px 6px 15px;
  line-height: 1.7em;
  font-size: 0.8rem;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  border: 0; }
  .button:after, .readon:after, .readmore:after, button.validate:after, #member-profile a:after, #member-registration a:after, .formelm-buttons button:after {
    content: "+";
    position: absolute;
    right: 15px;
    top: 5px; }

.promo h1 {
  position: relative;
  font-size: 3.25rem;
  line-height: 100%; }
.promo .content {
  margin: 0;
  padding: 25px; }

.rt-copyright-block {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem; }

.rt-big-icon, .rt-small-icon, .rt-mini-icon {
  text-align: center;
  border-radius: 4px;
  float: left; }

.rt-big-icon {
  width: 180px;
  height: 180px;
  font-size: 5em;
  line-height: 180px;
  margin-right: 30px;
  margin-bottom: 10px; }

.rt-small-icon {
  width: 110px;
  height: 110px;
  font-size: 2.5em;
  line-height: 110px;
  margin-right: 15px;
  margin-bottom: 15px; }

.rt-mini-icon {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  line-height: 40px;
  margin-right: 5px; }

h5 {
  text-transform: uppercase; }

.gf-menu {
  box-shadow: inset 0 1px 1px white; }

.gf-menu {
  background: #f3f3f3;
  border-radius: 4px;
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 0;
  vertical-align: middle; }
  .gf-menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .gf-menu .item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: white;
    padding: 10px 25px;
    text-align: left;
    text-decoration: none;
    display: block;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out, border 0.2s ease-out;
    -moz-transition: background 0.2s ease-out, border 0.2s ease-out;
    transition: background 0.2s ease-out, border 0.2s ease-out; }
  .gf-menu.l1 > li.active {
    background: white; }
    .gf-menu.l1 > li.active > .item {
      color: #32373d;
      font-weight: bold; }
  .gf-menu.l1 > li > .item {
    font-size: 11px;
    line-height: 44px;
    position: relative;
    border-right: 1px solid #e3e3e3;
    padding: 0 25px;
    text-transform: uppercase;
    color: #666a6e; }
    @media only screen and (min-width: 48rem) and (max-width: 59.938rem) {
      .gf-menu.l1 > li > .item {
        padding: 0 15px; } }
    .gf-menu.l1 > li > .item:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 1px solid whitesmoke; }
  .gf-menu.l1 > li:first-child {
    margin-left: 5px; }
  .gf-menu.l1 > li:last-child {
    margin-right: 5px; }
  .gf-menu li {
    float: left;
    display: block;
    text-align: center;
    position: relative;
    padding: 0;
    border: none; }
  .gf-menu .dropdown {
    margin: 0 auto;
    padding: 10px 0;
    position: absolute;
    opacity: 0;
    left: -999em;
    text-align: left;
    border-top: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5); }
    .gf-menu .dropdown .flyout {
      display: block; }
    .gf-menu .dropdown ul li {
      display: block;
      float: none;
      margin-right: 0;
      padding: 0; }
      .gf-menu .dropdown ul li.active > .item {
        color: #495565; }
        .gf-menu .dropdown ul li.active > .item:hover {
          color: white; }
  .gf-menu .flyout {
    border-top: 1px solid #e3e3e3; }

body.rtl .gf-menu.l1 > li {
  float: right; }
body.rtl .gf-menu li .item {
  text-align: right; }

body .rt-center {
  text-align: center; }
body .nobold {
  font-weight: normal !important; }
body .nomargintop {
  margin-top: 0 !important; }
body .nomarginbottom {
  margin-bottom: 0 !important; }
body .smallmarginbottom {
  margin-bottom: 5px !important; }
body .smallmargintop {
  margin-top: 5px !important; }
body .largemarginbottom {
  margin-bottom: 15px !important; }
body .largemargintop {
  margin-top: 15px !important; }
body .largemarginleft {
  margin-left: 15px !important; }
body .largemarginright {
  margin-right: 15px !important; }
body .largepaddingbottom {
  padding-bottom: 15px !important; }
body .largepaddingtop {
  padding-top: 15px !important; }
body .largepaddingleft {
  padding-left: 15px !important; }
body .largepaddingright {
  padding-right: 15px !important; }

#rt-top-surround {
  background: #252d35;
  color: #c7c7c7; }
  #rt-top-surround .rt-num {
    background: #495565;
    color: #f2f2f2; }
  #rt-top-surround .promo > .content:hover {
    background-color: #252d35;
    background-image: -webkit-linear-gradient(#252d35, #314353);
    background-image: linear-gradient(#252d35, #314353); }

#rt-logo {
  background-image: url(../images/logo/logo.png); }

a, ul.menu li .separator, .gf-menu li.active > .item {
  color: #ed6f6d; }

.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary, .btn.btn-primary.disabled, .btn.btn-primary[disabled], a.btn.btn-primary.disabled:hover {
  border-color: #d91e1b;
  background: #ed6f6d; }

#rt-logo-accent, #rt-bottom .rt-grey:hover, #rt-footer .rt-grey:hover, .menustyle-dark .gf-menu.l1 > li.active {
  background: #ed6f6d; }

body {
  background: white;
  color: #9399a1; }

a:hover {
  color: #303030; }

h1, h2, h3, h4, h5, h6 {
  color: #32373d; }

#rt-top-surround h1, #rt-top-surround h2, #rt-top-surround h3, #rt-top-surround h5, #rt-top-surround h6 {
  color: #f2f2f2;
  text-shadow: 1px 1px 1px black; }
#rt-top-surround h4 {
  color: #c7c7c7; }

#rt-mainbody-surround .title {
  border-bottom-color: #efefef; }
#rt-mainbody-surround .box1 {
  background: #d9ebef;
  color: #6a727d; }
  #rt-mainbody-surround .box1 .title {
    border-bottom-color: #bbdbe1; }
  #rt-mainbody-surround .box1 .button, #rt-mainbody-surround .box1 .readon, #rt-mainbody-surround .box1 .readmore, #rt-mainbody-surround .box1 button.validate, #rt-mainbody-surround .box1 #member-profile a, #rt-mainbody-surround .box1 #member-registration a, #rt-mainbody-surround .box1 .formelm-buttons button, #rt-mainbody-surround .box1 .btn-primary {
    background: #98c8d1;
    border-color: #bbdbe1; }
    #rt-mainbody-surround .box1 .button:hover, #rt-mainbody-surround .box1 .button:active, #rt-mainbody-surround .box1 .readon:hover, #rt-mainbody-surround .box1 .readon:active, #rt-mainbody-surround .box1 .readmore:hover, #rt-mainbody-surround .box1 .readmore:active, #rt-mainbody-surround .box1 button.validate:hover, #rt-mainbody-surround .box1 button.validate:active, #rt-mainbody-surround .box1 #member-profile a:hover, #rt-mainbody-surround .box1 #member-profile a:active, #rt-mainbody-surround .box1 #member-registration a:hover, #rt-mainbody-surround .box1 #member-registration a:active, #rt-mainbody-surround .box1 .formelm-buttons button:hover, #rt-mainbody-surround .box1 .formelm-buttons button:active, #rt-mainbody-surround .box1 .btn-primary:hover, #rt-mainbody-surround .box1 .btn-primary:active {
      background: #495565; }

[class*="rt-border-"] {
  border-color: #efefef; }
  [class*="rt-border-"]:before, [class*="rt-border-"]:after {
    background: white; }

ul.menu li.active.current > a, ul.menu li.active.current > .item, ul.menu li.active.current > .separator, ul.menu li#current.active > a, ul.menu li#current.active > .item, ul.menu li#current.active > .separator {
  color: #303030; }

.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary {
  color: white;
  background-image: none; }
  .button:hover, .readon:hover, .readmore:hover, button.validate:hover, #member-profile a:hover, #member-registration a:hover, .formelm-buttons button:hover, .btn-primary:hover {
    color: white;
    background: #495565;
    border-color: #343c47; }
  .button:active, .readon:active, .readmore:active, button.validate:active, #member-profile a:active, #member-registration a:active, .formelm-buttons button:active, .btn-primary:active {
    background: #495565; }

.readmore a {
  color: white; }
  .readmore a:hover {
    color: white; }

.btn.btn-primary.disabled:hover {
  color: white; }

.btn.disabled:hover, btn[disabled]:hover {
  background: #e6e6e6;
  color: #333333; }

.pagenav li {
  background: #f0f0f0;
  border: 1px solid #d5d5d5;
  box-shadow: inset 0 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.2); }

.login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox, .inputbox {
  border: 1px solid #d9d9d9; }

.login + div .nav-tabs.nav-stacked > li > a {
  background: none; }

.pagination ul li a {
  background-color: white;
  background-image: -webkit-linear-gradient(white, #dddddd);
  background-image: linear-gradient(white, #dddddd);
  border: 1px solid #d5d5d5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
.pagination ul li span {
  background: #eaeaea;
  border: 1px solid #d5d5d5;
  color: #aaaaaa; }

.breadcrumbs a:after {
  color: #aaaaaa; }
.breadcrumbs .showHere {
  font-weight: bold;
  margin-right: 5px; }

.article-info.muted {
  color: inherit; }
.article-info dd:before {
  text-shadow: 1px 1px 0 white; }

.tip-wrap {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #6e6e6e; }

.system-unpublished .system-unpublished {
  background: white;
  border-color: #d5d5d5; }

abbr[title] {
  border-bottom: 1px dotted #d5d5d5; }

blockquote {
  border-left: 5px solid #d5d5d5; }
  blockquote small {
    color: #aaaaaa; }
  blockquote.pull-right {
    border-right: 5px solid #d5d5d5; }

legend {
  color: #303030;
  border-bottom: 1px solid #d5d5d5; }
  legend small {
    color: #d5d5d5; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid #d5d5d5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #6e6e6e; }

select {
  border: 1px solid #d5d5d5; }

.uneditable-input,
.uneditable-textarea {
  color: #aaaaaa;
  background-color: white;
  border-color: #d5d5d5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: #d5d5d5; }

.input-prepend .add-on,
.input-append .add-on {
  text-shadow: 0 1px 0 white;
  background-color: #f0f0f0;
  border: 1px solid #d5d5d5; }
.input-prepend.input-append .media-preview,
.input-append.input-append .media-preview {
  margin: 0; }

.form-actions {
  background-color: #f0f0f0;
  border-top: 1px solid #d5d5d5; }

.uneditable-input {
  border-color: #eeeeee;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); }

.help-block,
.help-inline {
  color: #666666; }

.table-bordered th {
  background-color: #f0f0f0; }

.nav-tabs.nav-stacked > li > a {
  background-color: #f0f0f0; }
  .nav-tabs.nav-stacked > li > a:hover {
    background-color: #eaeaea; }

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0 {
  background-color: #eaeaea; }

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover {
  background-color: #fcfcfc; }

.rt-blue, .rt-green, .rt-red, .rt-grey {
  color: #fff; }
  .rt-blue:hover, .rt-green:hover, .rt-red:hover, .rt-grey:hover {
    background: #343c47; }

.rt-blue {
  background: #00abef; }

.rt-green {
  background: #55d1bb; }

.rt-red {
  background: #df7371; }

.rt-grey {
  background: #495565; }

#rt-bottom {
  background: #495565;
  color: #b1b9c6; }
  #rt-bottom .title, #rt-bottom h1, #rt-bottom h2, #rt-bottom h3, #rt-bottom h4, #rt-bottom h5, #rt-bottom h6 {
    color: #bfc3ca;
    border-color: #314353; }
  #rt-bottom strong {
    color: white; }
  #rt-bottom a:hover {
    color: white; }
  #rt-bottom [class*="rt-border-"] {
    border-color: #314353; }
    #rt-bottom [class*="rt-border-"]:before, #rt-bottom [class*="rt-border-"]:after {
      background: #495565; }
  #rt-bottom .rt-grey {
    background: #343c47; }
  #rt-bottom .button:hover, #rt-bottom .button:active, #rt-bottom .readon:hover, #rt-bottom .readon:active, #rt-bottom .readmore:hover, #rt-bottom .readmore:active, #rt-bottom button.validate:hover, #rt-bottom button.validate:active, #rt-bottom #member-profile a:hover, #rt-bottom #member-profile a:active, #rt-bottom #member-registration a:hover, #rt-bottom #member-registration a:active, #rt-bottom .formelm-buttons button:hover, #rt-bottom .formelm-buttons button:active {
    background: #343c47; }

#rt-footer {
  background: #313741;
  color: white; }
  #rt-footer .title, #rt-footer h1, #rt-footer h2, #rt-footer h3, #rt-footer h4, #rt-footer h5, #rt-footer h6 {
    color: #ccd0d8;
    border-color: #47505e; }
  #rt-footer a {
    color: white; }
    #rt-footer a:hover {
      color: #d9d9d9; }

/*# sourceMappingURL=afterburner2.css.map */