{% extends "partials/page.html.twig" %}
{% set twigTemplate = '404.html.twig' %}
{% set scope = '404' %}

{% block content %}

    <h1>{{ '404 Not Found'|trans }}</h1>
    <p>{{ 'Sorry, we couldn\'t find what you\'re looking for.'|trans }}</p>

{% endblock %}
