{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'offline.html.twig' %}

{% block content %}

    <h1>{{ __('Maintenance Mode', 'g5_helium') }}</h1>
    <p>{{ __( 'Sorry, our Website is Temporarily Down for Maintenance. Please Check Back Again Soon.', 'g5_helium' ) }}</p>

{% endblock %}
