<!doctype html>
<html {{site.language_attributes}}>
    {% block html_head_container %}
        {% include 'partials/head.twig' %}
    {% endblock %}

    <body class="{{body_class}}" data-template="{{ twigTemplate|default('base.twig') }}">
        {% set content %}
            {% block content %}
                Sorry, no content
            {% endblock %}
        {% endset %}

        {% include '@nucleus/container.twig' with {segments: pageSegments} %}
    </body>
</html>
