<div class="g-inherit{{ inherit ? '' : ' hide' }}">
    <div class="g-inherit-content">
        {{ 'GANTRY5_PLATFROM_INHERITING_FROM_X'|trans('<strong>' ~ gantry.outlines.name(inherit)|e ~ '</strong>')|raw }}
    </div>
</div>