{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="g-grid" style="background: rgba(0,0,0,0.10)">
        {% include 'partials/swatches.html.twig' with {'swatches': config.styles.swatches} %}
    </div>

    {% for group, list in blocks %}
        <h2>{{ group|capitalize }} Styles</h2>

        <div id="styles" class="cards-wrapper g-grid">

            {% for id, block in list %}
                {% set prefix = 'blocks.' ~ id ~ '.' %}
                <div class="card settings-block">
                    <h4>
                        <a class="config-cog" data-g5-ajaxify="" data-g5-ajaxify-target="[data-g5-content]" href="{{ gantry.route('styles/blocks/' ~ id) }}">{{ block.name }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
