// REQUIRED DEPENDENCIES - DO NOT CHANGE

// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Configuration
@import "configuration/nucleus/base";

// Load Nucleus Mixins and Functions
@import "nucleus/functions/base";
@import "nucleus/mixins/base";

// Load Optional Nucleus Assets
@import "nucleus/theme/alerts";

// Load Theme Variable Driven Nucleus Elements
@import "joomla/theme/base";

// Load Template Configuration
@import "configuration/base";

//-------------------------------------------

// JOOMLA TEMPLATE SPECIFIC
@import "helium-joomla/styles/core";
@import "helium-joomla/styles/typography";
@import "helium-joomla/styles/forms";
@import "helium-joomla/styles/buttons";
@import "helium-joomla/styles/tabs";
@import "helium-joomla/styles/tags";
@import "helium-joomla/styles/utilities";
@import "helium-joomla/styles/modules";

// JOOMLA TEMPLATE SPECIFIC COMPONENTS STYLING
@import "helium-joomla/components/content";
@import "helium-joomla/components/contact";
@import "helium-joomla/components/users";
@import "helium-joomla/components/search";

// JOOMLA TEMPLATE SPECIFIC PARTICLES STYLING
@import "helium-joomla/particles/popupmodule";

//-------------------------------------------

// BREAKPOINTS
@import "joomla/theme/breakpoints/base";

//-------------------------------------------
